{% extends 'base.html' %}
{% block title %}森果社区-文章详情{% end %}
{% block head %}
<style type="text/css">
    img,section,fieldset{max-width: 100% !important;height: auto !important;}
</style>
{% end %}
{% block content %}
<input type="hidden" value="{{author_if}}" id="author_if"/>
<div class="wrap-main group">
    <div class="wrap-right fr">
        <div class="aside-box box-border">
            <p class="aside-title"><span>热门文章</span></p>
            <ul class="aside-list">
                {% for topic in handler.getHotArticle%}
                <li data-id="{{topic['id']}}">
                    <a href="/bbs/detail/{{topic['id']}}">
                        <p class="clip c333">{{topic['title']}}</p>
                        <div class="wrap-topic-attr">
                            <div class="fr">
                                <span class="icon-topic viewr">{{topic['scan_num']}}</span>
                            </div>
                            <span>{{topic['nickname']}}</span>
                        </div>
                    </a>
                </li>
                {% end %}
            </ul>
        </div>
    </div>
    <div class="wrap-left" data-id="{{article['id']}}">
        <div class="topic-detail box-border">
            <h3 class="topic-title">{{article["title"]}}</h3>
            <p class="detail-user mt10">
                {% if if_admin %}
                <a href="javascript:;" class="del-article fr" id="del-atical" data-id="{{article['id']}}">删除</a>
                {% end %}
                <span class="topic-class">{{article["type"]}}</span>
                <span>
                    <img src="{{article['imgurl'] or '/static/images/person.png'}}" alt="用户头像" class="detail-img"/>
                    <span>{{article["nickname"]}}</span>
                </span>
                <span>{{article["time"]}}</span>
            </p>
            <div class="detail-cont mt10">
                {% raw article["article"] %}
            </div>
            <div class="wrap-share-box">
                <a href="javascript:;" class="zan_btn great add-great {% if article['great_if'] == True %}great-active{% end %}">{{article["great_num"]}}</a>
                <a href="javascript:;" class="zan_btn store {% if article['collect_if'] == True %}store-active{% end %}" id="store-atical">{{article["collect_num"]}}</a>
                <div class="share-box">
                    <span class="c999 shareto">分享到</span>
                    <a href="javascript:;" title="分享到微信" class="share-wx">
                        <div class="wrap-share-code group">
                            <img src="/static/images/sg.png" alt="logo" class="slogo"/>
                            <div class="code2-box fl" id="code2">
                            </div>
                            <div class="code-txt-box fl">
                                <p class="c666 code-txt">打开微信"扫一扫"，将本文章分享到朋友圈</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="topic-detail box-border mt10">
            <p class="c333">文章评论(<span id="com_num">{{article["comment_num"]}}</span>){%if article["private"] == 1 %}<span class="c999 ml10">(评论仅作者可见)</span>{% end %}</p>
            <div class="wrap-textarea mt10">
                <textarea class="detail-area" placeholder="你怎么看？"></textarea>
            </div>
            <p class="mt10 publish-row group">
                <a href="javascript:;" class="fr psh-commit" id="comment">发表评论</a>
                <span class="c999 wrap-psh-img">
                    {% if if_login %}
                    <img src="{{handler.current_user.accountinfo.headimgurl_small or '/static/images/person.png'}}" alt="用户头像"/>
                    <span>{{handler.current_user.accountinfo.nickname}}</span>
                    {% end %}
                </span>
            </p>
            <ul class="comment-list" id="comment_list">
            </ul>
        </div>
    </div>
</div>
<div class="hide">
    <div class="wrap-comment-box mt6">
        <div class="wrap-tarea">
            <textarea class="com-area com_area"></textarea>
        </div>
        <div class="comm-btns">
            <a href="javascript:;" class="comment-cancel">取消</a>
            <a href="javascript:;" class="comment-back" id="comment_back">回复</a>
        </div>
    </div>
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                {% if handler.is_wexin_browser() %}
                <a href="{{handler.get_weixin_login_url()}}" class="btn">登录</a>
                {% else %}
                <a href="{{reverse_url('customerLogin')}}?next=/bbs/detail/{{article['id']}}" class="btn">登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/qrcode.min.js"></script>
<script src="{{static_url('bbs/js/bbs-artical-detail.js')}}"></script>
{% end %}