{% extends 'base.html' %}
{% block title %}文章详情{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="/bbs" class="back">返回</a>
    <span>文章详情</span>
</div>
{% end %}
{% block content %}
<div class="wrap-post pm20">
    <div class="post-box">
        <h3 class="post-title">{{article["title"]}}</h3>
        <p class="post-2title mt10 c999"><span class="author">{{article["nickname"]}}</span>{{article["time"]}}</p>
        <div class="post-cont">
            {% raw article["article"] %}
        </div>
        <div class="post-attr">
            {% if if_admin == True %}
                <a href="javascript:;" id="del-atical" class="del-atical fr c999 if-login" data-id='{{article["id"]}}'>删除</a>
                <a href="{{reverse_url('BbsDetailEdit',article['id'])}}" class="fr c999 mr10 if-login">编辑</a>
            {% end %}
            <span class="wrap-icon people-see"><i class="icon-see"></i><span class="num">{{article["scan_num"]}}</span></span>
            <span class="wrap-icon dianzan article-great add-great" data-id='{{article["id"]}}'><i class="icon-dz {% if article['great_if'] == True %}icon-dz-active{% end %}"></i><span class="num">{{article["great_num"]}}</span></span>
            <span class="wrap-icon comment com-atical" data-id='{{article["id"]}}'><i class="icon-com"></i><span class="num">{{article["comment_num"]}}</span></span>
        </div>
    </div>
    <div class="wrap-comment">
        <ul class="comment-list">
            {% for comment in comments_list %}
            <li>
                <dl class="group comment-item">
                    <dd>
                        <span class="img-border"><img src="{{comment['imgurl'] or '/static/images/TDSG.png'}}" alt="用户头像"/></span>
                    </dd>
                    <dt>
                        <p class="com-first"><a href="javascript:;" class="wrap-icon dianzan fr comment-great if-login" data-id="{{comment['id']}}"><i class="post-dz {% if comment['great_if'] %}post-dz-active{% end %}"></i><span class="num">{{comment['great_num']}}</span></a><a href="javascript:;" class="nickname if-login"  data-id="{{comment['id']}}">{{comment['nickname']}}</a></p>
                        <p class="com-detail">{% if comment['type']==1 %}@{{comment['nick_name']}}{% end %} {{comment['comment']}}</p>
                        <p class="f12 c999 mt2">{{comment['time']}}</p>
                    </dt>
                </dl>
            </li>
            {% end %}
        </ul>
    </div>
</div>
<div class="fix-center wrap-reply-box hide">
    <input type="text" class="reply-ipt"/>
    <a href="javascript:;" class="reply-btn if-login" id="reply">发表评论</a>
</div>
<div class="wrap-post-attr fix-center bm10">
    <a href="javascript:;" class="store if-login" id="store-atical" data-id="{{article['id']}}"><i class="i-store {% if article['collect_if'] == True %}i-store-active{% end %}"></i></a>
    <a href="javascript:;" class="com com-atical if-login" id="com-atical" data-id="{{article['id']}}"><i class="i-com"></i></a>
    <a href="javascript:;" class="admire add-great if-login" id="admire-atical" data-id="{{article['id']}}"><i class="i-admire {% if article['great_if'] == True %}i-admire-active{% end %}"></i></a>
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <!-- <p class="title">商家回复</p> -->
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                <a href="{{reverse_url('customerLogin')}}?next=/bbs/detail/{{article['id']}}" class="btn">登录</a>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/artical-detail.js')}}"></script>
{% end %}