{% extends 'base.html' %}
{% block title %}{{article["title"]}}{% end %}
{% block head %}
<style>
    img,section,fieldset{max-width: 100% !important;height: auto !important;}
</style>
{% end %}
{% block header %}
<div class="header">
    <a href="javascript:;" class="back goback">返回</a>
    <span>文章详情</span>
</div>
{% end %}
{% block content %}
<input type="hidden" value="{{author_if}}" id="author_if"/>
<div class="wrap-post pm20" data-id="{{article['id']}}">
    <div class="post-box">
        <h3 class="post-title">{{article["title"]}}</h3>
        <p class="post-2title mt10 c999"><span class="author">{{article["nickname"]}}</span>{{article["time"]}}</p>
        <div class="post-cont">
            {% raw article["article"] %}
        </div>
        <div class="post-attr forbid_click">
            {% if if_admin == True %}
                <a href="javascript:;" id="del-atical" class="del-atical fr c999" data-id='{{article["id"]}}'>删除</a>
                {% if author_if == True %}
                <a href="{{reverse_url('BbsDetailEdit',article['id'])}}" class="fr c999 mr10">编辑</a>
                {% end %}
            {% end %}
            <span class="wrap-icon people-see"><i class="icon-see"></i><span class="num">{{article["scan_num"]}}</span></span>
            <span class="wrap-icon dianzan article-great add-great" data-id='{{article["id"]}}'><i class="icon-dz {% if article['great_if'] == True %}icon-dz-active{% end %}"></i><span class="num">{{article["great_num"]}}</span></span>
            <a href="javascript:;" class="wrap-icon comment com-atical" data-id='{{article["id"]}}'><i class="icon-com"></i><span class="num">{{article["comment_num"]}}</span></a>
        </div>
    </div>
    <div class="wrap-comment">
        <ul class="comment-list">
        </ul>
        <p class='sofa txt-center c999 hide'>~ 快来抢沙发 ~</p>
    </div>
</div>
<div class="fix-center wrap-reply-box hide forbid_click">
    <input type="text" class="reply-ipt"/>
    <a href="javascript:;" class="reply-btn if-login" id="reply">发表评论</a>
</div>
<div class="wrap-post-attr fix-center bm10 forbid_click">
    <a href="javascript:;" class="store if-login" id="store-atical" data-id="{{article['id']}}"><i class="i-store {% if article['collect_if'] == True %}i-store-active{% end %}"></i></a>
    <a href="javascript:;" class="com com-atical if-login" id="com-atical" data-id="{{article['id']}}"><i class="i-com"></i></a>
    <a href="javascript:;" class="admire add-great if-login" id="admire-atical" data-id="{{article['id']}}"><i class="i-admire {% if article['great_if'] == True %}i-admire-active{% end %}"></i></a>
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <!-- <p class="title">商家回复</p> -->
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                {% if handler.is_wexin_browser()%}
                <a href="{{handler.get_weixin_login_url()}}" class="btn">登录</a>
                {% else %}
                <a href="{{reverse_url('customerLogin')}}?next=/bbs/detail/{{article['id']}}" class="btn">登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
<div class="pop-win pop-del hide">
    <div class="pop-content">
        <div class="login-box">
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10">将不可恢复！确认删除？</p>
            <div class="button-box mt10">
                <a href="javascript:;" class="btn del-sure">确认</a>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/artical-detail.js')}}"></script>
{% end %}