<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}森果社区{% end %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta name="keywords" content="森果,水果商城,水果,O2O,森果登录,微信卖水果,水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/bbs/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/bbs/css/main.css">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>
    <header>
        {% block header %}{% end %}
    </header>
    <div class="container">
        {% block content %}{% end %}
    </div>
    {% set if_login = '' %}
    {% if handler.current_user %}
    {% set if_login = True %}
    {% else %}
    {% set if_login = False %}
    {% end %}
    <div class="pop-win pop-login hide" data-id="{{if_login}}">
        <div class="pop-content">
            <div class="login-box">
                <!-- <p class="title">商家回复</p> -->
                <span class="close close-btn">X</span>
                <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
                <div class="button-box mt10">
                    <a href="{{reverse_url('BbsLogin')}}" class="btn">登录</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/static/bbs/js/zepto.min.js"></script>
<script type="text/javascript" src="/static/js/template.js"></script>
<script type="text/javascript" src="/static/bbs/js/util.js"></script>
<script type="text/javascript" src="/static/bbs/js/base.js"></script>
{% block bottom %}{% end %}
</body>
</html> 