{% extends 'base.html' %}
{% block title %}森果社区{% end %}
{% block head %}
{% end %}
{% block content %}
<div class="wrap-main group">
    <div class="wrap-right fr">
        <a href="javascript:;" class="publish-box"></a>
        <div class="aside-box box-border mt10">
            <p class="aside-title"><span>热门文章</span></p>
            <ul class="aside-list">
                <li>
                    <p class="clip">热门文章名字，热门文章名字来了啊</p>
                    <div class="wrap-topic-attr">
                        <div class="fr">
                            <a href="javascript:;" class="icon-topic viewr">1403</a>
                        </div>
                        <span>大漠孤烟</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="aside-box box-border mt10">
            <p class="aside-title"><span>活跃用户</span></p>
            <ul class="aside-list">
                <li>
                    <dl class="dl">
                        <dd>
                            <img src="/static/images/person.png" alt="用户头像"/>
                        </dd>
                        <dt>
                            <p class="f14 c333 clip">这是用户名</p>
                            <p class="c999 f12 mt12">
                                <span class="num-txt">发布:10篇</span>
                                <span>评论:40条</span>
                            </p>
                        </dt>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap-left">
        <ul class="topic-list box-border" id="topic_list">
        </ul>
        <a href="javascript:;" class="more-btn mt10">加载更多</a>
    </div>
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                {% if handler.is_wexin_browser() %}
                <a href="{{handler.get_weixin_login_url()}}" class="btn">登录</a>
                {% else %}
                <a href="{{reverse_url('customerLogin')}}?next=/bbs" class="btn">登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/bbs-main.js')}}"></script>
{% end %}