{% extends 'base.html' %}
{% block title %}{% end %}
{% block head %}
{% end %}
{% block content %}
<div class="wrap-main group">
    <div class="wrap-right fr">
        <a class="publish-box"></a>
        <div class="aside-box">
            <p class="aside-title">热门文章</p>
            <ul class="aside-list">
                <li>
                    <p class="clip">热门文章名字，热门文章名字来了啊</p>
                    <div class="wrap-topic-attr">

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap-left box-border">
        <ul class="topic-list">
            <li>
                <h4 class="topic-title">森果又出新功能啦，哈哈哈哈，大家快来强势围观吧！大家快来强势围观吧！大家快来强势围观吧！<span class="topic-tip">官</span></h4>
                <div class="wrap-topic-attr">
                    <div class="fr">
                        <a href="javascript:;" class="icon-topic dianzan">100</a>
                        <a href="javascript:;" class="icon-topic reply">100</a>
                    </div>
                    <span class="topic-class">运营干货</span>
                    <span>骑驴看账本</span>
                    <span>5小时前</span>
                </div>
            </li>
            <li>
                <h4 class="topic-title">森果又出新功能啦，哈哈哈哈，大家快来强势围观吧！大家快来强势围观吧！大家快来强势围观吧！<span class="topic-tip">官</span></h4>
                <div class="wrap-topic-attr">
                    <div class="fr">
                        <a href="javascript:;" class="icon-topic dianzan dianzan-active">100</a>
                        <a href="javascript:;" class="icon-topic reply">100</a>
                    </div>
                    <span class="topic-class">运营干货</span>
                    <span>骑驴看账本</span>
                    <span>5小时前</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="wrap-loading-box hide">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="load-txt">加载中...</div>
    </div>
</div>
<p class="loading txt-center c999 mt10 hide"></p>
<div class="fix-center publish-btns">
{% if if_admin == True %}
<a href="{{reverse_url('BbsPublish')}}" class="publish-tie if-login">发布</a>
{% end %}
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                {% if handler.is_wexin_browser() %}
                <a href="{{handler.get_weixin_login_url()}}" class="btn">登录</a>
                {% else %}
                <a href="{{reverse_url('customerLogin')}}?next=/bbs" class="btn">登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/main.js')}}"></script>
{% end %}