{% extends 'base.html' %}
{% block title %}{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="javascript:;" class="back bbs-menu" id="bbs-menu">所有版块</a>
    <span>森果社区</span>
    <a href="{{reverse_url('BbsSearch')}}" class="head-right search"><em></em></a>
    <div class="wrap-menu-list h0">
        <ul class="menu-list">
            <li data-id="0">官方公告</li>
            <li data-id="1">产品更新</li>
            <li data-id="2">运营干货</li>
            <li data-id="3">水果百科</li>
            <li data-id="4">使用教程</li>
            <li data-id="5">水果供求</li>
            <li data-id="6">森果前沿</li>
        </ul>
    </div>
</div>
{% end %}
{% block content %}
<div class="wrap-main">
    <ul class="atical-list">
        <!--<li>
            <p class="title"><span class="atical-mark">产品更新</span>号外号外！森果商城新版功能上线啦，店铺现在有多套模版可
                切换了哦！森果商城新版功能上线啦，店铺现在有多套模版可切换了哦！</p>
            <div class="atical-attr">
                <span class="fr">
                    <a href="javascript:;" class="wrap-icon dianzan"><i class="icon-dz"></i>122</a>
                    <a href="javascript:;" class="wrap-icon comment"><i class="icon-com"></i>133</a>
                </span>
                <span class="time mr10">一天前</span>
                <span class="author">森果运营</span>
            </div>
        </li>-->
    </ul>
</div>
<div class="wrap-loading-box hide">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="load-txt">加载中...</div>
    </div>
</div>
<p class="loading txt-center c999 mt10 hide"></p>
<div class="fix-center publish-btns">
{% if if_admin == True %}
<a href="{{reverse_url('BbsPublish')}}" class="publish-tie if-login">发布</a>
{% end %}
</div>
<div class="pop-win pop-login hide" data-id="{{if_login}}">
    <div class="pop-content">
        <div class="login-box">
            <span class="close close-btn">X</span>
            <p class="txt-center c999 mt10 mb10"> 您还未登录，去登录？</p>
            <div class="button-box mt10">
                {% if handler.is_wexin_browser() %}
                <a href="{{handler.get_weixin_login_url()}}" class="btn">登录</a>
                {% else %}
                <a href="{{reverse_url('customerLogin')}}?next=/bbs" class="btn">登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/main.js')}}"></script>
{% end %}