{% extends 'base.html' %}
{% block title %}森果社区-个人中心{% end %}
{% block head %}
{% end %}
{% block content %}
<div class="wrap-main">
    <div class="wrap-profile w980">
        <div class="profile-top box-border">
            <div class="profile-user">
                <img src="/static/images/person.png" alt="用户头像" class="pro-img"/>
                <p class="profile-name mt10">这里显示用户名</p>
            </div>
            <ul class="group nav-profle">
                <li class="active">我的发布</li>
                <li>我的通知</li>
                <li>我的收藏</li>
                <li>我的草稿</li>
            </ul>
        </div>
        <div class="wrap-profile-list mt10">
            <ul class="topic-list box-border">
                <li>
                    <h4 class="topic-title clip" title="阿斯达啊是打算打">阿斯达啊是打算打</h4>
                    <div class="wrap-topic-attr">
                        <div class="fr">
                            <a href="javascript:;" class="icon-topic dianzan">0</a>
                            <a href="javascript:;" class="icon-topic reply">0</a>
                            <a href="javascript:;" class="topic-opt del_topic">删除</a>
                        </div>
                        <span class="topic-class">产品更新</span>
                        <span>2015/08/14 19:25</span>
                    </div>
                </li>
                <li>
                    <h4 class="topic-title clip" title="阿斯达啊是打算打">阿斯达啊是打算打</h4>
                    <div class="wrap-topic-attr">
                        <div class="fr">
                            <a href="javascript:;" class="icon-topic dianzan">0</a>
                            <a href="javascript:;" class="icon-topic reply">0</a>
                            <a href="javascript:;" class="topic-opt del_topic">删除</a>
                        </div>
                        <span class="topic-class">产品更新</span>
                        <span>2015/08/14 19:25</span>
                    </div>
                </li>
            </ul>
            <ul class="topic-list box-border mt10">
                <li>
                    <h4 class="topic-title clip" title="阿斯达啊是打算打">
                        <span class="fr c999 f14 normal">2015/09/02 19:25</span>
                        <span>阿斯达啊是打算打阿斯达啊是打算打</span>
                    </h4>
                    <p class="c666 f14 pro-txt mt6">
                        阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打
                        阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打
                    </p>
                    <div class="wrap-topic-attr mt10">
                        <div class="fr">
                            <a href="javascript:;" class="topic-opt edit_topic">编辑</a>
                            <a href="javascript:;" class="topic-opt del_topic">删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <h4 class="topic-title clip" title="阿斯达啊是打算打">
                        <span class="fr c999 f14 normal">2015/09/02 19:25</span>
                        <span>阿斯达啊是打算打阿斯达啊是打算打</span>
                    </h4>
                    <p class="c666 f14 pro-txt mt6">
                        阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打
                        阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打阿斯达啊是打算打
                    </p>
                    <div class="wrap-topic-attr mt10">
                        <div class="fr">
                            <a href="javascript:;" class="topic-opt edit_topic">编辑</a>
                            <a href="javascript:;" class="topic-opt del_topic">删除</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="inform-list box-border mt10">
                <li>
                    <span class="li-roll"></span>
                    <span class="inform-time">8月15日</span>
                    <div class="wrap-item-box pm20">
                        <div class="inform-item">
                            <span class="fr c999">15:30</span>
                            <img src="/static/images/person.png" alt="用户头像" class="inform-img"/>
                            <span class="c333">用户名</span>
                            <span class="ml10 c999">评论了您的</span>
                            <a href="javascript:;" class="dgreen f14">在高校运营水果店的几个要点</a>
                        </div>
                        <p class="c333 inform-txt">
                            这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容
                            这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容
                            这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容这里显示内容
                        </p>
                    </div>
                    <div class="wrap-item-box pm20">
                        <div class="inform-item">
                            <span class="fr c999">15:30</span>
                            <img src="/static/images/person.png" alt="用户头像" class="inform-img"/>
                            <span class="c333">用户名</span>
                            <span class="ml10 c999">赞了您的</span>
                            <a href="javascript:;" class="dgreen f14">在高校运营水果店的几个要点</a>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="li-roll"></span>
                    <span class="inform-time">8月16日</span>
                    <div class="wrap-item-box pm20">
                        <div class="inform-item">
                            <span class="fr c999">15:30</span>
                            <img src="/static/images/person.png" alt="用户头像" class="inform-img"/>
                            <span class="c333">用户名</span>
                            <span class="ml10 c999">赞了您的</span>
                            <a href="javascript:;" class="dgreen f14">在高校运营水果店的几个要点</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="more-btn mt10">加载更多</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/bbs-profile.js')}}"></script>
{% end %}