{% extends 'base.html' %}
{% block title %}森果社区-个人中心{% end %}
{% block head %}
{% end %}
{% block content %}
<div class="wrap-main">
    <div class="wrap-profile w980">
        <div class="profile-top box-border">
            <div class="profile-user">
                <img src="{{handler.current_user.accountinfo.headimgurl_small or '/static/images/person.png'}}" alt="{{handler.current_user.accountinfo.nickname}}" class="pro-img"/>
                <p class="profile-name mt10">{{handler.current_user.accountinfo.nickname}}</p>
            </div>
            <ul class="group nav-profle">
                <li class="active">我的发布</li>
                <li>我的通知</li>
                <li>我的收藏</li>
                <li>我的草稿</li>
            </ul>
        </div>
        <div class="wrap-profile-list mt10">
            <ul class="topic-list box-border" id="topic_list">
            </ul>
            <ul class="inform-list box-border hide" id="inform_list">
            </ul>
        </div>
        <a href="javascript:;" class="more-btn mt10">~没有更多了~</a>
    </div>
</div>
<ul class="hide" id="item1">
    <li>
        <h4 class="topic-title clip" title=""></h4>
        <div class="wrap-topic-attr">
            <div class="fr">
                <a href="javascript:;" class="icon-topic dianzan">0</a>
                <a href="javascript:;" class="icon-topic reply">0</a>
                <a href="javascript:;" class="topic-opt del_topic">删除</a>
            </div>
            <span class="topic-class"></span>
            <span class="topic-tm f14"></span>
        </div>
    </li>
</ul>
<ul class="hide" id="item2">
    <li>
        <h4 class="topic-title clip" title="">
            <span class="fr c999 f14 normal topic-tm"></span>
            <span class="topic-tt"></span>
        </h4>
        <p class="c666 f14 pro-txt mt6 hide"></p>
        <div class="wrap-topic-attr mt10">
            <div class="fr">
                <a href="javascript:;" class="topic-opt edit_topic">编辑</a>
                <a href="javascript:;" class="topic-opt del_topic">删除</a>
            </div>
        </div>
    </li>
</ul>
{% end %}
{% block bottom %}
<script src="{{static_url('bbs/js/bbs-profile.js')}}"></script>
{% end %}