{% extends 'detail-base.html' %}
{% block title %}我的余额{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block top %}我的余额{% end %}
{% block content %}
<div class="balance-top">
    <dl class="bal-top group">
        <dd class="fl"><img src="/static/images/TDSG_l.png" alt="头像"/></dd>
        <dt class="fl group">
            <div class="fl bal-shop">
                <p class="clip">所在店铺：<span id="shopName">{{shop_name}}</span></p>
                <p class="clip">当前余额：{{shop_balance}}元</p>
            </div>
            <div class="fl bal-cz">
                <a class="cz-btn" href="{{reverse_url('customerRecharge')}}">充值</a>
            </div>
        </dt>
    </dl>
</div>
<div class="wrap-bal-ma">
    <div class="bal-balbox">
        <h3>余额说明：</h3>
        <p>1、所充值余额由森果平台代为收取，再返给所在店铺；</p>
        <p>2、余额只能在当前所在店铺下消费；</p>
        <p>3、充值后您将成为店铺会员，享受余额支付<!--、签到双倍积分、评论双倍积分等特权-->；</p>
    </div>
    <div class="bal-balbm">
        <h3>账单</h3>
        <ul class="bal-bm-lst">
        </ul>
    </div>
</div>
 <div class="loading text-center text-grey9 font12 mt10" style="display:none">~努力加载中 ( > < )~</div>
 <div class="no-recored  text-center" style="display:none">
     <img src="/static/images/goods_2.png"/>
     <p class="text-center mt10 text-grey9">当前没有任何账单</p>
 </div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/market-balance.js')}}"></script>
{% end %}
