<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title%} {% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/market-global.css')}}"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body >
{% set subpage = context.get("subpage", "home")%}

{% set shop_active = ""%}
{% set home_active = ""%}
{% set cart_active = ""%}
{% set center_active = ""%}

{% if subpage == "shop" %}
{% set shop_active = "active"%}
{% elif subpage == "home"%}
{% set home_active = "active"%}
{% elif subpage == "cart"%}
{% set cart_active = "active"%}
{% elif subpage == "center"%}
{% set center_active = "active"%}
{% end %}
    <div class="bottom-nav navbar-fixed-bottom font12 bg-grey9">
        <ul class="row select-list">
            <li class="w25 pull-left {{shop_active}}">
                <a href="{{reverse_url('customerShopProfile')}}" class="text-grey shop_href home">
                    <em class="bg_change"></em>
                    <p>店铺</p>
                </a>
            </li>
            <li class="w25 pull-left {{home_active}}">
                <a href="{{reverse_url('Market',handler.shop_code)}}" class="text-grey goods" >
                    <em class="bg_change"></em>
                    <p>商品</p>
                </a>
            </li>
            <li class="w25 pull-left {{cart_active}} cart_item">
                <a href="{{reverse_url('customerCart')}}" class="text-grey cart" >
                    <em class="bg_change"></em>
                    <span class="cart_num bg-pink text-white" style="display:none">0</span>
                    <p>购物篮</p>
                </a>
            </li>
            <li class="w25 pull-left {{center_active}}">
                <a href="{{reverse_url('customerHome')}}" class="text-grey my">
                    <em class="bg_change"></em>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="body_bg"></div>
    <div class="body-container">
        <div class="container phone-box">
            {% block content %}{% end %}
            <a id="backTop" class="little_pear"><img src="/static/svg/half@2x.png" class="src_change"/></a>
        </div>
    </div>
    {% block other %}{% end %}
    <script src="/static/js/zepto&&fastclick.min.js"></script>
    <script src="{{static_url('js/market-public.js')}}"></script>
    {% block bottom %}{% end %}
</body>
</html>
