<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title%} {% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/market-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
</head>
<body class="bg-pale-green">
    <div class="container phone-box">
        {% set subpage = context.get("subpage", "home")%}

        {% set shop_active = ""%}
        {% set home_active = ""%}
        {% set cart_active = ""%}
        {% set center_active = ""%}

        {% if subpage == "shop" %}
            {% set shop_active = "active"%}
        {% elif subpage == "home"%}
            {% set home_active = "active"%}
        {% elif subpage == "cart"%}
            {% set cart_active = "active"%}
        {% elif subpage == "center"%}
            {% set center_active = "active"%}
        {% end %}
        {% block content %}{% end %}
        {% block toTop %}
        <!--<a class="back-to-top set-inl-blo bg-green text-white text-center font14" id="backTop">Top</a>-->
        {% end %}
    </div>
    <div class="bottom-nav navbar-fixed-bottom font14">
        <ul class="row select-list">
            <li class="col-xs-3 col-sm-3 {{shop_active}}">
                <a href="{{reverse_url('customerShopProfile')}}" class="text-grey shop_href home">店铺</a>
            </li>
            <li class="col-xs-3 col-sm-3 {{home_active}}">
                <a href="{{reverse_url('Market',handler.shop_code)}}" class="text-grey goods" >商品</a>
            </li>
            <li class="col-xs-3 col-sm-3 {{cart_active}}">
                <a href="{{reverse_url('customerCart')}}" class="text-grey cart" >果篮</a>
            </li>
            <li class="col-xs-3 col-sm-3 {{center_active}}">
                <a href="{{reverse_url('customerHome')}}" class="text-grey my">我的</a>
            </li>9
        </ul>
    </div>
    <script src="{{static_url('js/jquery.min.js')}}"></script>
    <script src="{{static_url('js/hammer.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('js/global.js')}}"></script>
    <script src="{{static_url('js/market-public.js')}}"></script>
    {% block bottom %}{% end %}
</body>
</html>
