{% extends 'base.html '%}
{% block content%}
     <ul class="cart-list">
         <li>
             <img src="" class="goods-img"/>
             <div class="goods-info">
                <p>
                    <span class="name pull-left"></span>
                    <span class="price pull-right">小记：88元</span>
                </p>
                 <p>
                     <span class=""></span>
                 </p>
             </div>
         </li>
     </ul>
    <div class="">

    </div>
{% end %}