{% extends 'base.html' %}
{% block title %}【{{shop_name}}】一家不错的O2O店铺，快来关注吧~{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-cart.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/fruit-color.css')}}"/>
{% end %}
{% block content %}
    <span id="shop_imgurl" data-img="{{shop_logo}}" data-stop-range="{{config.stop_range}}" data-self-endtime="{{config.self_end_time}}" data-auth="{{show_balance}}" data-status="{{shop_status}}" data-code="{{handler.shop_code}}" data-now-money="{{config.freight_now or 0}}" data-ontime-money="{{config.freight_on_time or 0}}" data-now-min="{{config.min_charge_now or 0}}" data-ontime-min="{{config.min_charge_on_time or 0}}"></span>
    <div class="bg-box bg1">
        <ul class="cart-list set-w100-fle m-b0">
            {% for key in cart_f %}
            <li class="cart-list-item set-w100-fle fruit_item text-grey m-b5 {{cart_f[key]['code']}}" data-limit="{{cart_f[key]['limit_num']}}">
                <div class="box bg set-w100-fle">
                    {% if cart_f[key]['img_url'] %}
                    <img src="/static/images/holder.png" class="goods-img pull-left w15 lazy_img" data-original="{{cart_f[key]['img_url']}}?imageView2/1/w/170/h/170"/>
                    {% else %}
                    <img src="/static/images/holder.png" class="goods-img pull-left w15 lazy_img" data-original="/static/design_img/{{cart_f[key]['charge_type'].fruit.fruit_type.code}}.png"/>
                    {% end %}
                    <span class="status-goods {% if cart_f[key]['activity_type']==1 %}status-seckill{% elif cart_f[key]['activity_type']==2 %}status-discount{% else %}hidden{% end %}"></span>
                    <div class="goods-info pull-left font14 p010">
                        <div class="clearfix">
                            <span class="name pull-left color">{{cart_f[key]['charge_type'].fruit.name}}</span>
                            <span class="price pull-left">￥<span class="item_total_price"></span></span>
                        </div>
                    <span class="p0 charge-type pull-left color" data-id="{{cart_f[key]['charge_type'].id}}">
                        <span class="item_price">{{round(cart_f[key]['charge_type'].price*cart_f[key]['discount_rate'],2)}}</span>元/{{cart_f[key]['charge_type'].num}}<span data-id="{{cart_f[key]['charge_type'].unit}}" class="chargeUnit"></span>
                    </span>
                    </div>
                    <div class="action-box font14">
                        {% if cart_f[key]['activity_type']!=1 %}
                        <span class="pull-left number-change set-inl-blo">
                            <button class="minus-plus text-green  number-plus text-center font18 bg_change"></button>
                            <input type="text" value="{{cart_f[key]['num']}}" class="number-input item_number text-center bg_change" readonly/>
                            <button class="minus-plus text-green  number-minus text-center font18 bg_change"></button>
                        </span>
                        {% end %}
                        <div class="pull-right delete-btn">
                            <a href="javascript:;" class="pull-right delete-item text-center font18 text-grey" activity_type="{{cart_f[key]['activity_type']}}">x</a>
                        </div>
                    </div>
                </div>
            </li>
            {% end %}
        </ul>
        <div class="bottom-line"></div>
        <div class="pay-bill">
            <span class="yellow-text">总计：<span class="yellow-text"><span class="fruits_price yellow-text"></span></span> 元</span>
            <a id="go_next" class="sub-btn sure_btn order-submit" href="javascript:;">去结算</a>
        </div>
    </div>
    <div class="bg-box bg2 hidden">
        <div class="detail-header text-white center-block">
            <a href="javascript:;" class="return-btn bg_change"></a>
            <span class="title font16">提交订单</span>
        </div>
        <div class="bg-width center-block text-grey">
        <div class="clearfix font14 p010 hidden">
            <span class="pull-right tit2 text-right"><span id="list_total_price"></span>元</span>
            <span class="pull-right tit text-right">商品金额：</span>
        </div>
        <div class="clearfix m-b10 font14 p010 text-grey3 hidden">
            <span class="pull-right tit2 text-right"><span id="final_price" class="final_price" data-money=""></span>元</span>
            <span class="pull-right tit text-right">实付金额：</span>
        </div>
        <div class="address-box" data-id="{{default_address.id}}">
            <i class="i-more"></i>
            <div class="address-row">
                <span class="c333 icon-left i-person">{{default_address.receiver}}</span>
                <span class="c333 icon-left i-phone">{{default_address.phone}}</span>
            </div>
            <div class="address-row">
                <p class="icon-left i-address f12 c666">{{default_address.address_text}}</p>
            </div>
        </div>
        <div class="mt10 fruit-icons">
            <div class="wrap-fruits" id="go_fruits">
                <ul class="fruits-lst group">
                    {% set index = 0 %}
                    {% for key in cart_f %}
                    {% if index<5 %}
                    <li>
                        {% if cart_f[key]['img_url'] %}
                        <img src="{{cart_f[key]['img_url']}}?imageView2/1/w/170/h/170" class="images"/>
                        {% else %}
                        <img src="/static/design_img/{{cart_f[key]['charge_type'].fruit.fruit_type.code}}.png" class="images"/>
                        {% end %}
                    </li>
                    {% end %}
                    {% set index=index+1 %}
                    {% end %}
                </ul>
                <span class="i-more c333">共{{len(cart_f)}}件</span>
            </div>
            <div class="wrap-say-ipt">
                <input id="messageCon" class="message-input input-sty box-style center-block font14 bg-white bg-grey" type="text" value="" placeholder="留个言调戏下客服吧？(⊙_⊙)">
            </div>
        </div>
        <div class="mt10 dilivery-box">
            <div class="cartb-box">
                <span class="left-title">配送方式</span>
                <div class="right-title">
                    {% if config.now_on == False and config.ontime_on == False and config.self_on == False %}<span class="red f14 no-deli">无配送方式</span>{% end %}
                    <ul class="bts-lst group bili_type">
                        {% if config.now_on == True or config.ontime_on == True %}<li class="active" data-status="{{config.ontime_on or config.now_on}}">商家配送</li>{% end %}
                        {% if config.self_on == True%}<li class="{% if config.now_on == False and config.ontime_on == False %}active{% end %}" data-status="{{config.self_on}}">用户自提</li>{% end %}
                    </ul>
                    <span class="red-tip-txt hidden">下单{{config.self_end_time}}分钟内不可自提</span>

                </div>
            </div>
            {% if config.now_on == True or config.ontime_on == True %}
            <div class="deli-box deli1">
                <div class="cartb-box ptm5">
                    <i class="i-more i-more-ontime"></i>
                    <span class="left-title top4">收货时间</span>
                    <div class="right-title">
                        <span class="red ontime_text hidden f14">已超过最晚配送时间</span>
                        <select class="select-slide" name="" id="deli_shop" data-id="0" data-type="0" data-time="0">
                            {% if config.now_on == True %}
                            {% if now_periods == 1 %}
                            <option data-time="0" id="now_on_time" data-type="0" data-id="0" value="{{config.intime_period or 0}}分钟内送达 ({{config.start_time_now.strftime("%H:%M")}} ~ {{config.end_time_now.strftime("%H:%M")}})">{{config.intime_period or 0}}分钟内送达 ({{config.start_time_now.strftime("%H:%M")}} ~ {{config.end_time_now.strftime("%H:%M")}})</option>
                            {% end %}
                            {% end %}
                            {% if config.ontime_on == True %}
                            {% if ontime_periods %}
                                {% if config.day_on_time==1 or config.day_on_time==0 %}
                                {% for period in ontime_periods %}
                                <option data-time="1" class="today_time ontime_time" data-type="1" data-id="{{period.id}}" start-time="{{period.start}}" end-time="{{period.end}}" value="今天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}">今天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}</option>
                                {% end %}
                                {% end %}
                                {% if config.day_on_time==2 or config.day_on_time==0%}
                                {% for period in ontime_periods %}
                                <option data-time="2" data-type="1" data-id="{{period.id}}" value="明天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}">明天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}</option>
                                {% end %}
                                {% end %}
                            {% end %}
                            {% end %}
                        </select>
                    </div>
                </div>
                <p class="red-txt shop-deli hidden">该方式要满<span id="min_charge">50</span>元才能配送哦</p>
            </div>
            {% end %}
            {% if config.self_on == True%}
            <div class="deli-box deli2 {% if config.now_on == True or config.ontime_on == True %}hidden{% end %}">
                <div class="cartb-box ptm5">
                    <i class="i-more i-more-self"></i>
                    <span class="left-title top4">自提时间</span>
                    <div class="right-title">
                        <span class="red self_text hidden f14">已超过最晚自提时间</span>
                        <select class="select-slide" name="" id="deli_self" data-id="0" data-time="0">
                            {% if self_periods %}
                            {% if config.day_self==1 or config.day_self==0 %}
                            {% for period in self_periods %}
                            <option data-time="1" class="today_time self_self" data-id="{{period.id}}" start-time="{{period.start}}" end-time="{{period.end}}" value="今天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}">今天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}</option>
                            {% end %}
                            {% end %}
                            {% if config.day_self==2 or config.day_self==0%}
                            {% for period in self_periods %}
                            <option data-time="2" data-id="{{period.id}}" value="明天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}">明天 {{period.start_time.strftime("%H : %M")}} ~ {{period.end_time.strftime("%H : %M")}}</option>
                            {% end %}
                            {% end %}
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="cartb-box ptm5 bt0">
                    <i class="i-more"></i>
                    <span class="left-title top4">自提地点</span>
                    <div class="right-title clip">
                        <select class="select-slide" name="" id="deli_self_address" data-id="0">
                        {% if self_address_list %}
                        {% for address in self_address_list %}
                        <option data-id="{{address.id}}" value="{{address.address}}">{{address.address}}</option>
                        {% end %}
                        {% end %}
                        </select>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
        {% if coupon_number>0 %}
        <div class="mt10 coupon-cart-box pointer">
            <span class="i-more c333 coupon-stats">未使用</span>
            <span class="c333 f14">优惠券</span>
            <span class="coupon-last">{{coupon_number}}张可用</span>
        </div>
        {% end %}
        <div class="mt10 pay-type-box">
            <div class="cartb-box">
                <span class="left-title">支付方式</span>
                <div class="right-title">
                    <ul class="bts-lst group pay_type_list">
                        <li class="active" data-id="3" data-auth="{{show_balance}}" data-status="{{config.online_on_active}}">在线支付</li>
                        <li data-id="2" data-auth="{{show_balance}}" data-status="{{config.balance_on_active}}">余额支付</li>
                        <li data-id="1" data-auth="True" data-status="{{config.cash_on_active}}">货到付款</li>
                    </ul>
                </div>
            </div>
            <div class="cartb-box pay-line" id="online_pay" data-type="wx">
                <div class="wrap-online-lst">
                    <ul class="online-lsts check-lst">
                        <li class="group" data-type="wx">
                            <a href="javascript:;" class="pull-right checkbox-btn checkboxed"></a>
                            <span class="pull-left w60"><img src="/static/images/wx_l.png" class="third-img" alt="微信支付"/></span>
                            <span class="pull-left text-grey9 third-txt">
                                <span class="f14 c333">微信支付</span>
                                <p class="text-grey9">需安装微信5.0及以上版本</p>
                            </span>
                        </li>
                        <li class="group" data-type="alipay">
                            <a href="javascript:;" class="pull-right checkbox-btn"></a>
                            <span class="pull-left w60"><img src="/static/images/alipay_l.png" class="third-img" alt="支付宝支付"/></span>
                            <span class="pull-left text-grey9 third-txt">
                                <span class="f14 c333">支付宝支付</span>
                                <p class="text-grey9">直接支付，无需跳转浏览器</p>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="wrap-balance-box hidden">
                    <a href="javascript:;" url="{{reverse_url('customerBalance')}}?shop_id={{shop_id}}" class="a-cz pull-right f14" data-auth="{{show_balance}}" data-status="{{config.balance_on_active}}">充值</a>
                    <span class="c333 f14">当前余额</span>
                    <span class="c333 f14 ml10">￥{{balance_value}}元</span>
                </div>
                <div class="wrap-cash-box hidden">
                    <span class="c333 f14">先下单，收到商品时付款</span>
                </div>
            </div>
        </div>
        <div class="mt10 money-box">
            <p>
                <span class="pull-right money-txt">￥<span class="fruits_price"></span></span>
                <span class="c333">商品金额</span>
            </p>
            <p>
                <span class="pull-right money-txt">￥<span id="freight_money"></span></span>
                <span class="fu-txt">+</span>
                <span class="c333">配送费</span>
            </p>
            <p>
                <span class="pull-right money-txt">￥<span id="coupon_cmoney">0</span></span>
                <span class="fu-txt minus-txt">-</span>
                <span class="c333">优惠券优惠</span>
            </p>
        </div>
        </div>
        <div class="pay-bill" data-ss="{{config.text_message_active}}" data-s2="{{shop_new}}" data-s3="{{current_user.accountinfo.phone}}">
            {% if config.text_message_active  == 1 and shop_new !=1 and current_user.accountinfo.phone == None %}
            <button class="first_notice sure_btn text-center pull-left ml10" id="phoneNumber">请先绑定手机号！</button>
            {% end %}
            <span class="pull-left coupon-text hidden">已优惠 <span id="coupon-money"></span>元</span>
            <span class="yellow-text">总计：<span class="yellow-text"><span class="final_price yellow-text" id="total_price"></span></span> 元</span>
            {% if config.text_message_active == 1 and shop_new !=1 and current_user.accountinfo.phone == None %}
            <a id="submitOrder" class="sub-btn sure_btn order-submit un_tie bg-greyc" href="javascript:;" disabled="true">提交订单</a>
            {% else %}
            <a id="submitOrder" class="sub-btn sure_btn order-submit" href="javascript:;">提交订单</a>
            {% end %}
        </div>
    </div>
{% end %}
{% block bottom %}
<div class="modal fade tie-popbox" id="areaBox">
    <div class="modal-dialog anim-bounceIn">
        <div class="modal-content">
            <div class="modal-top"><img src="/static/images/info_top.png"/></div>
            <div class="modal-header set-width-float">
                <button type="button" class="close dismiss">✕</button>
                <h2 class="modal-title  text-center line48"></h2>
            </div>
            <div class="modal-body font14 clearfix">
                <p class="area-text-cont">您已超出该店铺的配送范围，卖家有可能不安排配送</p>
                <p class="area-text-tip">(以上信息仅供参考，可能不准确)</p>
            </div>
            <div class="modal-footer clearfix area-footer">
                <a href="javascript:;" class="btn tie-btn bg-green3 area-btn btn-right"  id="sureArea">继续下单</a>
                <a href="tel:{{shop_phone}}" class="btn tie-btn bg-grey9 area-btn btn-left">联系卖家</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade tie-popbox" id="tieBox">
    <div class="modal-dialog anim-bounceIn">
        <div class="modal-content">
            <div class="modal-top"><img src="/static/images/info_top.png"/></div>
            <div class="modal-header set-width-float">
                <button type="button" class="close dismiss">✕</button>
                <h2 class="modal-title  text-center line48"></h2>
            </div>
            <div class="modal-body font14 clearfix">
                <div class="tie-info">
                    <div class="phone-number">
                        <input type="text" placeholder="请输入手机号" class="phone input1 pull-left" id="enterPhone"/>
                        <input type="submit" value="获取验证码" class="get-code pull-right bg-green3 sure_btn" id="getVrify"/>
                    </div>
                    <input type="text" placeholder="请输入收到的短信验证码" class="input1" id="enterVrify"/>
                </div>
            </div>
            <div class="modal-warn">
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn pull-right tie-btn bg-green3 sure_btn"  id="tiePhone">绑定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade tie-popbox" id="couponBox">
    <div class="modal-dialog anim-bounceIn">
        <div class="modal-content">
            <div class="modal-top"><img src="/static/images/info_top.png"/></div>
            <div class="modal-header set-width-float">
                <button type="button" class="close dismiss">✕</button>
                <h2 class="modal-title  text-center line48">选择优惠券</h2>
            </div>
            <div class="modal-body font14 clearfix p0">
                {%if output_data!=[]%}
                <div class="send-address-choose clearfix center-block box-style p0">
                    <div class="wrap-coupontype">
                        <ul id="couponType" class="coupon_type">
                            {%for data in output_data%}
                            <li data-id="{{data['coupon_key']}}" class="">
                                <a href="javascript:;" class="pull-right checkbox-btn mr8"></a>
                                <span class="coupon-bg" data-money="{{data['coupon_money']}}">￥{{data["coupon_money"]}}</span>
                                <span class="coupon-detail">{{data["use_goods_group"]}}:{{data["use_goods"]}}满{{data["use_rule"]}}元<br>可使用（含运费）</span>
                            </li>
                            {%end%}
                        </ul>
                    </div>
                </div>
                {%end%}
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn pull-right tie-btn bg-green3 sure_btn"  id="sureCoupon" data-coupon="0">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="{{static_url('js/market-cart.js')}}"></script>
{% end %}
