{% extends 'detail-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-comment.css')}}"/>{% end %}
{% block top %}店铺评价{% end %}
{% block content %}
{% if date_list %}
{% import json %}
<script>
    window.dataObj.comments={% raw json.dumps(date_list) %}
</script>
{% end %}
{% if date_list %}
<ul class="commnent-list mt42 m-b10 set-w100-fle" id="commnent-list">

</ul>
<a href="javascript:;" id="getMore" class="btn text-green3 bg-white set-w100-fle">更多评价</a>
<div class="btn text-green3 bg-white set-w100-fle no-more" style="display:none;">没有更多了</div>
{% else %}
<h3 class="text-center mt42 pt36">暂无评价！</h3>
{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/market-comment.js')}}"></script>
{% end %}
{#
<!--新评价详情页面-->
{% extends 'detail-base.html' %}
{% block title %}评价详情{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/baguetteBox.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block top %}评价详情{% end %}
{% block content %}
<div class="contain">
    <div class="point-show group">
        <div class="point-left fl pt5">
            <p class="nor-txt mt2">满意度</p>
            <p class="percent-txt">98%</p>
        </div>
        <div class="point-name fl pt5">
            <span class="line"></span>
            <p class="nor-txt">质量</p>
            <p class="nor-txt">速度</p>
            <p class="nor-txt">服务</p>
        </div>
        <div class="point-cen fl">
            <div class="percent-bar">
                <span class="bar1"></span>
            </div>
            <div class="percent-bar">
                <span class="bar2"></span>
            </div>
            <div class="percent-bar">
                <span class="bar3"></span>
            </div>
        </div>
        <div class="point-left fr">
            <p class="nor-txt txt-ar">89分</p>
            <p class="nor-txt txt-ar">100分</p>
            <p class="nor-txt txt-ar">98分</p>
        </div>
    </div>
    <ul class="point-com-lst">
        <li>
            <dl class="ccom-item group">
                <dd class="fl">
                    <img src="/static/images/TDSG_l.png" width="50" height="50" alt="头像"/>
                </dd>
                <dt class="fl">
                    <p><span class="nor-txt">黄铁森</span><span class="time-txt ml20">1天前</span></p>
                    <p class="com-txt">这榴莲真是醉了，太好吃了，强烈推荐！</p>
                </dt>
            </dl>
        </li>
        <li>
            <dl class="ccom-item group">
                <dd class="fl">
                    <img src="/static/images/TDSG_l.png" width="50" height="50" alt="头像"/>
                </dd>
                <dt class="fl">
                <p><span class="nor-txt">黄铁森</span><span class="time-txt ml20">1天前</span></p>
                <p class="com-txt">这榴莲真是醉了，太好吃了，强烈推荐！</p>
                <ul class="group com-goods-lst">
                    <li>
                        <a href="/static/images/anoa-7-md.gif" title="放商品名称"><img src="/static/images/anoa-7-md.gif" alt="晒单图片"/></a>
                    </li>
                    <li>
                        <a href="/static/images/anoa-7-md.gif" title="放商品名称"><img src="/static/images/anoa-7-md.gif" alt="晒单图片"/></a>
                    </li>
                    <li>
                        <a href="/static/images/anoa-7-md.gif" title="放商品名称"><img src="/static/images/anoa-7-md.gif" alt="晒单图片"/></a>
                    </li>
                    <li>
                        <a href="/static/images/anoa-7-md.gif" title="放商品名称"><img src="/static/images/anoa-7-md.gif" alt="晒单图片"/></a>
                    </li>
                </ul>
                </dt>
            </dl>
        </li>
    </ul>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/third/baguetteBox.min.js')}}"></script>
<script src="{{static_url('js/comment-shop.js')}}"></script>
{% end %}
#}