{% extends 'detail-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-comment.css')}}"/>{% end %}
{% block top %}店铺评价{% end %}
{% block content %}
{% if date_list %}
{% import json %}
<script>
    window.dataObj.comments={% raw json.dumps(date_list) %}
</script>
{% end %}
{% if date_list %}
<ul class="commnent-list" id="commnent-list">

</ul>
<a href="javascript:;" id="getMore" class="btn text-green3 bg-white center-block">更多评价</a>
<div class="btn text-green3 bg-white center-block no-more" style="display:none;">没有更多了</div>
{% else %}
<h4 class="text-center">暂无评价！</h4>
{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/market-comment.js')}}"></script>
{% end %}