<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title%} {% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/market-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
</head>
<body>
    <main class="container phone-box">
        {% block header %}
        <header class="detail-header text-white center-block">
            <a href="{%block back%}javascript:history.back(-1){% end %}" class="return-btn pull-left bg_change"></a>
            <span class="title pull-left font16">{% block top %}{% end %}</span>
        </header>
        {% end %}
        {% block content %}{% end %}
        <a id="backTop" class="little_pear"><img src="{{static_url('svg/half.svg')}}" class="src_change"/></a>
    </main>
<script src="/static/js/zepto&&fastclick.min.js"></script>
<script src="{{static_url('js/market-public.js')}}"></script>
{% block bottom %}{% end %}
</body>
</html>
