{% extends 'base.html' %}
{% block title %}发现{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-center.css')}}"/>
{% end %}
{% block content %}
<div class="rainshed2 text-center font18 text-white bg_change fix-title"></div>
<div class="mt42"></div>
<ul class="mt20 discover-list">
{% if shop_auth != 0%}
{% if confess_active == 1%}
    <li class="title clearfix bg-white font14 confess">
	    <a href="{{reverse_url('ConfessionHome',shop_code)}}" class="text-grey3 confess-wall">
	    	<i class="pull-left"></i>
	    	<span class="pull-left">告白墙</span>
	    	<span class="pull-left ml10 text-grey9">看看果友们的真情告白</span>
	    	<span class="confess-circle circle bg-pink text-white hidden">{{confess_count}}</span>
	    </a>
    </li>
    <li class="title clearfix bg-white font14 coupon">
        <a href="/coupon" class="text-grey3 confess-wall">
            <i class="pull-left"></i>
            <span class="pull-left">优惠券</span>
            <span class="pull-left ml10 text-grey9"></span>
            <span class="confess-circle circle bg-pink text-white hidden">{{confess_count}}</span>
        </a>
    </li>
{% end %}
{% end %}
</ul>
{% end %}
{% block bottom %}
<script type="text/javascript">
var confess = parseInt($('.confess-circle').text());
if(confess != 0){
	$('.confess-circle').removeClass('hidden');
}
</script>
{% end %}
