{% extends 'base.html' %}
{% block title %}发现{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-center.css')}}"/>
{% end %}
{% block content %}
<div class="mt42"></div>
<ul class="mt20 discover-list">
{% if handler.shop_auth != 0%}
{% if confess_active == 1%}
    <li class="title clearfix bg-white font14 confess">
	    <a href="{{reverse_url('ConfessionHome',handler.shop_code)}}" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
	    	<i class="pull-left"></i>
	    	<span class="pull-left confess-text">告白墙<span class="font12 text-grey ml6">看看果友们的真情告白</span></span>
	    	<span class="confess-circle circle bg-pink text-white hidden">{{confess_count}}</span>
	    </a>
    </li>
    {% end %}
    {% if coupon_active_cm==1%}
    {% if a or b %}
    <li class="title clearfix bg-white font14 coupon">
        <a href="{% if a==0%}/coupon/profile?action=get_one&coupon_id=-1{% else %}/coupon/profile?action=get_all{% end %}" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
            <i class="pull-left"></i>
            <span class="pull-left confess-text">优惠券<span class="font12 text-grey ml6">{% if a== 0%}更多优惠券等你来抢{% else %}{{a}}批优惠券等你来抢{% end %}</span></span>
            <span class="confess-circle circle bg-pink text-white hidden">{{confess_count}}</span>
        </a>
    </li>
    {% end %}
    {%end%}

    {% if seckill_active == 1%}
    <li class="title clearfix bg-white font14 seckill">
        <a href="{% if a==0%}/coupon/profile?action=get_one&coupon_id=-1{% else %}/coupon/profile?action=get_all{% end %}" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
            <i class="pull-left"></i>
            <span class="pull-left confess-text">秒杀活动<span class="font12 text-grey ml6">15件商品11点大开杀戒</span></span>
            <span class="confess-circle circle bg-pink text-white hidden">10</span>
        </a>
    </li>
    {% end %}

    <li class="title clearfix bg-white font14 discount">
        <a href="{% if a==0%}/coupon/profile?action=get_one&coupon_id=-1{% else %}/coupon/profile?action=get_all{% end %}" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
            <i class="pull-left"></i>
            <span class="pull-left confess-text">限时折扣<span class="font12 text-grey ml6">10余件商品惊喜价大放送</span></span>
            <span class="confess-circle circle bg-pink text-white hidden">10</span>
        </a>
    </li>
    <li class="title clearfix bg-white font14 gbuy">
        <a href="javascript:;" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
            <i class="pull-left"></i>
            <span class="pull-left confess-text">团购<span class="font12 text-grey ml6">5件商品等你一起团，购任性</span></span>
            <span class="confess-circle circle bg-pink text-white hidden">10</span>
        </a>
    </li>
    <li class="title clearfix bg-white font14 presell">
        <a href="{% if a==0%}/coupon/profile?action=get_one&coupon_id=-1{% else %}/coupon/profile?action=get_all{% end %}" class="text-grey3 confess-wall">
            <span class="pull-right imore"></span>
            <i class="pull-left"></i>
            <span class="pull-left confess-text">预售<span class="font12 text-grey ml6">10余件水果抢先看</span></span>
            <span class="confess-circle circle bg-pink text-white hidden">10</span>
        </a>
    </li>
{% end %}
</ul>
{% end %}
{% block bottom %}
<script type="text/javascript">
var confess = parseInt($('.confess-circle').text());
if(confess != 0){
	$('.confess-circle').removeClass('hidden');
}
</script>
{% end %}
