<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8"/>
    <title>{% block title%} {% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/market-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
</head>
<body>
    <main class="container phone-box">
        {% block header %}
        <header class="detail-header text-white center-block" id="nav">
            <a href="{%block back%}javascript:history.back(-1){% end %}" class="return-btn bg_change"></a>
            <span class="title font16">{% block top %}{% end %}</span>
        </header>
        {% end %}
        {% block content %}{% end %}
    </main>

<script src="/static/js/template.js"></script>
<script src="/static/js/jquery.min.js"></script>
{% block bottom %}{% end %}
</body>
</html>
