{% extends 'base.html' %}
{% block title %}首页{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-home.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/fruit-color.css')}}"/>
{% end %}
{% block content %}
{% set fruits=context['fruits']%}
{% set dry_fruits=context['dry_fruits']%}
{% set mgoods=context['mgoods']%}
{% set menus=context['menus']%}
{% set notices=context['notices'] %}
    <div class="notice-box">
        <div class="notice-board">
            {% if notices %}
            <input type="hidden" value="{{notices}}" id="notice_con"/>
            <div id="slider" class="swipe" style="visibility: visible;">
                <div class="swipe-wrap">
                </div>
            </div>
            <nav class="circle">
                <ul id="position">
                </ul>
            </nav>
            {% else %}
            <img src="{{static_url('images/banner.jpg')}}" class="img"/>
            {% end %}
        </div>
    </div>
    {% if fruits %}
    <div class="no-mar-btom top-title">
        <div class="inner rainshed_green text-white font16">
            <a href="javascript:;"  class="text-white tit choose-classify">
                <span>分类</span>
                <em class="set-inl-blo pull-right"></em>
            </a>
            <span class="classify text-center set-inl-blo">水果单品</span>
        </div>
        <ul class="font16 goods-class-choose type-choose clearfix" style="display:none">
            {% if fruits %}
            <li class="text-green bg-pale-green set-w100-fle" data-class="fruitPosition">水果单品</li>
            {% end %}
            {% if dry_fruits%}
            <li class="text-green bg-pale-green set-w100-fle" data-class="dryFruitPosition">干果单品</li>
            {% end %}
            {% for menu in menus %}
            {% if mgoods[menu.id] %}
            <li class="text-green  bg-pale-green set-w100-fle" data-class="menu{{menu.id}}">{{menu.name}}</li>
            {% end %}
            {% end %}
        </ul>
    </div>
    <!--<p class="text-white no-mar-btom classify-title font18 text-center rainshed_green" id="fruitPosition">水果单品</p>-->
    <ul class="goods-list  fruit-list" id="fruitPosition">
        {% for fruit in fruits %}
        {% set farrow_active=''%}
        {% set ftoggle_active=''%}
        {% set fradius_active=''%}
        {% set pr_active=''%}
        {% set mr_active=''%}
        {%if len(fruit.charge_types) >1 %}
            {% set farrow_active='arrow'%}
            {% set ftoggle_active='toggle'%}
            {% set fradius_active='shape'%}
            {% set pr_active='pr35'%}
            {% set mr_active='mr40'%}
        {% end %}
        <li class="goods-list-item font10 text-grey {{fruit.fruit_type.code}} {{pr_active}}" data-id="{{fruit.id}}" data-type="fruit" data-num="{{fruit.storage}}">
            <div class="clearfix box bg">
                <div class="goods-img pull-left">
                    <a href="javascript:;" class="check-lg-img">
                        <span class="tag text-white text-center tagItem font8" data-id="{{fruit.tag}}"></span>
                        {% if fruit.img_url %}
                        <img src="{{fruit.img_url}}?imageView/1/w/200/h/200" class="img">
                        {% else %}
                        <img src="/static/design_img/{{fruit.fruit_type.code}}.gif" class="img">
                        {% end %}
                    </a>
                </div>
                <input type="hidden" class="fruit_intro" value="{{fruit.intro}}"/>
                <div class="goods-info pull-left">
                    <div class="show-box {{ftoggle_active}}">
                        <p>
                            <span class="pull-left color fruit-name font16">{{fruit.name}}</span>
                            <span class="pull-right text-grey sale font12">销量：<span class="color">{{fruit.saled}}</span></span>
                        </p>
                        <p class="great-number font12">
                            {% if fruit.favour%}
                            <em class="red-heart"></em>
                            {% else %}
                            <em class="gray-heart"></em>
                            {% end %}
                            <span class="great">{{fruit.favour}}</span>
                        </p>
                        <div class="charge-first charge-style  font16 color">
                            {% if fruit.charge_types %}
                        <span class="pull-left text-bgcolor p0 charge-type line34 height34 forbid_click" data-id="{{fruit.charge_types[0].id}}">
                            {{fruit.charge_types[0].price}}元/{{fruit.charge_types[0].num}}
                            <span data-id="{{fruit.charge_types[0].unit}}" class="chargeUnit"></span>
                        </span>
                            {% end %}
                            <span class="to-add pull-right show forbid_click"></span>
                            <span class="pull-right p0 number-change hidden forbid_click {{mr_active}}">
                                <a class="minus-plus pull-right number-plus" href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus" href="javascript:;"></a>
                            </span>
                        </div>
                    </div>
                    <ul class="charge-list charge-style color set-width-float font16 {{ftoggle_active}} color" style="display:none">
                        {% for charge in fruit.charge_types %}
                        {% if charge.id !=fruit.charge_types[0].id %}
                        {% set hidden =''%}
                        {% set show =''%}
                        <li class="border-color set-w100-fle">
                            <span class="pull-left text-bgcolor p0 charge-type forbid_click" data-id="{{charge.id}}">
                                {{charge.price}}元/{{charge.num}}
                                <span data-id="{{charge.unit}}" class="chargeUnit"></span>
                            </span>
                            <span class="to-add pull-right show forbid_click"></span>
                            <span class="pull-right p0 number-change hidden forbid_click {{mr_active}}">
                                <a class="minus-plus pull-right number-plus" href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus" href="javascript:;"></a>
                            </span>
                        </li>
                        {% end %}
                        {% end %}
                    </ul>
                </div>
                <span class="{{fradius_active}} back-shape bg"></span>
                <span class="{{farrow_active}} icon-bg toggle_icon"></span>
            </div>
        </li>
        {% end %}
    </ul>
    {% end %}
    {% if dry_fruits%}
    <p class="text-white no-mar-btom classify-title font18 text-center rainshed_green" id="dryFruitPosition">干果单品</p>
    <ul class="goods-list fruit-list">
        {% for dry_fruit in dry_fruits %}
        {% set darrow_active=''%}
        {% set dtoggle_active=''%}
        {% set dradius_active=''%}
        {% set dpr_active=''%}
        {% set dmr_active=''%}
        {%if len(dry_fruit.charge_types) >1 %}
            {% set darrow_active='arrow'%}
            {% set dtoggle_active='toggle'%}
            {% set dradius_active='shape'%}
            {% set dpr_active='pr35'%}
            {% set dmr_active='mr40'%}
        {% end %}
        <li class="goods-list-item font10 text-grey Ganguo  {{dpr_active}}" data-id="{{dry_fruit.id}}" data-type="fruit" data-num="{{dry_fruit.storage}}">
            <div class="clearfix box bg">
                <div class="goods-img pull-left">
                    <a href="javascript:;" class="check-lg-img">
                        <span class="tag text-white text-center tagItem font8" data-id="{{dry_fruit.tag}}"></span>
                        {% if fruit.img_url %}
                        <img src="{{dry_fruit.img_url}}?imageView/1/w/200/h/200" class="img">
                        {% else %}
                        <img src="/static/design_img/{{dry_fruit.fruit_type.code}}.gif" class="img">
                        {% end %}
                    </a>
                </div>
                <input type="hidden" class="fruit_intro" value="{{dry_fruit.intro}}"/>
                <div class="goods-info pull-left">
                    <div class="show-box {{dtoggle_active}}">
                        <p>
                            <span class="pull-left color fruit-name font16">{{dry_fruit.name}}</span>
                            <span class="pull-right text-grey sale font12">销量：<span class="color">{{dry_fruit.saled}}</span></span>
                        </p>
                        <p class="great-number font12">
                            {% if dry_fruit.favour%}
                            <em class="red-heart"></em>
                            {% else %}
                            <em class="gray-heart"></em>
                            {% end %}
                            <span  class="great">{{dry_fruit.favour}}</span>
                        </p>
                        <div class="charge-first charge-style  font16 color">
                            {% if dry_fruit.charge_types %}
                            <span class="pull-left text-bgcolor p0 charge-type line34 height34 forbid_click" data-id="{{dry_fruit.charge_types[0].id}}">
                                {{dry_fruit.charge_types[0].price}}元/{{dry_fruit.charge_types[0].num}}
                                <span data-id="{{fruit.charge_types[0].unit}}" class="chargeUnit"></span>
                            </span>
                            {% end %}
                            <span class="to-add pull-right show forbid_click"></span>
                            <span class="pull-right p0 number-change hidden forbid_click {{dmr_active}}">
                                <a class="minus-plus  pull-right number-plus" href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus " href="javascript:;"></a>
                            </span>
                        </div>
                    </div>
                    <ul class="charge-list charge-style color set-width-float font16 {{dtoggle_active}} color" style="display:none">
                        {% for charge in dry_fruit.charge_types %}
                        {% if charge.id !=dry_fruit.charge_types[0].id %}
                        <li class="border-color set-w100-fle">
                            <span class="pull-left text-bgcolor p0 charge-type forbid_click" data-id="{{charge.id}}">
                                {{charge.price}}元/{{charge.num}}
                                <span data-id="{{charge.unit}}" class="chargeUnit"></span>
                            </span>
                            <span class="to-add pull-right show forbid_click"></span>
                            <span class="pull-right p0 number-change hidden forbid_click {{dmr_active}}">
                                <a class="minus-plus pull-right number-plus" href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus" href="javascript:;"></a>
                            </span>
                        </li>
                        {% end %}
                        {% end %}
                    </ul>
                </div>
                <span class="{{dradius_active}} back-shape bg"></span>
                <span class="{{darrow_active}} icon-bg toggle_icon"></span>
            </div>
        </li>
        {% end %}
    </ul>
    {% end %}
    {% for menu in menus %}
    {% if mgoods[menu.id] %}
    <p class="text-white no-mar-btom classify-title font18 text-center rainshed_green" id="menu{{menu.id}}">{{menu.name}}</p>
    <ul class="goods-list menu-list">
    {% end %}
    {% for mgood in mgoods[menu.id]%}
        {% set marrow_active=''%}
        {% set mtoggle_active=''%}
        {% set mradius_active=''%}
        {% set mpr_active=''%}
        {% set mmr_active=''%}
        {%if len(mgood.mcharge_types) >1 %}
            {% set marrow_active='arrow'%}
            {% set mtoggle_active='toggle'%}
            {% set mradius_active='shape'%}
            {% set mpr_active='pr35'%}
            {% set mmr_active='mr40'%}
        {% end %}
        <li class="goods-list-item  font10 text-grey TDSG {{mpr_active}}" data-id="{{mgood.id}}" data-type="menu" data-num="{{mgood.storage}}">
            <div class="clearfix box bg">
                <div class="goods-img pull-left">
                    <a href="javascript:;" class="check-lg-img">
                        <span class="tag text-white text-center tagItem font8" data-id="{{mgood.tag}}"></span>
                        {% if mgood.img_url %}
                        <img src="{{mgood.img_url}}?imageView/1/w/200/h/200" class="img">
                        {% else %}
                        <img src="/static/design_img/TDSG.gif" class="img">
                        {% end %}
                    </a>
                </div>
                <input type="hidden" class="fruit_intro" value="{{mgood.intro}}"/>
                <div class="goods-info pull-left">
                    <div class="show-box {{mtoggle_active}}">
                        <p>
                            <span class="pull-left color fruit-name font16 color">{{mgood.name}}</span>
                            <span class="pull-right text-grey sale font12">销量：<span class="color">{{mgood.saled}}</span></span>
                        </p>
                        <p class="great-number font12">
                            {% if mgood.favour%}
                            <em class="red-heart"></em>
                            {% else %}
                            <em class="gray-heart"></em>
                            {% end %}
                            <span class="great">{{mgood.favour}}</span>
                        </p>
                        <div class="charge-first charge-style font16 color">
                            {% if mgood.mcharge_types %}
                            <span class="pull-left text-bgcolor p0 charge-type line34 height34 forbid_click" data-id="{{mgood.mcharge_types[0].id}}">
                                {{mgood.mcharge_types[0].price}}元/{{mgood.mcharge_types[0].num}}
                                <span data-id="{{mgood.mcharge_types[0].unit}}" class="chargeUnit"></span>
                            </span>
                            {% end %}
                            <span class="to-add pull-right show forbid_click"></span>
                             <span class="pull-right p0 number-change hidden forbid_click {{mmr_active}}">
                                <a class="minus-plus  pull-right number-plus " href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus" href="javascript:;"></a>
                            </span>
                        </div>
                    </div>
                    <ul class="charge-list charge-style color set-width-float font16 {{mtoggle_active}} color" style="display:none">
                        {% for charge in mgood.mcharge_types %}
                        {% if charge.id !=mgood.mcharge_types[0].id %}
                        <li class="border-color set-w100-fle">
                            <span class="pull-left text-bgcolor p0 charge-type forbid_click" data-id="{{charge.id}}">
                                {{charge.price}}元/{{charge.num}}
                                <span data-id="{{charge.unit}}" class="chargeUnit"></span>
                            </span>
                            <span class="to-add pull-right show forbid_click"></span>
                             <span class="pull-right p0 number-change hidden forbid_click {{mmr_active}}">
                                <a class="minus-plus pull-right number-plus" href="javascript:;"></a>
                                <input type="text" value="" class="number-input pull-right text-green text-center line34 height34"/>
                                <a class="minus-plus pull-right number-minus" href="javascript:;"></a>
                            </span>
                        </li>
                        {% end %}
                        {% end %}
                    </ul>
                </div>
                <span class="{{mradius_active}} back-shape bg"></span>
                <span class="{{marrow_active}} icon-bg toggle_icon"></span>
            </div>
        </li>
        {% end %}
    </ul>
    {% end %}
{% end %}
{% block bottom %}
<div class="modal fade large-img-box"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-green2 font16" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-green2 text-center" id="myModalLabel">是水果啊啊啊</h4>
            </div>
            <div class="modal-body set-width-float text-center">
                <img src="" id="largeImg"/>
                <p class="intro font16">哈哈哈哈哈哈</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="click-great text-center font18 text-grey3">赞一个</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade detail-box"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-green2 font18" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-green2 text-center" id="myModalLabel">公告详情</h4>
            </div>
            <div class="modal-body set-width-float text-center">
                <p class="detail font14"></p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default center-block">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="{{static_url('js/swipe.js')}}"></script>
<script src="{{static_url('js/market-home.js')}}"></script>
{% end %}
