{% extends 'detail-base.html' %}
{% block title %}我的订单{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-order-list.css')}}"/>
{% end %}
{% block top %}我的订单{% end %}
{% block content %}
{% if len(orders) == 0%}
    <h4 class="text-center">暂无订单！</h4>
{% end %}
<ul class="order-list bg-white">
    {% for order in orders %}
    {% set left=''%}
    {% set width=''%}
    {% set status=order.status %}
    {% if status ==4 %}
        {% set left='left50' %}
        {% set width='width50'%}
    {% elif status == 5%}
        {% set left='left100' %}
        {% set width='width100' %}
    {% end %}
     <li class="order-list-item" >
        <a href="{{reverse_url('customerOrderDetail',order.id)}}" class="detail-link">
            <header class="font14">
                <span class="pull-left pr10">订单编号：{{order.id}}</span>
                <span class="pull-left pl10 text-pink">{{order.shop.shop_name}}</span>
                <img class="icon" src="{{static_url('images/icon-arrow-right.png')}}"/>
                <span class="pull-right p010">物流详情</span>
            </header>
        </a>
        <div class="content" >
            <p class="p1" >送至：<span>{{order.address_text}}</span></p>
            <p class="p2" >
                <input type="hidden" value="{{order.create_date}}" class="create_time"/>
                <input type="hidden" value="{{order.create_date.year}}" class="create_year"/>
                <input type="hidden" value="{{order.create_date.month}}" class="create_month"/>
                <input type="hidden" value="{{order.create_date.day}}" class="create_day"/>
                <input type="hidden" value="{{order.today}}" class="send_day"/>
                <input type="hidden" value="{{order.status}}" class="order_status"/>
                <span>
                    <span class="un-arrive">预计</span>：<span class="send_date">今天</span>&nbsp;&nbsp;{{order.start_time}}~{{order.end_time}}&nbsp;&nbsp;送达
                </span>
                <span class="price-box pull-right text-pink"><span class="price font18">{{order.totalPrice}}</span>元</span>
            </p>
            <p>
                {% if order.status ==1 %}
                <a class="cancel">取消订单</a>
                {% else %}
                <span class="status_notice">订单已开始处理</span>
                {% end %}
            </p>
            <div class="status-bar-box">
                <div class="status-bar">
                    <div class="inner {{width}}"></div>
                    <div class="circle-icon {{left}}"></div>
                    <div class="status-box {{left}}">
                        <span class="status">
                            {% if status ==1 %}
                            已下单
                            {% elif status == 4%}
                            配送中
                            {% else %}
                            已送达
                            {% end %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% end %}
</ul>
{% end %}
{% block bottom %}<script src="{{static_url('js/market-order.js')}}"></script>{% end %}