{% extends 'base.html' %}
{% block title %}我的订单{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-center.css')}}"/>
{% end %}
{% block content %}
<ul class="bg-white">
    {% for order in orders %}
    <li class="order-list-item" >
        <a data-id="link" href="">
            <header >
                <p>订单编号：<span data-id="id">{{order.id}}</span></p>
                <img class="icon" src="{{static_url('images/icon-arrow-right.png')}}"/>
            </header>
        </a>
        <div class="content" >
            <p class="p1" >商品：
                <span data-id="summary">

                </span>
                送至：<span data-id="address">{{order.address_text}}</span>
            </p>
            <p class="p2" >
                <span data-id="deliveryTime">预计今天{{order.start_time}}~{{order.end_time}}送达</span>
                <a data-id="cancel" class="cancel" > 取消订单</a>
                <span class="price-box"><span class="price">{{order.totalPrice}}</span>元</span>
            </p>
            <div class="status-bar-box" data-id="status-bar-box" >
                <div class="status-bar" data-id="status-bar" >
                    <div class="inner" data-id="inner" ></div>
                    <div class="circle-icon" data-id="circle" ></div>
                    <div class="status-box" data-id="status-box"  >
                        <span class="status" data-id="status" ></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% end %}
</ul>
{% end %}
{% block bottom %}<script src="{{static_url('js/market-center.js')}}"></script>{% end %}