{% extends 'base.html' %}
{% block title %}个人中心{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-center.css')}}"/>
{% end %}
{% block content %}
    <div class="rainshed2 text-center font18 text-white"></div>
    <div class="user-info box-style bg-white m-b10 clearfix font16 text-center mt42 p0">
        <img src="{{static_url('images/rooftop.jpg')}}" class="bg"/>
        <a href="{{reverse_url('customerProfile')}}" class="user-img text-grey3">
            <img src="{{current_user.accountinfo.headimgurl}}" class="img img-circle"/>
            <div class="info">
                <p>
                    <span>{{current_user.accountinfo.nickname}}</span>
                    <span data-id="{{current_user.accountinfo.sex}}" class="user-sex"></span>
                </p>
            </div>
        </a>
    </div>
    <div class="bg-white m-b10 clearfix font14 box-style">
        <div class="w50 pull-left text-center border-rd">积分&nbsp;&nbsp;{{current_user.credits}}</div>
        <div class="w50 pull-left text-center">余额&nbsp;&nbsp;{{current_user.balance}}</div>
    </div>
    <div class="box-style bg-white m-b10 clearfix pb0">
        <p class="title  clearfix">
            <span class="pull-left font14"><em class="order-icon set-inl-blo"></em>我的订单</span>
            <a href="{{reverse_url('customerOrder')}}?action=all" class="text-grey pull-right font12">查看全部订单>></a>
        </p>
        <ul class="center-nav row text-center m-b0 clearfix font12 center-block">
            <li class="col-sm-3 col-xs-3 prl0">
                <a href="{{reverse_url('customerOrder')}}?action=unhandled">
                    <p class="text-grey3">未处理</p>
                    <p class="text-pink">{{count[3]}}</p>
                </a>
            </li>
            <li class="col-sm-3 col-xs-3 prl0">
                <a href="{{reverse_url('customerOrder')}}?action=waiting">
                    <p class="text-grey3">待收货</p>
                    <p class="text-pink">{{count[4]}}</p>
                </a>
            </li>
            <li class="col-sm-3 col-xs-3 prl0">
                <a href="{{reverse_url('customerOrder')}}?action=finish">
                    <p class="text-grey3">已送达</p>
                    <p class="text-grey2">{{count[5]}}</p>
                </a>
            </li>
            <li class="col-sm-3 col-xs-3 prl0">
                <a href="#">
                    <p class="text-grey3">售后订单</p>
                    <p class="text-pink">{{count[6]}}</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="box-style bg-white pb0 m-b10 clearfix">
        <p class="title clearfix">
            <span class="pull-left font14"><em class="collect-icon set-inl-blo"></em>我的收藏</span>
        </p>
        <p class="title clearfix border-td  address-manage">
            <span class="pull-left font14"><em class="address-icon set-inl-blo"></em>我的地址管理</span>
            <a href="javascript:;" class="text-green3 pull-right add-address  m-r10 address_item font14" style="display:none;">+添加收货地址</a>
        </p>
        <ul class="list-group m-b0 address-list address_item  clearfix" style="display:none;">
            {% for address in current_user.addresses%}
            <li class="address-item list-group-item radius0 clearfix" data-id="{{address.id}}">
                <p class="clearfix m-b0">
                    <span class="pull-left item_name">{{address.receiver}}</span>
                    <span class="pull-right item_phone">{{address.phone}}</span>
                </p>
                <p class="item_address m-b0">{{address.address_text}}</p>
                <p class="clearfix">
                    <a href="javascript:;" class="delete-btn pull-right delete-address"></a>
                    <a href="javascript:;" class="edit-btn m-r10 pull-right edit-address"></a>
                </p>
            </li>
            {% end %}
        </ul>
    </div>
    <a class="btn bg-pink text-white center-block" href="{{reverse_url('customerLogout')}}">退出登录</a>
    <div class="address-box modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                     <h4 class="title pull-left modal-title" id="myModalLabel">收货地址</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body font14">
                    <div class="w60 center-block">
                        <p class="clearfix">
                            <span class="pull-left tit set-inl-blo">收货人：</span>
                            <input type="text" id="address_name" class="pull-left"s/>
                        </p>
                        <p class="clearfix">
                            <span class="pull-left tit set-inl-blo">电话：</span>
                            <input type="text" id="address_phone" class="pull-left"s/>
                        </p>
                        <p class="clearfix">
                            <span class="pull-left tit set-inl-blo">收货地址：</span>
                            <input type="text" id="address_address" class="pull-left"s/>
                        </p>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn bg-green3 text-white addressEdit" style="display:none">确定</button>
                    <button class="btn bg-green3 text-white addressAdd" style="display:none">确定</button>
                    <button data-dismiss="modal" class="btn bg-greyc text-white">取消</button>
                </div>
            </div>
        </div>
    </div>
{% end %}
{% block bottom %}<script src="{{static_url('js/market-center.js')}}"></script>{% end %}