{% extends 'base.html' %}
{% block title %}【{{shop_name}}】一家不错的O2O店铺，快来关注吧~{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-center.css')}}"/>
{% end %}
{% block content %}
    <span id="shop_imgurl" data-img="{{shop_logo}}"></span>
    <div class="rainshed2 text-center font18 text-white bg_change fix-title"></div>
    <div class="user-info box-style m-b5 clearfix font16 text-center mt42 p0">
        <a href="{{reverse_url('customerProfile')}}" class="user-img text-grey3">
            <div class="wrap-img"><img src="{{current_user.accountinfo.headimgurl}}" class="img img-circle"/></div>
            <div class="info">
                <p class="text-center mt5">
                    <span>{{current_user.accountinfo.nickname}}</span>
                    <span data-id="{{current_user.accountinfo.sex}}" class="user-sex  font14"></span>
                </p>
            </div>
        </a>
        <img src="{{static_url('images/rooftop.png')}}?v=20150316" class="bg"/>
    </div>
    <!--<div class="bg-white m-b10 clearfix box-style title">
        <span class="font14">当前店铺积分：<span class="current_point" data-point="{{shop_point}}"></span></span>
        <a href="{{reverse_url('customerPoints')}}" class="text-grey9 pull-right">查看详情>></a>
    </div>-->
   <div class="bg-white m-b10 clearfix font14 box-style">
        <div class="w50 pull-left text-center border-rd title2"><a href="{{reverse_url('customerPoints')}}" class="text-grey3 bk">积分&nbsp;&nbsp;{{shop_point}}</a></div>
        <div class="w50 pull-left text-center title2"><a href="{{reverse_url('customerBalance')}}" class="text-grey3 bk user-balance" data-auth="{{show_balance}}" data-status="{{balance_on}}">余额&nbsp;&nbsp;{{shop_balance}}</a></div>
 </div>

    <div class="bg-white m-b10 clearfix pb0">
        <p class="title clearfix box-style">
            <span class="pull-left font14"><em class="order-icon set-inl-blo pull-left bg_change"></em>我的订单</span>
            <a href="{{reverse_url('customerOrder')}}?action=all" class="text-grey9 pull-right font13">查看全部订单<i class="arr-right pull-right"></i></a>
        </p>
        <ul class="center-nav row text-center m-b0 clearfix font12 center-block box-style">
            <li class="w25 pull-left prl0 m-b8">
                <a href="{{reverse_url('customerOrder')}}?action=unhandled">
                    <em class="order1-icon set-inl-blo bg_change"></em>
                    {% if count[3] != 0 %}
                    <span class="order-num bg-pink text-white">{{count[3]}}</span>
                    {% end %}
                    <p class="text-grey3 text-center font10 mt1">未处理</p>
                </a>
            </li>
            <li class="w25 pull-left prl0 m-b8">
                <a href="{{reverse_url('customerOrder')}}?action=waiting">
                    <em class="order2-icon set-inl-blo bg_change"></em>
                    {% if count[4] != 0 %}
                    <span class="order-num bg-pink text-white">{{count[4]}}</span>
                    {% end %}
                    <p class="text-grey3 text-center font10 mt1">待收货</p>
                </a>
            </li>
            <li class="w25 pull-left prl0 m-b8">
                <a href="{{reverse_url('customerOrder')}}?action=finish">
                    <em class="order3-icon set-inl-blo bg_change"></em>
                    {% if count[5] != 0 %}
                    <span class="order-num bg-pink text-white">{{count[5]}}</span>
                    {% end %}
                    <p class="text-grey3 text-center font10 mt1">未评价</p>
                </a>
            </li>
            <li class="w25 pull-left prl0 m-b8">
                <a href="#">
                    <em class="order4-icon set-inl-blo bg_change"></em>
                    {% if count[6] != 0 %}
                    <span class="order-num bg-pink text-white">{{count[6]}}</span>
                    {% end %}
                    <p class="text-grey3 text-center font10 mt1">售后订单</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="box-style bg-white pb0 m-b10 clearfix pr0">
        <!--<div class="title clearfix">
            <span class="pull-left font14"><em class="collect-icon set-inl-blo pull-left bg_change"></em>我的收藏</span>
        </div>
        <hr/>-->
        <button class="title clearfix address-manage">
            <span class="pull-left font14"><em class="address-icon set-inl-blo pull-left bg_change"></em>我的地址管理</span>
            <a href="javascript:;" class="text-green3 pull-right add-address  m-r10  font14 forbid_click" style="display:none">+添加收货地址</a>
        </button>
        <div class="address-list clearfix" style="display:none;">
             <ul class="list-group m-b0   clearfix">
            {% for address in current_user.addresses%}
            <li class="address-item list-group-item radius0 clearfix" data-id="{{address.id}}">
                <p class="clearfix m-b0 height20">
                    <span class="pull-left item_name">{{address.receiver}}</span>
                    <span class="pull-right item_phone">{{address.phone}}</span>
                </p>
                <p class="clearfix item_address m-b0 height20">{{address.address_text}}</p>
                <p class="clearfix height20">
                    <a href="javascript:;" class="delete-btn pull-right delete-address"></a>
                    <a href="javascript:;" class="edit-btn m-r10 pull-right edit-address"></a>
                </p>
            </li>
            {% end %}
        </ul>
        </div>   
    </div>
{% end %}
{% block other %}
<div class="address-box modal fade" id="address_box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-top"><img src="/static/images/info_top.png"/></div>
            <div class="modal-header clearfix bg_change">
                <h2 class="modal-title line48">收货地址</h2>
                <button type="button" class="close dismiss">✕</button>
            </div>
            <div class="modal-body font14">
                <div class="w60 center-block pt10">
                    <p class="set-inl-blo m-b5">
                        <span class="pull-left tit set-inl-blo">收货人：</span>
                        <input type="text" id="address_name" class="pull-left bg-white"/>
                    </p>
                    <p class="set-inl-blo m-b5">
                        <span class="pull-left tit set-inl-blo">电话：</span>
                        <input type="text" id="address_phone" class="pull-left bg-white"/>
                    </p>
                    <p class="set-inl-blo">
                        <span class="pull-left tit set-inl-blo">收货地址：</span>
                        <input type="text" id="address_address" class="pull-left bg-white"/>
                    </p>
                </div>
            </div>
            <div class="modal-warn">
            </div>
            <div class="modal-footer text-center">
                <button class="btn sure_btn bg-green3 text-white addressEdit" style="display:none">确定</button>
                <button class="btn sure_btn bg-green3 text-white addressAdd" style="display:none">确定</button>
            </div>
            <div class="modal-bottom"><img src="/static/images/info_bot.png"/></div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/market-center.js')}}"></script>
{% end %}
