{% extends 'detail-base.html' %}
{% block title %}我的积分{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/market-points.css')}}"/>
{% end %}
{% block top %}返回{% end %}
{% block content %}
<div class="points_box bg-blue mt40 text-white">
        <img src="{{static_url('images/points.png')}}" class="points_img pull-left"/>
        <span class="pull-left font14 ml10">当前店铺积分:<span class="current_point" data-point="{{shop_point}}"></span></span>
        <button class="rules pull-right btn bg-blue">积分规则</button>
</div>
<p class="font16 p_10">积分历史</p>
<ul class="points-list text-grey6">
</ul>
<input type="hidden" value="{{pages}}" id="page_count"/>
<div class="modal fade comment-box" id="pointsBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-top"><img src="/static/images/info_top.png"/></div>
            <div class="modal-header">
                <button type="button" class="close dismiss">✕</button>
                <h2 class="modal-title line48">积分规则</h2>
            </div>
            <div class="modal-body set-width-float text-grey6">
                <ul class="rule_list font14">
                    <li><span class="pull-left">每关注一个店铺</span> <span class="pull-right">+10</span></li>
                    <li><span class="pull-left">签到一次</span><span class="pull-right">+1</span></li>
                    <li><span class="pull-left">连续签到7天</span><span class="pull-right">+5</span></li>
                    <li><span class="pull-left">一个月连续签到</span><span class="pull-right">+20</span></li>
                    <li><span class="pull-left">使用余额支付</span><span class="pull-right">+2</span> </li>
                    <li><span class="pull-left">商品点赞</span><span class="pull-right">+1</span></li>
                    <li><span class="pull-left">订单评价</span><span class="pull-right">+5</span></li>
                    <li><span class="pull-left">第一次添加地址</span><span class="pull-right">+5</span></li>
                    <li><span class="pull-left">绑定手机号</span><span class="pull-right">+10</span></li>
                    <!--<li><span class="pull-left">客户端下单</span><span class="pull-right">额外+2</span></li>-->
                </ul>
                <p class="text-center mt10">(注:您在每个店铺的积分独立)</p>
            </div>
           <div class="modal-bottom"><img src="/static/images/info_bot.png"/></div>
        </div>
    </div>
</div>
<p class="loading text-center text-grey9 font12" style="display:none">~努力加载中 ( > < )~</p>
<p class="no_more text-center text-grey9 font12" style="display:none">~没有更多了呢 ( > < )~</p>
{% end %}
{% block bottom %}<script src="{{static_url('js/market-points.js')}}"></script>{% end %}
