{% extends 'detail-base.html' %}
{% block title %}账户充值{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block top %}返回{% end %}
{% block content %}
<div class="wrap-rec-ipt group">
    <span class="left">充值金额：</span>
    <span class="right"><input id="money" class="rec-ipt" type="text" pattern="\d*" novalidate autocorrect="off"/>&nbsp;元</span>
</div>
<div class="wrap-bal-ma">
        <div class="wrap-commit">
            <a href="javascript:;" id="commit-weixin-rec">确 定</a>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script>
    var renderPayParams = {{renderPayParams}};
</script>
<script src="{{static_url('js/jweixin-1.0.js')}}"></script>
<script src="{{static_url('js/weixin.js')}}"></script>
<script src="{{static_url('js/market-recharge-weixin.js')}}"></script>
{% end %}
