{% extends 'detail-base.html' %}
{% block title %}余额充值{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block top %}余额充值{% end %}
{% block content %}
<div class="wrap-rec-ipt group">
    <span class="left">充值金额：</span>
    <span class="right"><input id="money" class="rec-ipt" type="tel" novalidate autocorrect="off"/>&nbsp;元</span>
</div>
<div class="wrap-bal-ma">
    <div class="bal-balbox hide">
        <h3>充值优惠：</h3>
        <p>1、一次性充值100元送3元</p>
        <p>2、一次性充值300元送10元</p>
        <p>3、一次性充值500元送20元</p>
    </div>
    <div class="bal-balbm">
        <h3>选择充值方式</h3>
        <ul class="rec-bm-lst">
            <li class="">
                <dl class="wrap-rec-item group">
                    <dd class="fl">
                        <img src="/static/images/wx_l.png" alt="微信"/>
                    </dd>
                    <dt class="fl group">
                        <div class="rec-left fl">
                            <p>微信支付</p>
                            <p class="f12 c999">推荐安装5.0及以上版本</p>
                        </div>
                        <div class="rec-right fr">
                            <input class="check-ipt checked" type="button" data-index="0"/>
                        </div>
                    </dt>
                </dl>
            </li>
            <li class="">
                <dl class="wrap-rec-item group">
                    <dd class="fl">
                        <img src="/static/images/alipay_l.png" alt="支付宝"/>
                    </dd>
                    <dt class="fl">
                        <div class="rec-left fl">
                            <p>支付宝支付</p>
                            <p class="f12 c999">建议在PC网页支付</p>
                        </div>
                        <div class="rec-right fr">
                            <input class="check-ipt" type="button" data-index="1"/>
                        </div>
                    </dt>
                </dl>
            </li>
            <li class="">
                <dl class="wrap-rec-item group">
                    <dd class="fl">
                        <img src="/static/images/card_l.png" alt="银行卡"/>
                    </dd>
                    <dt class="fl group">
                        <div class="rec-left fl">
                            <p>银行卡支付</p>
                            <p class="f12 c999">支持储蓄卡信用卡，无需开通网银</p>
                        </div>
                        <div class="rec-right fr">
                            <input class="check-ipt" type="button" data-index="2"/>
                        </div>
                    </dt>
                </dl>
            </li>
        </ul>
        <div class="wrap-commit">
            <a class="grey-bg" href="javascript:;" id="commit-rec" data-statu="0">确 定</a>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/market-recharge.js')}}"></script>
{% end %}
