{% extends 'base.html'%}
{% block title %}商品搜索列表{% end %}

{% block head%}
<link rel="stylesheet" href="{{static_url('css/market-home.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/fruit-color.css')}}"/>
{% end %}
{% block header%}

{% end%}

{% block content%}
<header class="herder bg-green text-white text-center">
        <a href="javascript:;" class="back" id="back"></a>
        <input type="text" placeholder="请输入商品名" class="search-linput pull-left" id="searchKey"/>
        <a href="javascript:;" class="search-btn" id="searchSubmit"></a>
</header>
<div class="shoplist_box mt40">
    <ul class="shoplist">

    </ul>
</div>
<div class="loading text-center text-grey9 font12  text-green mt10 mb10" style="display:none">~努力加载中 ( > < )~</div>
<div class="no_more text-center text-grey9 font12  text-green mt10 mb10" style="display:none">~没有更多了呢 ( > < )~</div>

{% end %}
{% block bottom %}
<script src="{{static_url('js/market-home.js')}}"></script>
{% end %}