{% extends 'detail-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-staff.css')}}"/>{% end %}
{% block top %}店铺成员信息{% end %}
{% block content %}
  <ul class="staff-list">
      <li class="staff-item bg-white clearfix">
          <div class="staff-info set-w100-fle">
              <div class="pull-left">
                  <img src="{{static_url('images/anoa-4-md.gif')}}" class="pull-left">
                  <div class="pull-right p010">
                      <p>呵呵呵呵呵</p>
                      <p>出生年月：2888年6月</p>
                      <p>职位：店长</p>
                  </div>
              </div>
              <div class="pull-right">
                    <a href="javascript:;" class="collect-btn btn text-green">收藏</a>
              </div>
          </div>
          <ul class="staff-info set-w100-fle">
              <li>手机号：8888888</li>
              <li>微信号：8888888</li>
              <li>QQ：8888888</li>
          </ul>
      </li>
  </ul>
{% end %}