{% extends 'detail-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-staff.css')}}"/>{% end %}
{% block top %}店铺成员信息{% end %}
{% block content %}
  <ul class="staff-list pt36">
      {% for member in member_list%}
      <li class="staff-item bg-white clearfix">
          <div class="staff-info set-w100-fle">
              <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 p0">
                  <div class="pull-left img">
                      <img src="{{member['img']}}">
                  </div>
                  <div class="pull-left p010">
                      <p>{{member['name']}}</p>
                      <p>出生年月：{{member['birthday']}}</p>
                      <p>职位：{{member['work']}}</p>
                  </div>
              </div>
              <!--<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 p0">-->
                    <!--<a href="javascript:;" class="collect-btn btn text-green3 pull-right">收藏</a>-->
              <!--</div>-->
          </div>
          <ul class="staff-info set-w100-fle">
              <li>手机号：{{member['phone']}}</li>
              <li>微信号：{{member['wx_username']  or '无'}}</li>
              <!--<li>QQ：8888888</li>-->
          </ul>
      </li>
      {% end %}
  </ul>
{% end %}