{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-shop.css')}}"/>{% end %}
{% block content %}
<div class="rainshed_green text-center font18 text-white fix-title">店铺详情</div>
 <div class="info1 bg-white clearfix mt42">
     <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 shop-logo p5">
         <img src="{{shop.shop_trademark_url or static_url('design_img/TDSG.png')}}">
     </div>
     <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 p5">
        <p class="font16">{{shop.shop_name}}</p>
        <p class="font12">店铺号：<span class="">{{shop.shop_code}}</span></p>
     </div>
     <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 p5">
         <div class="level-box btn text-green3 font9 border-ca w49 p0">
             <p><em class="set-inl-blo text-white text-center">1</em>初来乍到</p>
         </div>
         {% set sign_bg='' %}
         {% set sign_text='' %}
         {% set follow_show='' %}
         {% set sign_color='' %}
         {% if follow%}
             {% set follow_show='hidden' %}
             {% set sign_show='show' %}
         {% else %}
            {% set follow_show='show' %}
            {% set sign_show='hidden' %}
         {% end %}
         {% if signin %}
            {% set sign_bg='bg-grey3' %}
            {% set sign_color='text-white' %}
            {% set sign_text='已签到' %}
         {% else %}
            {% set sign_text='店铺签到' %}
         {% end %}
         <a href="javascript:;" class="btn text-green3 font9 border-ca pull-right w49 sign-box p0 {{sign_bg}} {{sign_show}} {{sign_color}}" id="signin-shop"><em class="set-inl-blo"></em><span class="sign_text">{{sign_text}}</span></a>
         <a href="javascript:;" class="btn text-white bg-pink font9 border-ca pull-right w49 sign-box p0 {{follow_show}}" id="focus-shop">+店铺关注</a>
     </div>
 </div>
 <ul class="info2 text-center bg-white clearfix font12">
     <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <p class="text-grey6">运营时间</p>
        <p>{{operate_days or 0}}天</p>
     </li>
     <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
         <p class="text-grey6">粉丝</p>
         <p>{{fans_sum or 0}}个</p>
     </li>
     <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
         <p class="text-grey6">总订单数</p>
         <p>{{order_sum}}个</p>
     </li>
     <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
         <p class="text-grey6">商品种类</p>
         <p>{{goods_sum or 0}}种</p>
     </li>
 </ul>
<div class="shop-box bg-white">
    <p class="title font14">店铺信息：</p>
    <ul class="shop-info text-grey6 font14">
        <li>位置：{{address}}</li>
        <li>配送区域：{{shop.deliver_area or '无'}}<!--<em class="area-icon set-inl-blo pull-right"></em>--></li>
        <li>联系电话：{{shop.admin.accountinfo.phone}}<a href="tel:{{shop.admin.accountinfo.phone}}" class="pull-right"><em class="phone-icon set-inl-blo "></em></a></li>
        <li class="clearfix"><span class="pull-left">店铺简介：</span><span class="pull-left set-inl-blo w8">{{shop.shop_intro or '无'}}</span></li>
    </ul>
</div>
<div class="shop-box bg-white clearfix">
    <p class="title clearfix">
        <span class="pull-left font14">店铺成员（{{len(headimgurls)}}）：</span>
        <a href="{{reverse_url('customerMembers')}}" class="pull-right text-grey9 font12 m-r5">查看更多>></a>
        <a href="#" class="staff_href pull-right text-green3 pr10 font12">+加入该店</a>
    </p>
    <ul class="staff-img clearfix">
        {% for staff_img in headimgurls %}
        <li class="pull-left"><img src="{{staff_img[0]}}"></li>
        {% end %}
    </ul>
</div>
<div class="shop-box bg-white clearfix">
    <p class="title clearfix">
        <span class="pull-left font14">店铺评价（{{comment_sum}}）：</span>
        <a href="{{reverse_url('customerComment')}}?page=0" class="pull-right text-grey9 font12 m-r5">查看更多>></a>
    </p>
    <ul class="user-comment">
        {% for comment in comments %}
        <li class="comment-item set-w100-fle">
            <div class="img-box col-sm-2 col-xs-2 col-md-2 col-lg-1 p0">
                <img src="{{comment[0]}}" class="img">
            </div>
            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-11 p0">
                <p class="clearfix text-grey">
                    <span class="pull-left m-b5 font14">{{comment[1]}}</span>
                    <span class="pull-right">{{handler.timedelta(comment[3])}}</span>
                </p>
                <p>{{comment[2] or '无'}}</p>
            </div>
        </li>
        {% end %}
    </ul>
</div>
{% end %}
{% block other %}
{% if not follow %}
<div class="text-white navbar-fixed-bottom bg-green foucus-notice text-center font16">点击上方“店铺关注”按钮后点此进入商城^_^</div>
{% end %}
{% end %}
{% block bottom %}<script src="{{static_url('js/market-shop.js')}}"></script>{% end %}