{% extends 'base.html' %}
{% block title %}【{{shop_name}}】 一家不错的O2O店铺，快来关注吧~{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/market-shop.css')}}"/>{% end %}
{% block content %}
<span id="shop_info" data-img="{{shop_logo}}"></span>
<div class="rainshed text-center font18 text-black fix-title bg_change">店铺详情</div>
 <div class="info1 bg-white clearfix mt42 pt20">
     <div class="shop-logo pull-left">
         <img src="{{shop.shop_trademark_url or static_url('design_img/TDSG.png')}}?imageView/1/w/170/h/170">
     </div>
     <div class="info set-w100-fle">
        <p class="font16 line18">{{shop.shop_name}}</p>
        <p class="font12 mt10 m-b10">店铺号：<span class="">{{shop.shop_code}}</span></p>
     </div>
     <div class="info set-w100-fle">
         <!--<div class="level-box btn font9 border-ca w49 p0 bg-grey5">
             <div class="font10 m-b5 clearfix">
                 <em class="set-inl-blo text-white text-center pull-left bg_change">1</em>
                 <span class="pull-left">初来乍到</span>
             </div>
             <span class="status-box border-ca set-inl-blo clearfix">
                 <span class="status-percent bg-green set-inl-blo"></span>
             </span>
         </div>-->
         {% set sign_bg='' %}
         {% set sign_text='' %}
         {% set follow_show='' %}
         {% set sign_color='' %}
         {% set ml20='' %}
         {% set sign_status=''%}
         {% if follow%}
             {% set follow_show='hidden' %}
             {% set sign_show='show' %}
         {% else %}
            {% set follow_show='show' %}
            {% set sign_show='hidden' %}
         {% end %}
         {% if signin %}
            {% set sign_bg='bg-grey3' %}
            {% set sign_color='text-white' %}
            {% set sign_text='已签到' %}
            {% set sign_status='signed'%}
         {% else %}
            {% set sign_text='店铺签到' %}
            {% set ml20='ml20' %}
            {% set sign_status='un_sign'%}
         {% end %}
         <button class="btn text-green3 font12 border-ca pull-left w49 sign-box p0 {{sign_bg}} {{sign_show}} {{sign_color}} {{sign_status}} font13 bg-grey5" id="signin-shop">
             {% if not signin %}
             <em class="set-inl-blo bg_change"></em>
             {% end %}
             <span class="sign_text {{ml20}}">{{sign_text}}</span>
         </button>
         <button  class="btn text-white bg-pink font12 border-ca pull-right w49 sign-box p0 {{follow_show}} font13 bg-grey5" id="focus-shop">+店铺关注</button>
     </div>
 </div>
 <ul class="info2 text-center bg-white set-w100-fle font12 m-b10">
     <li class="w25 pull-left">
        <p class="text-grey9 text-center">运营时间</p>
        <p class="text-center">{{operate_days or 0}}天</p>
     </li>
     <li class="w25 pull-left">
         <p class="text-grey9 text-center">粉丝</p>
         <p class="text-center">{{fans_sum or 0}}个</p>
     </li>
     <li class="w25 pull-left">
         <p class="text-grey9 text-center">总订单数</p>
         <p class="text-center">{{order_sum}}个</p>
     </li>
     <li class="w25 pull-left">
         <p class="text-grey9 text-center">商品种类</p>
         <p class="text-center">{{goods_sum or 0}}种</p>
     </li>
 </ul>
<div class="shop-box bg-white clearfix">
    <p class="title font14 clearfix">店铺信息：</p>
    <ul class="shop-info text-grey9 font14">
        <li class="set-w100-fle"><span class="pull-left">店铺地址：</span><span class="pull-left set-inl-blo w8">{{address}}</span></li>
        <li class="set-w100-fle"><span class="pull-left">配送区域：</span><span class="pull-left set-inl-blo w8">{{shop.deliver_area or '无'}}<!--<em class="area-icon set-inl-blo pull-right"></em>--></span></li>
        <li class="set-w100-fle">联系电话：{{shop.shop_phone or '无'}}<a href="tel:{{shop.shop_phone }}" class="phone_icon"><em class="phone-icon set-inl-blo bg_change"></em></a></li>
        <li class="set-w100-fle"><span class="pull-left">店铺简介：</span><span class="pull-left set-inl-blo w8">{{shop.shop_intro or '无'}}</span></li>
    </ul>
</div>
<div class="shop-box bg-white clearfix">
    <p class="title set-w100-fle">
        <span class="pull-left font14">店铺成员（{{len(headimgurls)}}）：</span>
        <a href="{{reverse_url('customerMembers')}}" class="pull-right text-grey9 font12 m-r5">查看更多>></a>
        <a href="#" class="staff_href pull-right text-green3 pr10 font12">+加入该店</a>
    </p>
    <ul class="staff-img set-w100-fle">
        {% for staff_img in headimgurls %}
        <li class="pull-left"><img src="{{staff_img[0]}}"></li>
        {% end %}
    </ul>
</div>
<div class="shop-box bg-white clearfix">
    <p class="title set-w100-fle">
        <span class="pull-left font14">店铺评价（{{comment_sum}}）：</span>
        <a href="{{reverse_url('customerComment')}}?page=0" class="pull-right text-grey9 font12 m-r5">查看更多>></a>
    </p>
    <ul class="user-comment clearfix">
        {% for comment in comments %}
        <li class="comment-item set-w100-fle">
            <div class="img-box pull-left">
                <img src="{{comment[0]}}" class="img">
            </div>
            <div class="con set-w100-fle">
                <p class="clearfix text-grey">
                    <span class="pull-left m-b5 font14">{{comment[1]}}</span>
                    <span class="pull-right">{{handler.timedelta(comment[3])}}</span>
                </p>
                <p class="text-grey9">{{comment[2] or '无'}}</p>
            </div>
        </li>
        {% end %}
    </ul>
</div>
{% end %}
{% block other %}
<!--{% if not follow %}
<div class="text-white navbar-fixed-bottom bg-pink foucus-notice text-center font16">点击上方 “店铺关注” 按钮后点此进入商城ヾ(●´▽`●)ノ</div>
{% end %}-->
{% end %}
{% block bottom %}
<script src="/static/js/jweixin-1.0.js"></script>
<script src="{{static_url('js/market-shop.js')}}"></script>
{% end %}
