{% extends 'base.html' %}
{% block title %}森果市场推广系统{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <span>入驻成功</span>
</div>
{% end %}
{% block content %}
<div class="wrap-shop-list">
    <div class="success-box">
        <p class="f16">水果太太已成功入驻森果平台</p>
        <p>入驻时间 : 2015-05-06 13:23:23</p>
        <p>负责人 : 陈逸林</p>
        <a href="http://senguo.cc/zhoubing" class="test-shop">下单测试</a>
    </div>
</div>
{% end %}
{% block fix %}
{% end %}
{% block bottom %}
{% end %}