{% extends 'base.html' %}
{% block title %}店铺入驻成功{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <span>入驻成功</span>
</div>
{% end %}
{% block content %}
<div class="wrap-shop-list">
    <div class="success-box">
        <p class="f16">{{shop_name}}已成功入驻森果平台</p>
        <p>入驻时间 : {{done_time}}</p>
        <p>负责人 : {{curator}}</p>
        <a href="http://senguo.cc/{{shop_code}}" class="test-shop">下单测试</a>
    </div>
</div>
{% end %}
{% block fix %}
{% end %}
{% block bottom %}
{% end %}