{% extends 'base.html'%}
{% block title %}{{shop_name}}-告白墙-个人中心{% end %}
{% block content %}
<header class="detail-header text-white center-block">
    <a href="{{reverse_url('ConfessionCenter')}}" class="return-btn bg_change">&nbsp;</a>
    <span class="title font16">
    	{% if action == 'public' %}
    	我发布的告白
    	{% elif action =='receive' %}
    	我收到的告白
    	{% else %}
    	我评论过的告白
    	{% end %}
    </span>
</header>
<input type="hidden" id="nomore" value="{{nomore}}" />
<div class=" box mt50">
	{% if datalist%}
		<ul class="list-box group">
			{% for list in datalist%}
			<li class="fl">
				<p class="mb10 group">
					<span class="fl text-grey6">From:{% if list['type'] == 1%}匿名用户{% else %}{{list['fromwho']}}{% end %}&nbsp;&nbsp;To:{{list['name']}}</span>
					<span class="fr text-grey6">{{list['time']}}</span>
				</p>
				<p>{{list['confession']}}</p>
			</li>
			{% end %}
		</ul>
	<div class="text-grey9 set-w100-fle font12 loading txt-ac mt10">~努力加载中 ( > < )~</div>
	{% else %}
		<div  class="txt-ac no-record">
			<img src="/static/images/empty.png" class="mb10"/>
			<h1>这里啥也没有!</h1>
		</div>
	{% end %}
</div>
{% end %}{% block bottom %}<script src="/static/js/confession/center.js"></script>{% end %}