<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title %}森果-水果o2o领跑者{% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/m-official.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <script src="/static/js/slip.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<main class="container text-center">
    <div class="container-box" id="container">
        <div class="bg-green w100 h100 pull-left box page page-1">
            <img src="" class="mt20 lazy_img" data-src="{{static_url('m-official/1.svg')}}"/>
            <div class="word-bottom">
                <p class="font14 text-white">线上卖水果，森果更懂你</p>
            </div>
            <img src="" class="notice lazy_img" data-src="{{static_url('m-official/slide.gif')}}"/>
        </div>
        <div class="bg-red w100 h100 pull-left box page page-2">
            <img src="" class="lazy_img" data-src="{{static_url('m-official/2.svg')}}"/>
            <div class="word-bottom">
                <a href="{{reverse_url('fruitzoneShopApply')}}" class="btn text-white font14 mb">免费接入</a>
                <p class="text-white">了解更多登陆电脑版 senguo.cc</p>
             </div>
            <img src="" class="notice lazy_img" data-src="{{static_url('m-official/slide.gif')}}"/>
        </div>
        <div class="bg-blue w100 h100 pull-left box page page-3">
            <p class="font16 text-white mt20">精致简约的商城设计</p>
            <img src="" class="mt100 lazy_img" data-src="{{static_url('m-official/3.png')}}"/>
            <div class="word-bottom">
                <p class="font14 text-white">比美团更<span class="font16">美</span>，比有赞更<span class="font16">赞</span></p>
             </div>
            <img src="" class="notice lazy_img" data-src="{{static_url('m-official/slide.gif')}}"/>
        </div>
        <div class="bg-purple w100 h100 pull-left box page page-4">
            <p class="text-white text-right mr50 font16 mt20 mr20">高效简洁的后台</p>
            <p class="text-white text-right mr20 font18 mr20">系统</p>
            <img src="" class="w80 lazy_img" data-src="{{static_url('m-official/4.png')}}"/>
            <div class="word-bottom">
                <p class="font14 text-white">因为<span class="font16">专注</span>，所以<span class="font16">专业</span></p>
            </div>
            <img src="" class="notice lazy_img" data-src="{{static_url('m-official/slide.gif')}}"/>
        </div>
        <div class="bg-pink w100 h100 pull-left box page page-5">
            <div class="bg-purple2 p10">
                <p class="text-white font16 text-left mr30">把你的水果店</p>
                <p class="text-white font16 text-right mr20">零成本搬到网上来</p>
            </div>
            <div class="arrow_bottom"></div>
            <div class="mt90 max-w600 center-block">
                <div class="text-center w40 pull-left">
                    <img src="" class="w100 lazy_img" data-src="{{static_url('m-official/5-fruitshop.svg')}}"/>
                </div>
                <div class="text-center w30 pull-left mt50">
                    <img src="" class="lazy_img" data-src="{{static_url('m-official/5-jiantou.svg')}}"/>
                </div>
                <div class="text-center w30 pull-left">
                    <img src="" class="w60 lazy_img" data-src="{{static_url('m-official/5-iphone-shop.png')}}"/>
                </div>
            </div>
            <div class="word-bottom">
                <a href="{{reverse_url('fruitzoneShopApply')}}" class="btn text-white font14 mb">免费接入</a>
                <p class="text-white">了解更多登陆电脑版 senguo.cc</p>
            </div>
        </div>
    </div>
</main>
{% block bottom %}
<script>
    var container = document.getElementById('container');
    var pages = document.querySelectorAll('.page');
    var slip = Slip(container, 'y').webapp(pages);
    Slip(document.getElementById('container'), 'y').webapp().end(function() {
        if (this.page === 5) location.reload();
    });
    var imgs=document.querySelectorAll('.lazy_img');
    for(var i=0;i<imgs.length;i++){
	var img_src=imgs[i].dataset.src;
	imgs[i].src=img_src;
}
</script>
{% end %}
</body>
</html>
