{% block title %}森果社区-发布帖子{% end %}
{% block head %}
<link href="/static/css/mobi/mobiscroll.custom-2.5.0.min.css" type="text/css" rel="stylesheet">
{% end %}
{% block content %}
<input class="c-time-txt" id="time_default" name="time_default"  value="2015-08-09 19:25">
{% end %}
{% block js %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
{% end %}
{% block bottom %}
<script src="/static/js/third/mobiscroll.custom-2.5.0.min.js"></script>
<script>
    $(function () {
        var year = new Date().getFullYear();
        var month = new Date().getMonth()+1;
        var day = new Date().getDate();
        var opt = {
        }
        opt.datetime = { preset : 'datetime', minDate: new Date(year,month,day,23,30), maxDate: new Date(2017,10,10,15,44), stepMinute: 5 };
        $('#time_default').scroller('destroy').scroller($.extend(opt['datetime'], { theme: 'android-ics light', mode: 'scroller', display: 'bottom', lang: '' }));
    });
</script>
{% end %}