{% extends 'base.html' %}

{% block content%}
<header class="title-box2 phone-box">
    <a href="javascript:history.back(-1)" class="return-btn"></a>
    <span class="title">店铺详情</span>
</header>
<div class="container phone-box shop-detail-box">
    <p class="info-title">店铺信息</p>
    <div class="info-box1">
        <div class="shop-info-detail">
            <div class="logo pull-left">
                <a href="" class="edit-img">
                    <img src="{{static_url('images/anoa-1-md.gif')}}"/>
                    <input type="file" class="edit"/>
                    <span class="click">点击修改图片</span>
                </a>
            </div>
            <div class="info pull-right">
                <p class="shop-name">We信水果帮</p>
                <p>湖北武汉</p>
                <p>服务区域：社区</p>
                <p>店面：有</p>
            </div>
        </div>
        <input type="text" value="编辑店铺链接" class="focus-btn"/>
    </div>
    <div class="info-box1">
        <ul class="shop-info-detail2 ">
            <li>
                <p>运营时间</p>
                <input tupe="text" value="点击填写"/>
            </li>
            <li>
                <p>总用户数</p>
                <input tupe="text" value="点击填写"/>
            </li>
            <li>
                <p>平均日销量</p>
                <input tupe="text" value="点击填写"/>
            </li>
            <li>
                <p>单次采购量</p>
                <input tupe="text" value="点击填写"/>
            </li>
        </ul>
    </div>
    <div class="info-box1">
        <p class="title2">店铺简介：</p>
        <textarea class="shop-intro">喵喵喵星人来啦！喵星人爱吃水果？不知道，也许～</textarea>
    </div>
    <div class="info-box1">
        <p class="title2">在售水果：</p>
        <ul class="sell-fruit-list">
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
        </ul>
        <p class="title2">求购水果：</p>
        <ul class="buy-fruit-list">
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
            <li>苹果</li>
        </ul>
    </div>
</div>
{% end %}