{% extends base.html %}
{% block head %}
<style>
    body{background:#F2F2F2;}
</style>
{% end %}
{% block content%}
<header class="title-box phone-box">
    <div class="title-box">
        <a href="javascript:history.back(-1)" class="return-btn">返回</a>
        <span class="title">个人中心</span>
    </div>
</header>
<div class="user-center-info white-color phone-box container">
    <a href="{{reverse_url('fruitzoneAdminProfile')}}">
        <img src="{{static_url('images/anoa-1-md.gif')}}" class="pull-left user-img"/>
        <div class="info pull-left">
            <p class="username">{{current_user.realname}}</p>
        </div>
    </a>
</div>
<div class="center-list phone-box container">
    <ul>
        <li class="white-color">
            <a href="{{reverse_url('fuirzoneAdminShops')}}">我的店铺管理</a>
        </li>
        <li class="white-color">
            <a href="#">我的收藏</a>
        </li>
        <li class="w1 white-color">
            <a href="#">使用帮助</a>
        </li>
        <li class="white-color">
            <a href="#">意见反馈 </a>
        </li>
        <li class="w1 white-color">
            <a href="#">关于森果</a>
        </li>
    </ul>
</div>
{% end %}