{% extends base.html %}
{% block head %}
<style>
    body{background:#F2F2F2;}
</style>
{% end %}
{% block content%}
<header class="apply-title title-box phone-box">
    <div class="phone-box">
        <a href="javascript:history.back(-1)" class="return-btn">返回</a>
        <span class="title">个人信息</span>
    </div>
</header>
<div class="user-info-detail phone-box container">
  <form action="/fruitzone/admin/profile" method="post">
        <ul>
            <li>
                <span class="title pull-left">头像</span>
                <img src="" class="pull-right"/>
            </li>
            <li>
                <span class="title pull-left">昵称</span>
                <span class="nickname pull-right s1">hahahahah</span>
            </li>
            <li>
                <span class="title pull-left">微信号</span>
                <a href="javascript:;" class="pull-right">点击设置</a>
            </li>
            <li>
                <span class="title pull-left">手机号</span>
                <a href="javascript:;" class="pull-right">点击设置</a>
            </li>
            <li>
                <span class="title pull-left">个人邮箱</span>
                <a href="javascript:;" class="pull-right s1">123@qq.com</a>
            </li>
            <li class="w1">
                <span class="title pull-left">性别</span>
                <a href="javascript:;" class="pull-right s1">其他</a>
            </li>
            <li>
                <span class="title pull-left">出生年月</span>
                <a href="javascript:;" class="pull-right">点击设置</a>
            </li>
            <li>
                <span class="title pull-left">个人说明</span>
                <a href="" class="pull-right">点击设置</a>
            </li>
        </ul>
  </form>
</div>
{% end %}