{% extends base.html%}

{% block content %}
<div class="container phone-box done-box">
    <div class="good-body">
        <img src="{{static_url('images/good.png')}}" class="good"/>
        <p class="good-text">恭喜</p>
        <p class="good-text">您的申请信息我们已经收到，</p>
        <p class="good-text">将在两个工作日内完成审核，</p>
        <p class="good-text">请注意查收邮件。</p>
        <a href="{{reverse_url('fruitzoneAdminHome')}}" class="check-btn green-color space">返回个人中心</a>
        <a href="{{reverse_url('fruitzoneHome')}}" class="check-btn green-color">查看同行商家</a>
        <a href="#" class="close-page">关闭当前页面</a>
    </div>
</div>
{% end %}