{% extends base.html%}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/fruitzone-apply-success.css')}}"/>
{% end %}


{% block content %}
<div class="container phone-box done-box">
    <div class="good-body">
        <img src="{{static_url('images/good.png')}}" class="good"/>
        <p class="good-text">恭喜</p>
        <p class="good-text2">店铺入驻申请已收到，将在一个工作日内完成审核，请注意查收邮件。</p>
        <p class="good-text2">同时，森果专门针对水果外卖系统开发出一套水果商城和后台管理系统<a href="#" class="text-red"><u>了解一下</u></a>，如有需要购买，请点击购买按钮。</p>
        <a href="#" class="check-btn green-color w1">系统购买</a>
        <a href="{{reverse_url('fruitzoneAdminHome')}}" class="check-btn green-color space">返回个人中心</a>
        <a href="{{reverse_url('fruitzoneHome')}}" class="check-btn green-color">查看同行商家</a>
        <a href="{{reverse_url('fruitzoneHome')}}" class="close-page">关闭当前页面</a>
    </div>
</div>
{% end %}