{% extends base.html%}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/fruitzone-apply-success.css')}}"/>
{% end %}

{% block content %}
<div class="done-box">
    <div class="good-body">
        <img src="{{static_url('images/good.png')}}" class="good"/>
        <!--<p class="good-text">恭喜</p>-->
        <p class="font16">您的资料已经成功提交</p>
        <!--<p class="font16">我们将在1-2个工作日完成审核,</p>-->
        <p class="font16">点击关注<a href="weixin://profile/sen-guo" class="text-pink focus_senguo" data-src="http://mp.weixin.qq.com/s?__biz=MzA3Mzk3NTUyNQ==&mid=200521182&idx=1&sn=a3d7731e0233aef218eb91346d581b02#rd">森果微信公众平台</a>，</p>
        <p class="font16">查看审核结果</p>
        <!--<p class="good-text2">店铺入驻申请已收到，将在一个工作日内完成审核，请注意查收邮件。</p>
        <p class="good-text2">同时，森果专门针对水果外卖系统开发出一套水果商城和后台管理系统<a href="http://mp.weixin.qq.com/s?__biz=MzA3Mzk3NTUyNQ==&mid=200343770&idx=1&sn=1230c48bb781da7d7e63d5dc804cbf10#rd" class="text-red"><u>了解一下</u></a>，如有需要购买，请点击购买按钮。</p>
        <a href="{{reverse_url('fruitzoneSystemPurchaseChargeTypes')}}" class="check-btn green-color w1">系统购买</a>-->
         <a href="weixin://profile/sen-guo" class="check-btn green-color space focus_senguo"
         data-src="http://mp.weixin.qq.com/s?__biz=MzA3Mzk3NTUyNQ==&mid=200521182&idx=1&sn=a3d7731e0233aef218eb91346d581b02#rd">+关注森果公众平台</a>
        <!--<a href="{{reverse_url('fruitzoneAdminHome')}}" class="check-btn green-color space">返回个人中心</a>
        <a href="{{reverse_url('fruitzoneHome')}}" class="check-btn green-color">查看同行商家</a>-->
        <a href="{{reverse_url('fruitzoneHome')}}" class="close-page">关闭当前页面</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript">
$(document).ready(function(){
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
    if(isiOS){
        $('.focus_senguo').each(function(){
        var $this=$(this);
         var link=$this.attr('data-src');
        $this.attr({'href':link});
    });

    }
});
</script>
{% end %}
