{% extends 'fix-bottom.html'%}

{% block mainpage %}
<header class="herder-box title-box">
      <h1 class="title">水果人的社区</h1>
</header>
<div class="cmmunity-box undone-box text-center white-color">
    <h4>
        <img src="/static/images/cry.gif"/>
        <span style="display:inline-block;">
           <p>攻城狮们正被老板逼着加班</p>
           <p>新功能即将开放！</p>
        </span>
    </h4>
    <p><a href="javascript:;" class="text-green font-md" data-toggle="modal" data-target="#showBox">版块预览>>></a></p>
</div>
<div class="modal fade" id="showBox" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">版块预览</h4>
            </div>
            <div class="modal-body">
                <div class="well list-group">
                    <p class="list-group-item">森果产品观</p>
                    <p class="list-group-item">创业最前线</p>
                    <p class="list-group-item">水果养生吧</p>
                    <p class="list-group-item">二手交易市场</p>
                    <p class="list-group-item">营销经验集</p>
                    <p class="list-group-item">开店知识汇</p>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn-box font-md">
                    <button type="button" class="btn  concel-btn" data-dismiss="modal">取消</button>
                    <button type="button" class="btn  sure-btn" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}