{% extends 'base.html'%}

{% block content%}
    <header class="herder-box phone-box title-box">
        <div class="content-title">
            <a href="{{reverse_url('fruitzoneAdminHome')}}" class="center-btn">个人中心</a>
            <h1 class="title">水果.同行圈子</h1>
            <a href="{{reverse_url('fruitzoneShopApply')}}" class="to-some">申请入驻</a>
        </div>
        <div class="search-box" id="search-box">
            <input type="text" placeholder="请输入店铺名、姓名、城市、在售水果" class="search-input" id="searchKey"/>
            <input type="submit" value="搜索" class="search-btn" id="searchSubmit" data-action="search"/>
        </div>
    </header>
    <div class="order-by phone-box">
        <a href="javascript:;" onclick="orderBy(1);" class="active">城市<span class="arrow"></span></a>
        <a href="javascript:;" onclick="orderBy(2);">服务区域<span class="arrow"></span></a>
        <a href="javascript:;" onclick="orderBy(3);">运营时间<span class="arrow"></span></a>
        <a href="javascript:;" onclick="orderBy(4);">在售水果<span class="arrow"></span></a>
    </div>
    <div class="order-by-city  phone-box order-by-list" id="orderBy1" style="display:none;">
        <ul class="province-select pull-left select-list" id="province-select">

        </ul>
        <div class="city-select pull-left select-list" id="city-select">
            <ul  class="order-by-item ">

            </ul>
        </div>
    </div>
    <div class="order-by-area select-list phone-box order-by-list" id="orderBy2" style="display:none;">
        <ul class="order-by-item">
            <li class="active"><a href="javascript:;" data-id="1">{{handler.code_to_text("service_area",1)}}</a></li>
            <li><a href="javascript:;" data-id="2">{{handler.code_to_text("service_area",2)}}</a></li>
            <li><a href="javascript:;" data-id="4">{{handler.code_to_text("service_area",4)}}</a></li>
            <li><a href="javascript:;" data-id="8">{{handler.code_to_text("service_area",8)}}</a></li>
        </ul>
     </div>
    <div class="order-by-time select-list phone-box order-by-list" id="orderBy3" style="display:none;">
        <ul class="order-by-item">
            <li class="active"><a href="javascript:;" data-id="1">一个月</a></li>
            <li><a href="javascript:;" data-id="3">三个月</a></li>
            <li><a href="javascript:;" data-id="6">半年以上</a></li>
            <li><a href="javascript:;" data-id="12">一年以上</a></li>
        </ul>
    </div>
    <div class="order-by-fruit select-list phone-box order-by-list" id="orderBy4" style="display:none;">
        <ul class="order-by-item">
            {% for fruit in context['shops'] %}
              <li class="active"><a href="javascript:;">苹果</a></li>
            {% end %}
        </ul>
    </div>
    <div class="container phone-box shop-list-content">
        <ul class="shop-list">
            {% for shop in context['shops'] %}
            <li>
                <a href="{{reverse_url('fruitzoneShop',shop.id)}}">
                    <div class="shop-logo pull-left">
                         <img src="{{static_url('images/anoa-1-md.gif')}}"/>
                    </div>
                    <div class="shop-info pull-right">
                        <p><span class="shop-name w1">{{shop.shop_name}}</span><span class="area">{{handler.code_to_text("shop_city",shop.shop_city)}}</span></p>
                        <p>运营时间：{{shop.live_month}}月</p>
                        <p><span class="shop-owner w1">负责人：{{shop.admin.realname}}</span><span class="wechat-code">{{shop.admin.wx_username or "无"}}</span></p>
                    </div>
                </a>
            </li>
          {% end %}
        </ul>
    </div>
{% end %}