{% extends 'base.html'%}
{% block title %}我的收藏{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/fruitzone-shops.css')}}"/>
{% end %}

{% block content %}
<header class="title-box2">
    <a href="{{reverse_url('fruitzoneAdminHome')}}" class="return-btn"></a>
    <span class="title">我的收藏</span>
</header>
<div class="collection-link">
    <ul>
        <li>
            <a href="{{reverse_url('fuirzoneAdminShopsCollect')}}">收藏的店铺</a>
        </li>
        <li class="active">
            <a href="{{reverse_url('fuirzoneAdminInfoCollect')}}">收藏的信息</a>
        </li>
    </ul>
</div>
<ul class="collect-info-list white-color">
    {% for info in current_user.info%}
        <li>
            <a href="{{reverse_url('infowallInfoDetail',info.id)}}">
                <img src="{{info.admin.accountinfo.headimgurl}}" class="head-img pull-left"/>
                <span class="pull-left nickname">{{info.admin.accountinfo.nickname}}</span>
                <span class="info-content">{{info.text}}</span>
            </a>
        </li>
    {% end %}
</ul>
{% end %}