{% extends 'base.html'%}
{% block title %}店铺列表{% end %}

{% block head%}
<link rel="stylesheet" href="{{static_url('css/fruitzone-list.css')}}"/>
{% end %}
{% block header%}

{% end%}

{% block content%}
{% import json %}
<script type="text/javascript">
    window.dataObj.province_count={% raw json.dumps(context['province_count'])%}
</script>
<header class="herder bg-green text-white text-center">
        <a href="/customer/profile" class="pcenter-btn"></a>
        <span class="title font16">店铺列表</span>
        <a href="javascript:;" class="search-btn" id="search-btn"></a>
</header>
<div class="filter_search bg-white text-grey9 font14">
    <div class="search-box" id="search-box">
        <input type="text" placeholder="请输入店铺名" class="search-input pull-left" id="searchKey"/>
        <input type="submit" value="搜索" class="btn pull-right text-center" id="searchSubmit"/>
    </div>
    <input type="hidden" id="city_id" value="{{context['city_id']}}"/>
    <a href="javascript:;" class="choose-item city_choose pull-left dismiss"><span class="c-item city_name text-center">{{context['city'] or '城市'}}</span><em class="arrow"></em></a>
    <a href="javascript:;" class="choose-item pull-left school">
        <span class="c-item school_name text-center" id="school_name" data-key="2">高校</span><em class="arrow"></em>
        <ul class="c-list s-list">
            <li data-key="1">社区</li>
            <li data-key="2">高校</li>
            <li data-key="4">商圈</li>
            <li data-key="8">其他</li>
        </ul>
    </a>
    <a href="javascript:;" class="choose-item pull-left comme">
        <span class="c-item comm_name text-center" id="comm_name" data-key="4">评价最多</span><em class="arrow"></em>
        <ul class="c-list com-list">
            <li data-key="4">评价最多</li>
            <li data-key="2">离我最近</li>
            <li data-key="1">商品最多</li>
            <li data-key="3">满意度最高</li>
        </ul>
    </a>
</div>

<!-- <div class="filter-box">
    <a href="javascript:;" onclick="orderBy(1);" class="active">城市<span class="arrow"></span></a>
    <a href="javascript:;" onclick="orderBy(2);">服务区域<span class="arrow"></span></a>
    <a href="javascript:;" onclick="orderBy(3);">运营时间<span class="arrow"></span></a>
    <a href="javascript:;" onclick="orderBy(4);">在售水果<span class="arrow"></span></a>
</div> -->
<div class="area_box">
    <div class="area_list">
        <div class="province_list bg-white text-grey6 dismiss hidden list_item">
            <a class="whole_country text-grey6 font14" href="javascript:;"><span class="name pull-left ml10">全国</span><em class="arrow pull-right mr10"></em><span class="num pull-right mr10">{{context['shop_count']}}</span></a>
            <ul class="provincelist pull-left font14">

            </ul>
        </div>
        <div class="city_list text-grey6  dismiss hidden list_item">
            <a class="all_city text-grey6 font14" href="javascript:;"><span class="name pull-left">全部</span><span class="num pull-right mr25"></span></a>
            <ul  class="citylist font14">

            </ul>
        </div>
    </div>
</div>
<!-- <div class="order-by-area select-list order-by-list" id="orderBy2" style="display:none;">
    <ul class="order-by-item" data-action="areaFilter">
        <li data-code="1">{{handler.code_to_text("service_area",1)}}</li>
        <li data-code="2">{{handler.code_to_text("service_area",2)}}</li>
        <li data-code="4">{{handler.code_to_text("service_area",4)}}</li>
        <li data-code="8">{{handler.code_to_text("service_area",8)}}</li>
    </ul>
 </div>
<div class="order-by-time select-list order-by-list" id="orderBy3" style="display:none;">
    <ul class="order-by-item" data-action="liveFilter">
        <li data-code="1">一个月以上</li>
        <li data-code="3">三个月以上</li>
        <li data-code="6">半年以上</li>
        <li data-code="12">一年以上</li>
    </ul>
</div>
<div class="order-by-fruit select-list order-by-list" id="orderBy4" style="display:none;">
    <a class="pull-right text-green border-green white-color" href="javascript:;" id="orderByFruit">点击筛选</a>
    <ul class="order-by-item fruit-list" data-action="fruitFilter">
    </ul>
</div> -->
<div class="shoplist_box">
    <ul class="shoplist">

    </ul>
</div>
<div class="loading text-center text-grey9 font12  text-green mt10 mb10" style="display:none">~努力加载中 ( > < )~</div>
<div class="no_more text-center text-grey9 font12  text-green mt10 mb10" style="display:none">~没有更多了呢 ( > < )~</div>
<div class="wrap-loading-box hidden">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="http://api.map.baidu.com/api?v=2.0&ak=2595684c343d6499bf469da8a9c18231"></script>
<script src="{{static_url('js/area.js')}}"></script>
<script src="{{static_url('js/fruitzone-list.js')}}"></script>
{% end %}