{% extends 'base.html' %}
{% block title%}微信支付{% end %}
{% block head %}
{% end %}
{% block content%}
    <div align="center">
        <a style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid;cursor: pointer;color:white;font-size:16px;"  href="javascript:void(0);"   id="getBrandWCPayRequest">确认支付</a>
    </div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/jweixin-1.0.js')}}"></script>
<script type="text/javascript">
    wx.config({
        debug: true,
        appId: "{{wxappid}}",
        timestamp: {{timestamp}},
    nonceStr: "{{noncestr}}",
            signature: "{{signature}}",
            jsApiList: ['onMenuShareTimeline','chooseWXPay','hideMenuItems']
    });
    wx.ready(function(){
        document.querySelector('#getBrandWCPayRequest').onclick = function () {
            // alert('chooseWxpay');
            wx.chooseWXPay({
                timestamp: {{renderPayParams['timeStamp']}},
                nonceStr: '{{renderPayParams['nonceStr']}}',
                package: '{{renderPayParams['package']}}',
                signType: '{{renderPayParams['signType']}}',
                paySign: '{{renderPayParams['paySign']}}',
                success: function (res) {
            // 支付成功后的回调函数
            alert('success');
            window.location.href = '/shops/memberOrderList/'
        }
    });
    }
    })
</script>
{% end %}