{% extends 'base.html' %}
{% block title%}微信支付{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block content%}
    <div class="wrap-pay">
        <p>确认往森果平台个人余额中充值<span class="sum">{{totalPrice}}</span>元？</p>
        <a href="javascript:;" class="pay-btn" id="getBrandWCPayRequest">确认支付</a>
    </div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/jweixin-1.0.js')}}"></script>
<script type="text/javascript">
    wx.config({
            debug: true,
            appId: "{{wxappid}}",
            timestamp: {{timestamp}},
            nonceStr: "{{noncestr}}",
            signature: "{{signature}}",
            jsApiList: ['onMenuShareTimeline','chooseWXPay','hideMenuItems']
    });
    wx.ready(function(){
        document.querySelector('#getBrandWCPayRequest').onclick = function () {
            wx.chooseWXPay({
                timestamp: {{renderPayParams['timeStamp']}},
                nonceStr: '{{renderPayParams['nonceStr']}}',
                package: '{{renderPayParams['package']}}',
                signType: '{{renderPayParams['signType']}}',
                paySign: '{{renderPayParams['paySign']}}',
                success: function (res) {
                // 支付成功后的回调函数
                $.ajax({
                    url:"/customer/recharge",
                    type:"post",
                    data:{action:"wx_pay",_xsrf:window.dataObj._xsrf},
                    success:function(res){
                        if(res.success){
                            window.location.href = '/customer/balance';
                        }
                    }
                });
            }
        });
    }
})
</script>
{% end %}