{% extends 'base.html'%}

{% block content %}
<header class="title-box2 phone-box">
    <a href="javascript:history.back(-1)" class="return-btn"></a>
    <span class="title">我的店铺</span>
</header>
<div class="container phone-box">
    <ul class="shops-list" id="adminShopsList">
        <li>
            <a href="">
                <img src=""/>
                <p>We信水果帮</p>
            </a>
        </li>
        <li class="pass-mode">
            <a href="">
                <img src=""/>
                <p>We信水果帮</p>
            </a>
        </li>
        <li class="check-mode">
            <a href="">
                <img src=""/>
                <p>We信水果帮</p>
            </a>
        </li>
        <li class="add-shops">
            <a href="javascript:;">+</a>
        </li>
    </ul>
</div>
{% end %}
