{% extends 'base.html'%}

{% block content %}
<header class="title-box2 phone-box">
    <a href="javascript:history.back(-1)" class="return-btn"></a>
    <span class="title">我的店铺</span>
</header>
<div class="container phone-box">
    <ul class="shops-list" id="adminShopsList">
        {% for shops in context['shops']%}
        <li data-status="{{shops.shop_status}}">
            <a href="{{reverse_url('fruitzoneAdminShop',shops.id)}}">
                <img src="{{static_url('images/anoa-1-md.gif')}}"/>
                <p>{{shops.shop_name}}</p>
                <span class="status">{{handler.code_to_text('shop_status',shops.shop_status)}}</span>
            </a>
        </li>
        {% end %}
        <li class="add-shops">
            <a href="{{reverse_url('fruitzoneShopApply')}}">+</a>
        </li>
    </ul>
</div>
{% end %}
