{% extends 'systempurchase-base.html'%}

{% block page-detail%}
<p class="white-color proper-padding">由于开发进度的关系，目前只能接入商城系统1.0，系统2.0预计11月底开发完成并进行内测。
  <br />届时所有接入系统1.0的商家将免费升级至2.0,商家所有数据将不会变动。  
</p>

{% if not handler._check_info_complete()%}

  {% if not current_user.accountinfo.email or not current_user.accountinfo.phone or not current_user.accountinfo.wx_username%}
  <p class="proper-padding bg-warning">你的信息不完整，为了方便我们联系您，请先绑定你的必要个人信息（邮箱、手机号和微信)：<a href="{{reverse_url('fruitzoneAdminProfile')}}">个人信息补全。</a></p>
  {% end %}
  {% if not len(current_user.shops)%}
  <p class="proper-padding bg-warning">你还未创建店铺，请先创建店铺：<a href="{{reverse_url('fruitzoneShopApply')}}">创建店铺。</a></p>
  {% end %}
  
  <br />
  <h4>系统套餐收费如下</h4>
  <ul class="list-group propper-padding">
    {% for index, charge_type in enumerate(context["charge_types"])%}
    <li class="list-group-item" ">
      <span class="select-text">{{charge_type.description}}</span>
    </li>
    {% end %}
  </ul>
{% else %}

<form method="GET" action="{{reverse_url('fruitzoneSystemPurchaseChargeDetail')}}">
  <h4>请选择系统使用套餐</h4>
  <ul class="list-group theme-list-select  select-list">
    {% for index, charge_type in enumerate(context["charge_types"])%}
    <li class="list-group-item">
      {% if index == len(context["charge_types"]) - 1%}
      <input type="radio" name="charge_type" value="{{charge_type.id}}" checked>
      {% else%}
      <input type="radio" name="charge_type" value="{{charge_type.id}}">
      {% end %}      
      <span class="select-text">{{charge_type.description}}</span>
    </li>
    {% end %}
  </ul>
  <p class="help-block">订单提交支付完成后，我们将在1个工作日内为您新建账号，并将账号信息发送到您的邮箱。</p>
  <input type="submit" class="btn btn-green text-white form-control" value="提交并支付">
</form>

{% end %}
<script>
    $(document).ready(function(){
        $('.list-group-item').on('click',function(){
            var elem = $(this).find('input')[0];
            elem.checked = true;
            if (console){
               console.log("now checked to ", elem.value);
            }
        });
        $('.list-group-item').last().addClass('active');
    });
</script>
{%end%}


