{% extends 'systempurchase-base.html'%}

{% block page-detail%}

<p class="white-color proper-padding">我们将在订单支付成功后的一个工作日内为您开通商城系统，届时请进入帐号信息页面查看您的账号信息。
  <br/>如果您有问题，可以联系<a href="mailto:wolf@senguo.cc">wolf@senguo.cc</a>
</p>

{% if len(context["orders"])  == 0%}
<p class="" style="text-align:center;">暂无订单，<a href="{{reverse_url('fruitzoneSystemPurchaseChargeTypes')}}">去购买系统</a></p>
{% end %}

{% for order in context["orders"]%}
<ul class="list-group order-info" id="{{order.order_id}}">
  <li class="list-group-item">
    <label class="pull-left">订单编号</label>
    <span class="pull-right">{{order.order_id}}</span>
    <div style="clear:both"></div>
  </li>
  <li class="list-group-item">
    <label class="pull-left">商品名称</label>
    <span class="pull-right">{{order.charge_good_name}}</span>
    <div style="clear:both"></div>
  </li>
  <li class="list-group-item">
    <label class="pull-left">使用期限</label>
    <span class="pull-right">{{order.charge_month}} 个月</span>
    <div style="clear:both"></div>
  </li>
  <li class="list-group-item">
    <label class="pull-left">总价</label>
    <span class="pull-right">{{order.charge_price}} 元</span>
    <div style="clear:both"></div>
  </li>
  <li class="list-group-item">
    <label class="pull-left">支付状态</label>
    <span class="pull-right">{{handler.code_to_text("order_status", order.order_status)}}</span>
    <div style="clear:both"></div>
  </li>
  <li class="list-group-item">
    <label class="pull-left">支付时间</label>
    <span class="pull-right">{{handler.timestamp_to_str(order.create_date_timestamp)}}</span>
    <div style="clear:both"></div>
  </li>
</ul>
{% end %}

{% end %}
