{% extends '../customer/base.html'%}
{% block head %}
<style>
    .mt90{margin-top:20%;}
    .mt40{margin-top:5%;}
    .w250{width:250px;}
    .w6{width:60%;}
   .btn{width:114px;height:40px;line-height:40px;padding:0px !important;}
</style>
{% end %}
{% block content %}
<div class="rainshed"></div>
<div class="text-center mt90">
    <img src="{{static_url('images/order_success.png')}}" class="w6"/>
</div>
<div class="w250 center-block mt40">
    <a class="btn center_href pull-left text-green bg-white" href="{{reverse_url('customerHome')}}">进入个人中心</a>
    <a class="btn home_href pull-right text-green bg-white" href="{{reverse_url('Market', handler.shop_code)}}">继续购物</a>
</div>
{% end %}
