{% extends 'base.html' %}
{% block title %}账户管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-main.css')}}"/>{% end %}
{% block content %}
<div class="account-top">
    <span class="right-title">账户余额</span>
    <span class="acc-money">233.2<span class="small-txt">元</span></span>
    <a class="get-money" href="javascript:;" id="get-money">提现</a>
</div>
<ul class="acc-report">
    <li>1、用户充值或在线支付的金额记入账户余额里。</li>
    <li>2、账户余额为森果平台为卖家代收的用户钱款，店铺管理员可以申请提现。</li>
</ul>
<div class="account-top mt20">
    <span class="right-title mb10">余额账单</span>
</div>
<div class="wrap-bm">
    <ul class="tab-lst group">
        <li class="active">所有账单</li>
        <li>提现记录</li>
        <li>用户充值</li>
        <li>在线支付</li>
    </ul>
    <ul class="acc-con-lst">
        <li class="active">
            <table class="tb-account">
                <colgroup>
                    <col width="40%"/>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
                <tr>
                    <td class="pl20">在线支付：<a href="javascript:;">马会</a>-订单编号<a href="javascript:;">555522222</a></td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
                <tr>
                    <td class="pl20">在线支付：<a href="javascript:;">马会</a>-订单编号<a href="javascript:;">555522222</a></td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
            </table>
        </li>
        <li>
            <div class="wrap-acc-num  mt20">
                <span class="account-num">累计提现&nbsp;<span class="green-txt f16">5555.00</span>元</span>
            </div>
            <table class="tb-account mt20">
                <colgroup>
                    <col width="40%"/>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
            </table>
        </li>
        <li class="">
            <div class="wrap-acc-num">
                <span class="account-num">累计提现&nbsp;<span class="green-txt f16">5555.00</span>元</span>
                <span class="account-num">用户已使用&nbsp;<span class="green-txt f16">5555.00</span>元</span>
                <span class="account-num">未使用剩余&nbsp;<span class="green-txt f16">5555.00</span>元</span>
            </div>
            <table class="tb-account mt20">
                <colgroup>
                    <col width="40%"/>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
                <tr>
                    <td class="pl20">提现：店铺管理员</td>
                    <td class="c999">2015年4月11日 14:22:22</td>
                    <td class="orange-txt txt-ar"><span class="f16">-2200.00</span><span class="c999">元</span></td>
                    <td class="green-txt txt-ar pr20"><span class="f16">+2200.00</span><span class="c999">元</span></td>
                </tr>
            </table>
        </li>
        <li class="">
            <div class="wrap-acc-num">
                <span class="account-num">累计额度&nbsp;<span class="green-txt f16">5555.00</span>元</span>
                <span class="account-num">累计次数&nbsp;<span class="green-txt f16">5555</span>次</span>
                <span class="account-num">累计人数&nbsp;<span class="green-txt f16">5555</span>人</span>
            </div>
        </li>
    </ul>
</div>        
<h4 class="text-center">暂无账单信息</h4>
<div class="users-pagination list-pagination">
    <ul>
        <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
        <li>
            <span class="page-now">1</span>/<span class="page-total">1</span>
        </li>
        <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
        <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
        <li><a href="javascript:;" class="jump-to">跳转</a></li>
    </ul>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-account.js')}}"></script>
{% end %}