{% extends 'shop-set-base.html' %}
{% block title%}管理员设置{% end %}

{% block setcontent %}
<div class="set-description">
    <p>店铺管理员拥有：店铺登录、店铺订单提醒等权限（管理员必须关注森果服务号sen-guo） </p>
    <p>超级管理员可以添加多个管理员来同时管理店铺。</p>
</div>
<ul class="admin-set-list mt10">
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo"><img src="{{current_shop.admin.accountinfo.headimgurl_small or '/static/images/TDSG.png'}}" class="img"/></span>
        <div class="w2 pull-left">
            <span class="info_show name">{{current_shop.admin.accountinfo.nickname}}</span>
            <span>超级管理员</span>
        </div>
    </li>
{% for data in datalist %}
    <li class="item clearfix" data-id="{{data['id']}}">
        <span class="w1 pull-left set-inl-blo"><img src="{{data['imgurl'] or '/static/images/TDSG.png'}}" class="img"/></span>
        <div class="w2 pull-left">
            <span class="info_show name">{{data['nickname']}}</span>
            <span>店铺管理员</span>
        </div>
        <div class="pull-right">
            <a class="delete-admin" href="javascript:;">删除</a>
        </div>
    </li>
    {% end %}
 </ul>
 <a href="javascript:;" class="add-admin add-btn-sty mt10" data-notice="{{notice}}">+添加管理员</a>
 <div class="modal fade set-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header clearfix">
                <span class="title pull-left" id="myModalLabel">添加管理员</span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
            		<div class="search-box clearfix">
	            		<input type="text" class="search-user pull-left" placeholder="请输入欲添加为管理员的用户ID，用户ID可在商城个人中心查看"/>
	            		<button class="user-search btn bg-green text-white pull-left">搜索</button>
	            	</div>
	            	<ul class="user-list">
	            		
	            	</ul>
            </div>
        </div>
    </div>
 </div>
{% end %}
