<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/admin-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
                _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>
<header class="backstage-header">
    <div class="w1200">
        <div class="logo-con height50 pull-left">
            <a href="{{reverse_url('adminHome')}}" class="navbar-brand logo height50 padding-none">
                <img src="{{static_url('images/logo.gif')}}" class="height50"/>
            </a>
            <span class="title">后台管理系统</span>
            <span class="beta">Beta2.0</span>
        </div>
        <div class="header-nav height50 pull-right">
            <ul class="navbar">
                <li class="line50">
                    <a href="#">
                        <i class="notice-img height50 pull-left"></i>
                        实时消息
                        <span>185</span>
                    </a>
                </li>
                <li class="active send-now line50">
                    <a href="#">
                        <i class="send-img height50 pull-left"></i>
                        立即送
                        <span>88</span>
                    </a>
                </li>
                <li class="line50">
                    <a href="#">
                        <i class="message-img height50 pull-left"></i>
                        留言
                        <span>10</span>
                    </a>
                </li>
                <li class="area-info">
                    <img src="{{current_user.accountinfo.headimgurl}}" class="admin-img height50 pull-left"/>
                    <div class="admin-info area pull-right">
                        <div class="dropdown  area pull-left">
                            <button class="btn btn-default dropdown-toggle area height25 border-none" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <em title="{{current_user.shops[0].shop_name}}" data-id="{{current_user.shops[0].id}}" class="pull-left" id="shopId">{{current_user.shops[0].shop_name}}</em>
                                <span class="caret pull-right no-margin-left"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                {% for shop in current_user.shops%}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{shop.shop_name}}</a></li>
                                {% end %}
                            </ul>
                        </div>
                        <p class="job pull-left">{{current_user.accountinfo.nickname}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--backstage-header-end-->
{% set subpage = context.get("subpage")%}
{% set goods_active = ""%}
{% set shop_set_active = ""%}

{% if subpage == 'goods' %}
    {% set goods_active = 'active' %}
{% elif subpage == 'shop_set' %}
    {% set shop_set_active = 'active' %}
{% end %}
<main class="container">
    <div class="container-left pull-left">
        <ul class="nav common-left-nav">
            <li>
                <span class="count"><i></i>统计</span>
                <a href="#">销量统计</a>
                <a href="#">用户统计</a>
                <a href="#">售后统计</a>
                <a href="#">流量统计</a>
            </li>
            <li>
                <span class="server"><i></i>客服</span>
                <a href="#">消息与评价</a>
            </li>
            <li>
                <span class="manage"><i></i>管理</span>
                <a href="admin-orders.html">订单管理</a>
                <a href="{{reverse_url('adminShelf',current_user.shops[0].id)}}?action=home&id=0" class="{{goods_active}}">商品管理</a>
                <a href="admin-users.html">用户管理</a>
                <a href="admin-staff.html">员工管理</a>
                <a href="#">财务管理</a>
                <a href="#">活动管理</a>
            </li>
            <li>
                <span class="set"><i></i>设置</span>
                <a href="{{reverse_url('adminConfig',current_user.shops[0].id)}}?action=delivery" class="{{shop_set_active}}" id="shopPage">店铺设置</a>
                <a href="#">公众号设置</a>
            </li>
        </ul>
    </div>
    <div class="container-right pull-right">
    {% block content %}{% end %}
    </div>
</main>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/admin-public.js')}}"></script>
{% block bottom %}{% end %}
</body>
</html>
