<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chorme=1"/>
    <meta charset="UTF-8"/>
    <title>{% block title %}森果后台登录{% end %}</title>
    <meta name="keywords" content="森果,水果商城,水果,O2O,森果登录,微信卖水果,水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/admin-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>
{% set current_shop = handler.current_shop %}
{% set _shop_auth = current_shop.shop_auth %}
{% set num=0 %}
{% for order in current_shop.orders %}
    {% if order.type==1 and order.status==1 %}
    {% set num=num+1%}
    {% end %}
{% end %}
<header class="backstage-header header-fix">
    <div class="w1200 header-box">
        <div class="logo-con height50 pull-left">
            <a href="{{reverse_url('adminHome')}}" class="navbar-brand logo height50 padding-none">
                <img src="/static/images/logo.png" class="height50"/>
            </a>
            <span class="title">后台管理系统</span>
            <span class="beta">beta 2.3</span>
        </div>
        <div class="header-nav height50 pull-right">
            <ul class="navbar">
                <!--<li class="line50">
                    <a href="javascript:;" class="developing">
                        <i class="notice-img height50 pull-left"></i>
                        实时消息
                        <span>0</span>
                    </a>
                </li>-->
                <li class="active send-now line50">
                    <a href="{{reverse_url('adminOrder')}}?order_type=1">
                        <i class="send-img height50 pull-left"></i>
                        立即送
                        <span class="on_sum" id="on_sum">{{num}}</span>
                    </a>
                </li>
                <!--<li class="line50">
                    <a href="javascript:;" class="developing">
                        <i class="message-img height50 pull-left"></i>
                        留言
                        <span>0</span>
                    </a>
                </li>-->
                <li class="area-info">
                    <img src="{{current_shop.shop_trademark_url or '/static/images/TDSG.png'}}?imageView2/1/w/100/h/100" class="admin-img height50 pull-left"/>
                    <div class="admin-info area pull-right">
                        <!-- <p class="job pull-left text-left">{{current_user.accountinfo.nickname}}</p> -->
                        {% if _shop_auth in [1,4] %}
                        <p class="job pull-left text-left">个人认证</p>
                        {% elif _shop_auth in [2,3] %}
                        <p class="job pull-left text-left">企业认证</p>
                        {% else %}
                        <div class="noauth pull-left text-left"><a href="javascript:;" class="text-grey">未认证</a> <a href="{{reverse_url('adminShopAuth')}}" class="text-link">去认证</a></div>
                        {% end %}
                        <div class="dropdown  area pull-left">
                            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <em title="{{current_shop.shop_name}}" class="pull-left" id="shop_name">{{current_shop.shop_name}}</em>
                                <span class="caret pull-right no-margin-left rotate0"></span>
                            </button>
                            <!--<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" id="currentShopChange">
                                {% for shop in current_user.shops%}
                                <li role="presentation" data-id="{{shop.id}}">
                                    <a role="menuitem" tabindex="-1" href="javascript:;">{{shop.shop_name}}</a>
                                </li>
                                {% end %}
                            </ul>-->
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" id="currentShopChange">
                                <li role="presentation">
                                    <a class="menu-icona sshop" href="{{reverse_url('switchshop')}}">切换店铺</a>
                                </li>
                                <li role="presentation">
                                    <a class="menu-icona swoon" href="{{reverse_url('customerProfile')}}">个人中心</a>
                                </li>
                                <li role="presentation">
                                    <a class="menu-icona squit" href="{{reverse_url('adminLogout')}}">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--backstage-header-end-->
{% set subpage = context.get("subpage")%}
{% set goods_active = ""%}
{% set order_active = ""%}
{% set shop_set_active = ""%}
{% set staff_active = ""%}
{% set user_active = ""%}
{% set comment_active = ""%}
{% set user_static_active='' %}
{% set order_static_active='' %}
{% set shopBlance='' %}
{% set marketing_active='' %}
{% set market_set_active=''%}

{% if subpage == 'goods' %}
    {% set goods_active = 'active' %}
{% elif subpage == 'order' %}
    {% set order_active = 'active' %}
{% elif subpage == 'shop_set' %}
    {% set shop_set_active = 'active' %}
{% elif subpage == 'staff' %}
    {% set staff_active = 'active' %}
{% elif subpage == 'user' %}
    {% set user_active = 'active' %}
{% elif subpage == 'comment' %}
    {% set comment_active = 'active' %}
{% elif subpage == 'userstatic' %}
    {% set user_static_active = 'active' %}
{% elif subpage == 'orderstatic' %}
    {% set order_static_active = 'active' %}
{% elif subpage == 'shopBlance' %}
    {% set shopBlance = 'active' %}
{% elif subpage == 'marketing' %}
    {% set marketing_active = 'active' %}
{% elif subpage == 'market_set'%}
    {% set market_set_active = 'active' %}
{% end %}

{% set no_auth ="" %}
{% if  _shop_auth == 0 %}
{% set no_auth="no_auth"%}
{% end %}
<main class="container mt100">
    <div class="container-left pull-left">
        <ul class="nav common-left-nav">
            <li>
                <span class="count"><i></i>统计</span>
                <!--<a href="javascript:;" class="developing">销量统计</a>-->
                <a href="{{reverse_url('adminOrderStatic')}}" class="{{order_static_active}}">订单统计</a>
                <a href="{{reverse_url('adminFollowerStatic')}}" class="{{user_static_active}}">用户统计</a>
                <!--<a href="javascript:;" class="developing">售后统计</a>
                <a href="javascript:;" class="developing">流量统计</a>-->
            </li>
            <li>
                <span class="server"><i></i>客服</span>
                <a href="{{reverse_url('adminComment')}}?action=all&&page=0" class="{{comment_active}} has-red-tip" data-action="msg">消息与评价<b class="red-tip hidden" id="comment_num">10</b></a>
            </li>
            <li>
                <span class="account"><i></i>账户</span>
                <a href="{{reverse_url('adminShopBalance')}}" class="{{shopBlance}} has-red-tip {{no_auth}}" data-action="account">账户余额<b class="red-toll hidden" id="is_balance"></b></a>
            </li>
            <li>
                <span class="manage"><i></i>管理</span>
                <a href="{{reverse_url('adminOrder')}}?order_type=1" class="{{order_active}} has-red-tip" data-action="order">订单管理<b class="red-tip hidden" id="order_ordernum">200</b></a>
                <a href="{{reverse_url('adminGoods')}}" class="{{goods_active}}">商品管理</a>
                <a href="{{reverse_url('adminStaffFollower')}}?action=all&&order_by=time&&page=0" class="{{user_active}} has-red-tip" data-action="user">用户管理<b class="red-tip hidden" id="user_usernum">5</b></a>
                <a href="{{reverse_url('adminStaffJH')}}?action=SH2" class="{{staff_active}} has-red-tip" data-action="staff">员工管理<b class="red-tip hidden" id="staff_staffnum">5</b></a>
                <!--<a href="javascript:;" class="developing">财务管理</a>
                <a href="javascript:;" class="developing">活动管理</a>-->
            </li>
            <li>
                <span class="set"><i></i>设置</span>
                <a href="{{reverse_url('adminShopConfig')}}" class="{{shop_set_active}}" id="shopPage">店铺设置</a>
                <a href="{{reverse_url('adminConfig')}}?action={% if _shop_auth ==0 %}notice{% else%}template{%end%}" class="{{market_set_active}}">商城设置</a>
            </li>
             <li>
                <span class="market"><i></i>营销</span>
                <a href="{{reverse_url('adminMarketing')}}?action=lovewall" class="{{marketing_active}} {{no_auth}}" id="shopPage">营销和玩法</a>
            </li>
        </ul>
    </div>
    <div class="container-right pull-left">
    {% block content %}{% end %}
    </div>
</main>
<div class="foot" id="footer">
    <ul class="links ft">
        <li class="links_item no_extra">
            <a href="{{reverse_url('OfficialHome')}}" target="_blank">森果官网</a>
        </li>
        <li class="links_item">
            <a href="{{reverse_url('OfficialProduct')}}" target="_blank">产品介绍</a>
        </li>
        <li class="links_item">
            <a href="#">服务协议</a>
        </li>
        <li class="links_item">
            <a href="{{reverse_url('OfficialAbout')}}" target="_blank">关于森果</a>
        </li>
        <li class="links_item">
            <a href="mailto:wolf@senguo.cc">联系邮箱</a>
        </li>
        <li class="links_item">
            <p class="copyright">Copyright © 2014-2015 Senguo.cc. All Rights Reserved.</p>
        </li>
    </ul>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/third/qrcode.min.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/admin-public.js')}}"></script>
{% block bottom %}{% end %}
</body>
</html>
