{% extends 'base.html' %}
{% block title %}消息与评价{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-comment.css')}}"/>{% end %}
{% block content %}
    <span class="right-title">消息与评价</span>
    <div class="orders-list-title right-title2">
        <ul class="right-nav pull-left">
            <li class="active">
                <a href="{{reverse_url('adminComment')}}?action=all&&page=0">所有评价</a>
            </li>
            <!--<li>
                <a href="{{reverse_url('adminComment')}}?action=favor&&page=0">收藏的评价</a>
            </li>-->
        </ul>
    </div>
    {% if len(comments) != 0 %}
        <ul>
            {% for comment in comments %}
            <li class="comment-list-item clearfix bg-grey2 p10 set-top10">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2 p0">
                    <img src="{{comment[0]}}" class="user-img"/>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 p0">
                    <p class="user-name line-30">{{comment[1]}}</p>
                    <p class="text-grey9">{{comment[2]}}</p>
                    {% if comment[5] %}
                    <p class="saler_reply">商家回复：{{comment[5]}}<span class="reply_word"></span></p>
                    {% end %}
                </div>
                <div class="pull-left">
                    <p class="line-30">{{comment[3]}}</p>
                    <p class="text-primary">
                        <a href="{{reverse_url('adminOrder')}}?order_type=10&order_status={{comment[4]}}" target="_blank">订单号：<span class="order_id">{{comment[4]}}</span></a>
                    </p>
                </div>
                <div class="pull-right">
                    <!--<button class="btn bg-green text-white collect">星标</button>-->
                    <button class="btn bg-green text-white reply">回复</button>
                </div>
            </li>
            {% end %}
        </ul>
        <div class="users-pagination list-pagination">
            <ul>
                <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
                <li>
                    <span class="page-now"></span>/<span class="page-total">{{len(comments)/20}}</span>
                </li>
                <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
                <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
                <li><a href="javascript:;" class="jump-to">跳转</a></li>
            </ul>
        </div>
        <div class="modal fade reply-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-white">
                    <div class="modal-header clearfix">
                        <span class="title pull-left" id="myModalLabel">您的回复：</span>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <textarea class="reply-content center-block"></textarea>
                    </div>
                    <div class="modal-footer">
                         <button class="btn bg-green reply-sure text-white pull-left">确定</button>
                         <button class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
         </div>
    {% else %}
    <h4 class="text-center">无用户评价！</h4>
    {% end %}
{% end %}
{% block bottom %}<script src="{{static_url('js/admin-comment.js')}}"></script>{% end %}