  {% extends 'base.html' %}
{% block title %}消息与评价{% end %}
{% block head %}
  <link rel="stylesheet" href="{{static_url('css/admin-comment.css')}}"/>{% end %}
{% block content %}
    <span class="right-title">告白墙管理</span>
    <div class="orders-list-title right-title2">
        <ul class="right-nav pull-left">
            <li class="{% if action == 'all' %} active{% end %}">
                <a href="{{reverse_url('adminConfession')}}?action=all&&page=0">所有告白</a>
            </li>
             <li class="{% if action == 'hot' %} active{% end %}">
                <a href="{{reverse_url('adminConfession')}}?action=hot&&page=0">最热告白</a>
            </li>
        </ul>
    </div>
    {% if len(datalist) != 0 %}
        <ul class="mt10 clearfix">
            {% for data in datalist %}
            <li class="comment-list-item clearfix bg-grey2 p10 set-top10" data-id="{{data['id']}}">
                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                    <p><span class="text-grey2">From：</span><a href="{{reverse_url('adminStaffFollower')}}?action=search&&order_by=time&&page=0&&wd={{data['user']}}">{{data['user']}}</a> <span class="text-grey2">To：</span><a href="{{reverse_url('adminStaffFollower')}}?action=search&&order_by=time&&page=0&&wd={{data['name']}}">{{data['name']}}</a></p>
                    <p><span class="text-grey2">地址：</span> {{data['address'] or '无'}} </p>
                    <p><span class="text-grey2">电话： </span> {{data['phone']}}</p>
                    <p><span class="text-grey2">告白： </span> {{data['confession']}}</p>
                    <p><span class="text-grey2">告白时间： </span> {{data['time']}}</p>
                    <p><span class="text-grey2">点赞：</span>  {{data['great']}}</p>
                    <p>{{data['floor']}}楼</p>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 btn-right pull-right">
                    <button class="btn btn-cancel text-white del-com">删除</button>
                </div>
            </li>
            {% end %}
        </ul>
        <div class="users-pagination list-pagination">
            <ul>
                <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
                <li>
                    <span class="page-now"></span>/<span class="page-total">{{pages}}</span>
                </li>
                <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
                <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
                <li><a href="javascript:;" class="jump-to">跳转</a></li>
            </ul>
        </div>
        <div class="modal del-box" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content del-com-cont">
                    <p class="apply-title">请提交您需要删除此条评论的理由：</p>
                    <textarea id="commit-cont"></textarea>
                    <div class="btn-group txt-ac">
                        <button class="bg-green ok-pop text-white" id="commit-senguo">提交</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <h4 class="text-center mt20">矮油，没有告白咧 ！</h4>
    {% end %}
{% end %}
{% block bottom %}<script src="{{static_url('js/admin-confess.js')}}"></script>{% end %}