{% extends 'base.html' %}
{% block title %}消息与评价{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-count.css')}}"/>{% end %}
{% block content %}
<span class="right-title">用户分析</span>
<div class="">
    <a href="javascript:;" class="pre_month"> < </a>
    <span></span>
    <a href="javascript:;" class="next_month"> > </a>
</div>
<div id="user_trend" style="height:400px"></div>
<div id="user_sex" style="height:400px"></div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/echcarts.js')}}"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: '/static/js'
        }
    });
    require(
            [
                'echarts',
                'echarts/chart/bar',
                'echarts/chart/line',
                'echarts/chart/pie'
            ],
            function (ec) {
                var myChart = ec.init($('#user_trend'));
                myChart.showLoading({
                    text: '正在努力的读取数据中...'
                });
                // ajax getting data...............

                // ajax callback
                myChart.hideLoading();
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    legend: {
                        data:['新增用户','总用户']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : []
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : '增长趋势',
                            axisLabel : {
                                formatter: '{value}'
                            }
                        },
                        {
                        }
                    ],
                    series : [

                        {
                            name:'新增用户',
                            type:'bar',
                            data:[]
                        },
                        {
                            name:'总用户',
                            type:'bar',
                            data:[]
                        },
                    ]
                };
        myChart.setOption(option);
        myChart.clear();
        myChart.dispose();
        },
        function (ec) {
            var myChart = ec.init($('#user_sex'));
            myChart.showLoading({
                text: '正在努力的读取数据中...'
            });
            // ajax getting data...............

            // ajax callback
            myChart.hideLoading();
            option = {
                title : {
                    text: '某站点用户访问来源',
                    subtext: '纯属虚构',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['男','女','未知']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:335, name:'男'},
                            {value:310, name:'女'},
                            {value:234, name:'未知'},
                        ]
                    }
                ]
            };
            myChart.setOption(option);
            myChart.clear();
            myChart.dispose();
        }
    );
</script>
{% end %}