{% extends 'market-base.html' %}
{% block title%}营销设置{% end %}
{% block setcontent %}
{% if shop_code and shop_code!='not set' %}
<div class="clearfix top-box">
    <p class="c333 f16 coupon-show-txt">已<span>开启</span>优惠券<a href="javascript:;" class="ml10 f16">查看详情</a></p>
    <p class="mt6">用户可在下单支付时，选择使用优惠券抵扣现金。</p>
    <p>商家通过发放优惠券可吸引用户，提高用户粘性。优惠券形式有：活动优惠券、充值优惠券两类。</p>
     <button class="btn text-white  action-btn coupon-active" data-status="{{current_shop.marketing.confess_active}}" data-flag="on">停用</button>
</div>
<div class="category-list">
    <div class="c999">优惠券<span class="c333">/优惠券管理</span></div>
    <div class="subnav-box group mt30">
        <ul class="subnav chinav pull-left furit-type">
            <li class="txt-center active" data-type="active"><a href="javascript:;">活动优惠券</a></li>
            <li class="txt-center" data-type="charge"><a href="javascript:;">充值优惠券</a></li>
        </ul>
        <div class="wrap-newbtn fr">
            <button class="newbtn add-btn  mt6 mr10">+新建优惠券</button>
        </div>
    </div>
</div>
<div class="wrap-tb mt30">
    <table class="tb-enty tb-active">
        <colgorup>
            <col width="18%"/>
            <col width="8%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="18%"/>
            <col width="10%"/>
            <col width="12%"/>
            <col width="14%"/>
        </colgorup>
        <thead>
            <tr class="thead">
                <td>领取时间</td>
                <td>领取限制</td>
                <td>优惠条件</td>
                <td>优惠金额</td>
                <td>优惠券有效期</td>
                <td>可消费商品</td>
                <td>使用/领取/库存</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        {% for data in output_data %}
            <tr>
                <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
                <td>每人限领一张</td>
                <td>任意商品买满金额可用</td>
                <td>5.00元</td>
                <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
                <td>限商品分组:店铺推荐</td>
                <td>8/12/10</td>
                <td class="operate"><a href="javascript:;" class="mr10">详情</a><a href="javascript:;" class="mr10">推广</a><a href="javascript:;" class="red-txt">停用</a><span>已停用</span></td>
            </tr>
            <tr class="dis-coupon">
                <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
                <td>每人限领一张</td>
                <td>任意商品买满金额可用</td>
                <td>5.00元</td>
                <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
                <td>限商品分组:店铺推荐</td>
                <td>8/12/10</td>
                <td class="operate"><a href="javascript:;" class="mr10">详情</a><a href="javascript:;" class="mr10">推广</a><a href="javascript:;" class="red-txt">停用</a><span>已停用</span></td>
            </tr>
        {% end %}
        </tbody>
    </table>
    <table class="tb-enty tb-charge hidden">
        <colgorup>
            <col width="18%"/>
            <col width="8%"/>
            <col width="10%"/>
            <col width="12%"/>
            <col width="18%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="14%"/>
        </colgorup>
        <thead>
        <tr class="thead">
            <td>领取时间</td>
            <td>领取条件</td>
            <td>领取限制</td>
            <td>使用优惠券条件</td>
            <td>优惠金额和优惠条件</td>
            <td>可消费商品</td>
            <td>使用/领取</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for data in output_data %}
        <tr>
            <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
            <td>每人限领一张</td>
            <td>任意商品买满金额可用</td>
            <td>5.00元</td>
            <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
            <td>限商品分组:店铺推荐</td>
            <td>8/12/10</td>
            <td class="operate"><a href="javascript:;" class="mr10">详情</a><a href="javascript:;" class="mr10">推广</a><a href="javascript:;" class="red-txt">停用</a><span>已停用</span></td>
        </tr>
        <tr class="dis-coupon">
            <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
            <td>每人限领一张</td>
            <td>任意商品买满金额可用</td>
            <td>5.00元<br><span class="c999">任意商品买满任意金额可用</span></td>
            <td>2015-05-06 12:34:33到2015-05-06 12:34:33</td>
            <td>限商品分组:店铺推荐</td>
            <td>8/12/10</td>
            <td class="operate"><a href="javascript:;" class="mr10">详情</a><a href="javascript:;" class="mr10">推广</a><a href="javascript:;" class="red-txt">停用</a><span>已停用</span></td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% else %}
<h4 class="mt20">您还未设置店铺号，不能进行营销设置，<a href="{{reverse_url('adminShopConfig')}}">点击设置店铺号</a></h4>
{% end %}
{% end %}
{% block js %}
<script src="{{static_url('js/admin-coupon.js')}}"></script>
{% end %}