{% extends 'market-base.html' %}
{% block title%}优惠券{% end %}
{% block setcontent %}
{% if shop_code and shop_code!='not set' %}
<div class="clearfix top-box">
    <p class="c333 f14 coupon-show-txt">已<span>{%if coupon_active_cm==0 %}停用{% else %}启用{%end%}</span>优惠券<a href="javascript:;" class="ml10 f14 show-detail">查看详情</a></p>
    <p class="mt6">用户可在下单支付时，选择使用优惠券抵扣现金。</p>
    <p>商家通过发放优惠券可吸引用户，提高用户粘性。优惠券形式有：活动优惠券、充值优惠券两类。</p>
    <button class="btn text-white  action-btn coupon-active" data-status="{{coupon_active_cm}}" data-flag="on">{%if coupon_active_cm==0%}启用{%else%}停用{%end%}</button>
</div>
<div class="{%if coupon_active_cm==0%}hidden{%end%}" id="coupon_hidden">
    {%if output_data==[] and data1==[] %}
    <div class="wrap-coupon-img txt-center">
        <img src="/static/images/coupon.jpg" alt="" width="238">
        <div class="wrap-newbtn">
            <a href="{{reverse_url("adminMarketing")}}?action=newcouponpage&coupon_type=0" class="newbtn add-btn  mt6 mr10">+新建优惠券</a>
        </div>
    </div>
{% else %}
<div class="category-list">
    <div class="c999">优惠券<span class="c333"> / 优惠券管理</span></div>
    <div class="subnav-box group mt20">
        <ul class="subnav chinav pull-left furit-type">
            <li class="txt-center active" data-type="active"><a href="javascript:;">活动优惠券</a></li>
            <li class="txt-center" data-type="charge"><a href="javascript:;">充值优惠券</a></li>
        </ul>
        <div class="wrap-newbtn fr">
            <a href="javascript:;" class="newbtn add-btn  mt6 mr10 cm_new_coupon">+新建优惠券</a>
        </div>
    </div>
<div class="wrap-tb mt30">
    <table class="tb-enty tb-active">
        <colgroup>
            <col width="18%"/>
            <col width="8%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="24%"/>
            <!-- <col width="10%"/> -->
            <col width="12%"/>
            <col width="16%"/>
        </colgroup>
        <thead>
            <tr class="thead">
                <td>领取时间</td>
                <td>领取限制</td>
                <td>优惠条件</td>
                <td>优惠金额</td>
                <td>优惠券有效期</td>
                <!-- <td>可消费商品</td> -->
                <td>使用/领取/库存</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        {%if output_data==[]%}
        <tr>
            <td colspan="7" class="txt-center c999">当前没有优惠券</td>
        </tr>
        {%else%}
        {% for coupon in output_data %}
            <tr class="detail-tr {%if coupon['closed']==1%} dis-coupon{%end%}" data-id="{{coupon['coupon_id']}}">
                <td>{{coupon['from_get_date']}}到{{coupon['to_get_date']}}</td>
                <td>每人限领{{coupon['get_limit']}}张</td>
                <td>{% if coupon['use_goods_group'] == -2 %}所有商品{% else %}{{coupon['use_goods_group']}}:{{coupon['use_goods']}}{% end %}买满{{coupon["use_rule"]}}元可用</td>
                <td>{{coupon['coupon_money']}}元</td>
                <td>{%if coupon["valid_way"]==0%}{{coupon['from_valid_date']}}到{{coupon['to_valid_date']}}{%else%} 领取即生效，有效期天数为{{coupon["last_day"]}}天{%end%}</td>
                <td>{{coupon['use_number']}}/{{coupon['get_number']}}/{{coupon['total_number']}}</td>
                <td class="operate">
                    <a href="{{reverse_url("adminMarketing")}}?action=editcouponpage&coupon_type=0&coupon_id={{coupon['coupon_id']}}" class="mr10 coupon-edit" data-id="{{coupon['coupon_id']}}">编辑</a>
                    <a href="javascript:;" class="mr10 spread-btn">推广</a>
                    <a href="javascript:;" class="red-txt close_one" data-id="{{coupon['coupon_id']}}">停用</a>
                    <span class="stop">已停用</span>
                    <div class="sw-er-tip all-position invisible">
                        <div class="top-arr">
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </div>
                        <p class="er-text">优惠券链接</p>
                        <div class="wrap-ipt">
                            <input type="text" class="sw-link-txt" value="http://senguo.cc/coupon/profile?action=get_one&shop_id={{coupon["shop_id"]}}&coupon_id={{coupon['coupon_id']}}" disabled="">
                            <input type="button" class="sw-link-copy" value="复制链接">
                        </div>
                        <div class="wrap-er group">
                            <img class="er-logo" src="/static/images/favicon.ico" alt="">
                            <div class="er-text lh80 fl">链接二维码</div>
                            <div class="er-img fl er-code-img" title="http://senguo.cc/zhoubing/goods/22"></div>
                        </div>
                    </div>
                </td>
            </tr>
        {% end %}
        {%end%}
        </tbody>
    </table>
            <input type="hidden" value="{{data1}}">
    <table class="tb-enty tb-charge hidden">
        <colgroup>
            <col width="18%"/>
            <col width="8%"/>
            <col width="10%"/>
            <col width="12%"/>
            <col width="24%"/>
            <!-- <col width="10%"/> -->
            <col width="12%"/>
            <col width="16%"/>
        </colgroup>
        <thead>
        <tr class="thead">
            <td>领取时间</td>
            <td>领取条件</td>
            <td>领取限制</td>
            <td>使用优惠券条件</td>
            <td>优惠金额和优惠条件</td>
            <!-- <td>可消费商品</td> -->
            <td>使用/领取/库存</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {%if data1==[]%}
        <tr>
            <td colspan="7" class="txt-center c999">当前没有优惠券</td>
        </tr>
        {%else%}
        {% for data in data1 %}
        <tr class=" detail-tr {%if data['closed']==1%}dis-coupon{%end%}"  data-id="{{data['coupon_id']}}">
            <td>{{data["from_get_date"]}}到{{data["to_get_date"]}}</td>
            <td>充值满{{data["get_rule"]}}元领取</td>
            {%if data["get_limit"]!=-1%}<td>每人限领{{data["get_limit"]}}张</td>
            {%else%}
            <td>多充多送</td>
            {%end%}
            <td>{%if data["valid_way"]==0%}{{data['from_valid_date']}}到{{data['to_valid_date']}}{%else%} 领取即生效，有效期天数为{{data["last_day"]}}天{%end%}</td>
            <td>{{data['coupon_money']}}元<br>{% if data['use_goods_group'] == -2 %}所有商品{% else %}{{data['use_goods_group']}}:{{data['use_goods']}}{% end %}买满{{data["use_rule"]}}元可用</td>
            <td>{{data["use_number"]}}/{{data["get_number"]}}/{{data["total_number"]}}</td> 
            <td class="operate">
                    <a href="{{reverse_url("adminMarketing")}}?action=editcouponpage&coupon_type=1&coupon_id={{data['coupon_id']}}" class="mr10 coupon-edit" data-id="{{data["coupon_id"]}}">编辑</a>
                    <a href="javascript:;" class="mr10 spread-btn">推广</a>
                    <a href="javascript:;" class="red-txt close_one" data-id="{{data['coupon_id']}}">停用</a>
                    <span class="stop">已停用</span>
                    <div class="sw-er-tip all-position invisible">
                        <div class="top-arr">
                            <span class="line1"></span>
                            <span class="line2"></span>
                        </div>
                        <p class="er-text">优惠券链接</p>
                        <div class="wrap-ipt">
                            <input type="text" class="sw-link-txt" value="http://senguo.cc/coupon/profile?action=get_one&shop_id={{data["shop_id"]}}&coupon_id={{data['coupon_id']}}" disabled="">
                            <input type="button" class="sw-link-copy" value="复制链接">
                        </div>
                        <div class="wrap-er group">
                            <img class="er-logo" src="/static/images/favicon.ico" alt="">
                            <div class="er-text lh80 fl">链接二维码</div>
                            <div class="er-img fl er-code-img" title="http://senguo.cc/zhoubing/goods/22"></div>
                        </div>
                    </div>
                </td> 
            <!-- <td class="operate"><a href="{{reverse_url("adminMarketing")}}?action=editcouponpage&coupon_type=1&coupon_id={{data['coupon_id']}}" class="mr10 coupon-edit" data-id="{{data["coupon_id"]}}">编辑</a><a href="javascript:;" class="mr10">推广</a><a href="javascript:;" class="red-txt close_one" data-id="{{data['coupon_id']}}">停用</a><span class="stop">已停用</span></td> -->
        </tr>
        {% end %}
        {%end%}
        </tbody>
    </table>
</div>
</div>
</div>
{%end%}
{% else %}
<h4 class="mt20">您还未设置店铺号，不能进行营销设置，<a href="{{reverse_url('adminShopConfig')}}">点击设置店铺号</a></h4>
{% end %}
{% end %}
{% block other %}
<div class="pop-win pop-detail hidden">
    <div class="pop-container">
        <a href="javascript:;" class="close-pop close-tip">x</a>
        <span class="rolli">i</span>
        <div class="pop-top">
            <p class="detail-title">提示</p>
        </div>
        <div class="pop-cont c666">
            <p class="f16 c333">优惠券发放规则</p>
            <p class="mt10">1、商家可通过新建两种类型的优惠券进行促销、充值活动。</p>
            <p>2、在领取时间内，优惠券将发放至商城的发现列表中，供用户领取；商家也可通过发
                放兑换码，供用在商城中我的优惠券列表中领取。</p>
            <p>3、每笔订单仅限使用一张优惠券，不可找零、叠加、拆分使⽤用。</p>
            <p>4、请慎重考虑使用停用功能。一旦停用，该优惠券发放机制失效，但已领取优惠券的
                用户优惠券仍能使用。</p>
            <p>5、使用非正常途径或手段获得的优惠券奖励无效，最终解释权归森果所有。</p>
        </div>
        <div class="pop-bm">
            <a href="javascript:;" class="close-tip">我知道了</a>
            <a href="{{reverse_url("BbsDetail",88)}}" target="_blank">更多详情</a>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="{{static_url('js/admin-coupon.js')}}"></script>
{% end %}