{% extends 'base.html' %}
{% block title%}限时折扣{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin-reset.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/admin-marketing.css')}}"/>
{% end %}
{% block content %}
{% set shop_code = current_shop.shop_code %}
<div class="wrap-newcoupon">
    <p class="c333 mt10 choose-text">
        <a href="/discount?action=discount" class="c999 cancel-add-goods go-back">限时折扣</a>
        <span class="c333"> / 新建折扣商品</span>
    </p>
</div>
<input type="hidden" id="goods" value="{{data1}}"/>
<input type="hidden" id="charge" value="{{chargetype}}"/>
<div class="wrap-newcoupon mt20">
    <div class="newcoupon-box group">
        <div class="wrap-discounttb fl">
            <table class="coupon-tb">
                <colgroup>
                    <col width="14%"/>
                    <col width="2%" />
                    <col width="84%"/>
                </colgroup>
                <thead>
                <tr>
                    <td class="">折扣时间</td>
                    <td>
                        <a href="javascript:;" class="radio radio-active open-single" data-id="0"></a>
                    </td>
                    <td><span>单次</span></td>
                </tr>
                </thead>
            </table>
            <table class="coupon-tb single-day">
                <colgroup>
                    <col width="16%"/>
                    <col width="9%"/>
                    <col width="75%"/>
                </colgroup>
                <tbody>
                <tr>
                    <td></td>
                    <td>开始时间</td>
                    <td>
                        <div class="">
                             <input type="text" class="Wdate start_date" id="date1" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date2\')}'})">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>结束时间</td>
                    <td>
                         <input type="text" class="Wdate end_date" id="date2" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date1\')}'})">
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="coupon-tb">
                <colgroup>
                    <col width="14%"/>
                    <col width="2%"/>
                    <col width="84%"/>
                </colgroup>
                <thead>
                <tr>
                    <td class=""></td>
                    <td>
                        <a href="javascript:;" class="radio open-week" data-id="1"></a>
                    </td>
                    <td><span>开启周期（多选）</span></td>
                </tr>
                </thead>
            </table>
            <table class="coupon-tb week hidden">
                <colgroup>
                    <col width="14%"/>
                    <col width="86%"/>
                </colgroup>
                <thead>
                    <td class=""></td>
                    <td class="change-week">
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='1'>周一</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='2'>周二</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='3'>周三</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='4'>周四</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='5'>周五</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='6'>周六</a>
                        <a href="javascript:;" class=" week-btn  mt6 mr10"week-id='7'>周日</a>
                    </td>
                </thead>
            </table>
            <table class="coupon-tb week-time hidden">
                <colgroup>
                    <col width="16%"/>
                    <col width="9%"/>
                    <col width="75%"/>
                </colgroup>
                <tbody>
                <tr>
                    <td></td>
                    <td>开始时间 </td>
                    <td>
                        <div class=""> 
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-hour" data-id="0" >0</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-hour-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,24)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">时</span>
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-minute" data-id="0" >0</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-minute-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                   {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">分</span>
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-second" data-id="0" >0</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-second-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                     {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">秒</span>  
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-below">结束时间 </td>
                    <td>
                        <div class="">
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 t-hour" data-id="23" >23</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-hour-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,24)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">时</span>
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 t-minute" data-id="59" >59</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-minute-items time-btn-width scroll-bar-discount" role="menu" aria-labelledby="dropdownMenu18">
                                   {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">分</span>
                             <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 t-second" data-id="59" >59</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-second-items time-btn-width scroll-bar-discount" role="menu" aria-labelledby="dropdownMenu18">
                                     {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">秒</span>  
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
            <p class="c999 f12 mt6 discount-tip hidden">开始结束时间均为选择的日期当天内的时间段</p>
            <table class="coupon-tb discount_item">
                <colgroup>
                    <col width="16%"/>
                    <col width="60%"/>
                    <col width="24%">
                </colgroup>
                <tbody class="to_clone new_tbody">
                <tr class="">
                    <td class="ver-top "><span class="ver-5  should_remove">折扣商品<br></span></td>
                    <td class="no_border">
                         <table class="">
                            <tr><div class="text_gray">商品<span class="goods_number" goods-id="1">1</span></div></tr>
                            <tr class="no_border" >   
                                <td>
                                    <div class="iblock">
                                        <span class="mr10 ver7">商品名称</span>
                                        <div class="dropdown slide-down-select w130 mr10 use_group">
                                            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                                <em class="pull-left c333 use_goods_group" data-id="-2">所有分组</em>
                                                <span class="caret pull-right no-margin-left rotate0"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lst" role="menu" aria-labelledby="dropdownMenu18">
                                                {% for group in output_data%}
                                                <li class="presentation" role="presentation">
                                                    <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                                </li>
                                                {% end %}
                                            </ul>
                                        </div>
                                        <div class="dropdown slide-down-select w130 ">
                                            <button class="btn btn-default dropdown-toggle area height25 slide-btn " type="button" data-toggle="dropdown">
                                                <em class="pull-left c333 use_goods" data-id="-1">所有商品</em>
                                                <span class="caret pull-right no-margin-left rotate0"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lst" role="menu" aria-labelledby="dropdownMenu18">
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="charge-type no_border hidden">
                                <td>原价(多选)<span class='charge_list'></span></td>
                            </tr>
                            <tr class="no_border">
                                <td>
                                   活动折扣<input type="text" class="discount_rate"><span>折(1-10之间)</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <tr>
                        <td></td>
                         <td><a href="javascript:;" class=" text_green mt6 mr10 discount-new" >+新建</a><a href="javascript:;" class="  mt6 mr10 discount_delete text_red hidden" >删除</a></td>
                    </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wrap-pop-btn wrap-edit-item">
        <a href="javascript:;" class="ok-btn ok-discount" data-flag="on">确定</a>
        <a href="javascript:;" class="cancel-btn cancel-new-discount goback">取消</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="{{static_url('js/third/datepicker/WdatePicker.js')}}"></script>
<script src="{{static_url('js/admin-discount.js')}}"></script>
{% end %}