{% extends 'base.html' %}
{% block title%}限时折扣{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin-reset.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/admin-marketing.css')}}"/>
{% end %}
{% block content %}
{% set shop_code = current_shop.shop_code %}
<div class="wrap-newcoupon">
    <p class="c333 mt10 choose-text">
        <a href="/admin/discount?action=discount" class="c999 cancel-add-goods ">限时折扣</a>
        <span class="c333" > / 编辑折扣商品[{{common_info["id"]}}]</span>
    </p>
</div>
<input type="hidden" id="goods" value="{{data1}}" discount_id={{common_info["id"]}}/>
<input type="hidden" id="charge" value="{{chargetype}}"/>
<div class="wrap-newcoupon mt20">
    <div class="newcoupon-box group">
        <div class="wrap-discounttb fl pr20">
            <table class="coupon-tb">
                <colgroup>
                    <col width="130"/>
                </colgroup>
                <thead>
                <tr>
                    <td class="">折扣时间</td>
                    <td>
                        <a href="javascript:;" class="radio {%if common_info["edit_status"]!=0%}forbidden-btn{%end%} {%if common_info["discount_way"]==0 %}radio-active{%end%} open-single" data-id="0"></a>
                        <span>单次</span>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="coupon-tb single-day {%if common_info["discount_way"]==1 %}hidden{%end%}">
                <colgroup>
                    <col width="130"/>
                    <col width="90"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>开始时间</td>
                    <td>
                        <div class="">
                            <input type="text" class="Wdate start_date {%if common_info["edit_status"]!=0%}disabled{%end%}" placeholder="请点击选择时间" id="date1" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date2\')}'}) " value="{{common_info["start_date"]}}"{%if common_info["edit_status"]!=0%}disabled="disabled"{%end%}>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>结束时间</td>
                    <td>
                        <input type="text" class="Wdate end_date {%if common_info["edit_status"]==3%}disabled{%end%}" placeholder="请点击选择时间" id="date2" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date1\')}'})" value="{{common_info["end_date"]}}" old_end_date={{common_info["end_date"]}} {%if common_info["edit_status"]==3%}disabled="disabled"{%end%}>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="coupon-tb">
                <colgroup>
                    <col width="130"/>
                </colgroup>
                <thead>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a href="javascript:;" class="radio open-week {%if common_info["edit_status"]!=0%}forbidden-btn{%end%} {%if common_info["discount_way"]==1 %}radio-active{%end%}" data-id="1"></a>
                        <span>开启周期（多选）</span>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="coupon-tb week {%if common_info["discount_way"]==0 %}hidden{%end%}">
                <colgroup>
                    <col width="130"/>
                </colgroup>
                <thead>
                    <td>&nbsp;</td>
                    <td class="change-week ">
                    {%set weeks=["","周一","周二","周三","周四","周五","周六","周日"]%}
                    {%for x in range(1,8)%}
                        <a href="javascript:;" class="week-btn mr10 {%if common_info["edit_status"]!=0%}forbidden-btn{%end%} {%if x in common_info["weeks"]%}back_green{%else%}{%if common_info["edit_status"]!=0%}back_gray1{%end%}{%end%}" week-id={{x}}>{{weeks[x]}}</a>
                    {%end%}
                    </td>
                </thead>
            </table>
            <table class="coupon-tb week-time {%if common_info["discount_way"]==0 %}hidden{%end%}">
                <colgroup>
                    <col width="130"/>
                    <col width="90"/>
                </colgroup>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>开始时间</td>
                    <td>
                        <div class=""> 
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]!=0%}disabled{%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-hour" data-id={{common_info["f_hour"]}}>{{common_info["f_hour"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-hour-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,24)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item " href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">时</span>
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]!=0%}disabled{%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-minute" data-id={{common_info["f_minute"]}}>{{common_info["f_minute"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-minute-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">分</span>
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]!=0%}disabled{%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 f-second" data-id={{common_info["f_second"]}}>{{common_info["f_second"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 f-discount-second-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">秒</span>  
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-below">结束时间 </td>
                    <td>
                        <div class="">
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]==3%}disabled{%end%}" type="button" data-toggle="dropdown" data-id={{common_info["edit_status"]}}>
                                    <em class="pull-left c333 t-hour" data-id={{common_info["t_hour"]}} old_t_hour={{common_info["t_hour"]}}>{{common_info["t_hour"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-hour-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,24)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">时</span>
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]==3%}disabled{%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 t-minute" data-id={{common_info["t_minute"]}} old_t_minute={{common_info["t_minute"]}}>{{common_info["t_minute"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-minute-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">分</span>
                            <div class="dropdown slide-down-select w50 mr10 time-btn-width">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]==3%}disabled{%end%}" type="button" data-toggle="dropdown" >
                                    <em class="pull-left c333 t-second" data-id={{common_info["t_second"]}} old_t_second={{common_info["t_second"]}}>{{common_info["t_second"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w50 t-discount-second-items time-btn-width" role="menu" aria-labelledby="dropdownMenu18">
                                    {%for x in range(0,60)%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id={{x}} >{{x}}</a>
                                    </li>
                                    {%end%}
                                </ul>
                            </div><span class="text-below">秒</span>  
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
            <p class="c999 f12 mt6 discount-tip hidden">开始结束时间均为选择的日期当天内的时间段</p>
            <input id="discount-length" value="{{len(discount_items)}}" class="hidden">
            {%for data in discount_items%}
            <table class="coupon-tb discount_item">
                <colgroup>
                    <col width="120"/>
                </colgroup>
                <tbody class="to_clone new_tbody">
                <tr class="">
                    <td class="ver-top "><span class="ver-5  should_remove {%if discount_items.index(data)>1%}hidden{%end%}">折扣商品<br></span></td>
                    <td class="no_border wrap-white">
                        <table class="">
                            <tr><div class="text_gray">商品<span class="goods_number" goods-id={{data["id"]}}>{{data["id"]}}</span></div></tr>
                            <tr class="no_border" >   
                                <td>
                                    <div class="iblock">
                                        <span class="mr10 ver7">商品名称</span>
                                        <div class="dropdown slide-down-select w130 mr10 use_group">
                                            <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]!=0%}disabled{%end%}" type="button" data-toggle="dropdown">
                                                <em class="pull-left c333 use_goods_group" data-id={{data["use_goods_group"]}}>{{data["use_goods_group_text"]}}</em>
                                                <span class="caret pull-right no-margin-left rotate0"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lst scroll-bar-discount" role="menu" aria-labelledby="dropdownMenu18">
                                                <li class="presentation" role="presentation">
                                                    <a class="item" href="javascript:;" data-id="-2">所有分组</a>
                                                </li>
                                                {% for group in output_data%}
                                                <li class="presentation" role="presentation">
                                                    <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                                </li>
                                                {% end %}
                                            </ul>
                                        </div>
                                        <div class="dropdown slide-down-select w130 ">
                                            <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if common_info["edit_status"]!=0%}disabled{%end%}" type="button" data-toggle="dropdown">
                                                <em class="pull-left c333 use_goods" data-id={{data["use_goods"]}}>{{data["use_goods_text"]}}</em>
                                                <span class="caret pull-right no-margin-left rotate0"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lst scroll-bar-discount" role="menu" aria-labelledby="dropdownMenu18">
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="charge-type no_border {%if data["use_goods"]==-1%}hidden{%end%}">
                                <td>原价(多选)<span class='charge_list'>
                                {%if data["use_goods_group"]==-2%}
                                {%set charges=[]%}
                                {%else%}
                                {%if data["use_goods"]==-1%}
                                {%set charges=[]%}
                                {%else%}
                                {%set index1=output_data.index({"group_id":data["use_goods_group"],"group_name":data["use_goods_group_text"]})%}
                                {%set index2=data1[index1].index({"goods_id":data["use_goods"],"goods_name":data["use_goods_text"]})%}
                                {%set charges=chargetype[index1][index2]%}
                                {%end%}
                                {%end%}
                                {%for charge in charges%}
                                    <button class="charge-btn mr10 {%if charge["charge_id"] in data["charges"]%}back_green{%end%} {%if common_info["edit_status"]!=0%}disabled{%end%}" charge_id={{charge["charge_id"]}}>{{charge["charge"]}}</button>
                                {%end%}
                                </span></td>
                            </tr>
                            <tr class="no_border">
                                <td>
                                   活动折扣<input type="text" class="discount_rate {%if common_info["edit_status"]!=0%}disabled{%end%}" value="{{data["discount_rate"]}}" {%if common_info["edit_status"]!=0%}disabled="disabled"{%end%}><span class="ml10">折（1-10之间）</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <tr>
                        <td></td>
                        <td><a href="javascript:;" class="mt6 mr10 fr discount_close
                        {%if data["status"]==3%}text_gray{%else%}text_red{%end%}" data-id={{data["status"]}} >{%if data["status"]==3%}已{%end%}停用</a></td>
                    </tr>
                </tr>
                </tbody>
                {%end%}
            </table>
        </div>
    </div>
    <div class="wrap-pop-btn wrap-edit-item">
        <a href="javascript:;" class="ok-btn ok-edit" data-flag="on">确定</a>
        <a href="javascript:;" class="cancel-btn cancel-new-discount cancel-edit">取消</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="/static/js/third/datepicker/WdatePicker.js"></script>
<script src="{{static_url('js/admin-discount.js')}}"></script>
{% end %}