{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-marketing.css')}}"/>{% end %}

{% block content %}
{% set shop_code = current_shop.shop_code %}
<div class="row header_back">
               <div class="">
                 <a href="/admin/marketing?action=coupon"><span  class="cate-title">< 返回</span></a>
                <span class="mytitle">优惠券/编辑优惠券</span>
                </div>
</div>
<p class="tit7"> 当前正在编辑的优惠券编号为[{{output_data["coupon_id"]}}]</p>
<div class="row"> 
      <div class="col-lg-8">
           <div class="row div1">
                <p class="col-lg-2">优惠金额</p>
                <div class="in col-lg-5">
                    <input  value="{{output_data["coupon_money"]}}" id="in1">
                    <p class="tit4">只能是大于0.01的数字，可以为整数</p>
                </div>
                 <p class="col-lg-2">元</p>
            </div>
            <div class="row div1">
                <div class="col-lg-2">
                    <p>消费条件</p>
                    <p>(选填)</p>
                </div>
                 <div class="in col-lg-5">
                    <input value="{{output_data["use_rule"]}}"id="in2">
                    <p class="tit5">订单满多少元可用。如不填，则默认:订单满任意金额可用</p>
                </div>
                 <p class="col-lg-2">元</p>
             </div>
            <div class="row div1">
                <p class="col-lg-2">库存</p> 
                <div class="in col-lg-5">
                    <input value="{{output_data["coupon_totalnum"]}}"id="in3">
                    <p class="tit4">只能是大于0的数字</p>
                </div>
                <p class="col-lg-2">张</p>
            </div>
            <div class="row div1">
                <div class="col-lg-2">
                <p>领取限制</p>
                <p>(选填)</p>
                </div> 
                <div class="in col-lg-5">
                    <input value="{{output_data["get_limitnum"]}}"id="in4">
                    <p class="tit5">每个用户领取上限。如不填，则默认为1</p>
                </div>
                <p class="col-lg-2">张</p>
            </div>
            <div class="row div1">
                <div class="col-lg-3">可消费商品</div>
                <div class="col-lg-3">选择商品分组</div>
                <div class="col-lg-4">
                     <select id="in9"  style="width:100px"  >
                        <option value="0">默认分组 </option>
                        <option value="-1">推荐分组 </option>
                        {% for data1 in output_data1 %}
                            <option value="{{data1['group_id']}}">{{data1['group_name']}}</option>
                        {% end %}
                </select>    
                </div>
            </div>
            {% if output_data["valid_way"] ==0%}
            <div class="row div1">
                <p class="col-lg-2">有效期</p> 
                <div class="in col-lg-2">
                    <form action="" method="get"> 
                        <label class="tit5"><input name="valid_way" type="radio" value="" checked="checked"/>固定日期 </label></br>
                        <label class="tit5 cmradio"><input name="valid_way" type="radio" value="" />领取后</label> 
                    </form> 
            </div>
            <div class="col-lg-7">
                <div class="">
                    <div class="row"> 
                        <p class="col-lg-4">生效时间：</p>
                        <input type="text" class="Wdate col-lg-5" onFocus="WdatePicker({isShowWeek:true,onpicked:function() {$dp.$('d122_1').value=$dp.cal.getP('W','W');$dp.$('d122_2').value=$dp.cal.getP('W','WW');}})" id="in7">
                    </div>
                    <div class="row"> 
                        <p class="col-lg-4">失效时间：</p>
                        <input type="text" class="Wdate col-lg-5" onFocus="WdatePicker({isShowWeek:true,onpicked:function() {$dp.$('d122_1').value=$dp.cal.getP('W','W');$dp.$('d122_2').value=$dp.cal.getP('W','WW');}})" id="in8">
                    </div>
                </div>
                
                <div class="row">
                    <select id="in5"  class="col-lg-3 tit5"  >
                        <option value="0">当天 </option>
                        <option value="1">1天 </option>
                        <option value="2">2天 </option>
                        <option value="3">3天 </option>
                        <option value="4">4天 </option>
                        <option value="5">5天 </option>
                        <option value="6">6天 </option>
                        <option value="7">7天 </option>
                        <option value="8">8天 </option>
                        <option value="9">9天 </option>
                        <option value="10">10天 </option>
                        <option value="11">11天 </option>
                        <option value="12">12天 </option>
                        <option value="13">13天 </option>
                        <option value="14">14天 </option>
                        <option value="15">15天 </option>
                        <option value="16">16天 </option>
                        <option value="17">17天 </option>
                        <option value="18">18天 </option>
                        <option value="19">19天 </option>
                        <option value="20">20天 </option>
                        <option value="21">21天 </option>
                        <option value="22">22天 </option>
                        <option value="23">23天 </option>
                        <option value="24">24天 </option>
                        <option value="25">25天 </option>
                        <option value="26">26天 </option>
                        <option value="27">27天 </option>
                        <option value="28">28天 </option>
                        <option value="29">29天 </option>
                        <option value="30">30天 </option>
                    </select>    
                    <div class="col-lg-5 tit5">生效<span style="margin-left:25px">有效天数</span></div>
                    <select id="in6"  class="col-lg-3"  >
                        <option value="1" selected="selected">1天 </option>
                        <option value="2">2天 </option>
                        <option value="3">3天 </option>
                        <option value="4">4天 </option>
                        <option value="5">5天 </option>
                        <option value="6">6天 </option>
                        <option value="7">7天 </option>
                        <option value="8">8天 </option>
                        <option value="9">9天 </option>
                        <option value="10">10天 </option>
                        <option value="11">11天 </option>
                        <option value="12">12天 </option>
                        <option value="13">13天 </option>
                        <option value="14">14天 </option>
                        <option value="15">15天 </option>
                        <option value="16">16天 </option>
                        <option value="17">17天 </option>
                        <option value="18">18天 </option>
                        <option value="19">19天 </option>
                        <option value="20">20天 </option>
                        <option value="21">21天 </option>
                        <option value="22">22天 </option>
                        <option value="23">23天 </option>
                        <option value="24">24天 </option>
                        <option value="25">25天 </option>
                        <option value="26">26天 </option>
                        <option value="27">27天 </option>
                        <option value="28">28天 </option>
                        <option value="29">29天 </option>
                        <option value="30">30天 </option>
                    </select> 
                </div> 
           {% else %}
            <div class="row div1">
                <p class="col-lg-2">有效期</p> 
                <div class="in col-lg-2">
                    <form action="" method="get"> 
                        <label class="tit5"><input name="valid_way" type="radio" value="{{output_data["uneffective_time"]}}"/>固定日期 </label></br>
                        <label class="tit5"><input name="valid_way" type="radio" value="" checked="checked" />领取后</label> 
                    </form> 
            </div>
            <div class="col-lg-7">
                <div class="">
                    <div class="row"> 
                        <p class="col-lg-4">生效时间：</p>
                        <input type="text" class="Wdate col-lg-5" onFocus="WdatePicker({isShowWeek:true,onpicked:function() {$dp.$('d122_1').value=$dp.cal.getP('W','W');$dp.$('d122_2').value=$dp.cal.getP('W','WW');}})" id="in7">
                    </div>
                    <div class="row"> 
                        <p class="col-lg-4">失效时间：</p>
                        <input type="text" class="Wdate col-lg-5" onFocus="WdatePicker({isShowWeek:true,onpicked:function() {$dp.$('d122_1').value=$dp.cal.getP('W','W');$dp.$('d122_2').value=$dp.cal.getP('W','WW');}})" id="in8">
                    </div>
                </div>
                 <div class="row">
                    <select id="in5"  class="col-lg-3 tit5"  >
                        <option value="0">当天 </option>
                        <option value="1">1天 </option>
                        <option value="2">2天 </option>
                        <option value="3">3天 </option>
                        <option value="4">4天 </option>
                        <option value="5">5天 </option>
                        <option value="6">6天 </option>
                        <option value="7">7天 </option>
                        <option value="8">8天 </option>
                        <option value="9">9天 </option>
                        <option value="10">10天 </option>
                        <option value="11">11天 </option>
                        <option value="12">12天 </option>
                        <option value="13">13天 </option>
                        <option value="14">14天 </option>
                        <option value="15">15天 </option>
                        <option value="16">16天 </option>
                        <option value="17">17天 </option>
                        <option value="18">18天 </option>
                        <option value="19">19天 </option>
                        <option value="20">20天 </option>
                        <option value="21">21天 </option>
                        <option value="22">22天 </option>
                        <option value="23">23天 </option>
                        <option value="24">24天 </option>
                        <option value="25">25天 </option>
                        <option value="26">26天 </option>
                        <option value="27">27天 </option>
                        <option value="28">28天 </option>
                        <option value="29">29天 </option>
                        <option value="30">30天 </option>
                    </select>    
                    <div class="col-lg-5 tit5">生效<span style="margin-left:25px">有效天数</span></div>
                    <select id="in6"  class="col-lg-3"  >
                        <option value="1" selected="selected">1天 </option>
                        <option value="2">2天 </option>
                        <option value="3">3天 </option>
                        <option value="4">4天 </option>
                        <option value="5">5天 </option>
                        <option value="6">6天 </option>
                        <option value="7">7天 </option>
                        <option value="8">8天 </option>
                        <option value="9">9天 </option>
                        <option value="10">10天 </option>
                        <option value="11">11天 </option>
                        <option value="12">12天 </option>
                        <option value="13">13天 </option>
                        <option value="14">14天 </option>
                        <option value="15">15天 </option>
                        <option value="16">16天 </option>
                        <option value="17">17天 </option>
                        <option value="18">18天 </option>
                        <option value="19">19天 </option>
                        <option value="20">20天 </option>
                        <option value="21">21天 </option>
                        <option value="22">22天 </option>
                        <option value="23">23天 </option>
                        <option value="24">24天 </option>
                        <option value="25">25天 </option>
                        <option value="26">26天 </option>
                        <option value="27">27天 </option>
                        <option value="28">28天 </option>
                        <option value="29">29天 </option>
                        <option value="30">30天 </option>
                    </select> 
                </div> 
            </div>
            {% end %}
        </div>
</div>
      <div class="col-lg-4 div1"> hhhh</div>
</div>
<div class="row">
    <button class="edit editconfigbtn cmhref">确认</button>
    <a href="/admin/marketing?action=coupon" class="cmhref"> <button class="configcancel ">取消</button></a>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/third/datepicker/WdatePicker.js')}}"></script>
<script src="{{static_url('js/admin-marketing.js')}}"></script>
{% end %}