{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin-reset.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/admin-marketing.css')}}"/>
{% end %}
{% block content %}
{% set shop_code = current_shop.shop_code %}
<div class="">
    <p class="c333 mt10 choose-text">
        <a href="/admin/marketing?action=coupon&coupon_type={{pre_coupon["coupon_type"]}}" class=" c999 cancel-add-goods">优惠券</a>
        <span class="c333"> / 编辑优惠券</span>
    </p>
</div>
<input type="hidden" id="goods" value="{{data1}}"/>
<div class="wrap-newcoupon mt20">
    <div class="newcoupon-box group">
        <div class="wrap-coupontb fl">
            <table class="coupon-tb">
                <colgroup>
                    <col width="14%"/>
                    <col width="86%"/>
                </colgroup>
                <thead>
                <tr>
                    <td class="">优惠券种类</td>
                    <td>
                        <div class="dropdown slide-down-select pull-left w130 mt2">
                            <button class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} btn btn-default dropdown-toggle area height25 slide-btn forbidden-btn" type="button" data-toggle="dropdown">
                                <em class=" pull-left c333 current-type" data-id="0">{% if pre_coupon["coupon_type"]==0%}活动优惠券{%else%}充值优惠券{%end%}</em>
                                <span class="caret pull-right no-margin-left rotate0"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right w130 coupon-types hidden" role="menu" aria-labelledby="dropdownMenu18">
                                <li class="presentation" role="presentation">
                                    <a class="item" href="javascript:;" data-id="0">活动优惠券</a>
                                </li>
                                <li class="presentation" role="presentation">
                                    <!-- <a class="item" href="javascript:;" data-id="1">充值优惠券</a> -->
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody class="coupon1 {% if pre_coupon['coupon_type']==1 %}hidden{% end %}">
                <tr>
                    <td class="ver-top"><span class="ver-5">领取时间</span></td>
                    <td>
                        <div class="">
                            选择领取时间 : <input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate from_get_date  " id="date1" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date2\')}'})" value="{{pre_coupon["from_get_date"]}}" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}>
                             到 <input type="text" class="  {%if  pre_coupon["edit_status"]==2 %} disabled {%end%} Wdate to_get_date" id="date2" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date1\')}'})"  value="{{pre_coupon["to_get_date"]}}" {%if  pre_coupon["edit_status"]==2 %}disabled="disabled"{%end%}>
                        </div>
                        <p class="red-txt f12 mt6">优惠券将于领取时间内发放至发现中，由用户领取</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取限制<br><span class="c999 ml10">(选填)</span></span></td>
                    <td><input type="text" value="{{pre_coupon["get_limit"]}}" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 get_limit" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}/>张<p class="f12 c999 mt6">每个用户领取上限。如不填，则默认为1</p></td>
                </tr>
                <tr>
                    <td class="ver-top" ><span class="ver-5">库存</span></td>
                    <td><input type="text" class="  {%if  pre_coupon["edit_status"]==2 %} disabled {%end%}   mr10 total_number {%if  pre_coupon["edit_status"]==2%}disabled="disabled"{%end%}" value="{{pre_coupon["total_number"]}}" total-id="{{pre_coupon["total_number"]}}" />张<p class="mt6 f12 red-txt">只能为整数,且库存量必须不小于原库存,且新建张数不能大于1000</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠条件<br><span class="c999 ml10">(选填)</span></span></td>
                    <td>
                        <div class="iblock">
                            <span class=" mr10 ver7">选择商品分组:</span>
                            <div class="{%if  pre_coupon["edit_status"]!=0 %} disabled {%end%}  dropdown slide-down-select w130 mr10 ">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if  pre_coupon["edit_status"]!=0%}forbidden-btn disabled {%end%}" type="button" data-toggle="dropdown">
                                    <em class=" pull-left c333 use_goods_group" data-id="-2">{{pre_coupon["use_goods_group"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lst {%if  pre_coupon["edit_status"]!=0%}hidden{%end%}" role="menu" aria-labelledby="dropdownMenu18">
                                    {% for group in output_data%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <div class="{%if  pre_coupon["edit_status"]!=0 %} disabled {%end%}  dropdown slide-down-select w130">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if  pre_coupon["edit_status"]!=0%}forbidden-btn disabled {%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goods" data-id="-1">{{pre_coupon["use_goods"]}}</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lst {%if  pre_coupon["edit_status"]!=0%}hidden{%end%}" role="menu" aria-labelledby="dropdownMenu18">
                               <li class="presentation" role="presentation">
                                </li>
                                </ul>
                            </div>
                        </div>
                        <p><input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 use_rule " value="{{pre_coupon["use_rule"]}}" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} />元</p>
                        <p class="c999 f12 mt6">买满多少元的什么商品可消费优惠券。如不填，则默认0：任意商品买满任意金额均可使用。</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠金额</span></td>
                    <td><input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 coupon_money" value="{{pre_coupon["coupon_money"]}}"  {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}/>元<p class="red-txt f12 mt6">只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠券有效期</span></td>
                    <td class="radio-list radio-list1 {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn {%end%} ">
                        <div class="coupon-row f12">
                            <a href="javascript:;" class="radio  {%if  pre_coupon["valid_way"]==0 %}radio-active {%end%} {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn{%end%}" data-id="0"></a>
                            <input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate from_valid_date" id="date3" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date4\')}'})" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} {%if  pre_coupon["valid_way"]==0%}value="{{pre_coupon["from_valid_date"]}}" {%else%}value="" {%end%}>
                             到 <input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate to_valid_date" id="date4" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date3\')}'})" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} {%if  pre_coupon["valid_way"]==0%}value="{{pre_coupon["to_valid_date"]}}" {%else%} {%end%}>
                        </div>
                        <div class="coupon-row f12 mt10">
                            <a href="javascript:;" class="radio {%if  pre_coupon["valid_way"]==1 %}radio-active {%end%} {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn{%end%}" data-id="1"></a>
                            领取即生效，有效期天数为 <input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 last_day" {%if  pre_coupon["valid_way"]==1%}value="{{pre_coupon["last_day"]}}" {%else%}value="" {%end%} {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}>天
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="coupon2 {% if pre_coupon['coupon_type']==0 %}hidden{% end %}">
                <tr>
                    <td class="ver-top"><span class="ver-5">领取时间</span></td>
                    <td>
                        <div class="">
                            选择领取时间 : <input type="text" class="  {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate from_get_dates" id="date5" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date6\')}'})" value="{{pre_coupon["from_valid_date"]}}" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} >
                            到 <input type="text" class="  {%if  pre_coupon["edit_status"]==2 %} disabled {%end%} Wdate to_get_dates" id="date6" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date5\')}'})" value="{{pre_coupon["to_get_date"]}}" {%if  pre_coupon["edit_status"]==2 %}disabled="disabled"{%end%} >
                        </div>
                        <p class="red-txt f12 mt6">用户在领取时间内充值即得优惠券</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取条件</span></td>
                    <td><input type="text" class=" get_rules {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 get_rule" value="{{pre_coupon["get_rule"]}}"  {%if  pre_coupon["edit_status"]!=0%}disabled="disabled"{%end%}/>元<p class="mt6 f12 red-txt" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}>充值满多少元可领取优惠券。只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取限制<br><span class="c999 ml10">(选填)</span></span></td>
                    <td><input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 get_limits" value="{{pre_coupon["get_limit"]}}"  {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}/>张<p class="f12 c999 mt6">每个用户领取上限。如不填，则默认为无上限</p></td>
                </tr>
                <tr>
                    <td class="ver-top" ><span class="ver-5">库存</span></td>
                    <td><input type="text" class=" {%if  pre_coupon["edit_status"]==2 %} disabled {%end%} mr10 total_numbers {%if  pre_coupon["edit_status"]==2%}disabled="disabled"{%end%}" value="{{pre_coupon["total_number"]}}" total-id="{{pre_coupon["total_number"]}}" {%if  pre_coupon["edit_status"]==2 %}disabled="disabled"{%end%} />张<p class="mt6 f12 red-txt">只能为整数,且库存量必须不小于原库存,且新建张数不能大于1000</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠条件<br><span class="c999 ml10">(选填)</span></span></td>
                    <td>
                        <div class="iblock">
                            <span class="mr10 ver7">选择商品分组:</span>
                            <div class="{%if  pre_coupon["edit_status"]!=0 %} disabled {%end%}  dropdown slide-down-select w130 mr10">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn disabled {%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goods_groups" data-id="-2">所有分组</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lsts {%if  pre_coupon["edit_status"]!=0 %}hidden{%end%}" role="menu" aria-labelledby="dropdownMenu18">
                                    {% for group in output_data%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <div class="{%if  pre_coupon["edit_status"]!=0 %} disabled {%end%}  dropdown slide-down-select w130">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn disabled {%end%}" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goodss" data-id="-1">所有商品</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lsts {%if  pre_coupon["edit_status"]!=0 %}hidden{%end%}" role="menu" aria-labelledby="dropdownMenu18">
                                </ul>
                            </div>
                        </div>
                        <p><input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 use_rules {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}" value="{{pre_coupon["use_rule"]}}"  {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}/>元</p>
                        <p class="c999 f12 mt6">买满多少元的什么商品可消费优惠券。如不填，则默认0：任意商品买满任意金额均可使用。</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠金额</span></td>
                    <td><input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 coupon_moneys" value="{{pre_coupon["coupon_money"]}}"  {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}/>元<p class="red-txt f12 mt6">只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠券有效期</span></td>
                    <td class="radio-list radio-list2 {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn {%end%} ">
                        <div class="coupon-row f12">
                            <a href="javascript:;" class="radio {%if  pre_coupon["valid_way"]==0 %}radio-active {%end%} { {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn{%end%}" data-id="0"></a>
                            <input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate from_valid_dates" id="date3" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date4\')}'})" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} {%if  pre_coupon["valid_way"]==0%}value="{{pre_coupon["from_valid_date"]}}" {%else%}value="" {%end%}>
                             到 <input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} Wdate to_valid_dates" id="date4" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date3\')}'})" {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%} {%if  pre_coupon["valid_way"]==0%}value="{{pre_coupon["to_valid_date"]}}" {%else%}value="" {%end%}>
                        </div>
                        <div class="coupon-row f12 mt10">
                            <a href="javascript:;" class="radio {%if  pre_coupon["valid_way"]==1 %}radio-active {%end%} {%if  pre_coupon["edit_status"]!=0 %}forbidden-btn{%end%}" data-id="1"></a>
                            领取即生效，有效期天数为 <input type="text" class=" {%if  pre_coupon["edit_status"]!=0 %} disabled {%end%} mr10 last_days" {%if  pre_coupon["valid_way"]==1%}value="{{pre_coupon["last_day"]}}" {%else%}value="" {%end%} {%if  pre_coupon["edit_status"]!=0 %}disabled="disabled"{%end%}>天
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="coupon-prview fl hide">
            这是预览
        </div>
    </div>
    <div class="wrap-pop-btn wrap-edit-item">
        <a href="javascript:;" class="ok-btn ok-editcoupon" data-id="{{pre_coupon["coupon_id"]}}" data-flag="{{pre_coupon["edit_status"]}}" data-type="{{pre_coupon["coupon_type"]}}">确定</a>
        <a href="javascript:;" class="cancel-btn cancel-edit-goods goback">取消</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="{{static_url('js/third/datepicker/WdatePicker.js')}}"></script>
<script src="{{static_url('js/admin-coupon.js')}}"></script>
{% end %}