{% extends 'goods-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-goods-fruit.css')}}"/>{% end %}
{% block goodsLeft %}
<ul>
    <li class="goods-list-item">
        <div class="goods-item-show">
            <div class="shelve-action pull-left">
                <span class="unshelve stop-mode">未上架</span>
                <span class="shelve work-mode" style="display:none">已上架</span>
            </div>
            <div class="goods-info pull-left">
                <div class="goods-img pull-left">
                    <img src="{{static_url('images/anoa-1-md.gif')}}"/>
                </div>
                <div class="info-box pull-right">
                    <p class="clearfix">
                        <label class="name pull-left text-red set-right10">苹果</label>
                        <span class="priority pull-left">排序优先级：<span class="number">5</span></span>
                        <span class="sale pull-right">销量：<span class="number">666</span>个</span>
                    </p>
                    <p class="clearfix">
                        <span class="praise pull-left set-right20">点赞：<span class="number">666</span></span>
                        <span class="comment pull-left">评论：<span class="number">666</span></span>
                        <span class="on-sale pull-right">在售：<span class="number">666</span>个</span>
                        <span class="storage pull-right set-right20">库存：<span class="number">666</span>个</span>
                    </p>
                    <div class="clearfix"></div>
                    <ul class="charge-list">
                        <li>计价方式1:<label class="charge-type text-red set-left10">88元/2斤</label></li>
                    </ul>
                    <a href="#" class="edit-btn2 pull-right">编辑</a>
                </div>
            </div>
        </div>
        <div class="goods-item-edit">

        </div>
    </li>
</ul>
<div class="users-pagination list-pagination">
    <ul>
        <li><a href="#" class="page-btn pre-page">&nbsp;</a></li>
        <li>
            <span class="page-now">2</span>/<span class="page-total">15</span>
        </li>
        <li><a href="#" class="page-btn next-page">&nbsp;</a></li>
        <li><input class="input-page form-control" type="text" value="输入页码"/></li>
        <li><a href="#" class="jump-to">跳转</a></li>
    </ul>
</div>
{% end %}
{% block goodsRight %}
    <span class="title">已上架(20)</span>
    <div class="shelve">
        <a href="#">苹果</a>

    </div>
    <span class="title">未上架(20)</span>
    <div class="un-shelve">
        <a href="#">苹果</a>

    </div>
    <a href="javascript:;" class="supply-new-item add-btn-sty">+ 申请新品种</a>
{% end %}


{% block bottom %}<script src="{{static_url('js/admin-goods-fruit.js')}}"></script>{% end %}