{% extends 'goods-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-goods-fruit.css')}}"/>{% end %}
{% block goodsLeft %}
<ul class="goods-list clearfix">
    {% for goods in mgoodses %}
    <li class="goods-list-item goods-item" data-id="{{goods.id}}"  data-type="menu">
        <div class="goods-item-show">
            <div class="goods-edit-active shelve-action pull-left" data-active="{{goods.active}}">
                <span class="unshelve stop-mode">已下架</span>
                <span class="shelve work-mode" style="display:none">已上架</span>
            </div>
            <div class="goods-info pull-left">
                <div class="goods-img pull-left">
                    <span class="goods-tag" data-id="{{goods.tag}}"></span>
                    {% if goods.img_url%}
                    <img src="{{goods.img_url}}?imageView/1/w/100/h/100"/>
                    {% else %}
                    <img src="/static/design_img/TDSG.gif"/>
                    {% end %}
                </div>
                <div class="info-box pull-right">
                    <p class="clearfix">
                        <label class="name pull-left text-pink set-right10">{{goods.name}}</label>
                        <span class="priority pull-left">排序优先级：{{goods.priority}}</span>
                        <span class="sale pull-right">
                            销量：{{goods.saled}}
                            <span data-id="{{goods.unit}}" class="good-unit"></span>
                        </span>
                    </p>
                    <p class="clearfix">
                        <span class="praise pull-left set-right20">点赞：{{goods.favour}}</span>
                        <span class="comment pull-left">评论：0</span>
                        <span class="on-sale pull-right">
                            在售：{{goods.current_saled}}
                            <span data-id="{{goods.unit}}" class="good-unit"></span>
                        </span>
                        <span class="storage pull-right set-right20">
                            库存：{{goods.storage}}
                            <span data-id="{{goods.unit}}" class="good-unit"></span>
                        </span>
                    </p>
                    <div class="clearfix"></div>
                    <ul class="charge-list">
                        {% for charge in goods.mcharge_types %}
                        <li>计价方式1:
                            <label class="charge-type text-pink set-left10">
                                {{charge.price}}元/{{charge.num}}
                                <span class="good-unit" data-id="{{charge.unit}}"></span>
                            </label>
                        </li>
                        {% end %}
                    </ul>
                    <a href="javascript:;" class="edit-btn2 pull-right bg-white edit-goods-info">编辑</a>
                </div>
            </div>
        </div>
        <!--商品信息编辑start-->
        <div class="goods-item-edit add-edit-item hidden">
            <div class="goods-edit-active shelve-action pull-left" data-active="{{goods.active}}">
                <span class="unshelve stop-mode">已下架</span>
                <span class="shelve work-mode" style="display:none">已上架</span>
            </div>
            <div class="goods-info pull-left">
                <div class="upload-img goods-left pull-left">
                    <span class="goods-tag" data-id="{{goods.tag}}"></span>
                    {% if goods.img_url%}
                    <img src="{{goods.img_url}}?imageView/1/w/100/h/100" class="imgPreview" data-key="{{goods.img_url}}"/>
                    {% else %}
                    <img src="/static/design_img/TDSG.gif" class="imgPreview" data-key="{{goods.img_url}}" data-code="Gz"/>
                    {% end %}
                    <div class="upload-box btn-style2 green-color">

                    </div>
                    <a href="javascript:;" class="btn-style2 text-grey2 edit-recover-img">恢复默认图</a>
                </div>
                <div class="goods-right pull-right">
                    <p class="clearfix">
                        <span class="pull-left">名称：<input type="text" class="w2 goodsName" value="{{goods.name}}"/></span>
                        <span class="pull-right">销量：<input type="text" class="w1 goodsSale" value="{{goods.saled}}"/></span>
                    </p>
                    <div class="clearfix set-bottom10">
                        <span class="pull-left set-line26">
                            库存单位：
                            <span data-id="{{goods.unit}}" class="good-unit goodsUnit unitContent storage-unit set-right5"></span>
                        </span>
                        <span class="pull-left">库存：<input type="text" class="w1 goodsStorage" value="{{goods.storage}}"/></span>
                        <span class="pull-right">
                            在售：{{goods.current_saled}}
                            <span data-id="{{goods.unit}}" class="good-unit"></span>
                        </span>
                    </div>
                    <p>
                        <span class="pull-left">简介:</span>
                        <textarea class="pull-right w3 goodsIntro">{{goods.intro}}</textarea>
                    </p>
                </div>
                <div class="clearfix"></div>
                <hr/>
                <div class="goods-left tag-list pull-left" data-id="{{goods.tag}}">
                    <p class="text-center">商品标签</p>
                    <a href="javascript:;" class="btn-style3 text-white bg-grey" data-id="1">无</a>
                    <a href="javascript:;" class="btn-style3 text-white bg-grey" data-id="2">限时折扣</a>
                    <a href="javascript:;" class="btn-style3 text-white bg-grey" data-id="3">热卖中</a>
                    <a href="javascript:;" class="btn-style3 text-white bg-grey" data-id="4">今日特价</a>
                    <a href="javascript:;" class="btn-style3 text-white bg-grey" data-id="5">新品</a>
                </div>
                <div class=" goods-right pull-right">
                    <p>
                        排序优先级：
                        <input type="text" class="w4 set-right10 goodsPriority" value="{{goods.priority}}"/>
                        <small>(输入1-5的数字，数字越高，商品越靠前排布)</small>
                    </p>
                    <div class="add-charge-box bg-white set-width-float">
                        <p class="clearfix">
                            <span class="pull-left">计价方式</span>
                            <a href="javascript:;" class="pull-right add-btn2 editNewCharge">+新增计价方式</a>
                        </p>
                        <ul class="add-charge-list add-goods-charge-list set-width-float">
                            {% for charge in goods.mcharge_types %}
                            <li class="set-width-float edit-charge-list" data-id="{{charge.id}}">
                                <span class="pull-left set-line26 set-right10">
                                    价格：
                                    <span class="w4 set-inline-block edit_price">{{charge.price}}</span>
                                </span>
                                <span class="pull-left set-line26 set-right10">
                                    数量：
                                    <span class="w4 set-inline-block edit_num">{{charge.num}}</span>
                                </span>
                                <span class="pull-left set-line26 set-right5 item-unit">
                                    单位：
                                    <span  data-id="{{charge.unit}}" class="good-unit charge-unit unitContent edit_unit"></span>
                                </span>
                                <div class="pull-left unit-change hidden set-line26">
                                    =
                                    <span class="set-right5 set-left5 set-inline-block edit_unit_num">{{charge.unit_num}}</span>
                                    <span data-id="{{goods.unit}}" class="good-unit"></span>
                                </div>
                                <a href="javascript:;" class="delete-btn2 pull-right delete-charge-type" title="删除计价方式"></a>
                                <a href="javascript:;" class="edit-btn3 pull-right set-right10 edit-charge-show" title="编辑计价方式"></a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr/>
                <div class="set-width-float">
                    <div class="col-lg-6">
                        <a href="javascript:;" class="modal-sure-btn pull-right edit-goods-sure">确定</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:;" class="modal-concel-btn edit-goods-concel">取消</a>
                    </div>
                </div>
            </div>
        </div>
        <!--商品信息编辑end-->
    </li>
    {% end %}
</ul>
<a href="javascript:;" class="add-new-goods text-green center-block"><strong>+</strong>添加新商品</a>
<!--新增商品start-->
<div class="modal fade add-new-goods-box"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<!--新增商品end-->

<!--新增计价方式start-->
<div class="modal fade add-new-charge-box"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<!--新增计价方式end-->

<!--编辑计价方式start-->
<div class="modal fade edit-charge-box"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<!--编辑计价方式end-->
{% end %}

{% block bottom %}
<script src="{{static_url('js/jquery.uploadifive.min.js')}}"></script>
<script src="{{static_url('js/admin-goods-fruit.js')}}"></script>
{% end %}