{% extends 'goods-set-base.html' %}
{% block setcontent %}
<div class="wrap-goods-del">
    <ul class="list-operate group">
        <li class="">
            <span class="check-box ml10 all-select-box"></span>全选
        </li>
        <li class="borderc text-center pointer min80" id="batch-cancel">批量撤销</li>
    </ul>
    <ul class="goods-all-list">

    </ul>
    <div class="users-pagination list-pagination group">
        <ul>
            <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
            <li>
                <span class="page-now">1</span>/<span class="page-total">7</span>
            </li>
            <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
            <li><input class="input-page form-control" type="text" placeholder="输入页码"></li>
            <li><a href="javascript:;" class="jump-to">跳转</a></li>
        </ul>
    </div>
</div>
<ul class="clone-goods hidden">
    <li class="goods-all-item">
        <p class="all-item-title">添加日期 : <span class="goods-add-time"></span></p>
        <div class="all-item-top">
            <span class="check-box item-checkbox ml10" ></span>
            <span class="item-name goods-goods-name"></span>
            <div class="iblock goods-group">
                <div class="cate-title mt2">商品分组：<span class="current-group c333">默认分组</span></div>
            </div>
            <span class="txt-box mls">库存 : <span class="c333"><span class="stock-num">723</span>个</span></span>
            <span class="txt-box">待成交 : <span class="c333"><span class="stay-num">223</span>个</span></span>
            <a href="javascript:;" class="add-btn cancel-del-goods">撤销删除</a>
        </div>
        <div class="all-item-cont group">
            <div class="all-item-left fl">
                <dl class="item-dl group">
                    <dt class="fl">
                        <img class="cur-goods-img" src="/static/images/TDSG.png" alt=""/>
                        <a href="javascript:;" class="show-txtimg" data-text="">查看图文详情</a>
                    </dt>
                    <dd class="fl">
                        <p>
                            <span class="mr10">商品分类 : <span class="c333 goods-classify"></span></span>
                            <span class="mr10">排序优先级 : <span class="c333 goods-priority"></span></span>
                            <span class="mr10">商品限购 : <span class="c333 limit-num"></span></span>
                        </p>
                        <div class="item-goods-detail mt10 group">
                            <span class="item-goods-title fl">商品介绍:</span>
                            <p class="item-goods-txt c333 fl">
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="all-item-right fl">
                <p>
                    <span class="mr10">商品点赞 : <span class="c333 dianzan">2233</span></span>
                    <a class="mr10 hidden" href="javascript:;">商品评论 : <span class="goods-comment-num">22</span>条</a>
                    <span class="mr10">销量 : <span class="c333"><span class="goods-vol">2233</span>个</span></span>
                </p>
                <div class="goods-price-list">
                </div>
            </div>
        </div>
    </li>
</ul>
<div class="pop-win pop-editor">
    <div class="wrap-kindeditor">
        <textarea id="kindEditor" class="kindeditor"></textarea>
        <div class="wrap-pop-btn">
            <a href="javascript:;" class="cancel-btn">取消</a>
        </div>
    </div>
</div>
<div class="wrap-loading-box hidden">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="load-txt">加载中...</div>
    </div>
</div>
{% end %}
{% block js %}
<script src="{{static_url('js/editor/kindeditor-min.js')}}"></script>
<script src="{{static_url('js/editor/zh_CN.js')}}"></script>
<script src="{{static_url('js/admin-goods-del.js')}}"></script>
{% end %}