{% extends 'goods-base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-goods-fruit.css')}}"/>{% end %}

{% block goods %}
    <div class="fruit-preview-list set-width-float">
        <ul>
            {% for fruit in fruit_types%}
            <li>
                <a href="{{reverse_url('adminShelf')}}?action=fruit&id={{fruit.id}}">
                    <img src="/static/design_img/{{fruit.code}}.png"/>
                    <p>{{fruit.name}}</p>
                </a>
            </li>
            {% end %}
        </ul>
    </div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-goods-fruit.js')}}"></script>
{% end %}