{% extends 'base.html' %}
{% block title %}森果后台登录{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-index.css')}}"/>{% end %}
{% block content %}
{% set shop = handler.current_shop %}
<div class="index-title">
    <div class="pull-left title-style">
        <div class="pull-left title-style2 new-item">
            <a href="{{reverse_url('adminOrder')}}?order_type=1&order_status=1&page=0">
                <span class="new-order"><i></i><b id="new_order_sum">{{new_order_sum}}</b></span>
                <p>新增订单</p>
            </a>
        </div>
        <div class="pull-right title-style2  new-item">
            <a href="{{reverse_url('adminStaffFollower')}}?action=all&&order_by=time&&page=0">
                <span class="new-user"><i></i><b id="new_follower_sum">{{new_follower_sum}}</b></span>
                <p>新增用户</p>
            </a>
        </div>
        <div class="line"></div>
    </div>
    <div class="pull-right title-style">
        <div class="pull-left title-style2 item">
            <a href="{{reverse_url('adminOrder')}}?order_type=1&order_status=1&page=0">
                <span class="total-order"><i></i><b id="order_sum">{{order_sum}}</b></span>
                <p>总订单数</p>
            </a>
        </div>
        <div class="pull-right title-style2 item">
            <a href="{{reverse_url('adminStaffFollower')}}?action=all&&order_by=time&&page=0">
                <span class="total-user"><i></i><b id="follower_sum">{{follower_sum}}</b></span>
                <p>总用户数</p>
            </a>
        </div>
        <div class="line"></div>
    </div>
</div>
<div class="index-notice-list">
    <span class="title">系统公告</span>
    <ul class="notice-list">
        {% for new_sys_notice in new_sys_notices %}
        <li>
            <a href="#" target="_blank">{{new_sys_notice.title}}</a>
            <i class="new-btn">NEW</i>
            <span>{{new_sys_notice.create_time}}</span>
        </li>
        {% end %}
        {% for sys_notice in sys_notices %}
        <li>
            <a href="#" target="_blank">{{sys_notice.title}}</a>
            <span>{{sys_notice.create_time}}</span>
        </li>
        {% end %}
    </ul>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-realtime.js')}}"></script>
{% end %}