<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <meta name="keywords" content="森果,水果商城,水果O2O,微信卖水果,水果系统,森果后台,森果登录，微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <title>森果O2O商城登录</title>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <script type="text/javascript">
        window.dataObj = {
                _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<div class="container center-block login-box">
  <!--<h2>请选择登录方式</h2>-->
  <!-- <div class="center-block">
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% raw handler.get_wexin_oauth_link(next_url=context['next_url'])%}">微信登录</a>
    <!--<a class="btn btn-default" href="{{reverse_url('adminLogin')}}" id="PhoneLogin">手机号登录</a>-->
  </div> 
  <div class="phone-login-box">
        <div class="info">
            <label class="w1">phone:</label><input type="text" value=""/>
        </div>
        <div class="info">
            <label class="w1">密码：</label><input type="text" value=""/>
        </div>
      <input type="submit" class="btn btn-primary" value="登录"/>
  </div>
</div>
