{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/admin-reset.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/admin-marketing.css')}}"/>
{% end %}
{% block content %}
{% set shop_code = current_shop.shop_code %}
<div class="">
    <p class="c333 mt10 choose-text">
        <a href="javasript:;" class="c999 cancel-add-goods goback">优惠券</a>
        <span class="c333"> / 新建优惠券</span>
    </p>
</div>
<input type="hidden" id="goods" value="{{data1}}"/>
<div class="wrap-newcoupon mt20">
    <div class="newcoupon-box group">
        <div class="wrap-coupontb fl">
            <table class="coupon-tb">
                <colgroup>
                    <col width="14%"/>
                    <col width="86%"/>
                </colgroup>
                <thead>
                <tr>
                    <td class="">优惠券种类</td>
                    <td>
                        <div class="dropdown slide-down-select pull-left w130 mt2">
                            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                <em class="pull-left c333 current-type" data-id="0">活动优惠券</em>
                                <span class="caret pull-right no-margin-left rotate0"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right w130 coupon-types" role="menu" aria-labelledby="dropdownMenu18">
                                <li class="presentation" role="presentation">
                                    <a class="item" href="javascript:;" data-id="0">活动优惠券</a>
                                </li>
                                <li class="presentation" role="presentation">
                                    <a class="item" href="javascript:;" data-id="1">充值优惠券</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody class="coupon1">
                <tr>
                    <td class="ver-top"><span class="ver-5">领取时间</span></td>
                    <td>
                        <div class="">
                            选择领取时间 : <input type="text" class="Wdate from_get_date" id="date1" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date2\')}'})">
                             到 <input type="text" class="Wdate to_get_date" id="date2" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date1\')}'})">
                        </div>
                        <p class="red-txt f12 mt6">优惠券将于领取时间内发放至发现中，由用户领取</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取限制<br><span class="c999 ml10">(选填)</span></span></td>
                    <td><input type="text" class="mr10 get_limit"/>张<p class="f12 c999 mt6">每个用户领取上限。如不填，则默认为1</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">库存</span></td>
                    <td><input type="text" class="mr10 total_number" value="1"/>张<p class="mt6 f12 red-txt">只能为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠条件<br><span class="c999 ml10">(选填)</span></span></td>
                    <td>
                        <div class="iblock">
                            <span class="mr10 ver7">选择商品分组:</span>
                            <div class="dropdown slide-down-select w130 mr10">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goods_group" data-id="-2">所有分组</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lst" role="menu" aria-labelledby="dropdownMenu18">
                                    {% for group in output_data%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <div class="dropdown slide-down-select w130">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goods" data-id="-1">所有商品</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lst" role="menu" aria-labelledby="dropdownMenu18">
                                </ul>
                            </div>
                        </div>
                        <p><input type="text" class="mr10 use_rule"/>元</p>
                        <p class="c999 f12 mt6">买满多少元的什么商品可消费优惠券。如不填，则默认：任意商品买满任意金额均可使用。</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠金额</span></td>
                    <td><input type="text" class="mr10 coupon_money"/>元<p class="red-txt f12 mt6">只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠券有效期</span></td>
                    <td class="radio-list radio-list1">
                        <div class="coupon-row f12">
                            <a href="javascript:;" class="radio" data-id="0"></a>
                            <input type="text" class="Wdate from_valid_date" id="date3" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date4\')}'})">
                             到 <input type="text" class="Wdate to_valid_date" id="date4" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date3\')}'})">
                        </div>
                        <div class="coupon-row f12 mt10">
                            <a href="javascript:;" class="radio" data-id="1"></a>
                            领取即生效，有效期天数为 <input type="text" class="mr10 last_day">天
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="coupon2 hidden">
                <tr>
                    <td class="ver-top"><span class="ver-5">领取时间</span></td>
                    <td>
                        <div class="">
                            选择领取时间 : <input type="text" class="Wdate from_get_dates" id="date5" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date6\')}'})">
                            到 <input type="text" class="Wdate to_get_dates" id="date6" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date5\')}'})">
                        </div>
                        <p class="red-txt f12 mt6">用户在领取时间内充值即得优惠券</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取条件</span></td>
                    <td><input type="text" class="mr10 get_rule"/>张<p class="mt6 f12 red-txt">充值满多少元可领取优惠券。只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">领取限制<br><span class="c999 ml10">(选填)</span></span></td>
                    <td><input type="text" class="mr10 get_limits"/>张<p class="f12 c999 mt6">每个用户领取上限。如不填，则默认为1</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">库存</span></td>
                    <td><input type="text" class="mr10 total_numbers" value="1"/>张<p class="mt6 f12 red-txt">只能为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠条件<br><span class="c999 ml10">(选填)</span></span></td>
                    <td>
                        <div class="iblock">
                            <span class="mr10 ver7">选择商品分组:</span>
                            <div class="dropdown slide-down-select w130 mr10">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goods_groups" data-id="-2">所有分组</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_group_lsts" role="menu" aria-labelledby="dropdownMenu18">
                                    {% for group in output_data%}
                                    <li class="presentation" role="presentation">
                                        <a class="item" href="javascript:;" data-id="{{group['group_id']}}">{{group['group_name']}}</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <div class="dropdown slide-down-select w130">
                                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" data-toggle="dropdown">
                                    <em class="pull-left c333 use_goodss" data-id="-1">所有商品</em>
                                    <span class="caret pull-right no-margin-left rotate0"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right w130 use_goods_lsts" role="menu" aria-labelledby="dropdownMenu18">
                                </ul>
                            </div>
                        </div>
                        <p><input type="text" class="mr10 use_rules"/>元</p>
                        <p class="c999 f12 mt6">买满多少元的什么商品可消费优惠券。如不填，则默认：任意商品买满任意金额均可使用。</p>
                    </td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠金额</span></td>
                    <td><input type="text" class="mr10 coupon_moneys"/>元<p class="red-txt f12 mt6">只能是大于0.01的数字，可以为整数</p></td>
                </tr>
                <tr>
                    <td class="ver-top"><span class="ver-5">优惠券有效期</span></td>
                    <td class="radio-list radio-list2">
                        <div class="coupon-row f12">
                            <a href="javascript:;" class="radio" data-id="0"></a>
                            <input type="text" class="Wdate from_valid_dates" id="date7" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'date8\')}'})">
                            到 <input type="text" class="Wdate to_valid_dates" id="date8" onFocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'date7\')}'})">
                        </div>
                        <div class="coupon-row f12 mt10">
                            <a href="javascript:;" class="radio" data-id="1"></a>
                            领取即生效，有效期天数为 <input type="text" class="mr10 last_days">天
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="coupon-prview fl">
            这是预览
        </div>
    </div>
    <div class="wrap-pop-btn wrap-edit-item">
        <a href="javascript:;" class="ok-btn ok-coupon">确定</a>
        <a href="javascript:;" class="cancel-btn cancel-edit-goods goback">取消</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="{{static_url('js/third/datepicker/WdatePicker.js')}}"></script>
<script src="{{static_url('js/admin-coupon.js')}}"></script>
{% end %}