{% extends 'base.html' %}
{% block title %}订单管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-order.css')}}"/>{% end %}
{% block content %}
{% set current_shop = handler.current_shop%}
{% set lock_mode='' %}
{% set notice=''%}
{% set notic2e=''%}
{% set now_active=''%}
{% set in_active=''%}
{% if order_type ==1 %}
    {% set lock_mode = current_shop.config.now_on %}
    {% set type_num =1 %}
    {% set now_active='active'%}
{% elif order_type ==2 %}
    {% set lock_mode = current_shop.config.ontime_on %}
    {% set type_num =2 %}
    {% set in_active='active'%}
{% end %}
{% if lock_mode == True %}
    {% set lock_mode = 'unlock-mode'%}
    {% set notice='开启'%}
    {% set notice2='停用'%}
{% else %}
    {% set lock_mode = 'lock-mode'%}
    {% set notice='停用'%}
    {% set notice2='启用'%}
{% end %}

<span class="right-title" id="order-title-manage">订单管理</span>
<div class="subnav-box clearfix">
    <ul class="subnav pull-left order-type">
        <li class="text-center col-lg-3 col-md-3 col-xs-3 col-sm-3 {{now_active}}">
            <a href="{{reverse_url('adminOrder')}}?order_type=1" class="text-grey3">立即送</a>
            <span class="number" id="atonce"></span>
        </li>
        <li class="text-center col-lg-3 col-md-3 col-xs-3 col-sm-3 {{in_active}}">
            <a href="{{reverse_url('adminOrder')}}?order_type=2" class="text-grey3">按时达</a>
            <span class="number" id="ontime"></span>
        </li>
        <!--<li class="text-center col-lg-3">
            <a href="#" class="text-grey3">周期购</a>
            <span class="number text-pink">888</span>
        </li>
        <li class="text-center col-lg-3">
            <a href="#" class="text-grey3">预售商品</a>
            <span class="number text-pink">888</span>
        </li>-->
    </ul>
    <div class="search-input input-group pull-right">
         <input type="text" value="" placeholder="输入订单编号进行搜索" class="search-con form-control"/>
         <input type="submit" value="订单搜索" class="search-btn form-control order-search"/>
    </div>
</div>
<!--orders-mode-end-->
<div class="mode-lock clearfix">
    <div class="mode-content {{lock_mode}} pull-left">
        {% if order_type ==1 %}
        <p class="lock-unlock">已{{notice}}立即送模式 (点击右方{{notice2}}按钮可{{notice2}}立即送订单模式。)</p>
        <p class="mode-introduce">用户下单完成，商家即要对订单打包并进行配送。满足用户对于商品的及时送达需求。</p>
        <p class="set-introduce">点击右方设置，可以设置立即送的送达时间范围和起送金额。</p>
        {% else %}
        <p class="lock-unlock">已{{notice}}按时达模式 (点击右方{{notice2}}按钮可{{notice2}}按时达订单模式。)</p>
        <p class="mode-introduce">根据商家设置的送货时间段进行配送。订单集中处理，节省配送成本。</p>
        <p class="set-introduce">点击右方设置，可以设置按时达的送达时间范围和起送金额。</p>
        {% end %}
    </div>
    <div class="mode-set pull-right">
        <a href="javascript:;" class="set-btn btn-style unlock-mode bg-green"  data-toggle="modal" data-target="#SetBox">设置</a>
        {% if order_type ==1 %}
            {% if current_shop.config.now_on==True %}
             <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopNowOn">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-green" id="startNowOn">启用</a>
            {% end %}
        {% elif order_type ==2 %}
            {% if current_shop.config.ontime_on==True %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopOnTime">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-green" id="startOnTime">启用</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="subnav-box">
    <ul class="subnav pull-left order-status">
        <li class="active" data-id="1">
            <a href="javascript:;">未处理&nbsp;<span class="text-pink num" id="not-deal"></span></a>
        </li>
        <li data-id="2">
            <a href="javascript:;">配送中&nbsp;<span class="text-pink num"></span></a>
        </li>
        <li data-id="3">
            <a href="javascript:;">已送达&nbsp;<span class="text-pink num"></span></a>
        </li>
        <li data-id="4">
            <a href="javascript:;">售后/退款&nbsp;<span class="text-pink num"></span></a>
        </li>
        <li data-id="5">
            <a href="javascript:;">所有订单&nbsp;<span class="text-pink num"></span></a>
        </li>
    </ul>
    <!--<a class="orders-recycle pull-right text-grey9" href="#">订单回收站</a>-->
</div>
<ul class="category-list group">
    <li>
        <div class="cate-title">排序规则 : </div>
        <div class="dropdown slide-down-select pull-left w130">
            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" id="dropdownMenu3" data-toggle="dropdown">
                <em class="pull-left filter" data-id="send_positive">配送时间正序</em>
                <span class="caret pull-right no-margin-left rotate0"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right w130 condition-list" role="menu" aria-labelledby="dropdownMenu3" id="currentShopChange3">
                <li role="presentation">
                    <a class="item" href="javascript:;" data-id="send_positive">配送时间正序</a>
                </li>
                 <li role="presentation">
                    <a class="item" href="javascript:;" data-id="send_desc">配送时间倒序</a>
                </li>
                 <li role="presentation">
                    <a class="item" href="javascript:;" data-id="order_positive">下单时间正序</a>
                </li>
                 <li role="presentation">
                    <a class="item" href="javascript:;" data-id="order_desc">下单时间倒序</a>
                </li>
                 <li role="presentation">
                    <a class="item" href="javascript:;" data-id="price_desc">金额从多到少</a>
                </li>
                 <li role="presentation">
                    <a class="item" href="javascript:;" data-id="price_positive">金额从少到多</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="cate-title">支付方式 : </div>
        <div class="dropdown slide-down-select pull-left w130">
            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" id="dropdownMenu4" data-toggle="dropdown">
                <em class="pull-left pay_type" data-id="9">所有</em>
                <span class="caret pull-right no-margin-left rotate0"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right w130 condition-list" role="menu" aria-labelledby="dropdownMenu4" id="currentShopChange4">
                <li role="presentation">
                    <a class="item" href="javascript:;" data-id="9">所有</a>
                </li>
                <li  role="presentation">
                    <a class="item" href="javascript:;" data-id="3">在线支付</a>
                </li>
                 <li  role="presentation">
                    <a class="item" href="javascript:;" data-id="2">余额支付</a>
                </li>
                 <li  role="presentation">
                    <a class="item" href="javascript:;" data-id="1">货到付款</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="cate-title">用户类型 : </div>
        <div class="dropdown slide-down-select pull-left w130">
            <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" id="dropdownMenu5" data-toggle="dropdown">
                <em class="pull-left user_type" data-id="9">所有</em>
                <span class="caret pull-right no-margin-left rotate0"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right w130 condition-list" role="menu" aria-labelledby="dropdownMenu5" id="currentShopChange5">
                <li role="presentation">
                    <a class="item" href="javascript:;" data-id="9">所有</a>
                </li>
                <li role="presentation">
                    <a class="item" href="javascript:;" data-id="0">新用户</a>
                </li>
                <li role="presentation">
                    <a class="item" href="javascript:;" data-id="1">老用户</a>
                </li>
            </ul>
        </div>
    </li>
</ul>

<!--orders-mode-lock-end-->
<div class="order-list set-width-float">
    <div class="func-box set-width-float mt10">
        <a href="javascript:;" class="check pull-left ml10" id="all-check"></a>
        <span class="select-all pull-left ml5">全选</span>
        <a href="javascript:;" class="func-btn blak-set-btn pull-left ml20" style="display:none">批量开始配送</a>
        <a href="javascript:;" class="print-btn blak-set-btn pull-left ml20" id="batch-print">批量打印</a>
        <!-- <a href="javascript:;" class="blak-set-btn">批量删除</a> -->
    </div>
    <div class="new-order-box hidden" id="new-order-box">您还有新订单未处理，快来戳我，戳我！！</div>
    <ul class="order-list-content set-width-float mt10">
    </ul>
     <div class="users-pagination list-pagination">
        <ul>
            <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
            <li>
                <span class="page-now"></span>/<span class="page-total"></span>
            </li>
            <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
            <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
            <li><a href="javascript:;" class="jump-to">跳转</a></li>
        </ul>
    </div>
    <input type="hidden" value="{{current_shop.config.receipt_msg}}" class="shop-receipt-info" data-img="{{current_shop.config.receipt_img}}"  data-active="{{current_shop.config.receipt_img_active}}"/>
</div>
<div class="order_set_box modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header set-width-float">
                <span class="title pull-left">

                </span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body set-width-float">
        	   <input type="text" id="order_ser_val"/>
            </div>
             <div class="modal-footer">
                <div class="btn-box">
                    <button type="button" class="pull-right modal-concel-btn" href="javascript:;" data-dismiss="modal">取消</button>
                    <button type="button" class="pull-left modal-sure-btn" href="javascript:;">确认</button>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="{% if order_type ==1 %}sendNowBox{% else %}sendIntimeBox{% end %} modal fade" id="SetBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header set-width-float">
                <span class="title pull-left">
                    {% if order_type ==1 %}
                    立即送设置
                    {% else %}
                    按时达设置
                    {% end %}
                </span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body set-width-float">
                {% if order_type ==1 %}
                <ul>
                    <li class="set-width-float set-bottom10">
                        <span class="pull-left tit t1">起送金额：</span>
                        <input class="pull-left money" type="number" value="{{current_shop.config.min_charge_now or 0}}" id="sendNowMoney"/>
                    </li>
                    <li class="send-time set-width-float set-bottom10">
                        <span class="pull-left tit t1">配送费：</span>
                        <input class="pull-left freight" type="number" value="{{current_shop.config.freight_now or 0}}" id="freight_now"/>
                    </li>
                    <li class="send-time set-width-float set-bottom10">
                        <span class="pull-left tit t1">送达时间：</span>
                        <input class="pull-left" type="number" value="{{current_shop.config.intime_period}}"  id="sendNowPeriod"/>
                        <span class="pull-left">（在下单后N分钟送达，如未进行设置，默认为30分钟）</span>
                    </li>
                    <li class="send-time set-width-float set-bottom10">
                        <span class="pull-left tit t1">配送时间：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowStartHour">{{current_shop.config.start_time_now.hour or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">

                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowStartMinute">{{current_shop.config.start_time_now.minute or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  minute-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">&nbsp;至&nbsp;</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowEndHour">{{current_shop.config.end_time_now.hour or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowEndMinute">{{current_shop.config.end_time_now.minute or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu minute-list choose-list" role="menu">
                            </ul>
                        </div>
                    </li>
                </ul>
                {% else %}
                <div class="w450 center-block">
                    <span class="tit pull-left t1">起送金额：</span>
                    <div class="send-money clearfix to-edit-item edit_item_box omg_item">
                        <span class="show_value show_item pull-left tit">{{current_shop.config.min_charge_on_time or 0}}</span>
                        <input class="pull-left money edit_item hidden" type="number" value="{{current_shop.config.min_charge_on_time or 0}}" id="sendMoney"/>
                        <span class="tit pull-left set-left10">元</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden sendMoney pl text-center text-white">确定</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <span class="tit pull-left t1">配送费：</span>
                    <div class="send-freight clearfix to-edit-item edit_item_box omg_item">
                        <span class="show_value show_item pull-left tit">{{current_shop.config.freight_on_time or 0}}</span>
                        <input class="pull-left freight edit_item hidden" type="number" value="{{current_shop.config.freight_on_time or 0}}" id="freight_intime"/>
                        <span class="tit pull-left set-left10">元</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden sendfreight text-center text-white">确定</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <p class="tit clearfix">配送时间：</p>
                    <div class="send-time w450 center-block">
                        <ul class="time-list">
                            {% for period in current_shop.config.periods%}
                            <li class="time-list-item set-width-float time-period to-edit-item edit_item_box omg_item" data-id="{{period.id}}">
                                <div class="staff-work-mode action-mode pull-left period-action" data-id="{{period.active}}">
                                    <a class="work-mode" href="javascript:;" style="display:none">已启用</a>
                                    <a class="stop-mode" href="javascript:;" style="display:none">未启用</a>
                                </div>
                                <span class="time1 text-black show_item pull-left startTime">{{period.start_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-hour timer">{{period.start_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-minute timer">{{period.start_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="pull-left to">至</span>
                                <span class="time2 text-black show_item pull-left EndTime">{{period.end_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-hour timer">{{period.end_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-minute timer">{{period.end_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="time show_item periodName">{{period.name}}</span>
                                <input type="text" class="period-name  pull-left text-center edit_item hidden" value="{{period.name}}"/>
                                <a href="javascript:;" class="delete pull-right set-inl-blo delete-time-period" style="display:none"></a>
                                <a href="javascript:;" class="edit pull-right set-inl-blo to-edit" style="display:none"></a>
                                <a href="javascript:;" class="sure-btn pull-right edit_item hidden edit-time-period text-center text-white">确定</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <p class="w450 center-block"><a href="javascript:;" class="add-new-time text-green font14">+ 添加新时段</a></p>
                <div class="add-period  bg-grey5 set-width-float" style="display:none">

                </div>
                <div class="w450 center-block clearfix">
                    <div class="end-time clearfix to-edit-item edit_item_box omg_item">
                        <span class="pull-left tit">下单截止时间：</span>
                        <span class="show_item pull-left show_value tit">{{current_shop.config.stop_range or 0}}</span>
                        <div class="input-group-btn pull-left edit_item hidden">
                                <input type="text" id="stopRange"/>
                           <!--  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="stopRange">{{current_shop.config.stop_range or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list stop-minute-list stop-list" role="menu">
                            </ul> -->
                        </div>
                        <span class="pull-left tit set-left10">分钟</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden stopRange text-center text-white">✓</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <p class="notice text-grey9">截止时间是指在某送货时间段前N分钟用户将不能选择该时段配送</p>
                </div>
                {% end %}
            </div>
            <div class="modal-footer">
                <div class="btn-box">
                    {% if order_type ==1 %}
                     <button type="button" class="pull-right modal-concel-btn" href="javascript:;" data-dismiss="modal">取消</button>
                    <button type="button" class="pull-left modal-sure-btn" href="javascript:;" id="sendNowConfig">确认</button>
                    {% else %}
                    <button type="button" class="center-block modal-concel-btn clearfix" style="display:block;margin-left:100px" href="javascript:;" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="pull-left modal-sure-btn" href="javascript:;" data-dismiss="modal">确认</button> -->
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-loading-box hidden">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="load-txt">加载中...</div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-order.js')}}"></script>
<script src="{{static_url('js/admin-user-order.js')}}"></script>
{% end %}
