{% extends 'base.html' %}
{% block title %}订单管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-order.css')}}"/>{% end %}
{% block content %}
{% set current_shop = handler.current_shop%}
{% set lock_mode='' %}
{% set notice=''%}
{% set notic2e=''%}
{% if order_type ==1 %}
    {% set lock_mode = current_shop.config.now_on %}
    {% set type_num =1 %}
    {% set count1=count[11]%}
    {% set count2=count[12]%}
    {% set count3=count[13]%}
    {% set count4=count[14]%}
    {% set count5=count[15]%}
{% elif order_type ==2 %}
    {% set lock_mode = current_shop.config.ontime_on %}
    {% set type_num =2 %}
    {% set count1=count[21]%}
    {% set count2=count[22]%}
    {% set count3=count[23]%}
    {% set count4=count[24]%}
    {% set count5=count[25]%}
{% end %}
{% if lock_mode == True %}
    {% set lock_mode = 'unlock-mode'%}
    {% set notice='开启'%}
    {% set notice2='停用'%}
{% else %}
    {% set lock_mode = 'lock-mode'%}
    {% set notice='停用'%}
    {% set notice2='启用'%}
{% end %}

<span class="right-title">订单管理</span>
<div class="orders-mode clearfix">
    <ul class="right-nav pull-left order-type">
        <li class="text-center col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <a href="{{reverse_url('adminOrder')}}?order_type=1&order_status=1" class="text-grey3">立即送</a>
            <span class="number text-pink">{{count[11]}}</span>
        </li>
        <li class="text-center col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <a href="{{reverse_url('adminOrder')}}?order_type=2&order_status=1" class="text-grey3">按时达</a>
            <span class="number text-pink">{{count[21]}}</span>
        </li>
        <!--<li class="text-center col-lg-3">
            <a href="#" class="text-grey3">周期购</a>
            <span class="number text-pink">888</span>
        </li>
        <li class="text-center col-lg-3">
            <a href="#" class="text-grey3">预售商品</a>
            <span class="number text-pink">888</span>
        </li>-->
    </ul>
    <div class="search-input input-group pull-right">
         <input type="text" value="" placeholder="输入订单编号进行搜索" class="search-con form-control"/>
         <input type="submit" value="订单搜索" class="search-btn form-control order-search"/>
    </div>
</div>
<!--orders-mode-end-->
<div class="orders-mode-lock bg-grey5 clearfix">
    <div class="mode-content {{lock_mode}} pull-left">
        {% if order_type ==1 %}
        <p class="lock-unlock">已{{notice}}立即送模式(点击右方{{notice2}}按钮可{{notice2}}立即送订单模式。)</p>
        <p class="mode-introduce">用户下单完成，商家即要对订单打包并进行配送。满足用户对于商品的及时送达需求。</p>
        <p class="set-introduce">点击右方设置，可以设置立即送的送达时间范围和起送金额。</p>
        {% else %}
        <p class="lock-unlock">已{{notice}}按时达模式(点击右方{{notice2}}按钮可{{notice2}}按时达订单模式。)</p>
        <p class="mode-introduce">根据商家设置的送货时间段进行配送。订单集中处理，节省配送成本。</p>
        <p class="set-introduce">点击右方设置，可以设置按时达的送达时间范围和起送金额。</p>
        {% end %}
    </div>
    <div class="mode-set pull-right">
        <a href="javascript:;" class="set-btn btn-style unlock-mode bg-green"  data-toggle="modal" data-target="#SetBox">设置</a>
        {% if order_type ==1 %}
            {% if current_shop.config.now_on==True %}
             <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopNowOn">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-green" id="startNowOn">启用</a>
            {% end %}
        {% elif order_type ==2 %}
            {% if current_shop.config.ontime_on==True %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopOnTime">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-green" id="startOnTime">启用</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="orders-list-title right-title2">
    <ul class="right-nav pull-left order-status">
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=1">未处理<span class="text-pink">{{count1}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=2">未完成<span class="text-pink">{{count2}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=3">已送达<span class="text-pink">{{count3}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=4">售后/退款<span class="text-pink">{{count4}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=5">所有订单<span class="text-pink">{{count5}}</span></a>
        </li>
    </ul>
    <!--<a class="orders-recycle pull-right text-grey9" href="#">订单回收站</a>-->
</div>
<!--orders-mode-lock-end-->
<div class="order-list set-width-float">
   <!-- <div class="order-list-action set-width-float">
        <input type="checkbox" class="select-box pull-left"/>
        <span class="select-all pull-left">全选</span>
        <a href="javascript:;" class="print-btn blak-set-btn">批量打印</a>
        <a href="javascript:;" class="blak-set-btn">批量删除</a>
    </div>-->
    <ul class="order-list-content set-width-float mt10">
        {% for order in orders %}
        <li class="order-list-item list-item set-width-float bg-greya font14" data-id="{{order.id}}" data-type="{{order.type}}">
            <div class="list-title">
                <!--<input class="select pull-left" type="checkbox"/>-->
 		<span class="code pull-left">
                    <span class="text-grey9">订单编号：</span><span class="order-code">{{order.num}}</span>
                </span>
                <span class="send pull-left">
                    <span class="text-grey9">配送时间：</span><span class="send-time">{{(order.create_date+delta).strftime('%Y-%m-%d')}}
                    {{order.start_time.hour}}:{{order.start_time.minute}}-{{order.end_time.hour}}:{{order.end_time.minute}}</span>
                </span>       
                <span class="money pull-left">
                    <span class="text-grey9">金额：</span><span><span class="order-price goods-total-charge">{{order.totalPrice}}</span>元</span>
                    <!--{% if order_type ==1 %}
                    <span class="tips">（其中小费<span class="tip">{{order.tip}}</span>元）</span>
                    {% end %}-->
                </span>
 		<span class="pay-status pull-left pay-btn text-grey9" data-pay="{{order.money_paid}}">现金支付</span>
                <a class="print-order pull-right forbid_click" href="javascript:;" data-id="{{order.isprint}}">打印</a>
            </div>
            <!--list-title-end-->
            <div class="order-content set-width-float">
                <div class="order-info set-width-float">
                    <span class="text-grey9">地址：</span>
                    <span class="address">{{order.address_text}}</span>
 		    <span class="text-grey9">用户：</span>
                    <a href="#" class="name text-blue">{{order.receiver}}</a>
                    <!--<a class="address-edit edit-btn" href="javascript:;" style="display:none">&nbsp;</a>
                    <a class="btn-style fit-btn fit-active pull-right" href="javascript:;">已适配</a>-->
                </div>
                <!--order-info-end-->
		{% if order.message %}
                <div class="order-message set-width-float text-pink">
                    <span>留言：</span>
                    <span class="message-content">{{order.message or '无'}}</span>
                    <a href="javascript:;" class="message-img set-inl-blo">&nbsp;</a>
                </div>
		{% end %}
		{% if order.staff_remark %}
                <div class="staff-replay text-pink">员工回复：<span>{{order.staff_remark}}</span></div>
		{% end %}
                <div class="saler-remark text-pink" style="display:none">商家备注：<span class="order_remark">{{order.remark}}</span></div>
                <!--order-message-end-->
                <div class="order-status set-width-float edit_item edit_avilible avilible_item" data-id="{{order.status}}">
                    <div class="status-bar bg-greyd pull-left forbid_click">
                        <div class="status-inner bg-greyd status_order hidden" style="width:0%;"></div>
                        <div class="status-inner bg-green status_send hidden" style="width:50%;"></div>
                        <div class="status-inner bg-green status_finish hidden" style="width:100%;"></div>
                        <div class="status-circle status_order status-item  hidden forbid_click bg-green" style="left:0%;"></div>
                        <div class="status-info status_order status-item hidden text-green" style="left:0%;">
                            <span class="status">未处理</span>
                        </div>
                        <div class="status-circle status_send status-item  hidden forbid_click bg-green" style="left:50%;"></div>
                        <div class="status-info status_send status-item hidden text-green" style="left:50%;">
                            <span class="status">配送中</span>
                        </div>
                        <div class="status-circle status_finish status-item hidden forbid_click bg-green" style="left:100%;"></div>
                        <div class="status-info status_finish status-item hidden text-green" style="left:100%;">
                            <span class="status">已确认收货</span>
                        </div>
                    </div>
		  <div class="btn-group pull-right font14 forbid_click status-change able_edit" style="display:none;">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <span class="status_word">未处理</span><span class="caret pull-right"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
			    <li class="status-order">未处理</li>
			    <li class="status-send">配送中</li>
			    <li class="status-finish">已完成</li>
			</ul>
		   </div>
		<span class="font12 pull-right set-inl-blo w100 text-center bg-white height30 unable_edit" style="display:none;">已完成</span>
                </div>	
                <!--order-status-end-->
            </div>
            <!--order-content-end-->
            <div class="custom-order list-item-body set-width-float  edit_avilible avilible_item bg-white" style="display:none;">
 	       <div class="address-adapt mb-15">
                    <p class="text-grey9">配送员选择</p>               
	            <div class="btn-group font14 forbid_click send_change able_edit"  style="display:none">
			<button type="button" class="btn btn-default dropdown-toggle order_sender" data-toggle="dropdown" aria-expanded="false">
			    <span>
				{% if order.SH2_id %}
			       		{% for SH2 in SH2s%}
			       		{% if SH2.id==order.SH2_id %}
					#<span class="sender-code w50 set-inl-blo">{{SH2.id}}</span>||
				        <span class="sender-name w120 set-inl-blo set-left10">{{SH2.accountinfo.realname or '无名氏'}}</span>||
				        <span class="sender-phone w120 set-inl-blo set-left10">{{SH2.accountinfo.phone}}</span>
				       {% end %}
			       {% end %}
			       {% else %}
				#<span class="sender-code w50 set-inl-blo">{{SH2s[0].id}}</span>||
                                <span class="sender-name w120 set-inl-blo set-left10">{{SH2s[0].accountinfo.realname or '无名氏'}}</span>||
                                <span class="sender-phone w120 set-inl-blo set-left10">{{SH2s[0].accountinfo.phone}}</span>
			       {% end %}
			    </span>
			    <span class="caret pull-right"></span>
			</button>
			<input type="hidden"/ value="{{order.SH2_id }}" id="sh2_id">
			<ul class="dropdown-menu send_person_list" role="menu">
			    {% for SH2 in SH2s%}
                                <li data-id="{{SH2.id}}" class="send_item">
                                    #<span class="sender-code w50 set-inl-blo">{{SH2.id}}</span>||
                                    <span class="sender-name w120 set-inl-blo set-left10">{{SH2.accountinfo.realname or '无名氏'}}</span>||
                                    <span class="sender-phone w120 set-inl-blo set-left10">{{SH2.accountinfo.phone}}</span>
                                </li>
                            {% end %}
			</ul>
		   </div>
		   <div class="unable_edit" style="display:none">
		       {% if order.SH2_id %}
		       {% for SH2 in SH2s%}
		       {% if SH2.id==order.SH2_id %}
			<span class="sender-code w50 set-inl-blo">#{{SH2.id}}</span>||
                        <span class="sender-name w120 set-inl-blo set-left10">{{SH2.accountinfo.realname or '无名氏'}}</span>||
                        <span class="sender-phone w120 set-inl-blo set-left10">{{SH2.accountinfo.phone}}</span>
		       {% end %}
		       {% end %}
		       {% end %}
		   </div>
                </div>
		<p class="con-title mb-0">订单详情:</p>
                <div class="custom-order-title clearfix mb-15">
		    <span class="text-grey9">收货人：</span><span class="w200">{{order.receiver}}</span>
		    <span class="text-grey9">电话：</span><span class="w200 phone">{{order.phone}}</span>
                    <span class="text-grey9">下单时间：</span><span class="w200 order-time">{{order.create_date}}</span>
                    <!--<span>森果号：<a class="senguo-code" href="#">y123456789</a></span>
                    <span>积分：<i class="accumulate-point">{{100}}</i></span>-->
                </div>
	        <p class="clearfix mb-0 con-title"><span class="goods-total-number"></span>件商品:</p>
                <div class="custom-order-list clearfix">
                    <ul class="goods-list">
                        {% set fruits = eval(order.fruits) %}
                        {% set mgoods = eval(order.mgoods) %}
                        {% for key in fruits %}
                        <li class="item pull-left">
                            <span class="code text-grey9">1</span>
                            ：
                            <span class="goods-name">{{fruits[key]['fruit_name']}}</span>
                            <span class="goods-price">{{fruits[key]['charge']}}</span>
                            *
                            <span class="goods-number">{{fruits[key]['num']}}</span>
                        </li>
                        {% end %}
                        {% for key in mgoods %}
                        <li class="item pull-left">
                            <span class="code text-grey9">1</span>
                            ：
                            <span class="goods-name">{{mgoods[key]['mgoods_name']}}</span>
                            ：
                            <span class="goods-price">{{mgoods[key]['charge']}}</span>
                            *
                            <span class="goods-number">{{mgoods[key]['num']}}</span>
                        </li>
                        {% end %}
                    </ul>
                </div>
		<div class="">
		    <a class="order_mark pull-right" href="javascript:;">备注</a>
		    <a class="price_edit pull-right set-right20" href="javascript:;">修改价格</a>
		    <a class="delete-order pull-right set-right20" href="javascript:;">删除订单</a>
		</div>
            </div>
	    <input type="hidden" value="{{order.remark}}" class="saler-remark"/>
            <input type="hidden" value="{{current_shop.config.receipt_img}}" class="receipt-img"/>
            <input type="hidden" value="{{current_shop.config.receipt_msg}}" class="receipt-remark"/>
            <input type="hidden" value="{{current_shop.config.receipt_img}}" class="receipt-img"/>
            <!--custom-order-end-->
        </li>
        {% end %}
    </ul>
</div>
<div class="order_set_box modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header set-width-float">
                <span class="title pull-left" id="myModalLabel">
                   
                </span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body set-width-float">
		<input type="text" id="order_ser_val"/>
	    </div>
             <div class="modal-footer">
                <div class="btn-box">
                    <button type="button" class="pull-right modal-concel-btn" href="javascript:;" data-dismiss="modal">取消</button>
                    <button type="button" class="pull-left modal-sure-btn" href="javascript:;">确认</button>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="{% if order_type ==1 %}sendNowBox{% else %}sendIntimeBox{% end %} modal fade" id="SetBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header set-width-float">
                <span class="title pull-left" id="myModalLabel">
                    {% if order_type ==1 %}
                    立即送设置
                    {% else %}
                    按时达设置
                    {% end %}
                </span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body set-width-float">
                {% if order_type ==1 %}
                <ul>
                    <li class="set-width-float set-bottom10">
                        <span class="pull-left tit t1">起送金额：</span>
                        <input class="pull-left money" type="number" value="{{current_shop.config.min_charge_now or 0}}" id="sendNowMoney"/>
                    </li>
                    <li class="send-time set-width-float set-bottom10">
                        <span class="pull-left tit t1">配送费：</span>
                        <input class="pull-left freight" type="number" value="{{current_shop.config.freight_now or 0}}" id="freight_now"/>
                    </li>
                    <li class="send-time set-width-float set-bottom10">
                        <span class="pull-left tit t1">配送时间：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowStartHour">{{current_shop.config.start_time_now.hour or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">

                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowStartMinute">{{current_shop.config.start_time_now.minute or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  minute-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">&nbsp;至&nbsp;</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowEndHour">{{current_shop.config.end_time_now.hour or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="NowEndMinute">{{current_shop.config.end_time_now.minute or 00}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu minute-list choose-list" role="menu">
                            </ul>
                        </div>
                    </li>
                </ul>
                {% else %}
                <div class="w450 center-block">
                    <span class="tit pull-left t1">起送金额：</span>
                    <div class="send-money clearfix to-edit-item edit_item_box omg_item">
                        <span class="show_value show_item pull-left tit">{{current_shop.config.min_charge_on_time or 0}}</span>
                        <input class="pull-left money edit_item hidden" type="number" value="{{current_shop.config.min_charge_on_time or 0}}" id="sendMoney"/>
                        <span class="tit pull-left set-left10">元</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden sendMoney pl text-center text-white">✓</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <span class="tit pull-left t1">配送费：</span>
                    <div class="send-freight clearfix to-edit-item edit_item_box omg_item">
                        <span class="show_value show_item pull-left tit">{{current_shop.config.freight_on_time or 0}}</span>
                        <input class="pull-left freight edit_item hidden" type="number" value="{{current_shop.config.freight_on_time or 0}}" id="freight_intime"/>
                        <span class="tit pull-left set-left10">元</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden sendfreight text-center text-white">✓</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <p class="tit clearfix">配送时间：</p>
                    <div class="send-time w450 center-block">
                        <ul class="time-list">
                            {% for period in current_shop.config.periods%}
                            <li class="time-list-item set-width-float time-period to-edit-item edit_item_box omg_item" data-id="{{period.id}}">
                                <div class="staff-work-mode action-mode pull-left period-action" data-id="{{period.active}}">
                                    <a class="work-mode" href="javascript:;" style="display:none">已启用</a>
                                    <a class="stop-mode" href="javascript:;" style="display:none">未启用</a>
                                </div>
                                <span class="time1 text-black show_item pull-left startTime">{{period.start_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-hour timer">{{period.start_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-minute timer">{{period.start_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="pull-left to">至</span>
                                <span class="time2 text-black show_item pull-left EndTime">{{period.end_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-hour timer">{{period.end_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-minute timer">{{period.end_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="time show_item periodName">{{period.name}}</span>
                                <input type="text" class="period-name  pull-left text-center edit_item hidden" value="{{period.name}}"/>
                                <a href="javascript:;" class="delete pull-right set-inl-blo delete-time-period" style="display:none"></a>
                                <a href="javascript:;" class="edit pull-right set-inl-blo to-edit" style="display:none"></a>
                                <a href="javascript:;" class="sure-btn pull-right edit_item hidden edit-time-period text-center text-white">✓</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <p class="w450 center-block"><a href="javascript:;" class="add-new-time text-green font14">+ 添加新时段</a></p>
                <div class="add-period  bg-grey5 set-width-float" style="display:none">

                </div>
                <div class="w450 center-block clearfix">
                    <div class="end-time clearfix to-edit-item edit_item_box omg_item">
                        <span class="pull-left tit">下单截止时间：</span>
                        <span class="show_item pull-left show_value tit">{{current_shop.config.stop_range or 0}}</span>
                        <div class="input-group-btn pull-left edit_item hidden">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time timer" id="stopRange">{{current_shop.config.stop_range or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list stop-minute-list stop-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit set-left10">分钟</span>
                        <a href="javascript:;" class="sure-btn pull-right edit_item hidden stopRange text-center text-white">✓</a>
                        <a href="javascript:;" class="edit set-inl-blo show_item pull-left to-edit" style="display:none"></a>
                    </div>
                    <p class="notice text-grey9">截止时间是指在某送货时间段前N分钟用户将不能选择该时段配送</p>
                </div>
                {% end %}
            </div>
            <div class="modal-footer">
                <div class="btn-box">
                    <button type="button" class="pull-right modal-concel-btn" href="javascript:;" data-dismiss="modal">取消</button>
                    {% if order_type ==1 %}
                    <button type="button" class="pull-left modal-sure-btn" href="javascript:;" id="sendNowConfig">确认</button>
                    {% else %}
                    <button type="button" class="pull-left modal-sure-btn" href="javascript:;" data-dismiss="modal">确认</button>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}<script src="{{static_url('js/admin-order.js')}}"></script>{% end %}
