<li class="order-list-item list-item set-width-float" data-id="" data-type="">
    <div class="list-title bg-grey2">
        <input class="select pull-left" type="checkbox"/>
        <label class="send pull-left">
            配送时间：<span class="send-time"></span>前
        </label>
        <label class="code pull-left">
            编号：<span class="order-code"></span>
        </label>
        <label class="money pull-left">
            金额：<span><strong class="order-price"></strong>元</span>
            <span class="tips">（其中小费<span class="tip">0</span>元）</span>
        </label>
        <a class="print-order pull-right te" href="javascript:;">&nbsp;</a>
        <a class="delete-order pull-right" href="javascript:;">&nbsp;</a>
    </div>
    <div class="order-content set-width-float">
        <div class="order-info set-width-float">
            <span>配送至：</span>
            <div class="input-group pull-left">
                <label class="address"></label>
                <input class="address form-control" type="hidden" value=""/>
            </div>
            <div class="input-group pull-left">
                <label class="name"></label>
                <input class="name form-control" type="hidden" value=""/>
            </div>
            <div class="input-group pull-left">
                <label class="phone"></label>
                <input class="phone form-control" type="hidden" value=""/>
            </div>
        </div>
        <div class="order-message set-width-float">
            <span>留言：</span>
            <span class="message-content"></span>
            <a href="javascript:;" class="message-img set-inl-blo">&nbsp;</a>
        </div>
        <div class="staff-replay">员工回复：<span>无</span></div>
        <div class="order-status set-width-float" data-id="">
            <div class="status-bar bg-grey9">
                <div class="status-inner bg-grey9 status_order hidden" style="width:100%;"></div>
                <div class="status-inner bg-grey9 status_send hidden" style="width:50%;"></div>
                <div class="status-inner bg-grey9 status_finish hidden" style="width:100%;"></div>
                <div class="status-circle status_order status-item status-order hidden" style="left:0%;"></div>
                <div class="status-info status_order status-item hidden" style="left:0%;">
                    <span class="status">未处理</span>
                </div>
                <div class="status-circle status_send status-item status-send hidden" style="left:50%;"></div>
                <div class="status-info status_send status-item hidden" style="left:50%;">
                    <span class="status">配送中</span>
                </div>
                <div class="status-circle status_finish status-item status-finish hidden" style="left:100%;"></div>
                <div class="status-info status_finish status-item hidden" style="left:100%;">
                    <span class="status">已确认收货</span>
                </div>
            </div>
            <a class="edit-btn position pull-right status_edit" href="javascript:;" style="display:none;">&nbsp;</a>
            <a class="check-btn  position pull-right status_check" href="javascript:;" style="display:none;">&nbsp;</a>
        </div>
    </div>
    <div class="custom-order list-item-body set-width-float" style="display:none;">
        <div class="custom-order-title">
            <span>下单时间：<i class="order-time"></i></span>
            <span>森果号：<a class="senguo-code" href="#">y123456789</a></span>
            <span>积分：<i class="accumulate-point">{{100}}</i></span>
            <span class="pay-status btn-style pull-right pay-btn text-pink" data-pay="">未支付</span>
        </div>
        <div class="custom-order-list clearfix">
            <ul class="goods-list">

            </ul>
            <div class="goods-total">
                <p>总件数<span class="goods-total-number">8</span>件</p>
                <p>总金额
                    <span class="goods-total-charge price-show"></span>
                    <input type="text" value="" class="total_price_input price-input" style="display:none"/>
                    元
                </p>
            </div>
            <a class="edit-btn position price_edit" href="javascript:;" style="display:none;">&nbsp;</a>
            <a class="check-btn  position price_check" href="javascript:;" style="display:none">&nbsp;</a>
        </div>
        <div class="order-notice clearfix">
            <input type="text" placeholder="订单备注" class="notice_input pull-left" value=""/>
            <a class="check-btn  notice_check pull-left" href="javascript:;" style="display:none">&nbsp;</a>
        </div>
        <div class="address-adapt">
            <p>一级配送员</p>
            <div class="send-person-area-select">
                <ul class="send-person-area right-nav">

                </ul>
                <div class="select-btn">
                    <input type="submit" value="确认" class="sure-btn staff-edit"/>
                    <input type="button" value="取消" class="concel-btn"/>
                </div>
            </div>
        </div>
        <!--address-adapt-end-->
    </div>
    <!--custom-order-end-->
    <div class="collapse-btn">
        <a class="arrow-down" href="javascript:;"><img src="{{static_url('images/arrow-down.gif')}}"/></a>
        <a class="arrow-up" href="javascript:;" style="display:none;"><img src="{{static_url('images/arrow-up.gif')}}"/></a>
    </div>
</li>