{% extends 'base.html' %}
{% block title %}用户统计{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-count.css')}}"/>{% end %}
{% block content %}
<span class="right-title">订单统计</span>
<div class="box">
    <p class="tit font16">月走势图</p>
    <div class="month-change center-block font18">
        <a href="javascript:;" class="pre_month text-grey2"> < </a>
        <span class="">
            <span class="year"></span>年
            <span class="month"></span>月
        </span>
        <a href="javascript:;" class="next_month text-grey2"> > </a>
    </div>
    <div class="change-box">
        <ul id="order_trend_change" class="change-list pull-left">
            <li data-id="1"><a href="javascript:;" class="text-grey3">订单量/个</a></li>
            <li data-id="2"><a href="javascript:;" class="text-grey3">订单金额/元</a></li>
        </ul>
    </div>
    <div id="order_trend" style="height:400px" class="clearfix"></div>
    <hr class="clearfix"/>
    <p class="tit font16">下单时间统计</p>
    <div class="change-box">
        <ul id="order_time_change" class="change-list pull-left">
            <li data-id="1"><a href="javascript:;" class="text-grey3">累计数据/个</a></li>
            <li data-id="2"><a href="javascript:;" class="text-grey3">昨日数据/元</a></li>
        </ul>
    </div>
    <div id="order_time" style="height:400px"  class="clearfix"></div>
    <hr/>
    <p class="tit font16">收货时间统计</p>
    <div class="change-box">
        <ul id="receive_time_change" class="change-list pull-left">
            <li data-id="1"><a href="javascript:;" class="text-grey3">累计数据/个</a></li>
            <li data-id="2"><a href="javascript:;" class="text-grey3">昨日数据/元</a></li>
        </ul>
    </div>
    <div id="receive_time" style="height:400px"  class="clearfix"></div>
    <hr/>
    <p class="tit font16">详细数据</p>
    <table class="detail-count text-center table-count">
        <tr class="bg-grey2">
            <td>时间</td>
            <td>日订单数</td>
            <td>累计订单</td>
            <td>日订单金额</td>
            <td>累计订单金额</td>
            <td>客单价</td>
        </tr>
    </table>
    <div class="detail-pagination list-pagination clearfix">
        <ul>
            <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
            <li>
                <span class="page-now"></span>/<span class="page-total"></span>
            </li>
            <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
            <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
            <li><a href="javascript:;" class="jump-to">跳转</a></li>
        </ul>
    </div>
    <hr/>
    <p class="tit font16">重复购买率</p>
    <table class="detail-rate text-center table-count">
        <tr class="bg-grey2">
            <td>时间</td>
            <td>新增老用户订单</td>
            <td>累计老用户订单</td>
            <td>新增订单</td>
            <td>累计总订单</td>
            <td>日回头率</td>
            <td>累计回头率</td>
        </tr>
    </table>
    <div class="rate-pagination list-pagination clearfix">
        <ul>
            <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
            <li>
                <span class="page-now"></span>/<span class="page-total"></span>
            </li>
            <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
            <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
            <li><a href="javascript:;" class="jump-to">跳转</a></li>
        </ul>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/echarts.js')}}"></script>
<script src="{{static_url('js/admin-order-count.js')}}"></script>
{% end %}