{% extends 'base.html' %}
{% block title %}订单管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-order.css')}}"/>{% end %}
{% block content %}
{% set current_shop = handler.current_shop%}
{% if order_type ==1 %}
    {% set lock_mode = current_shop.config.ontime_on %}
    {% set type_num =1 %}
    {% set count1=count[11]%}
    {% set count2=count[12]%}
    {% set count3=count[13]%}
    {% set count4=count[14]%}
    {% set count5=count[15]%}
{% elif order_type ==2 %}
    {% set lock_mode = current_shop.config.now_on %}
    {% set type_num =2 %}
    {% set count1=count[21]%}
    {% set count2=count[22]%}
    {% set count3=count[23]%}
    {% set count4=count[24]%}
    {% set count5=count[25]%}
{% end %}
{% if lock_mode == True %}
    {% set lock_mode = 'unlock-mode'%}
    {% set notice='开启'%}
{% else %}
    {% set lock_mode = 'lock-mode'%}
    {% set notice='停用'%}
{% end %}

<span class="right-title">订单管理</span>
<div class="orders-mode clearfix">
    <ul class="right-nav pull-left order-type">
        <li class="text-center col-lg-3">
            <a href="{{reverse_url('adminOrder')}}?order_type=1&order_status=1" class="text-grey3">立即送</a>
            <span class="number text-pink">{{count[11]}}</span>
        </li>
        <li class="text-center col-lg-3">
            <a href="{{reverse_url('adminOrder')}}?order_type=2&order_status=1" class="text-grey3">按时达</a>
            <span class="number text-pink">{{count[21]}}</span>
        </li>
        <li class="text-center col-lg-3">
            <a href="#" class="text-grey3">周期购</a>
            <span class="number text-pink">888</span>
        </li>
        <li class="text-center col-lg-3">
            <a href="#" class="text-grey3">预售商品</a>
            <span class="number text-pink">888</span>
        </li>
    </ul>
    <div class="search-input input-group pull-right">
        <form method="post" action="" id="post">
            <input type="text" value="" placeholder="输入订单信息进行搜索" class="search-con form-control"/>
            <input type="submit" value="订单搜索" class="search-btn form-control"/>
        </form>
    </div>
</div>
<!--orders-mode-end-->
<div class="orders-mode-lock bg-grey2 clearfix">
    <div class="mode-content {{lock_mode}} pull-left">
        {% if order_type ==1 %}
        <p class="lock-unlock">已{{notice}}立即送模式</p>
        <p class="mode-introduce">下单就配送。此种模式满足用户对于商品的一种需求。</p>
        <p class="set-introduce">点击右方设置，可以设置立即送的送达时间范围和起送金额。</p>
        {% else %}
        <p class="lock-unlock">已{{notice}}按时达模式</p>
        <p class="mode-introduce">下单就配送。</p>
        <p class="set-introduce">点击右方设置，可以设置按时达的送达时间范围和起送金额。</p>
        {% end %}
    </div>
    <div class="mode-set pull-right">
        <a href="javascript:;" class="set-btn btn-style unlock-mode bg-green"  data-toggle="modal" data-target="#SetBox">设置</a>
        {% if order_type ==1 %}
            {% if current_shop.config.now_on==True %}
             <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-grey" id="stopNowOn">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopNowOn">启用</a>
            {% end %}
        {% elif order_type ==2 %}
            {% if current_shop.config.ontime_on==True %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType bg-grey" id="stopInTime">停用</a>
            {% else %}
            <a href="javascript:;" class="stop-btn btn-style lock-mode sendNowType" id="stopInTime">启用</a>
            {% end %}
        {% end %}
    </div>
</div>
<div class="orders-list-title">
    <ul class="right-nav pull-left order-status">
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=1">未处理<span class="text-pink">{{count1}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=2">未完成<span class="text-pink">{{count2}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=3">已送达<span class="text-pink">{{count3}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=4">售后<span class="text-pink">{{count4}}</span></a>
        </li>
        <li>
            <a href="{{reverse_url('adminOrder')}}?order_type={{type_num}}&order_status=5">所有订单<span class="text-pink">{{count5}}</span></a>
        </li>
    </ul>
    <a class="orders-recycle pull-right text-grey9" href="#">订单回收站</a>
</div>
<!--orders-mode-lock-end-->
<div class="order-list set-width-float">
    <div class="order-list-action set-width-float">
        <input type="checkbox" class="select-box pull-left"/>
        <span class="select-all pull-left">全选</span>
        <a href="#" class="print-btn blak-set-btn" id="">批量打印</a>
        <a href="#" class="blak-set-btn" id="">批量删除</a>
    </div>
    <ul class="order-list-content set-width-float">
        {% for order in orders %}
            {% set status_order='hidden'%}
            {% set status_send='hidden'%}
            {% set status_finish='hidden'%}
            {% if order.status == 1 %}
                {% set order_status='' %}
                {% set status_order='show'%}
            {% elif order.status == 4 %}
                {% set order_status='order-status-dealing' %}
                {% set status_send='show'%}
            {% elif order.status == 5 %}
                {% set order_status='order-status-dealing' %}
                {% set status_finish='show'%}
            {% end %}
        <li class="order-list-item list-item set-width-float" data-id="{{order.id}}">
            <div class="list-title bg-grey2">
                <input class="select pull-left" type="checkbox"/>
                <label class="send pull-left">
                    配送时间：<span class="send-time">{{order.create_time}} {{order.end_time}}</span>前
                </label>
                <label class="code pull-left">
                    编号：<span class="order-code">{{order.id}}</span>
                </label>
                <label class="money pull-left">
                    金额：<span><strong class="order-price">{{order.totalPrice}}</strong>元</span>
                    {% if order_type ==1 %}
                    （其中小费<span class="tip">0</span>元）
                    {% end %}
                </label>
                <a class="print-order pull-right te" href="#">&nbsp;</a>
                <a class="delete-order pull-right" href="#">&nbsp;</a>
            </div>
            <!--list-title-end-->
            <div class="order-content set-width-float">
                <div class="order-info set-width-float">
                    <span>配送至：</span>
                    <div class="input-group pull-left">
                        <label id="">{{order.address_text}}</label>
                        <input class="address form-control" type="hidden" value="{{order.address_text}}"/>
                    </div>
                    <div class="input-group pull-left">
                        <label id="">{{order.receiver}}</label>
                        <input class="name form-control" type="hidden" value="{{order.receiver}}"/>
                    </div>
                    <div class="input-group pull-left">
                        <label id="">{{order.phone}}</label>
                        <input class="phone form-control" type="hidden" value="{{order.phone}}"/>
                    </div>
                    <!--<a class="address-edit edit-btn" href="javascript:;" style="display:none">&nbsp;</a>
                    <a class="btn-style fit-btn fit-active pull-right" href="javascript:;">已适配</a>-->
                </div>
                <!--order-info-end-->
                <div class="order-message set-width-float">
                    <span>留言：</span>
                    <span class="message-content">{{order.message or '无'}}</span>
                    <a href="" class="message-img set-inl-blo">&nbsp;</a>
                </div>
                <div class="staff-replay">员工回复：<span>无</span></div>
                <!--order-message-end-->
                <div class="order-status {{order_status}} set-width-float">
                    <div class="status-bar bg-grey9">
                        <div class="status-inner bg-grey9 {{status_order}}" style="width:100%;"></div>
                        <div class="status-inner bg-grey9 {{status_send}}" style="width:50%;"></div>
                        <div class="status-inner bg-grey9 {{status_finish}}" style="width:100%;"></div>
                        <div class="status-circle {{status_order}} status-item status-order" style="left:0%;"></div>
                        <div class="status-info {{status_order}} status-item" style="left:0%;">
                            <span class="status">未处理</span>
                        </div>
                        <div class="status-circle {{status_send}} status-item status-send" style="left:50%;"></div>
                        <div class="status-info {{status_send}} status-item" style="left:50%;">
                            <span class="status">配送中</span>
                        </div>
                        <div class="status-circle {{status_finish}} status-item status-finish" style="left:100%;"></div>
                        <div class="status-info {{status_finish}} status-item" style="left:100%;">
                            <span class="status">已确认收货</span>
                        </div>
                    </div>
                    <a class="edit-btn position pull-right status_edit" href="javascript:;" style="display:none;">&nbsp;</a>
                    <a class="check-btn  position pull-right status_check" href="javascript:;" style="display:none;">&nbsp;</a>
                </div>
                <!--order-status-end-->
            </div>
            <!--order-content-end-->
            <div class="custom-order list-item-body set-width-float" style="display:none;">
                <div class="custom-order-title">
                    <span>下单时间：<i class="order-time">{{order.create_time}}</i></span>
                    <span>森果号：<a class="senguo-code" href="#">y123456789</a></span>
                    <span>积分：<i class="accumulate-point">{{order.create_time}}</i></span>
                    {% if order.money_paid == False %}
                    <span class="pay-status btn-style pull-right pay-btn text-pink">未支付</span>
                    {% else %}
                    <span class="pay-status btn-style pull-right pay-btn text-green">已支付</span>
                    {% end %}
                </div>
                <div class="custom-order-list clearfix">
                    <ul class="goods-list">
                        {% set fruits = eval(order.fruits) %}
                        {% set mgoods = eval(order.mgoods) %}
                        {% for key in fruits %}
                        <li class="item">
                            <span class="code">1</span>
                            .
                            <span class="goods-name">{{fruits[key]['fruit_name']}}</span>
                            ：
                            <span class="goods-price">{{fruits[key]['charge']}}</span>
                            *
                            <span class="goods-number">{{fruits[key]['num']}}</span>
                        </li>
                        {% end %}
                        {% for key in mgoods %}
                        <li class="item">
                            <span class="code">1</span>
                            .
                            <span class="goods-name">{{mgoods[key]['mgoods_name']}}</span>
                            ：
                            <span class="goods-price">{{mgoods[key]['charge']}}</span>
                            *
                            <span class="goods-number">{{mgoods[key]['num']}}</span>
                        </li>
                        {% end %}
                    </ul>
                    <div class="goods-total">
                        <p>总件数<span class="goods-total-number">8</span>件</p>
                        <p>总金额
                            <span class="goods-total-charge price-show">{{order.totalPrice}}</span>
                            <input type="text" value="{{order.totalPrice}}" class="total_price_input price-input" style="display:none"/>
                            元
                        </p>
                    </div>
                    <a class="edit-btn position price_edit" href="javascript:;" style="display:none;">&nbsp;</a>
                    <a class="check-btn  position price_check" href="javascript:;" style="display:none">&nbsp;</a>
                </div>
                <div class="order-notice clearfix">
                    <input type="text" placeholder="订单备注" class="notice_input pull-left" value="{{order.remark or ''}}"/>
                    <a class="check-btn  notice_check pull-left" href="javascript:;" style="display:none">&nbsp;</a>
                </div>
                <div class="address-adapt">
                    <!--<ul class="adapt-status">
                        <li class="active">地址已适配</li>
                        <li>地址未适配</li>
                    </ul>
                    <p>拣货员</p>
                    <div class="collect-person">
                        <span>JH-1111#</span>||
                        <span>仓库拣货员10A</span>||
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span>1590000000</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">159111111</a></li>
                            </ul>
                        </div>
                    </div>-->
                    <p>一级配送员</p>
                    <!--<div class="send-person">
                        <span>S1-2222#</span>||
                        <span>一级送货员10A</span>||
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span>华科西边-紫松、西三舍、男</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">华科西边-紫松、西三舍、男</a></li>
                                <li><a href="#">华科西边-紫松、西五舍、男</a></li>
                            </ul>
                        </div>
                    </div>-->
                    <div class="send-person-area-select">
                        <ul class="send-person-area right-nav">
                            {% for staff in current_shop.staffs%}
                                {% if staff.work == 2%}
                                <li class="active" data-id="{{staff.id}}">
                                    <span>S2-{{staff.id}}</span>||
                                    <span>送货员{{staff.accountinfo.username}}</span>||
                                    <span>{{staff.accountinfo.phone}}</span>
                                </li>
                                {% end %}
                            {% end %}
                        </ul>
                        <div class="select-btn">
                            <input type="submit" value="确认" class="sure-btn staff-edit"/>
                            <input type="button" value="取消" class="concel-btn"/>
                        </div>
                    </div>
                </div>
                <!--address-adapt-end-->
            </div>
            <!--custom-order-end-->
            <div class="collapse-btn">
                <a class="arrow-down" href="javascript:;"><img src="{{static_url('images/arrow-down.gif')}}"/></a>
                <a class="arrow-up" href="javascript:;" style="display:none;"><img src="{{static_url('images/arrow-up.gif')}}"/></a>
            </div>
        </li>
        {% end %}
    </ul>
</div>
<div class="{% if order_type ==1 %}sendNowBox{% else %}sendIntimeBox{% end %} modal fade" id="SetBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header set-width-float">
                <span class="title pull-left" id="myModalLabel">
                    {% if order_type ==1 %}
                    立即送设置
                    {% else %}
                    按时达设置
                    {% end %}
                </span>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body set-width-float">
                {% if order_type ==1 %}
                <ul>
                    <li class="set-width-float">
                        <span class="pull-left tit">起送金额：</span>
                        <input class="pull-left money" type="number" value="{{current_shop.config.min_charge_now or 0}}" id="sendNowMoney"/>
                    </li>
                   <!-- <li class="send-area">
                        <span class="pull-left tit">配送区域：</span>
                        <div class="input-group-btn area1">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span>地大</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">地大</a></li>
                                <li><a href="#">地大</a></li>
                            </ul>
                        </div>
                        <div class="input-group-btn area2">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span>新峰、62栋、63栋</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">新峰、62栋、63栋</a></li>
                                <li><a href="#">新峰、62栋、63栋</a></li>
                            </ul>
                        </div>
                    </li>-->
                    <li class="send-time set-width-float">
                        <span class="pull-left tit">配送时间：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time" id="NowStartHour">{{current_shop.config.start_time_now.hour or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">

                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time" id="NowStartMinute">{{current_shop.config.start_time_now.minute or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu  minute-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">&nbsp;至&nbsp;</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time" id="NowEndHour">{{current_shop.config.end_time_now.hour or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu hour-list choose-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time" id="NowEndMinute">{{current_shop.config.end_time_now.hour or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu minute-list choose-list" role="menu">
                            </ul>
                        </div>
                    </li>
                </ul>
                {% else %}
                <div class="w450 center-block">
                    <span class="tit pull-left">起送金额：</span>
                    <div class="send-money clearfix">
                        <input class="pull-left money" type="number" value="{{current_shop.config.min_charge_on_time or 0}}" id="sendMoney"/>
                        <span class="pull-left">元</span>
                        <a href="javascript:;" class="edit set-inl-blo pull-left sendMoney"></a>
                    </div>
                    <p class="tit clearfix">配送时间：</p>
                    <div class="send-time w450 center-block">
                        <ul class="time-list">
                            {% for period in current_shop.config.periods%}
                            <li class="time-list-item set-width-float time-period" data-id="{{period.id}}">
                                <div class="staff-work-mode action-mode pull-left">
                                    <a class="work-mode" href="javascript:;">已启用</a>
                                    <a class="stop-mode" href="javascript:;" style="display:none">未启用</a>
                                </div>
                                <span class="time1 text-black show_item pull-left startTime">{{period.start_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-hour">{{period.start_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time start-minute">{{period.start_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="pull-left to">至</span>
                                <span class="time2 text-black show_item pull-left EndTime">{{period.end_time}}</span>
                                <div class="edit_item hidden">
                                    <div class="input-group-btn pull-left">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-hour">{{period.end_time.hour}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list hour-list" role="menu">
                                        </ul>
                                    </div>
                                    <span class="pull-left tit">：</span>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="time end-minute">{{period.end_time.minute}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu choose-list minute-list" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                <span class="time show_item periodName">{{period.name}}</span>
                                <input type="text" class="period-name  pull-left text-center edit_item hidden" value="{{period.name}}"/>
                                <a href="javascript:;" class="delete pull-right set-inl-blo delete-time-period"></a>
                                <a href="javascript:;" class="edit pull-right set-inl-blo to-edit-period show_item"></a>
                                <a href="javascript:;" class="sure-btn pull-right edit_item hidden edit-time-period">&nbsp;</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <p class="w450 center-block"><a href="javascript:;" class="add-new-time text-green font14">+ 添加新时段</a></p>
                <div class="add-period  bg-grey2 set-width-float" style="display:none">
                    <div class="w450 center-block">
                        <div class="input-group-btn pull-left">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time start-hour">0</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list hour-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn pull-left">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time start-minute">0</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list minute-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">&nbsp;至&nbsp;</span>
                        <div class="input-group-btn pull-left">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time end-hour">0</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list hour-list" role="menu">
                            </ul>
                        </div>
                        <span class="pull-left tit">：</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time end-minute">0</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list minute-list" role="menu">
                            </ul>
                        </div>
                        <input type="text" class="period-name  pull-left" placeholder="时段名称"/>
                        <a href="javascript:;" class="sure-btn pull-left add-time-period">&nbsp;</a>
                        <a href="javascript:;" class="concel-btn pull-left concel-time-period">&nbsp;</a>
                    </div>
                </div>
                <div class="w450 center-block clearfix">
                    <div class="end-time clearfix">
                        <span class="pull-left tit">下单截止时间：</span>
                        <div class="input-group-btn pull-left">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="time" id="stopRange">{{current_shop.config.stop_range or 0}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu choose-list hour-list stop-list" role="menu">
                            </ul>
                        </div>
                        <a href="javascript:;" class="edit set-inl-blo pull-left stopRange"></a>
                    </div>
                    <p class="notice text-grey9">截止时间是指在某送货时间段前N个小时用户将不能选择该时段配送</p>
                </div>
                {% end %}
            </div>
            <div class="modal-footer">
                <div class="btn-box">
                    <button type="button" class="pull-right modal-concel-btn" href="javascript:;" data-dismiss="modal">取消</button>
                    {% if order_type ==1 %}
                    <button type="button" class="pull-left modal-sure-btn" href="#" id="sendNowConfig">确认</button>
                    {% else %}
                    <button type="button" class="pull-left modal-sure-btn" href="#">确认</button>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}<script src="{{static_url('js/admin-order.js')}}"></script>{% end %}