{% extends 'shop-set-base.html' %}
{% block title%}公告设置{% end %}

{% block setcontent %}
<div class="set-description">
    <p>修改小票附加信息</p>
</div>
<table class="set-list table table-bordered">
    <tr class="bg-grey2">
        <td colspan="2">小票附加图片</td>
        <td colspan="2">小票附加消息</td>
    </tr>
    <tr class="set-list-item">
        <td>
            <div class="mode action-mode" data-active="{{current_shop.config.receipt_img_active}}">
                <a class="work-mode hidden" href="javascript:;">已启用</a>
                <a class="stop-mode hidden" href="javascript:;">未启用</a>
            </div>
        </td>
        <td class="col-lg-4 address-show receipt-img"><img src="{{current_shop.config.receipt_img or '/static/images/TDSG.png'}}"/></td>
        <td class="col-lg-4 address-edit"  style="display:none;">
            <div class="logo-box">
                <img src="{{current_shop.config.receipt_img}}" id="logoImg">
                <div class="upload-img green-color">
                    <input id="file_upload" type="file" name="file_upload" class="uploadImg" />
                    <span class="title set-inl-blo text-white text-center">点击修改</span>
                </div>
            </div>
        </td>
        <td class="col-lg-6 address-show receipt-msg-con">{{receipt_msg or '无'}}</td>
        <td class="col-lg-6 address-edit" style="display:none;"> <textarea class="receipt-msg">{{receipt_msg or '无'}}</textarea></td>
        <td class="address-show">
            <a href="javascript:;" class="edit-btn2 info-edit">编辑</a>
        </td>
        <td class="address-edit" style="display:none;">
            <a href="javascript:;" class="edit-btn2 info-sure edit-receipt-notice">确定</a>
        </td>
    </tr>
</table>
<!--<a href="javascript:;" class="add-new-address1  add-btn-sty" data-toggle="modal" data-target="#noticeBox">+ 新建小票内容</a>-->
</div>
{% end %}
{% block setbottom %}
<script src="{{static_url('js/jquery.uploadifive.min.js')}}"></script>
<script src="{{static_url('js/admin-receipt-set.js')}}"></script>
{% end %}
