{% extends 'shop-set-base.html' %}
{% block title%}店铺信息设置{% end %}
{% block setcontent %}
<ul class="info-set-list">
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺名称</span>
        <div class="w2 pull-left">
            <span class="info_show name">{{current_shop.shop_name}}</span>
            <input class="info_hide shop_name" type="text" value="{{current_shop.shop_name}}" style="display:none"/>
        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="name" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺logo</span>
        <div class="w2 pull-left logo-box">
           <img src="{{current_shop.shop_trademark_url}}" id="logoImg">
            <div class="upload-img green-color">
                <input id="file_upload" type="file" name="file_upload" class="uploadImg" />
                <span class="title set-inl-blo text-white text-center">点击修改</span>
            </div>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺号<span class="text-pink">*</span></span>
        <div class="w2 pull-left">
            <p class="clearfix">
                <span class="info_show code pull-left">{{current_shop.shop_code or '请设置'}}</span>
                <input class="info_hide shop_code pull-left" type="text" value="{{current_shop.shop_code}}" style="display:none" placeholder="请设置"/>
		<input type="hidden" value="{{current_shop.shop_code}}" id="shop_code"/>
            </p>
            <p class="link_notice clearfix" style="display:none" >
                您的店铺链接：
                <a href="http://m.senguo.cc/{{current_shop.shop_code}}" class="shop_link text-pink" target="_blank">http://m.senguo.cc/<span class="code">{{current_shop.shop_code}}</span></a>
            </p>
            <div class="link_notice" style="display:none">
                <span class="pull-left">您的店铺二维码：</span>
                <div class="pull-left" id="shop_link_img"></div>
            </div>
	    <button class="link_notice btn bg-pink text-white download_img" style="display:none">二维码下载</button>
            <p class="notice_word mb-0" style="display:none">用于生成您的商城店铺链接，如没有进行设置将无法进入您的商城。</p>
            <p class="notice_word mb-0" style="display:none">请输入6位以上（含6位）的英文字母与数字组合（不区分大小写）,森果店铺号一经设置不允许更改，请谨慎填写。</p>
            <p class="text-grey notice_word mb-0" style="display:none">商城链接示例：http://m.senguo.cc/senguo,senguo即为设置的店铺号。</p>
        </div>
        <div class="pull-right code_set" style="display:none">
            <a class="info_edit" href="javascript:;">设置</a>
            <a class="info_sure code_sure" href="javascript:;" data-id="code" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺简介</span>
        <div class="w2 pull-left">
            <p class="info_show intro">{{current_shop.shop_intro}}</p>
            <textarea class="info_hide shop_intro" style="display:none">{{current_shop.shop_intro}}</textarea>
        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="intro" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺地址</span>
        <div class="w2 pull-left">
            <span class="info_show address">{{address}}</span>
            <div class="info_hide" style="display:none">
                <div class="dropdown select-provience pull-left set-right10" data-toggle="modal" data-target="#provinceList">
                    <button class="btn btn-default dropdown-toggle" type="button">
                        <span  id="provinceAddress" data-code="{{current_shop.shop_province or ''}}" class="reProvince">选择省份</span>
                        <span class="caret"></span>
                    </button>
                </div>
                <div class="dropdown pull-left select-city set-right10" data-toggle="modal" data-target="#cityList">
                    <button class="btn btn-default dropdown-toggle" type="button">
                        <span id="cityAddress" data-code="{{current_shop.shop_city or ''}}" class="reCity">选择城市</span>
                        <span class="caret"></span>
                    </button>
                </div>
                <input type="text" class="input-box input1 pull-left" placeholder="{{current_shop.shop_address_detail or '请填详细地址'}}" id="addressDetail" value="{{current_shop.shop_address_detail or ''}}"/>
            </div>

        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="address" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">店铺联系电话</span>
        <div class="w2 pull-left">
            <span class="info_show phone">{{current_shop.shop_phone or '未设置' }}</span>
            <input class="info_hide shop_phone" type="text" placeholder="{{current_shop.shop_phone or '未设置' }}" value="{{current_shop.shop_phone or '' }}" style="display:none"/>
        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="phone" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">配送区域</span>
        <div class="w2 pull-left">
            <span class="info_show deliver_area">{{current_shop.deliver_area or '未设置'}}</span>
            <input class="info_hide deliver-area" type="text" placeholder="{{current_shop.shop_phone or '未设置' }}" value="{{current_shop.deliver_area or ''}}" style="display:none"/>
        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="area" style="display:none">确定</a>
        </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">实体店情况</span>
        <div class="w2 pull-left ">
            <span class="offline_entity info_show">{{current_shop.have_offline_entity}}</span>
            <div class="dropdown info_hide" style="display:none">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="offline_entity" id="offline_entity">{{current_shop.have_offline_entity}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu offline_entity-list" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" data-id="1" class="text-center">有</li>
                    <li role="presentation" data-id="2" class="text-center">没有</li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <a class="info_edit text-green font14" href="javascript:;">修改</a>
            <a class="info_sure" href="javascript:;" data-id="entity" style="display:none">确定</a>
        </div>
    </li>
</ul>
<div class="modal fade select-popbox" id="provinceList" tabindex="-1" role="dialog" aria-labelledby="provinceAddress" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">省份选择</h4>
            </div>
            <div class="modal-body">
                <div class="address-list province-list select-list">
                    <ul class="provinceList font14">
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn bg-green text-white" data-dismiss="modal" id="provinceSelect">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade select-popbox" id="cityList" tabindex="-1" role="dialog" aria-labelledby="provinceAddress" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">城市选择</h4>
            </div>
            <div class="modal-body">
                <div class="address-list city-list select-list">
                    <ul class="cityList font14">
                        <li>请先选择省份</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn bg-green text-white" data-dismiss="modal" id="citySelect">确定</button>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/jquery.uploadifive.min.js')}}"></script>
<script src="{{static_url('js/jquery.qrcode.min.js')}}"></script>
<script src="{{static_url('js/area.js')}}"></script>
<script src="{{static_url('js/admin-info-set.js')}}"></script>
{% end %}
