{% extends 'shop-set-base.html' %}
{% block title%}小票设置{% end %}

{% block setcontent %}
<div class="set-description">
    <a href="http://senguo.cc/bbs/detail/8" target="_blank" class="pull-right">查看详细打印机教程</a>
    <p>小票打印设置</p>
</div>
<ul class="type-list font14 mt20" data-id="{{current_shop.config.receipt_type}}">
    <li>
        <a href="javascript:;" class="pull-left circle-btn mr10" data-id="0"></a>
        <span class="pull-left mr20">有线打印</span>
        <span class="pull-left text-grey2">除订单信息外还可上传图片进行打印。</span>
    </li>
    <li>
        <a href="javascript:;" class="pull-left circle-btn mr10"  data-id="1"></a>
        <span class="pull-left mr20">无线打印</span>
        <span class="pull-left text-grey2">不可上传图片，可开启订单自动打印，支持易连云<!-- 、飞印两种品牌的 -->无线打印机。</span>
    </li>
</ul>
<table class="set-list table table-bordered _box line-receipt hidden">
    <tr class="bg-grey2">
        <td colspan="2">小票附加图片</td>
        <td colspan="2">小票附加消息</td>
    </tr>
    <tr class="set-list-item">
        <td>
            <div class="mode action-mode img-set" data-active="{{current_shop.config.receipt_img_active}}">
                <a class="work-mode hidden" href="javascript:;">已启用</a>
                <a class="stop-mode hidden" href="javascript:;">未启用</a>
            </div>
        </td>
        <td class="col-lg-4 address-show receipt-img"><img src="{{current_shop.config.receipt_img or '/static/images/TDSG.png'}}"/></td>
        <td class="col-lg-4 address-edit"  style="display:none;">
            <div class="logo-box">
                <img src="{{current_shop.config.receipt_img}}" id="logoImg">
                <div class="upload-img green-color">
                    <input id="file_upload" type="file" name="file_upload" class="uploadImg" />
                    <span class="title set-inl-blo text-white text-center">点击修改</span>
                </div>
            </div>
        </td>
        <td class="col-lg-6 address-show receipt-msg-con">{{receipt_msg or '无'}}</td>
        <td class="col-lg-6 address-edit" style="display:none;"> <textarea class="receipt-msg">{{receipt_msg or '无'}}</textarea></td>
        <td class="address-show">
            <a href="javascript:;" class="edit-btn2 info-edit">编辑</a>
        </td>
        <td class="address-edit" style="display:none;">
            <a href="javascript:;" class="edit-btn2 info-sure edit-receipt-notice">确定</a>
        </td>
    </tr>
</table>
<ul class="info-set-list mt20 font14 edit-box p0 wireless-receipt hidden _box">
    <li class="item clearfix set-list-item">
        <span class="w1 pull-left set-inl-blo">小票附加信息</span>
        <div class="w2 pull-left">
            <span class="address-show receipt-msg-con">{{receipt_msg or '无'}}</span>
            <input class="address-edit receipt-msg"  type="text" value="{{receipt_msg or '无'}}" style="display:none"/>
        </div>
        <div class="pull-right">
            <a class="info-edit address-show" href="javascript:;">修改</a>
            <a class="info-sure address-edit edit-receipt-notice" href="javascript:;" data-id="name" style="display:none">确定</a>
        </div>
    </li>
     <li class="item clearfix set-list-item">
        <div class="pull-right">
            <a class="info-edit address-show" href="javascript:;">修改</a>
            <a class="info-sure address-edit edit-console" href="javascript:;" data-id="name" style="display:none">确定</a>
        </div>
        <div class="pull-left">
             <div class="iti">
                <span class="w1 pull-left set-inl-blo mr20">无线打印机品牌</span>
                <span class="address-show wireless-type"></span>
                <ul class="type-choose console-type address-edit" data-id="{{current_shop.config.wireless_type}}" style="display:none">
                    <li data-id="0"><span class="circle"></span>易连云</li>
                    <!-- <li data-id="1"><span class="circle"></span>飞印</li> -->
                </ul>
            </div>
            <div class="iti">
                <span class="w1 pull-left set-inl-blo mr20">无线打印机终端号</span>
                <div class="w2 pull-left">
                    <span class="address-show console-num">{{current_shop.config.wireless_print_num or '请设置'}}</span>
                    <input class="address-edit num-input"  type="text" value="{{current_shop.config.wireless_print_num or '请设置'}}" style="display:none"/>
                </div>
            </div>
            <div class="iti">
                 <span class="w1 pull-left set-inl-blo mr20">无线打印机密钥</span>
                 <div class="w2 pull-left">
                    <span class="address-show console-key">{{current_shop.config.wireless_print_key or '请设置'}}</span>
                    <input class="address-edit key-input"  type="text" value="{{current_shop.config.wireless_print_key or '请设置'}}" style="display:none"/>
                </div>
            </div>
       </div>
    </li>
    <li class="item clearfix">
        <span class="w1 pull-left set-inl-blo">订单自动打印</span>
        <div class="mode action-mode auto-set pull-right" data-flag="on" title="点击切换状态" data-status="{{current_shop.config.auto_print}}">
            <a class="work-mode" href="javascript:;" style="display:none;">已启用<span class="circle"></span></a>
            <a class="stop-mode" href="javascript:;" style="display:none;">未启用<span class="circle"></span></a>
        </div>
    </li>
</ul>

<!--<a href="javascript:;" class="add-new-address1  add-btn-sty" data-toggle="modal" data-target="#noticeBox">+ 新建小票内容</a>-->
</div>
{% end %}
{% block setbottom %}
<script src="/static/js/jquery.uploadifive.min.js"></script>
<script src="{{static_url('js/admin-receipt-set.js')}}"></script>
{% end %}
