{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-shop-set.css')}}"/>{% end %}

{% block content %}
{% set shopSubPage = context.get('shopSubPage') %}

{% set delivery_active = ''%}
{% set notice_active = '' %}
{% set receipt_active = ''%}

{% if shopSubPage == 'delivery_set'  %}
{% set delivery_active ='active' %}
{% elif shopSubPage == 'notice_set' %}
{% set notice_active ='active' %}
{% else %}
{% set receipt_active ='active' %}
{% end %}

<span class="right-title">商城设置</span>
<ul class="shop-set-nav right-nav">
    <li class="{{delivery_active}}" id="deliverySet"><a href="{{reverse_url('adminConfig')}}?action=delivery">配送设置</a></li>
    <li class="{{notice_active}}" id="noticeSet"><a href="{{reverse_url('adminConfig')}}?action=notice">公告设置</a></li>
    <li><a href="#">充值设置</a></li>
    <li class="{{receipt_active}}" id="receiptSet"><a href="{{reverse_url('adminConfig')}}?action=receipt">小票设置</a></li>
</ul>
<div class="set-description">
    {% if shopSubPage == 'delivery_set' %}
    <p>通过编辑配送地址，确定前台商城用户以及员工责任区域的地址选择项</p>
    <p>地址增加后将不能删除和修改。</p>
    {% elif shopSubPage == 'notice_set' %}
    <p>编辑和修改商城水果公告栏的内容</p>
    <p>摘要为公告栏直接显示的内容，用户可点击查看详情。</p>
    {% elif shopSubPage == 'receipt_set' %}
    <p>修改小票附加信息</p>
    {% end %}
</div>
{% block setcontent %}{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-set.js')}}"></script>
{% block setbottom %}{% end %}
{% end %}