{% extends 'shop-set-base.html' %}
{% block title%}短信验证{% end %}

{% block setcontent %}
<div class="edit-box bg-greya group">
    <div class="mode action-mode message_active pull-right mt10" data-flag="on" title="点击切换状态" data-status="{{current_shop.config.text_message_active}}">
        <a class="work-mode" href="javascript:;" style="display:none;">已启用<span class="circle"></span></a>
        <a class="stop-mode" href="javascript:;" style="display:none;">未启用<span class="circle"></span></a>
    </div>
    <div class="wrap-pay-txt">
        <p class="pay-type-txt">首单短信验证</p>
        <p class="grey-txt mt10 f12">新用户第一次在您店铺下单时，会提示绑定手机号。此功能能有效避免恶意订单，<span class="green-txt">建议开启</span></p>
    </div>
</div>
{% end %}
