{% extends 'base.html' %}
{% block title %}账户管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-main.css')}}"/>{% end %}
{% block content %}
<div class="account-top">
    <span class="right-title">账户余额</span>
    <span class="acc-money">{{shop_balance}}<span class="small-txt">元</span></span>
    <a class="get-money" href="javascript:;" id="get-money" data-target=".bs-apply-com" data-toggle="modal">提现</a>
</div>
<ul class="acc-report">
    <li>1、账户余额为森果平台为卖家代收的用户钱款，店铺管理员可以申请提现。</li>
    <li>2、用户充值或在线支付的金额记入账户余额里。</li>
    <li>3、在线支付的订单，只有当用户完成评价或订单被完成24小时后，才记入帐号余额中。</li>
</ul>
<!-- <div class="account-top mt20">
    <span class="right-title mb10">余额账单</span>
</div>
<div class="wrap-bm">
    <ul class="tab-lst group">
        <li class="active all-list">所有账单</li>
        <li class="cash-list">提现记录</li>
        <li class="charge-list">用户充值</li>
        <li class="online-list">在线支付</li>
    </ul>
    <div class="acc-con-lst">
            <table class="tb-account">
                <colgroup>
                    <col width="40%"/>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup>
            </table>
            <div class="wrap-acc-num">
                <span class="account-num">累计额度&nbsp;<span class="green-txt f16">5555.00</span>元</span>
                <span class="account-num">累计次数&nbsp;<span class="green-txt f16">5555</span>次</span>
                <span class="account-num">累计人数&nbsp;<span class="green-txt f16">5555</span>人</span>
            </div>
    </div>
</div>        
<h4 class="text-center">暂无账单信息！</h4>
<div class="list-pagination hide">
    <ul>
        <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
        <li>
            <span class="page-now">1</span>/<span class="page-total">1</span>
        </li>
        <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
        <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
        <li><a href="javascript:;" class="jump-to">跳转</a></li>
    </ul>
</div> -->
<div class="modal bs-apply-com" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content del-com-cont">
         <div class="modal-header clearfix">
            <span class="title pull-left" id="myModalLabel">请输入提现金额：</span>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
            <div class="modal-body center-block w200">
             <p>
                <span>请填写您的支付宝账号：</span>
                <input tpye="text" class="account">
            </p>
            <p>
                <span>请填写您的支付宝认证姓名：</span>
                <input tpye="text" class="account-name">
            </p>
            <p>
                <span>请填写提现金额：</span>
                <input tpye="text" class="money-ipt">
            </p>
            </div>
            <div class="xt-ac modal-footer">
                <button class="bg-green ok-pop text-white btn clearfix center-block" id="commit-senguo">提交</button>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/admin-account.js')}}"></script>
{% end %}