<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta charset="UTF-8"/>
    <title>{% block title %}森果后台-切换店铺{% end %}</title>
    <meta name="keywords" content="森果,水果商城,水果,O2O,森果登录,微信卖水果,水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/admin-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
                _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>
{% set current_shop = handler.current_shop %}
<header class="backstage-header header-fix">
    <div class="w1200 header-box">
        <div class="logo-con height50 pull-left">
            <a href="{{reverse_url('adminHome')}}" class="navbar-brand logo height50 padding-none">
                <img src="{{static_url('images/logo.png')}}" class="height50"/>
            </a>
            <span class="title">后台管理系统</span>
            <span class="beta">Beta2.0</span>
        </div>
        <div class="header-nav height50 pull-right">
            <ul class="navbar">
                <li class="area-info brnone">
                    <img src="{{current_user.accountinfo.headimgurl_small or '/static/images/TDSG.png'}}?imageView2/1/w/100/h/100" class="admin-img round height50 pull-left"/>
                    <div class="switch-info area pull-right switch-area">
                        <div class="job text-left mt5"><a href="/customer/profile" class="text-link">{{current_user.accountinfo.nickname}}</a></div>
                        <div class="switch-change-phone">
                            {% if current_user.accountinfo.phone %}
                            {{current_user.accountinfo.phone}}
                            {% else %}
                            <span class="band-tel">未绑定手机号</span> <a href="/customer/profile" class="text-link">点击绑定</a>
                            {% end %}
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/admin/logout" class="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--backstage-header-end-->

<main class="container mt100">
    <div class="s-container">
        <div class="sw-top">
            <p>店铺列表 {% if current_shop.admin_id == current_user.id %}<a href="javascript:;" class="text-link" id="spread-list">推广店铺列表</a>{% end %}</p>
            <div class="sw-er-tip po-list invisible">
                <div class="left-arr">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                <p class="er-text">店铺列表链接</p>
                <div class="wrap-ipt">
                    <input type="text" class="sw-link-txt" value="http://senguo.cc/list?action=shop&&id={{current_shop.admin_id}}" disabled/>
                    <input type="button" class="sw-link-copy"  id="sw-link-copy" value="复制链接"/>
                </div>
                <div class="wrap-er group">
                    <img class="er-logo" src="/static/images/favicon.ico" alt=""/>
                    <div class="er-text lh80 fl">列表二维码</div>
                    <div class="er-img fl er-code-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="sw-head">
            <p>每个管理员拥有一个唯一的属于自己的店铺列表和店铺列表链接。</p>
            <p>不论是您创建的店铺还是受其他店铺创建者邀请加入成为管理员的店铺都会显示在这个列表中。</p>
        </div>
        <div class="sw-bm">
            <ul class="sw-list group">
            {% for shop in  context['shop_list']%}
                <li class="da" data-id="{{shop['id']}}" data-code="{{shop['shop_code']}}">
                    {% if shop['shop_code'] !=None and shop['shop_code'] !='not set' %}
                    <div class="sw-tip shopping" data-status="{{shop['status']}}"></div>
                    <span class="sw-tip-txt"></span>
                    <dl class="group">
                        <dt class="fl">
                            <img src="{{shop['shop_trademark_url'] or '/static/images/TDSG.png'}}?imageView2/1/w/100/h/100" alt="{{shop['shop_name']}}"/>
                            <a href="javascript:;" class="text-link spread-shop" data-url="{{reverse_url('Market',shop['shop_code'])}}">推广店铺</a>
                            <div class="sw-er-tip invisible forbid_click">
                                <div class="left-arr">
                                    <span class="line1"></span>
                                    <span class="line2"></span>
                                </div>
                                <p class="er-text">店铺列表链接</p>
                                <div class="wrap-ipt">
                                    <input type="text" class="sw-link-txt" value="http://senguo.cc/{{shop['shop_code']}}" disabled/>
                                    <input type="button" class="sw-link-copy" value="复制链接"/>
                                </div>
                                <div class="wrap-er group">
                                    <img class="er-logo" src="/static/images/favicon.ico" alt=""/>
                                    <div class="er-text lh80 fl">列表二维码</div>
                                    <div class="er-img fl er-code-img">
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="fl sw-listr">
                            <p class="sw-title">{{shop['shop_name']}} <span class="auth hidden" data-auth="{{shop['shop_auth']}}"></span></p>
                            <ul class="sw-attr group">
                                <li>商品 {{shop['goods_count']}}件</li>
                                <li>评价 {{shop['comment_count']}}条</li>
                                <li>满意度 {{shop['satisfy']}}</li>
                                <li>粉丝 {{shop['fans_sum']}}个</li>
                                <li>订单 {{shop['order_sum']}}个</li>
                                <li>营业额 {{shop['total_money'] or 0}}元</li>
                            </ul>
                            <p class="text-grey9 sw-addre">店铺地址：{{shop['address']}}</p>
                        </dd>
                    </dl>
                    {% else %}
                    <dl class="group">
                        <dt class="fl">
                            <img src="{{shop['shop_trademark_url'] or '/static/images/TDSG.png'}}?imageView2/1/w/100/h/100" alt="{{shop['shop_name']}}"/>
                        </dt>
                        <dd class="fl sw-listr">
                            <p class="sw-title">{{shop['shop_name']}}</p>
                            <p class="unauth">店铺预览暂时无法正常显示，<br>请进入<a href="/admin/config/shop" class="text-link forbid_click">店铺设置</a>进行相关设置。</p>
                        </dd>
                    </dl>
                    {% end %}
                </li>
                {% end %}
                <li>
                    <a href="/apply" class="add-swshop">+ 创建店铺</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/third/jquery.zclip.min.js"></script>
<script src="/static/js/third/qrcode.min.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/admin-public.js')}}"></script>
<script src="{{static_url('js/admin-switchshop.js')}}"></script>
{% block bottom %}{% end %}
</body>
</html>
