html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, font, img, ins,
small, strike, strong, tt, var,
b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; list-style:none;border: none; outline: none; vertical-align: baseline;}
html,body,div,p,textarea,input,select,button,h1,h2,h3,h4,h5,h6{font-size:12px;line-height: 1.25;font-family: 'Microsoft Yahei','Arial','宋体';}
a,a:link,a:visited,a:hover,a:active{text-decoration: none;}
img,input,button,select{vertical-align: middle;border:none;width: 100%;}
div,p,h1,h2,h3,h4,h5,h6{word-break:break-all;}
textarea{width: 100%;overflow: hidden;resize: none;}
li{display: block;}
input{outline:none;-webkit-appearance:none;}
input[type=text]:focus{box-shadow:0px;border-color:#eee;outline:none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
*:before,:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:after{content:"";box-sizing:border-box;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-webkit-appearance: none;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
div{margin:0;}
div:after{display:table;content:"";}
i{display: inline-block;background-size: contain;background-repeat: no-repeat;}
a{background-repeat: no-repeat;background-size: contain;}
table{width: 100%;border-collapse: collapse;table-layout: fixed;}
.txt-ac{text-align: center;}
.txt-al{text-align: left;}
.txt-ar{text-align: right;}
.ov-center{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top: 50%;left: 50%;}
.o-center{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left: 50%;}
.v-center{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top: 50%;}
.pr{position: relative;}
.pa{position: absolute;}
.pointer{cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.clip{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fl{float: left;}
.fr{float: right;}
.hidden{display: none!important;}
.show{display: block!important;}
.f12{font-size: 12px !important;}
.header{background:#33CC66;height:40px;text-align:center;line-height:40px;position:fixed;background-size:20px;max-width:800px;min-width:320px;z-index:666;width:100%;top:0;color: #fff;font-size: 16px;}
.btn-commit{height:34px;line-height: 34px;font-size:14px;width: 200px;color: #fff;background-color: #80de9e;border-radius: 34px;display: inline-block;}
.rotate-img{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.rotate-img2{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.pt5{padding-top: 5px;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;background-color:rgba(0,0,0,.5);display:none;height:100%;-webkit-overflow-scrolling:touch;outline:0;overflow: auto;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate3d(0,-25%,0);-o-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0)}
.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.modal-dialog{position:relative;margin:10px auto;top:50%;margin-top:-210px;width:320px;}
.modal-content{position:relative;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:8px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);margin:0 auto;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);background-color:#F0F4F0 !important;margin:15px;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{font-size:14px;padding:15px;position:relative;overflow:hidden;text-align:center;padding:0px;height:42px;line-height:42px;background-size:20px;z-index:10;width:100%;border-bottom:0px;border-top-left-radius:6px;border-top-right-radius:6px;color:#F97575;top:-40px;}
.modal-header .close{position:absolute;top:-12px;right:0;color:inherit;font-size:28px !important;margin-right:10px;background:none;border:none;color:#F97575;z-index: 20;width:auto;}
.modal-header .close:active{boder:none;}
.modal-head{position:absolute;}
.modal-title{margin:0;font-weight:normal;font-size:18px;}
.modal-body{position:relative;margin:0 15px;color:#999;top:5px;}
.modal-footer{margin-top:30px;clear:both;}
.modal-footer .btn{position:absolute;left:90px;z-index:6666;border-radius: 20px;padding:8px 42px;width:auto;}
/*.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}*/
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.modal-top{width:100%;}
.modal-top img{width:100%;}
.modal-bottom{width:100%;}
.modal-bottom img{width:100%;}
.modal_sty{height:100%;oveflow:hidden !important;}
.center-block{text-align:center;}
a{outline:0;}
a:focus{border:none;background-color:none;outline:0;}
.notice_bg{width:100%;height:auto;position:fixed;top:100px;z-index:9999;}
.notice_box{width:280px;background:rgba(0,0,0,0.5);padding:20px 10px;border-radius:4px;margin:0 auto;}
button:focus{outline:0;}
#warn{position:absolute;padding:5px;font-size:14px;}
html{min-height:100%;}
body{margin:0;font-size:12px;font-family:"microsoft yahei";color:#333;min-height:100%;background:#FDF3D8;}
.container{width:100%;max-width:800px;min-width:320px;margin:0 auto;background:#FDF3D8;min-height:480px;height:100%;overflow:hidden;padding-bottom:80px;}
.little_pear{position:fixed;z-index:9999;top:70%;right:0px;display:none;width:40px;height:49px;}
.btn{border-radius:5px;display:inline-block;}
.text-white{color:#fff;}
.text-green{color:#50E3C2;}
.text-grey3{color:#333;}
.text-grey6{color:#666;}
.text-grey9{color:#999;}
.text-pink{color:#E17163;}
.bg-white{background:#fff;}
.bg-green{background:#7EE578;}
.bg-greyc{background:#ccc !important;}
.bg-pink{background:#E17163;}
.bg-pink2{background:#FFEBEC;}
.btn-small{width:80px;}
.mt5{margin-top:5px;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mt50{margin-top:50px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
table{overflow:hidden;}
textarea{border:none;}
h1{font-size:18px;}
.font16{font-size:16px;}
.font14{font-size:14px;}
.text-center{text-align:center;}
/*public*/
.box{padding:10px 0;}
.img{width:35px;height:35px;border-radius:50%;}
.table td{padding:10px 0;}
.pub-box .sty1{height:30px;text-indent:10px;}
.pub-box .sty2{height:80px;text-indent:10px;padding-top:10px;}
.type-btn{height:36px;background:none;color:#666;}
.type-btn.active{background:#E17163;color:#fff;}
.pub-btn{background:#E17163;height:40px;margin-top:20px;}

.p-box1{padding:5px;}
.p-box1 .tit{display:inline-block;line-height:30px;width:50px;overflow:hidden;}
.p-box1 input{display:inline-block;width:80%;}
.p-box1 .line1{border-bottom:1px solid #ddd;}
.p-box2{height:60px;border:1px solid #E17163;border-radius:2px;position:relative;}
.p-box2 .left{width:30%;background:#eee;height:100%;}
.p-box2 .img{margin-top:12px;}
.p-box2 .right{width:70%;line-height:50px;text-indent:15px;}
.p-box2  .people{position:absolute;right:0;display:inline-block;width:50px;height:115px;background:url('/static/confess/hai.png') no-repeat;background-size:50px;top:-20px;}

/*home*/
.filter{width:100%;}
.filter li{width:50%;margin:5px 0;}
.filter li a{display:inline-block;width:30px;padding:3px 0;text-align:center;color:#999;margin:0 10px;}
.filter li.active a{color:#E17163;border-color:#E17163;}

.confession-notice{width:100%;height:auto;position:relative;}
.confession-notice .bg{width:100%;}
.confession-notice .con{position:absolute;left:0;top:0;width:100%;}
.confession-notice .notice{position:absolute;left:10%;top:45%;width:50%;}

.comment-con{min-height:100px;padding:5px 0;text-indent:5px;}

.home-bottom{height:50px;position:fixed;bottom:0;width:100px;right:0;}
.to-market{display:inline-block;position:fixed;left:5px;bottom:5px;width:40px;height:40px;text-align:center;background:#fff;border-radius:50%;}
.to-market i{display:inline-block;background:url('/static/svg/icon_list-2.png') no-repeat;background-position:0 -24px;width:21px;height:21px;margin:0 auto;background-size:140px;margin-top:10px;overflow:hidden;}

.cofession-list li{width:100%;float:left;margin-bottom:10px;position:relative;overflow:hidden;}
.cofession-list li .top{background-size:25px 33px !important;height:33px;line-height:33px;padding:0 5px;position:absolute;width:100%;}
.cofession-list .confession{min-height:60px;padding:40px 10px 10px;}
.cofession-list li.sty0{color:#3A3736;}
.cofession-list li.sty0 a{color:#3A3736;}
.cofession-list li.sty0 .top{background:url('/static/confess/grey.png') repeat-x;}
.cofession-list li.sty0 .confession{background:#F7F5F0;}
.cofession-list li.sty1{color:#80AADA;}
.cofession-list li.sty1 a{color:#80AADA;display:block;}
.cofession-list li.sty1 .top{background:url('/static/confess/blue.png') repeat-x;}
.cofession-list li.sty1 .confession{background:#EEF7F9;}
.cofession-list li.sty2{color:#D97768;}
.cofession-list li.sty2 a{color:#D97768;}
.cofession-list li.sty2 .top{background:url('/static/confess/pink.png') repeat-x;}
.cofession-list li.sty2 .confession{background:#FBF4E2;}
.cofession-list .box-left{width:18%;}
.cofession-list .box-right{width:81%;}
.cofession-list .img{margin-top:25px;}


.to-confess{display:inline-block;width:45px;height:50px;background: url('/static/confess/btn1.png') no-repeat center center;background-size:44px;}
.to-center{display:inline-block;width:45px;height:50px;background: url('/static/confess/btn2.png') no-repeat center center;background-size:44px;}
.no-record img{width:50px;}
.return-btn{display:inline-block;width:20%;height:40px;position:absolute;left:0;background:url('../../svg/back-white@2x.png') no-repeat 14px 11px;background-size:10px;}
.detail-header{background:#E17163;height:40px;line-height:40px;position:fixed;background-size:20px;max-width:800px;min-width:320px;z-index:666;width:100%;top:0;text-align: center;}
.list-box{padding:5px;}
.list-box li{margin-bottom:10px;width:100%;border-bottom:1px solid #fff;padding:5px 0;}

.center-box{padding:5px 0 0 0;}
.center-box p{padding:0px 15px;background:#fff;margin-top:15px;border-left:2px solid #fff;}
.center-box p:hover{border-color:#E17163;}
.center-box p:active{border-color:#E17163;}
.center-box p a{display:inline-block;padding:10px 0;width:100%;}
.arr-right{background-image: url('../../images/arr-right.png');width: 8px;display: block;margin-left: 6px;height: 18px;background-size: contain;background-repeat: no-repeat;position: relative;top: 2px;}

.confess-info{padding:10px;}
.info .img{width:40px;height:40px;border-radius:50%;}
.info .img img{border-radius:50%;}
.some-btn{line-height:20px;padding-right:10px;}
.great-btn i{display:inline-block;width:20px;height:20px;background:url('/static/confess/great.png') no-repeat;background-size:19px;margin-right:5px;}
.comment-btn i{display:inline-block;width:20px;height:20px;background:url('/static/confess/comment.png') no-repeat;background-size:20px;margin-right:5px;}
.comment-box{margin:0 auto;padding:10px;}
.comment-text{border:1px solid #ddd;height:30px;padding:5px;}
.sub-comment{width:80px;padding:8px;}
.comment-list{padding:10px;}
.comment-list .time{word-break:break-word;}
.comment-list li{margin-top:5px;}

#replay_box .modal-header{top:-45px;}
#replay_box .modal-body{top:-40px;z-index:9999;padding:10px 0;}
#replay_box #warn{position:absolute;padding:0;font-size:14px;width:100%;}
.replay-text{border:1px solid #ddd;height:35px;padding:5px;}
.sub-replay{width:80px;padding:8px;margin-left:85px;}