/*首页*/
.bbs-menu{background-image: url('/static/bbs/img/icon_menu.png');background-size: 20px;}
.atical-list{border-left: 1px solid #999;border-right: 1px solid #999;}
.atical-list>li{padding: 10px;}
.atical-list .title{color: #333;line-height: 18px;}
.atical-mark{display: inline-block;height: 18px;line-height: 18px;padding: 0 14px;border: 1px solid #999;color: #999;border-radius: 9px;}
.atical-attr{margin-top: 10px;color: #999;}
.atical-attr>span{display: inline-block;font-size: 12px;}
.wrap-icon{display: inline-block;font-size: 12px;color: #999;margin-left: 10px;position: relative;padding-left: 20px;}
.wrap-icon>i{position: absolute;left: 0;top: 0;width: 12px;height: 12px;background-size: 14px auto;background-image: url('/static/bbs/img/bbs_icon.png');}
.wrap-icon .icon-dz{background-position: 0 -36px;}
.wrap-icon .icon-dz-active{background-position: 0 -54px;}
.wrap-icon .icon-com{background-position: 0 -20px;}












































