{% extends 'base.html' %}
{% block head-css %}
<link href="{{static_url('css/official_about.css')}}" rel="stylesheet">
{% end %}
{% block content %}
<div class="w1000">
	<div class="intro bg-green2 text-white">
		<img src="{{static_url('official_img/intro_bg.png')}}"/>
		<!--<h1 class="text-center">关于森果</h1>
		<p>森果专注于水果O2O领域,为创业团队提供免费的水果O2O第三方平台。</p>
		<p>隶属于武汉小果科技有限公司,公司前身为全国首个微信卖水果的团队</p>
		<p class="text-right">-- We信水果帮。</p>-->
	</div>
	<div class="text-grey font16 list">
		<ul>
			<li>
				<img src="{{static_url('official_img/h_img.png')}}" class="pull-left img mr40"/>
				<div class="pull-left word">
					<p>黄铁森创始人&CEO</p>
					<p class="mt10">华中科技大学光电信息学院10级,We信水果帮(<a href=" http://baike.baidu.com/link?url=GZZPGBeHJxVLImkVXwG7ri_TP9lh8JMub6Sg0isv9NJfop4I1-MkQvX9zjFUvS8eWu5iZHyFtL7GMa3l6TFsp1FiEOJfisZ1sxfdIHX5IVxspqT2s8-J4JwEoCSXhVfZ" class="text-green2">百度百科</a>)创始人</p>
				</div>
			</li>
			<li>
				<img src="{{static_url('official_img/q_img.png')}}" class="pull-right img ml40"/>
				<div class="pull-right word">
					<p>乔迁(<a href=" http://baike.baidu.com/subview/312199/8569904.htm#viewPageContent" class="text-green2">百度百科</a>)联合创始人&CTO 。</p>
					<p class="mt10">华中科技大学软件学院06级，思存工作室创始人。创始人</p>
				</div>
			</li>
		</ul>	
	</div>
	<div class="text-grey text-center mt40">
		<h1>媒体报道</h1>
		<p class="text-center font14">一年多以来森果受到了全社会的关注,十多家纸媒,36Kr,
		武汉电视台等都针对我们进行了深度的专题报道</p>
	</div>
	<div class="video center-block mt40">
		<embed src="http://player.youku.com/player.php/sid/XNzUyMjYzNDYw/v.swf" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
	<div class="new_list mt40 clearfix">
		<ul>
			<li class="item pull-left">
				<img src="{{static_url('official_img/cecn.png')}}"/>
				<a href="http://edu.ce.cn/xw/201305/06/t20130506_727577.shtml">90后华科大学生开微信水果店 两天获400多关注</a>
			</li>
			<li class="item pull-left">
				<img src="{{static_url('official_img/36kr.png')}}"/>
				<a href="http://www.36kr.com/p/209289.html">We信水果帮:自己走通水果电商的进货、仓储、分拣、配送环节</a>
			</li>
			<li class="item pull-left">
				<img src="{{static_url('official_img/dachu.png')}}"/>
				<a href="http://hb.qq.com/a/20130506/001069.htm">电话推销已经“OUT了大学生微信上开水果店</a>
			</li>
			<li class="item pull-left">
				<img src="{{static_url('official_img/changjiang.png')}}"/>
				<a href="http://www.changjiangtimes.com/2013/08/452289.html">“华科帮”里崛起的IT新星</a>
			</li>	
		</ul>
	</div>
	<p class="more clearfix mt40">还有更多:</p>
	<div class="new_list2 clearfix">
		<div class="pull-left box">
			<a href="http://hb.qq.com/a/20130506/000330.htm">《华科两学生校内“微信”卖水果 仓库租在宿舍旁》大楚网</a>
			<a href="http://edu.qq.com/a/20130506/000114.htm">《大学生开微信水果店 两天获400多个关注》武汉晚报</a>
			<a href="http://ctdsb.cnhubei.com/html/ctdsb/20130904/ctdsb2140953.html">《大学创业团队用微信卖水果》楚天都市报</a>
			<a href="http://inews.cjn.cn/jrzb/201403/t2439127.htm">《华科男生花5000元为整栋女寝送水果》长江网</a>
		</div>
		<div class="pull-right box">
			<a href="http://inews.cjn.cn/xyxw/201305/t2262001.htm">《华科学子微信卖水果 点对点销售吸引百人关注》长江网</a>
			<a href="http://www.agronet.com.cn/News/844565.html">《华科大“we信水果帮”销售水果每斤低0.5元》阿里巴巴农业资讯</a>
			<a href="http://www.51ecom.cn/news_show.php?md5id=41b7d25069">《创业项目PK创意与运营--大学生电商创业项目路演》武汉科技报</a>
		</div>
	</div>
</div>
{% end %}
{% block bottom %}
<div class="text-white bottom center-block w1000">
	<ul>
		<li class="pull-left">
			<div class="pull-left">
				<h5>森果订阅号</h5>
				<p>搜索”森果“或扫</p>
				<p>描下面的二维码:</p>
			</div>
			<img src="{{static_url('official_img/order.jpg')}}" class="img pull-left"/>
		</li>
		<li class="pull-left">
			<div class="pull-left">
				<h5>森果服务号</h5>
				<p>搜索”森果“或扫</p>
				<p>描下面的二维码:</p>
			</div>
			<img src="{{static_url('official_img/server.jpg')}}" class="img pull-left"/>
		</li>
		<li class="pull-left">
			<h4 class="font16 mt10">邮箱</h4>
			<p class="font14 mt10">wolf@senguo.cc</p>
			<h4 class="font16 mt10">微博</h4>
			<p class="font14 mt10">http://weibo.com/u/5547617061</p>
			<p class="text-center text-grey mt20">鄂ICP备14012961号-1&nbsp;&nbsp;Copyright&copy;2014-2015 senguo.cc版权所有</p>
		</li>
	</ul>
</div>
<a href="http://www.lagou.com/gongsi/28807.html"  class="join_us"><img src="{{static_url('official_img/join.png')}}"></a>
{% end %}
