{% extends 'base.html'%}
{% block head-css%}<link href="{{static_url('css/official_appdownload.css')}}" rel="stylesheet">{% end %}
{% block content%}
<div class="wrap-content">
    <div class="app-bg">
        <div class="app-bg-img">
            <img src="{{static_url('official_img/appdownload_bg.png')}}" />
        </div>
       <!--  <div class="w1000">
            <div class="wrap-slide">
                <div class="slide-text">
                    <p class="mall-title">丰富的商城模版</p>
                    <p class="mall-content">界面即能勾起食欲，从设计上吸引<br />用户购买</p>
                </div>
                <div class="mall">
                    <ul>
                        <li class="mall-one">
                            <img src="{{static_url('official_img/mall_1.png')}}" alt=""/>
                            <span class="bg-shadow-one"></span>
                        </li>
                        <li class="mall-two">
                            <img src="{{static_url('official_img/mall_2.png')}}" alt=""/>
                            <span class="bg-shadow-two"></span>
                        </li>
                        <li class="mall-three">
                            <img src="{{static_url('official_img/mall_3.png')}}" alt=""/>
                            <span class="bg-shadow-three"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% end %}
{% block bottom-js%}
<script src="{{static_url('js/official_appdownload.js')}}"></script>
{% end %}