{% extends 'base.html'%}
{% block head-css%}<link href="{{static_url('css/official_appdownload.css')}}" rel="stylesheet">{% end %}
{% block content%}
<div class="wrap-content">
    <div class="app-bg-img">
        <img src="{{static_url('official_img/appdownload_bg.jpg')}}" />
    </div>
    <div class="appdownload-width">
        <div class="download-text">
            <h1>森果，免费的水果微商城</h1>
            <div class="download-method">
                <ul>
                    <li class="mall-one">●多种商城模式，自由切换</li>
                    <li class="mall-two">●多种营销玩法，自由组合</li>
                    <li class="mall-three">●多种支付方式，自由选择</li>
                </ul>
            </div>
            <div class="appdownload-imgs">
                <div class="android-box">
                    <span class="android-img"></span>
                    <div class="hover-wechat">
                        <p>使用微信扫码，直接安装</p>
                        <img src="{{static_url('official_img/wechat_download.png')}}">
                        <span class="down-triangle"></span>
                    </div>
                </div>
                <div class="apple-box">
                    <span class="apple-img"></span>
                    <div class="hover-wechat">
                        <p>使用微信扫码，直接安装</p>
                        <img src="{{static_url('official_img/wechat_download.png')}}">
                        <span class="down-triangle"></span>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{static_url('official_img/app_phone.png')}}">
    </div>
    <div class="record">
        <p class="">鄂ICP备14012961号-1&nbsp;&nbsp;Copyright&copy;2014-2015 senguo.cc版权所有</p>
    </div>
</div>
{% end %}