{% set home_active=''%}
{% set shop_active=''%}
{% set community_active=''%}
{% set about_active=''%}
{% if context['subpage'] == 'home'%}
	{% set home_active='active'%}
{% elif context['subpage'] == 'about'%}
	{% set about_active='active'%}
{% elif context['subpage'] == 'community'%}
	{% set community_active='active'%}
{% elif context['subpage'] == 'shop'%}
	{% set shop_active='active'%}
{% end %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link href="{{static_url('css/official_base.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
{% block head-css%}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
	<header class="w1000 clearfix head">
		<div class="login-box pull-right hidden-xs">
			<ul class="" id="header-top">
				<!--<li class="loggedout"><a href="#" id="headertop-signup">注册</a></li>
				<li class="loggedout"><a href="#" id="headertop-signin" class="text-grey">登陆</a></li>-->
				<li><a href="{{reverse_url('adminHome')}}" class="text-grey">管理后台</a></li>
				<li><a href="{{reverse_url('fruitzoneShopApply')}}" class="text-grey">申请接入</a></li>
			</ul>
		</div>	
		<div class="nav-box box_sty">
			<div class="senguo-header pull-left">				
				<div class="logo_box pull-left">
					<!-- <h1 class="pull-left text-green logo">森果</h1>
					<div class="pull-left ml5 text-center">
						<p class="mt2 font20 text-grey">水果o2o领跑者</p>
						<p class="font20 text-green">www.senguo.cc</p>
					</div> -->
					<img src="{{static_url('official_img/logo2.png')}}" class="logo"/>
				</div>				
			</div>
			<div class="senguo-nav pull-right font16">
				<ul>
					<li class="{{home_active}}"><a href="{{reverse_url('OfficialHome')}}" >首页</a></li>
					<li class="{{shop_active}}"><a href="{{reverse_url('OfficialShopList')}}">店铺列表</a></li>
					<!--<li class="{{community_active}}"><a href="/coummnity">森果社区</a></li>-->
					<li class="{{about_active}}"><a href="{{reverse_url('OfficialAbout')}}">关于</a></li>
				</ul>
			</div>			
		</div>
	{%block header-extends%}{%end%}
	</header>
	<main class="container clearfix mt10">
		{% block content%} {% end%}
	</main>
	<footer class="footer">
		{% block bottom %}
		<p class="text-center text-grey">鄂ICP备14012961号-1&nbsp;&nbsp;Copyright&copy;2014-2015 senguo.cc版权所有</p>
		{% end %}
	</footer>
    <script src="{{static_url('js/jquery.min.js')}}"></script>
    <script src="{{static_url('js/global.js')}}"></script>
    {% block  bottom-js%}{% end %}
  </body>
</html>
