<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
<meta name="keywords" content="森果,senguo.cc,专业水果O2O第三方平台 ">
<meta name="description" content="森果为水果O2O、微信卖水果、水果零售提供免费的水果商城和水果后台管理系统。助力水果O2O，帮您把水果店搬到网上来。">
<title>森果senguo.cc-专业水果O2O第三方平台 </title>
<link href="{{static_url('css/official_base.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
{% block head-css%}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};

    </script>
</head>
{% set home_active=''%}
{% set shop_active=''%}
{% set product_active=''%}
{% set community_active=''%}
{% set about_active=''%}
{% if context['subpage'] == 'home'%}
{% set home_active='active'%}
{% elif context['subpage'] == 'about'%}
{% set about_active='active'%}
{% elif context['subpage'] == 'community'%}
{% set community_active='active'%}
{% elif context['subpage'] == 'shop'%}
{% set shop_active='active'%}
{% elif context['subpage'] == 'product'%}
{% set product_active='active'%}
{% end %}

<body>
	<header class="clearfix head">
		<div class="w1200 nav-box group">
			<div class="senguo-header pull-left ml50">
				<div class="logo_box pull-left">
					<!-- <h1 class="pull-left text-green logo">森果</h1>
					<div class="pull-left ml5 text-center">
						<p class="mt2 font20 text-grey">水果o2o领跑者</p>
						<p class="font20 text-green">www.senguo.cc</p>
					</div> -->
                    <a href="{{reverse_url('OfficialHome')}}"><img src="{{static_url('official_img/logo2.png')}}" class="logo"/></a>
				</div>				
			</div>
			<div class="senguo-nav font16">
				<ul>
					<li class="{{home_active}}"><a href="{{reverse_url('OfficialHome')}}" >首页</a></li>
					<li class="{{product_active}}"><a href="{{reverse_url('OfficialProduct')}}">产品介绍</a></li>
                    <li class="{{shop_active}}"><a href="{{reverse_url('OfficialShopList')}}">店铺列表</a></li>
					<li class="{{about_active}}"><a href="{{reverse_url('OfficialAbout')}}">关于我们</a></li>
                    <li class="{{community_active}}"><a href="javascript:;">森果社区</a></li>
                    <div class="admin-box">
                        <div class="login-box hidden-xs">
                            <ul class="text-grey header-top" id="header-top">
                                <!--<li class="loggedout"><a href="#" id="headertop-signup">注册</a></li>
                                <li class="loggedout"><a href="#" id="headertop-signin" class="text-grey  head-btn border-none  head-btn">登录</a></li>-->
                                <li><a href="{{reverse_url('switchshop')}}" class="text-grey">管理后台</a></li> |
                                <li><a href="{{reverse_url('fruitzoneShopApply')}}" class="text-grey">申请接入</a></li>
                            </ul>
                        </div>
                    </div>
				</ul>
			</div>			
		</div>
	{%block header-extends%}{%end%}
	</header>
	<main class="container clearfix mt20">
		{% block content%} {% end%}
	</main>
	<footer class="footer mt30">
		{% block bottom %}
		<p class="text-center text-grey">鄂ICP备14012961号-1&nbsp;&nbsp;Copyright&copy;2014-2015 senguo.cc版权所有</p>
		{% end %}
	</footer>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="{{static_url('js/jquery.min.js')}}"></script>
    <script src="{{static_url('js/global.js')}}"></script>
    {% block  bottom-js%}{% end %}
  </body>
</html>
