{% extends 'base.html' %}
{% block head-css %}
<link href="{{static_url('css/official_shop.css')}}" rel="stylesheet">
{% end %}
{% block content %}
{% import json %}
<script type="text/javascript">
	window.dataObj.province_count={% raw json.dumps(context['shop_province'])%}
</script>
<div class="map_box">
    <img src="/static/official_img/map_bg_new.png" alt="" class="shop_listbg"/>
	<div class="text-white number_box font36">
		<span class="pull-left mr20 ptxt">全国已有</span>
		<div class="num pull-left text-center"><span class="n num1">0</span></div>
		<div class="num pull-left text-center"><span class="n num2">0</span></div>
		<div class="num pull-left text-center"><span class="n num3">0</span></div>
		<div class="num pull-left text-center"><span class="n num4">0</span></div>
		<span class="pull-left ml20 ptxt">家水果店接入</span>
		<input type="hidden" value="{{context['shop_count']}}" id="total_count">
	</div>
	<div class="look_all">
    	<a href="{{reverse_url('fruitzoneShopList')}}" target="_blank">查看所有店铺</a>
    </div>
	<div class="box"><div class="map text-center" id="map"><img src="/static/images/loading.gif" class="loading"/></div></div>
</div>
<div class="shop_list w1000 clearfix">
	<p class="font16 province_name clearfix">全国</p>
	<div class="list_box clearfix">
		<ul class="shoplist">
			<div class="text-center loading2 hide">
				<img src="/static/images/loading.gif" class=""/>
				<p class="text-center text-grey6">~努力加载中~</p>
			</div>
		</ul>
		<h4 class="font16 no-more text-center hide">没有更多了...</h4>
	</div>
	<div class="add-more-bg" id="more">
		<div class="text-center add-more-page loading2">
			<img src="/static/images/loading.gif" class=""/>
			<p class="text-center text-grey6">~努力加载中~</p>
		</div>
	</div>
</div>
{% end%}
{% block bottom-js%}
<script src="/static/js/echarts.js"></script>
<script src="{{static_url('js/area.js')}}"></script>
<script src="{{static_url('js/official_shop.js')}}"></script>
{% end %}