{% extends 'base.html'%}
{% block title %}购物篮{% end %}
{% block head %}
<style type="text/css">
.block-index{width:100%;height:100%;padding-top:100px;max-width:800px;}
.w210{width:210px;}
</style>
{% end %}
{% block content %}
<div class="rainshed2 bg_change"></div>
<div class="block-index">
    <a href="{{reverse_url('Market',handler.shop_code)}}" class="link">
        <img src="/static/images/empty_l.png" alt="购物篮中没有商品" class="center-block src_change w210"/>
    </a>
</div>
{% end %}
{% block bottom%}<script type="text/javascript" src="{{static_url('js/market-empty.js')}}"></script>{% end %}
