{% extends 'detail-base.html' %}
{% block title %}我的订单{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/mobile-main.css')}}"/>
{% end %}
{% block content %}
<div class="header">店铺评分</div>
<div class="contain">
    <p class="text-pink text-center mt10">『店铺评价三项满分，积分奖励+2』</p>
    <ul class="point-lst">
        <li>
            <div class="point-top">
                <span>商品质量</span>
                <span class="fr red-txt"><span class="point" id="zl-point">0</span>分</span>
            </div>
            <div class="wrap-point-box" id="wrap-point-box">
                <div class="point-box">
                    <img src="/static/images/comment_normal.png" class="point-img" data-id="1" alt="设置分数"/>
                </div>
            </div>
        </li>
        <li>
            <div class="point-top">
                <span>配送速度</span>
                <span class="fr red-txt"><span class="point" id="sd-point">0</span>分</span>
            </div>
            <div class="wrap-point-box">
                <div class="point-box">
                    <img src="/static/images/comment_normal.png" class="point-img" data-id="2" alt="设置分数"/>
                </div>
            </div>
        </li>
        <li>
            <div class="point-top">
                <span>店家服务</span>
                <span class="fr red-txt"><span class="point" id="fw-point">0</span>分</span>
            </div>
            <div class="wrap-point-box">
                <div class="point-box">
                    <img src="/static/images/comment_normal.png" class="point-img" data-id="3" alt="设置分数"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="wrap-btn-commit mt20">
        <a href="javascript:;" class="btn-commit" id="commit-shop-point" data-order="{{orderid}}">提交</a>
    </div>
</div>
<div class="animate-area">
    <ul class="good-list group" id="goods-list0">
        <li class="goods1"></li>
        <li class="goods2"></li>
        <li class="goods3"></li>
        <li class="goods4"></li>
        <li class="goods5"></li>
        <li class="goods6"></li>
        <li class="goods7"></li>
        <li class="goods8"></li>
    </ul>
    <ul class="good-list group" id="goods-list1">
        <li class="goods1"></li>
        <li class="goods2"></li>
        <li class="goods3"></li>
        <li class="goods4"></li>
        <li class="goods5"></li>
        <li class="goods6"></li>
        <li class="goods7"></li>
        <li class="goods8"></li>
    </ul>
    <ul class="good-list group" id="goods-list2">
        <li class="goods1"></li>
        <li class="goods2"></li>
        <li class="goods3"></li>
        <li class="goods4"></li>
        <li class="goods5"></li>
        <li class="goods6"></li>
        <li class="goods7"></li>
        <li class="goods8"></li>
    </ul>
</div>
{% end %}
{% block bottom %}<script src="{{static_url('js/market-comment-shop.js')}}"></script>{% end %}
