{% extends 'base.html' %}
{% block title %}【{{context['shop_name']}}】一家不错的O2O店铺，快来关注吧~{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/idangerous.swiper.css')}}"/>
<link rel="stylesheet" href="{{static_url('css/fruit-color.css')}}"/>
{% end %}
{% block content %}
{% set notices=context['notices']%}
{% import json%}
<script>
    window.dataObj.notices = {% raw json.dumps(context["notices"]) %}
    window.dataObj.cart_fs = {% raw json.dumps(context["cart_fs"]) %}
</script>
<input type="hidden" id="shop_status" value="{{context['shop_status']}}"/>
<input type="hidden" id="if_focus" value="{{context['w_follow']}}"/>
<input type="hidden" id="shop_name" value="{{context['shop_name']}}"/>
<input type="hidden" id="shop_code" value="{{handler.shop_code}}"/>
<span id="shop_imgurl" data-img="{{context['shop_logo']}}"></span>

<div class="wrap-notice-box">
    <div class="notice-list">
        <div class="swiper-container" id="swiper-container">
            <div class="swiper-wrapper">
                {% if notices %}
                    {% for notice in notices%}
                    <div class="swiper-slide item">
                        <img src="{{notice[2] or '/static/images/fruit3.jpg'}}?imageView/1/w/800/h/200" alt="推荐商品图片"/>
                        <p class="notice-title">{{notice[0]}}</p>
                    </div>
                    {% end %}
                {% else %}
                <div class="swiper-slide item">
                    <img src="/static/images/fruit3.jpg" alt="推荐商品图片"/>
                </div>
                {% end %}
            </div>
        </div>
        <div class="pagination"></div>
    </div>
    <div class="notice-top">
        <p>精品推荐</p>
    </div>
    <ul class="recommend-list"> 
    </ul> 
    <a href="javascript:;" class="more-goods">点击查看全部商品</a>
</div>

<div class="wrap-home hidden">
    <div class="header">
        <a href="javascript:;" class="menu" id="menu"></a>
        <span id="classify">{% if len(context['group_list'])>0 %}{{context['group_list'][0]['name']}}{% end %}</span>
        <a href="{{reverse_url('customerGoodsSearch')}}" class="head-right search"></a>
    </div>
    <div class="wrap-list">
        <ul class="groupt-list classify-list" id="groupt-list">
             {% for group in context['group_list'] %}
            <li data-id="{{group['id']}}"><a href="javascript:;" class="classify-{{group['id']}}">{{group['name']}}</a></li>
            {% end %}
        </ul>
        <div class="mt40 list-box">
        {% for group in context['group_list'] %}
        <ul class="goods-list-{{group['id']}} fruit-list goods-list" data-id="{{group['id']}}">
        </ul> 
        {% end %}
            <ul class="fruit-list">
                
            </ul>
        </div>
    </div>
</div>
<div class="wrap-loading-box hidden">
    <div class="loading-box">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="load-txt">加载中...</div>
    </div>
</div>

{% end %}
{% block bottom %}
<script src="{{static_url('js/third/idangerous.swiper.min.js')}}"></script>
<script src="{{static_url('js/beauty/home.js')}}"></script>
{% end %}
