<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>员工招募令</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/staff-global.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/staff-hire.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    wx.config({
        debug: false,
        appId: "{{wxappid}}",
        timestamp: {{wxsign.timestamp}},
        nonceStr: "{{wxsign.nonceStr}}",
        signature: "{{wxsign.signature}}",
        jsApiList: ['onMenuShareTimeline','chooseWXPay','hideMenuItems']
    });
    wx.ready(function(){
        // wx.onMenuShareTimeline({
        //  title: '轻骑兵分享',
        //  link: 'http://www.weimingtech.com',
        //  imgUrl: 'http://7te85s.com2.z0.glb.qiniucdn.com/home-forum2.png',
        //  success: function () { 
        //      alert('success');
        //  },
        //  cancel: function () { 
        //      alert('cancel');
        //  }
        // });
        // wx.hideMenuItems({
        //     menuList: ['menuItem:share:timeline'] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
        // });
        document.querySelector('#getBrandWCPayRequest').onclick = function () {
            // alert('chooseWxpay');
            wx.chooseWXPay({
                timestamp: {{renderPayParams.timeStamp}},
                nonceStr: '{{renderPayParams.nonceStr}}',
                package: '{{renderPayParams.package}}',
                signType: '{{renderPayParams.signType}}',
                paySign: '{{renderPayParams.paySign}}',
                success: function (res) {
                    // 支付成功后的回调函数
                    // alert('success');
                    window.location.href = 'http://www.baidu.com'
                }
            });
        }
    })
</script>

    <h1 class="title">确认支付</h1>

<div class="content"> 
   <h4>订单号：<span id="orderId">{{orderDetail.id}}</span></h4>
   <h4>价格：<span id="price">{{orderDetail.price}}元</span></h4>
   <h4>收货人：<span id="name">{{orderDetail.name}}</span></h4>
   <h4>联系号码：<span id="phone">{{orderDetail.phone}}</span></h4>
   <a id="getBrandWCPayRequest" href="javascript:void(0);" class="btn btn-positive">确认付款</a>
  <!--  {{renderPayParams}}<br>
        {{renderPayParams.timeStamp}}<br>
        {{renderPayParams.package}}<br>
        {{wxsign}}<br>
        {{wxappid}}<br>
        {{wxsign.signature}}<br> -->
</div>


<script src="/static/js/zepto.min.js"></script>
<!--<script src="/static/js/jquery.uploadifive.min.js"></script>-->
<script src="{{static_url('js/staff-public.js')}}"></script>
<script src="{{static_url('js/staff-hire.js')}}"></script>
</body>
</html>
