{% extends 'base.html' %}
{% block title %}{{good.name}}-商品详情{% end %}
{% block head %}
<link rel="stylesheet" href="/static/css/idangerous.swiper.css"/>
<link rel="stylesheet" href="{{static_url('css/market-goods.css')}}"/>
{% end %}
{% block header %}{% end %}
{% block content %}
{% import json%}
<script>
    window.dataObj.cart_fs = {% raw json.dumps(cart_fs) %}
</script>
{% if good %}
<input type="hidden" value="{{handler.shop_code}}" id="shop_code"/>
<div class="wrap-goods-detail pm80" data-id="{{good.id}}" data-limit="{{good.limit_num}}" data-storage="{{good.storage}}">
    <div class="img-list">
        <a href="javascript:;" class="roll-bg roll-back add-cart" id="back-bg" data-href="{{reverse_url('Market',handler.shop_code)}}"><i></i></a>
        <!--a href="javascript:;" class="roll-bg share"><i></i></a-->
        <div class="swiper-container" id="swiper-container">
            <div class="swiper-wrapper">
                {% for img in img_url%}
                <div class="swiper-slide item">
                    <img src="{{img}}?imageView2/2/w/800" alt=""/>
                </div>
                {% end %}
            </div>
        </div>
        <div class="pagination"></div>
    </div>
    <div class="wrap-goods-info">
        <p class="goods-title">{{good.name or ''}}</p>
        <p class="goods-info"><span class="fr c999">已购179份</span><span class="lgreen">距结束2天12小时59分</span></p>
    </div>
    <ul class="wrap-choose-goods">
        {% for charge in charge_types %}
        <li data-buy="{{charge['limit_today']}}" data-allow="{{charge['allow_num']}}">
            <span class="now-price lgreen">{{charge['price']}}元/<span class="number">{{charge['num']}}</span>{{charge['unit']}}</span>
            <span class="old-price hide">{% if charge['market_price'] and charge['market_price']>0 %}<span class="market-price">{{charge['market_price']}}元</span>{% end %}/<span class="number">{{charge['num']}}</span>{{charge['unit']}}</span>
            <div class="wrap-operate progress-num" data-allow="3" data-num="False" data-num="5" data-id="5" data-relate="1.0" data-storage="999" data-unit="2.0">
                <span class="roll-btn minus-btn">-</span>
                <span class="num-txt">5</span>
                <span class="roll-btn add-btn">+</span>
            </div>
        </li>
        {% end %}
    </ul>
    <div class="progress-box">
        <div class="gbuy-ntxt">
            <span class="lgreen fr"><span class="f30 bold">60</span><span class="gbuy-unit">份</span></span>
            <span class="c999">当前团购进度</span>
        </div>
        <div class="gbuy-progress">
            <div class="wrap-progress-line">
                <p class="p-line">
                    <span class="s-line">
                        <span class="wrap-line-num">
                            <span class="ver-line"></span>
                            <span class="lgreen cur-num">60</span>
                        </span>
                    </span>
                    <span class="num-box">
                        <span class="num-box-item">
                            <span class="ver-tline"></span>
                            <span class="lgreen cur-tnum">60</span>
                            <span class="ver-bline"></span>
                            <span class="cur-bnum">60</span>
                        </span>
                    </span>
                    <span class="num-box r80 no-num-box">
                        <span class="num-box-item">
                            <span class="ver-tline"></span>
                            <span class="lgreen cur-tnum">60</span>
                            <span class="ver-bline"></span>
                            <span class="cur-bnum">60</span>
                        </span>
                    </span>
                </p>
            </div>
            <p class="c999"><span class="fr">份</span><span>买满</span></p>
            <p class="c999 pro-bm"><span class="fr">元</span><span>折返</span></p>
        </div>
    </div>
    <a href="javascript:;" class="shop-area add-cart" id="shop-area" data-href="{{reverse_url('customerShopProfile',handler.shop_code)}}">
        <span class="roll-bg shop-in">
            <i></i>
        </span>
        <span>店铺：{{shop_name}}</span>
    </a>
    <a href="javascript:;" class="roll-bg more-get cart-bg" id="more-get"><div class="sca-txt">更多<br>返现</div></a>
    <a href="javascript:;" class="roll-bg cart-bg add-cart" id="cart-bg" data-href="{{reverse_url('customerCart',handler.shop_code)}}">
        <i></i>
        <span class="move-cart" id="cart-now-num">0</span>
    </a>
</div>
{% else %}
<p class="txt-ac mt20">当前商品不存在！</p>
{% end %}
{% end %}
{% block other %}
{% end %}
{% block bottom %}
<script src="/static/js/third/idangerous.swiper.min.js"></script>
<script src="/static/m-admin/js/util.js"></script>
<script src="{{static_url('js/gbuy-detail.js')}}"></script>
{% end %}