{% extends 'shop-base.html'%}
{% block shop %}
<div class="admin-right pull-right">
    <ul class="nav apply-nav" role="tablist">
        <li class="{{all_apply_active}} pull-left">
            <a href="{{reverse_url('superShopManage')}}?action=all_temp&&page=1">所有店铺({{count['all_temp']}})</a>
        </li>
        <li class="{{applaying_active}} pull-left">
            <a href="{{reverse_url('superShopManage')}}?action=applying&&page=1">正在申请接入店铺({{count['applying']}})</a>
        </li>
        <li class="{{pass_active}} pull-left">
            <a href="{{reverse_url('superShopManage')}}?action=accepted&&page=1">已经通过申请店铺({{count['accepted']}})</a>
        </li>
        <li class="{{decline_active}} pull-left">
            <a href="{{reverse_url('superShopManage')}}?action=declined&&page=1">已被拒绝店铺({{count['declined']}})</a>
        </li>
    </ul>
    <ul class="shop-list  item-list list-group">
    {% for shop in context["shops"]%}
        <li class="row shop-list-item list-group-item" data-shopid="{{shop.id}}" data-status="{{shop.shop_status}}">
            <p>
                <span class="tit3">序号：{{shop.id}}</span>
                <span>申请时间：</span>
            </p>
            <div class="show-info clearfix mb10 bottom-d">
                <span class="pull-left shop-img">
                    <img src="{{shop.admin.accountinfo.headimgurl}}" class="w60"/>
                </span>
                <div class="tit1 pull-left ml10">
                    <p>姓名：{{shop.admin.accountinfo.realname}}</p>
                    <p>手机：{{shop.admin.accountinfo.phone}}</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p>&nbsp;</p>
                    <p>
                        <span class="tit2">微信：{{shop.admin.accountinfo.wx_username}}</span>
                        <span>邮箱：{{shop.admin.accountinfo.email}}</span>
                    </p>
                </div>
            </div>
            <div class="show-info clearfix">
                <span class="pull-left shop-img">
                    <img src="{{shop.shop_trademark_url}}" class="w60"/>
                </span>
                <div class="col-lg-8">
                    <p>
                        <span class="tit1">{{shop.shop_name}}</span>
                        <span>{{handler.code_to_text("shop_city",shop.shop_city)}}</span>
                    </p>
                    <p>
                         <span class="tit1">服务区域：{{handler.code_to_text("service_area",shop.shop_service_area)}}</span>
                        <span>是否有实体店：<span class="have-entity" data-real="{{shop.have_offline_entity}}"></span></span>
                    </p>
                    <p>店铺简介：{{shop.shop_intro or '无'}}</p>
                </div>
            </div>
            <hr class="clearfix"/>
            {% if shop.shop_status==models.SHOP_STATUS.APPLYING %}
            <div class="action-box center-block">
                <button type="button" class="btn btn-style btn-green passApply pull-right">通过审核</button>
                <button type="button" class="btn btn-style btn-grey rejectApply pull-left">拒绝</button>
                <div class="modal fade reject-box" id="rejectBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <textarea placeholder="输入你的拒绝理由" class="decline-reason w100"></textarea>
                                <button type="text" class="btn-style btn-green send-btn rejectSend center-block">发送</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% end %}
            <div class="hide-info clearfix">
                {% if shop.shop_status==models.SHOP_STATUS.DECLINED%}
                <div class="row" id="declineReason">
                    <span class="col-lg-2"> <strong>被拒理由： </strong></span>
                    <p class="col-lg-10">{{shop.declined_reason}}</p>
                </div>
                {% end %}
                <a href="{{reverse_url('superShopProfile',shop.id)}}">查看店铺详情&rarr;</a>
            </div>
        </li>
    {% end %}
    </ul>
    <nav>
        <ul class="pager">
            <li><a href="" id="PrePage">&larr; 上一页</a></li>
            <li><a href="" id="NextPage">下一页&rarr;</a></li>
        </ul>
    </nav>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/superadmin-shop-manage.js')}}"></script>
{% end %}
