{% extends 'count-balance.html' %}
{% block title%}提现申请{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/superadmin-main.css')}}"/>
{% end %}

{% block count %}
<div class="wrap-balance">
    <ul class="apply-lst group">
        <li class="active" data-action="all_apply">
            <p class="title">所有申请</p>
            <p class="cont">总金额：33333.00元&nbsp;&nbsp;23个</p>
        </li>
        <li class="" data-action="person">
            <p class="title">个人认证</p>
            <p class="cont">总金额：3333.00元&nbsp;&nbsp;10个</p>
        </li>
        <li class="" data-action="company">
            <p class="title">企业认证</p>
            <p class="cont">总金额：33330.00元&nbsp;&nbsp;13个</p>
        </li>
    </ul>
    <ul class="apply-cont-lst">
        {% for apply in history %}
        <li data-apply-id="{{apply['id']}}">
            <ul class="shop-attr-lst group">
                <li>店铺名:<a href="javascript:;">{{apply['shop_name']}}</a></li>
                <li>认证类型：{% if apply['shop_auth'] == 1 %}个人认证{% else %}企业认证{% end %}</li>
                <li>账户余额：{{apply['shop_balance']}}元</li>
                <li>提现申请时间：{{apply['create_time']}}</li>
                <li>提现金额：<span class="red-txt">{{apply['value']}}</span>元</li>
                <li>支付宝帐号：<span class="red-txt">{{apply['alipay_account']}}</span></li>
                <li>申请人：<a href="javascript:;">{{apply['applicant_name']}}</a></li>
            </ul>
            <div class="apply-btn-group">
                <a href="javascript:;" class="ok-btn">通过并已确认支付</a>
                <a href="javascript:;" class="refuse-btn">拒绝</a>
            </div>
            <p class="reason-txt hidden">拒绝理由：申请金额过大</p>
        </li>
        {% end %}
    </ul>
</div>
<div class="wrap-com-pop hide">
    <div class="com-pop ov-center">
        <div class="pop-title">拒绝理由：</div>
        <div class="wrap-area">
            <textarea id="com-cont"></textarea>
        </div>
        <div class="btn-group txt-ac">
            <a href="javascript:;" class="blue-btn" id="submit-apply">提交</a>
            <a href="javascript:;" class="grey-btn" id="concel-apply">取消</a>
        </div>
    </div>
</div>
{% end %}
{% block js %}

{% end %}
