{% extends 'count-balance.html' %}
{% block title%}余额详情{% end %}
{% block head %}
<link rel="stylesheet" href="{{static_url('css/superadmin-main.css')}}"/>
{% end %}

{% block count %}
<div class="wrap-balance">
    <div class="account-top">
        <span class="right-title">平台总余额</span>
        <span class="acc-money">{{total_balance}}<span class="small-txt">元</span></span>
        <span class="right-title ml50">提现中</span>
        <span class="acc-money orange-txt">{{cash_on}}<span class="small-txt">元</span></span>
    </div>
    <ul class="acc-report mt20">
        <li>1、用户充值或在线支付的金额记入账户余额里。</li>
        <li>2、在线支付的订单，只有当用户完成评价或订单被完成24小时后，才记入帐号余额中。</li>
        <li>3、详情里【提现记录】的时间，为森果通过店家提现申请的时间，而非店家申请时间。</li>
    </ul>
    <div class="wrap-bm">
        <ul class="tab-lst group">
            <li class="active all-list">所有账单</li>
            <li class="cash-list">提现记录</li>
            <li class="charge-list">用户充值</li>
            <li class="online-list">在线支付</li>

            <!-- add by jyj 2015-7-4 -->
            <li class="ballance-list">余额列表</li>
            <!--  -->
        </ul>
        <div class="wrap-acc-num cash-count hidden">
                <span class="account-num">累计提现&nbsp;<span class="green-txt f16 cash"></span>元</span>
        </div>
        <div class="wrap-acc-num charge-count hidden">
            <span class="account-num">累计充值&nbsp;<span class="green-txt f16 charge-total"></span>元</span>
            <span class="account-num">用户已使用&nbsp;<span class="green-txt f16 charge-use"></span>元</span>
            <span class="account-num">未使用剩余&nbsp;<span class="green-txt f16 charge-left"></span>元</span>
        </div>
         <div class="wrap-acc-num online-count hidden">
            <span class="account-num">累计支付&nbsp;<span class="green-txt f16 online-total"></span>元</span>
            <span class="account-num">累计次数&nbsp;<span class="green-txt f16 online-times"></span>次</span>
            <span class="account-num">累计人数&nbsp;<span class="green-txt f16 online-person"></span>人</span>
        </div>
        <div class="acc-con-lst">
            <table class="tb-account">
                <colgroup>
                    <col width="40%"/>
                    <col width="20%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                </colgroup>
                 <tr>
                    <th class="pl20">操作店铺</th>
                    <th class="">时间</th>
                    <th class="text-right">余额变动</th>
                    <th class="text-right pr20">余额</th>
                    <th class="text-right">超级管理员id</br>（仅提现）</p></th>
                </tr>
            </table>
            <!-- add by jyj 2015-7-4 -->
            <table class="tb-account-shoplist hidden">
                <colgroup>
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="25%"/>
                </colgroup>
                 
            </table>
            <!--  -->
        </div>
    </div>
    <h4 class="text-center hide no-list">暂无账单信息</h4>
    <div class="users-pagination list-pagination">
        <ul>
            <li><a href="javascript:;" class="page-btn pre-page">&nbsp;</a></li>
            <li>
                <span class="page-now">1</span>/<span class="page-total">1</span>
            </li>
            <li><a href="javascript:;" class="page-btn next-page">&nbsp;</a></li>
            <li><input class="input-page form-control" type="text" placeholder="输入页码"/></li>
            <li><a href="javascript:;" class="jump-to">跳转</a></li>
        </ul>
    </div>
</div>

{% end %}
{% block js %}
<script src="{{static_url('js/super-balance.js')}}"></script>
{% end %}
