<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=1200" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8"/>
    <meta name="keywords" content="森果,水果商城,水果O2O,微信卖水果,水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <title>{% block title%}森果O2O商城{% end %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/superadmin-global.css')}}"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--add by zb 2015-6-16-->
<span id="top"></span>
<!---->
<header class="top_head">
    <ul class="nav header-nav container" role="tablist">
        <li role="presentation" class="">
            <a href="{{reverse_url('superIncStatic')}}" class="p0">统计</a>
        </li>
        <li role="presentation" class="">
            <a href="{{reverse_url('superShopManage')}}?action=all_temp&search&shop_auth=4&shop_status=5&shop_sort_key=4&if_reverse=1&&page=1&flag=1" class="p0">店铺</a>
        </li>
        <li role="presentation" class="">
            <a href="{{reverse_url('superUser')}}" class="p0">用户</a>
        </li>
        <li role="presentation" class="">
            <a href="{{reverse_url('superBalance')}}" class="p0">余额</a>
        </li>
         <li role="presentation" class="">
            <a href="{{reverse_url('superareaadmin')}}?action=check_admin" class="p0">管理员</a>
        </li>
        <!--<li role="presentation" class="">
            <a href="{{reverse_url('superOrderManage')}}" class="p0">通知</a>
        </li>-->
        <!--<li role="presentation" class="">
            <a href="{{reverse_url('superShopAdminManage')}}" class="p0">商家管理</a>
        </li>
        <li role="presentation" class="">
            <a href="{{reverse_url('superOrderManage')}}" class="p0">商城接入管理</a>
        </li>-->
    </ul>
</header>
<div class="container">
    {% block content %}{% end %}
</div>
<!--add by zb 2015-6-16-->
<a href="#top" title="点击回到顶部" class="go-top"></a>
<!---->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/superadmin-public.js')}}"></script>
{% block bottom %} {% end %}
</body>
</html>
