<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>{% block title%}{% end %}</title>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/superadmin-global.css')}}"/>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        window.dataObj = {
            _xsrf: "{{handler.xsrf_token}}"};
    </script>
</head>
<body>
{% set subpage = context.get("subpage", "user")%}
{% set count_active = ""%}
{% set user_active = ""%}
{% set shop_active = ""%}
{% set banlance_active = ""%}
{% set notice_active = ""%}

{% if subpage == "count"%}
    {% set count_active = "active"%}
{% elif subpage == "user"%}
    {% set user_active = "active"%}
{% elif subpage == "shop"%}
    {% set shop_active = "active"%}
{% elif subpage == "banlance"%}
    {% set banlance_active = "active"%}
{% else %}
    {% set notice_active = "active"%}
{% end %}

<header class="top_head">
    <ul class="nav header-nav container" role="tablist">
        <li role="presentation" class="{{count_active}}">
            <a href="{{reverse_url('superIncStatic')}}" class="p0">统计</a>
        </li>
        <li role="presentation" class="{{shop_active}}">
            <a href="{{reverse_url('superShopManage')}}" class="p0">店铺</a>
        </li>
        <li role="presentation" class="{{user_active}}">
            <a href="{{reverse_url('superUser')}}" class="p0">用户</a>
        </li>
        <li role="presentation" class="{{banlance_active}}">
            <a href="{{reverse_url('superOrderManage')}}" class="p0">余额</a>
        </li>
        <li role="presentation" class="{{notice_active}}">
            <a href="{{reverse_url('superOrderManage')}}" class="p0">通知</a>
        </li>
        <!--<li role="presentation" class="">
            <a href="{{reverse_url('superShopAdminManage')}}" class="p0">商家管理</a>
        </li>
        <li role="presentation" class="">
            <a href="{{reverse_url('superOrderManage')}}" class="p0">商城接入管理</a>
        </li>-->
    </ul>
</header>
<div class="container">
    {% block content %}{% end %}
</div>
<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/bootstrap.min.js')}}"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/superadmin-public.js')}}"></script>
{% block bottom %} {% end %}
</body>
</html>