{% extends 'base.html' %}
{% block title%}管理员{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-user.css')}}"/>{% end %}

{% block content %}
<div class="admin-left text-right pull-left">
    <ul class="nav nav-stacked shop-manage-nav" role="tablist">
        <li class="active"><a href="{{reverse_url('superareaadmin')}}?action=check_admin">查看</a></li>
        {% if if_super%}
        <li class=""><a href="{{reverse_url('superareaadmin')}}?action=add_admin">添加</a></li>
        {% end %}
    </ul>
</div>
<div class="admin-right pull-right">
	 <div class="dropdown select-provience pull-left mb10 province_select" data-toggle="modal" data-target="#provinceList">
	 	<span>分管区域：</span>
        <button class="btn btn-default dropdown-toggle ml10" type="button">
            <span  id="provinceAddress" class="reProvince">所有</span>
            <span class="caret"></span>
        </button>
    </div>
	<ul class="admin-list">
		
	</ul>
</div>
<div class="modal fade select-popbox" id="provinceList" tabindex="-1" role="dialog" aria-labelledby="provinceAddress" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">区域选择</h4>
            </div>
            <div class="modal-body">
                <div class="address-list province-list select-list">
                	<span id="check-all">所有</span>
                    <ul class="provinceList font14">
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn bg-green text-white" data-dismiss="modal" id="provinceSelect">确定</button>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/area.js')}}"></script>
<script src="{{static_url('js/superadmin-checkadmin.js')}}"></script>
{% end %}