{% extends 'base.html' %}
{% block title%}余额{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-count.css')}}"/>{% end %}
{% block content %}
{% set subcount = context.get("subcount", "user")%}
{% set user_active = ""%}
{% set attribute_active = ""%}
{% set shop_active = ""%}
{% set apply_active = ""%}

{% if subcount == "user"%}
    {% set user_active = "active"%}
{% elif subcount == "shop"%}
    {% set shop_active = "active"%}
{% elif subcount == "attribute"%}
    {% set attribute_active = "active"%}
{% else %}
    {% set apply_active = "active"%}
{% end %}
<div class="row">
    <div class="admin-left pull-left">
        <ul class="nav nav-stacked shop-manage-nav text-right" role="tablist">
            <li class="all nav_item {{detail_active}}">
                <a href="{{reverse_url('superBalance')}}">余额详情</a>
            </li>
            <li class="admin nav_item">
                <a href="{{reverse_url('superApplyCash')}}">提现申请</a>
            </li>
        </ul>
    </div>
    {% block count %}
    {% end %}
</div>
{% end %}
{% block bottom %}

{% end %}
