{% extends 'base.html' %}
{% block title%}统计{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-count.css')}}"/>{% end %}
{% block content %}
{% set subcount = context.get("subcount", "user")%}
{% set user_active = ""%}
{% set attribute_active = ""%}
{% set shop_active = ""%}
{% set apply_active = ""%}

{% if subcount == "user"%}
    {% set user_active = "active"%}
{% elif subcount == "shop"%}
    {% set shop_active = "active"%}
{% elif subcount == "attribute"%}
    {% set attribute_active = "active"%}
{% else %}
    {% set apply_active = "active"%}
{% end %}
<div class="row">
    <div class="admin-left pull-left">
        <ul class="nav nav-stacked shop-manage-nav text-right" role="tablist">
            <li class="all nav_item {{user_active}}">
                <a href="{{reverse_url('superIncStatic')}}">用户增长</a>
            </li>
            <li class="admin nav_item {{attribute_active}}">
                <a href="{{reverse_url('superDStatic')}}">用户属性分布</a>
            </li>
            <li class="customer nav_item {{shop_active}}">
                <a href="{{reverse_url('superShopStatic')}}">店铺数据</a>
            </li>
            <li class="phone nav_item {{apply_active}}">
                <a href="{{reverse_url('superIncStatic')}}">入驻申请</a>
            </li>
        </ul>
    </div>
    {% block count %}
    {% end %}
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/echarts.js')}}"></script>
{% end %}
