<!-- created by jyj 2015-8-3 -->
{% extends 'count-base.html' %}
{% block title %}销售统计{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/admin-count.css')}}"/>{% end %}

{% block count %}
<div class="box admin-right pull-right mb30">
    	<p class="tit fs16">商品销售额Top30 - 按商品类目排序</p>
    	<div class="choose-change center-block fs16 txt-center">
		<a href="javascript:;" class="pre-item1 text-grey2"> < </a>
	             <span class="choose-time">
		             <span class="year-span1"><span class="year1"></span>年</span>
		             <span class="month-span1"><span class="month1"></span>月</span>
		             <span class="date-span1"><span class="date1"></span>日</span>
		             <span class="week-span1 hidden"><span class="week-month1"></span>月<span class="week-date1"></span>日~<span class="week-month1-2"></span>月<span class="week-date1-2"></span>日</span>
	             </span>
	             <a href="javascript:;" class="next-item1 text-grey2"> > </a>
	</div>
	<div class="change-box mb55">　　
		<ul id="sell_way_change" class="sell-change-list pull-left">
		            <li><a href="javascript:;" class="sort-date1 text-grey3">按天排</a></li>
		            <li><a href="javascript:;" class="sort-week1 text-grey3">按周排</a></li>
		            <li><a href="javascript:;" class="sort-month1 text-grey3">按月排</a></li>
		</ul>
		<button class="btn btn-default area height25 mr15 pull-right" type="button" id="btn_type_bigchart1">查看大图</button>
	</div>
    	<div class="max-height-roll clearfix mlf20" style="height:400px"><div id="goods_type" class="clearfix"></div></div>

    	<div id="type_bigchart_bg" class="div-bigchart_bg invisiable"></div>
    	<div class="wrap-bigchart  max-height-roll2 invisiable"  id="type_bigchart">
	             <p class="tit mt30 txt-center fs16">商品销售额Top30 - 按商品类目排序<button class="btn btn-default area height25 mr15 pull-right" type="button" id="btn_type_bigchart_close" title="点击关闭大图">X</button></p>
	             <p class="choose-time txt-center fs16">
		              <span class="year-span1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="year1"></span>年</span>
		              <span class="month-span1"><span class="month1"></span>月</span>
		              <span class="date-span1"><span class="date1"></span>日</span>
		              <span class="week-span1 hidden"><span class="week-month1"></span>月<span class="week-date1"></span>日~<span class="week-month1-2"></span>月<span class="week-date1-2"></span>日</span>
	             </p>
              	<div id="goods_type_big" class="wrap-pos mt30"></div>
    	</div>

    	<hr class="clearfix"/>

    	<p class="tit fs16">同类商品店铺销售额Top10 - 按店铺名排序</p>
    	<div class="choose-change center-block font18 txt-center">
		<a href="javascript:;" class="pre-item2 text-grey2"> < </a>
	             <span class="choose-time fs16">
		             <span class="year-span2"><span class="year2"></span>年</span>
		             <span class="month-span2"><span class="month2"></span>月</span>
		             <span class="date-span2"><span class="date1"></span>日</span>
		             <span class="week-span2 hidden"><span class="week-month2"></span>月<span class="week-date2"></span>日~<span class="week-month2-2"></span>月<span class="week-date2-2"></span>日</span>
	             </span>
	             <a href="javascript:;" class="next-item2 text-grey2"> > </a>
	</div>
	<div class="change-box mb55">　　
		<ul id="sell_way_change" class="sell-change-list pull-left">
		            <li><a href="javascript:;" class="sort-date2 text-grey3">按天排</a></li>
		            <li><a href="javascript:;" class="sort-week2 text-grey3">按周排</a></li>
		            <li><a href="javascript:;" class="sort-month2 text-grey3">按月排</a></li>
		</ul>
		<button class="btn btn-default area height25 mr15 pull-right" type="button" id="btn_type_bigchart2">查看大图</button>
	</div>

	<li> 
	              <div class="tit cate-title">选择商品类目：</div>
	              <div class="dropdown slide-down-select pull-left w130">
		                <button class="btn btn-default dropdown-toggle area height25 slide-btn" type="button" id="dropdownMenu3" data-toggle="dropdown">
			                    <em class="pull-left filter_status" id="first_type">AAAA</em>
			                    <span class="caret pull-right no-margin-left rotate0"></span>
		                </button>
		                <ul class="dropdown-menu dropdown-menu-right w130 condition-list" role="menu" aria-labelledby="dropdownMenu3" id="currentTypeName">
		                	      <li>AAAA</li>
		                	      <li>ABABAB</li>
		                	      <li>CCCCC</li>
		                	      <li>DDD</li>
		                	      <li>EEEEE</li>
		                	       <li>AAAA</li>
		                	      <li>ABABAB</li>
		                	      <li>CCCCC</li>
		                	      <li>DDD</li>
		                	      <li>EEEEE</li>
		                	       <li>AAAA</li>
		                	      <li>ABABAB</li>
		                	      <li>CCCCC</li>
		                	      <li>DDD</li>
		                	      <li>EEEEE</li>
		                </ul>
	            </div>
    	</li>
    	<div class="max-height-roll clearfix mlf20" style="height:400px"><div id="goods_shop" class="clearfix"></div></div>

    	<div id="type_bigchart_bg" class="div-bigchart_bg invisiable"></div>
    	<div class="wrap-bigchart  max-height-roll2 invisiable"  id="shop_bigchart">
	             <p class="tit mt30 txt-center fs20">同类商品店铺销售额Top10 - 按店铺名排序<button class="btn btn-default area height25 mr15 pull-right" type="button" id="btn_type_bigchart_close" title="点击关闭大图">X</button></p>
	             <p class="choose-time txt-center fs16">
		              <span class="year-span2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="year2"></span>年</span>
		              <span class="month-span2"><span class="month2"></span>月</span>
		              <span class="date-span2"><span class="date2"></span>日</span>
		              <span class="week-span2 hidden"><span class="week-month2"></span>月<span class="week-date2"></span>日~<span class="week-month2-2"></span>月<span class="week-date2-2"></span>日</span>
	             </p>
                           <div id="goods_shop_big" class="wrap-pos mt30"></div>
    	</div>

    	<hr class="clearfix"/>

    	<p class="tit fs16">同组商品店铺销售额Top10 - 按店铺名排序</p>
    	<div class="choose-change center-block fs16 txt-center">
		<a href="javascript:;" class="pre-item3 text-grey2"> < </a>
	             <span class="choose-time">
		             <span class="year-span3"><span class="year3"></span>年</span>
		             <span class="month-span3"><span class="month3"></span>月</span>
		             <span class="date-span3"><span class="date3"></span>日</span>
		             <span class="week-span3 hidden"><span class="week-month3"></span>月<span class="week-date3"></span>日~<span class="week-month3-2"></span>月<span class="week-date3-2"></span>日</span>
	             </span>
	             <a href="javascript:;" class="next-item1 text-grey2"> > </a>
	</div>
	<div class="change-box mb55">　　
		<ul id="sell_way_change" class="sell-change-list pull-left">
		            <li><a href="javascript:;" class="sort-date3 text-grey3">按天排</a></li>
		            <li><a href="javascript:;" class="sort-week3 text-grey3">按周排</a></li>
		            <li><a href="javascript:;" class="sort-month3 text-grey3">按月排</a></li>
		</ul>
		<!-- <button class="btn btn-default area height25 mr15 pull-right" type="button" id="btn_type_bigchart1">查看大图</button> -->
	</div>
    	<div class="max-height-roll clearfix mlf20" style="height:400px"><div id="goods_group" class="clearfix"></div></div>

</div>
{% end %}

{% block bottom %}
<script src="/static/js/echarts.js"></script>
<script src="{{static_url('js/superadmin-count_sell.js')}}"></script>
{% end %}