{% extends 'base.html' %}
{% block title%}店铺管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-shop.css')}}"/>{% end %}

{% block content %}
{% import dal.models as models %}
{% set action=context.get("action") %}
{% set count=context["count"]%}
{% set all_active = ""%}
{% set applaying_active = ""%}
{% set pass_active = ""%}
{% set decline_active = ""%}
{% set all_apply_active = ""%}

{% if action == "all" %}
    {% set all_active="acitve"%}
{% elif action == "all_temp" %}
    {% set all_apply_active="active"%}
{% elif action == "applying" %}
    {% set applaying_active="active"%}
{% elif action == "accepted" %}
    {% set pass_active="active"%}
{% elif action == "declined"%}
    {% set decline_active='active'%}
{% end %}

<div class="admin-left text-right pull-left">
    <ul class="nav nav-stacked shop-manage-nav" role="tablist">
        <li class="{{all_apply_active}}"><a href="{{reverse_url('superShopManage')}}?action=all_temp&&page=1">入驻申请({{count['all_temp']}})</a></li>
        <li class="{{all_active}}"><a href="{{reverse_url('superShopManage')}}?action=all&&page=1">所有店铺({{count['all']}})</a></li>
    </ul>
</div>
{% block shop %}
{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/superadmin-shop-manage.js')}}"></script>
{% end %}