{% extends 'base.html' %}
{% block title%}商家管理{% end %}

{% block content %}
{% set action=context.get("action") %}
{% set count=context.get("count")%}

{% set all_active = ""%}
{% set using_active = ""%}
{% set expire_active = ""%}
{% set common_active = ""%}

{% if action == "all" %}
    {% set all_active="active"%}
{% elif action == "using" %}
    {% set using_active="active"%}
{% elif action == "expire" %}
    {% set expire_active="active"%}
{% else %}
    {% set common_active='active'%}
{% end %}

<div class="admin-manage-left admin-left pull-left">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li class="{{all_active}}"><a href="{{reverse_url('superShopAdminManageAll')}}">所有商家({{count['all']}})</a></li>
        <li class="{{using_active}}"><a href="{{reverse_url('superShopAdminManageUsing')}}">正在使用商家({{count['using']}})</a></li>
        <li class="{{expire_active}}"><a href="{{reverse_url('superShopAdminManageExpire')}}">到期未续商家({{count['expire']}})</a></li>
        <li class="{{common_active}}"><a href="{{reverse_url('superShopAdminManageCommon')}}">未付费商家({{count['common']}})</a></li>
    </ul>
</div>
<div class="admin-manage-right admin-right pull-right">
    <ul class="user-list w1 list-group item-list">
        {% for admin in context["admins"]%}
            <li class="row list-group-item">
                <span class="col-lg-1 user-img">
                    <img src="{{admin.accountinfo.headimgurl}}"/>
                </span>
                <span class="col-lg-10">{{admin.accountinfo.nickname}}</span>
                <a class="col-lg-10" href="{{reverse_url('superShopAdminProfile',admin.id)}}">查看详情&rarr;</a>
            </li>
        {% end %}
    </ul>
    <nav>
        <ul class="pager">
            <li><a href="" id="PrePage">&larr; 上一页</a></li>
            <li><a href="" id="NextPage">下一页&rarr;</a></li>
        </ul>
    </nav>
</div>
{% end %}
