{% extends 'shop-base.html'%}
{% block shop %}
{% set apply_list = context['auth_apply_list'] %}
<div class="admin-right pull-right">
    <ul class="shop-list  item-list list-group">
    {% for list in apply_list %}
        {% set type ="" %}
        {% if list.shop_type == 1%}
        {% set type='个人认证'%}
        {% else %}
        {% set type='企业认证'%}
        {% end %}
         <li class="row shop-list-item list-group-item" data-id="{{list.id}}" data-type="{{list.shop_type}}">
          {% if list.shop_type==1 %}
            <ul class="cert-shop group">
                <li class=".clip">店铺：<a href="javascript:;">{{list.shop.shop_name}}</a></li>
                <li class=".clip">管理员：<a href="{{reverse_url('superUser')}}?out_link=true&&data_id={{list.shop.admin.accountinfo.id}}" target="_blank" title="点击查看用户详细信息">{{list.shop.admin.accountinfo.realname}}</a></li>
                <li class=".clip">申请时间：<span>{{list.create_time}}</span></li>
                <li class=".clip">认证类型：<span>个人认证</span></li>
                <li class=".clip">姓名：<span>{{list.realname}}</span></li>
                <li class=".clip">身份证号：<span>{{list.card_id}}</span></li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    身份证照片：
                </li>
                <li class="right">
                    <img src="{{list.handle_img or '/static/images/rooftop.png'}}" alt="身份证照片" />
                </li>
            </ul>
            {% else %}
            <ul class="cert-shop group">
                  <li class=".clip">店铺：<a href="javascript:;">{{list.shop.shop_name}}</a></li>
                <li class=".clip">管理员：<a href="{{reverse_url('superUser')}}?out_link=true&&data_id={{list.shop.admin.accountinfo.id}}" target="_blank" title="点击查看用户详细信息">{{list.shop.admin.accountinfo.realname}}</a></li>
                <li class=".clip">申请时间：<span>{{list.create_time}}</span></li>
                <li class=".clip">认证类型：<span>企业认证</span></li>
                <li class=".clip">企业名称：<span>{{list.company_name}}</span></li>
                <li class=".clip">企业法人：<span>{{list.realname}}</span></li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    营业执照：
                </li>
                <li class="right">
                    <img src="{{list.business_licence or '/static/images/rooftop.png'}}" alt="营业执照" />
                </li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    身份证照片：
                </li>
                <li class="right">
                    <img src="{{list.front_img or '/static/images/rooftop.png'}}" alt="身份证照片" />
                    <img src="{{list.behind_img or '/static/images/rooftop.png'}}" alt="身份证照片" />
                </li>
            </ul>
            {% end %}
            {% if list.has_done == 0 %}
            <ul class="cert-person group box">
                <li class="left">&nbsp;</li>
                <li class="right">
                    <a href="javascript:;" class="refuse">拒绝</a>
                    <a href="javascript:;" class="ok">通过</a>
                </li>
            </ul>
             {% if list.shop.shop_auth == 1%}
            <p>个人认证转企业认证</p>
            {% elif list.shop.shop_auth == 2%}
            <p>企业认证转个人认证</p>
            {% end %}
            {% elif list.has_done == 1%}
            <p>认证成功<p>
            {% else %}
            <p>认证拒绝:{{list.decline_reason}}<p>
            {% end %}
             {% if list.shop.shop_auth == 3%}
            <p>个人认证转企业认证</p>
            {% elif list.shop.shop_auth == 4%}
            <p>企业认证转个人认证</p>
            {% end %}
        </li>
    {% end %}
    </ul>
    <div class="wrap-com-pop hide">
        <div class="com-pop ov-center">
            <div class="pop-title">拒绝删除理由：</div>
            <div class="wrap-area">
                <textarea id="com-cont"></textarea>
            </div>
            <div class="btn-group txt-ac">
                <a href="javascript:;" class="blue-btn" id="submit-apply">提交</a>
                <a href="javascript:;" class="grey-btn" id="concel-apply">取消</a>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pager">
            <li><a href="javascript:;" id="authPrePage">&larr; 上一页</a></li>
            <li><a href="javascript:;" id="authNextPage">下一页&rarr;</a></li>
        </ul>
    </nav>
</div>
{% end %}