{% extends 'shop-base.html'%}
{% block shop %}
<div class="admin-right pull-right">
    <ul class="list-group">
        {% for data in output_data %}
        <li class="list-group-item clearfix">
            <img src="{{data['shop_trademark_url']}}" class="pull-left w80">
            <div class="col-lg-5 col-md-5 boder-rd">
                <p>
                    <span class="tit2">{{data['shop_name']}}</span>
                    <span class="text-green">{{data['shop_code']}}</span>
                </p>
                <p>
                    <span class="tit2">城市：{{data['city']}}</span>
                    <span>成员：<span class="text-green">{{data['staff_count']}}个</span></span>
                </p>
                <p>
                    <span class="tit2">粉丝：{{data['follower_count']}}</span>
                    <span>商品数量：{{data['goods_count']}}件</span>
                </p>
            </div>
            <div class="col-lg-5 col-md-5">
                <p>店铺管理员：<span class="text-green">{{data['admin_name']}}</span></p>
                <p>运营时间：{{data['operate_days']}}</p>
                <p>
                    <span class="tit2">订单数：{{data['order_count']}}</span>
                    <span>销售额：{{data['price_sum'] or 0}}元</span>
                </p>
            </div>
        </li>
        {% end %}
    </ul>
</div>
<nav>
    <ul class="pager">
        <li><a href="javascript:;" id="PrePage">&larr; 上一页</a></li>
        <li><a href="javascript:;" id="NextPage">下一页&rarr;</a></li>
    </ul>
</nav>
{% end %}
