{% extends 'shop-base.html'%}
{% block shop %}
<div class="admin-right pull-right">
    <ul class="shop-list  item-list list-group">
        <li class="row shop-list-item list-group-item">
            <ul class="cert-shop group">
                <li class=".clip">店铺：<a href="javascript:;">我的水果店</a></li>
                <li class=".clip">管理员：<a href="javascript:;">马灰大人</a></li>
                <li class=".clip">申请时间：<span>2014-05-22 22:10:20</span></li>
                <li class=".clip">认证类型：<span>个人认证</span></li>
                <li class=".clip">姓名：<span>马灰</span></li>
                <li class=".clip">身份证号：<span>421202199110201510</span></li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    身份证照片：
                </li>
                <li class="right">
                    <img src="/static/images/rooftop.png" alt="身份证照片" />
                    <img src="/static/images/rooftop.png" alt="身份证照片" />
                </li>
            </ul>
            <ul class="cert-person group">
                <li class="left">&nbsp;</li>
                <li class="right">
                    <a href="javascript:;" class="refuse">拒绝</a>
                    <a href="javascript:;" class="ok">通过</a>
                </li>
            </ul>
        </li>
        <li class="row shop-list-item list-group-item">
            <ul class="cert-shop group">
                <li class=".clip">店铺：<a href="javascript:;">我的水果店</a></li>
                <li class=".clip">管理员：<a href="javascript:;">马灰大人</a></li>
                <li class=".clip">申请时间：<span>2014-05-22 22:10:20</span></li>
                <li class=".clip">认证类型：<span>企业认证</span></li>
                <li class=".clip">企业名称：<span>小果科技有限公司</span></li>
                <li class=".clip">企业法人：<span>黄铁森</span></li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    营业执照：
                </li>
                <li class="right">
                    <img src="/static/images/rooftop.png" alt="营业执照" />
                </li>
            </ul>
            <ul class="cert-person group">
                <li class="left">
                    身份证照片：
                </li>
                <li class="right">
                    <img src="/static/images/rooftop.png" alt="身份证照片" />
                    <img src="/static/images/rooftop.png" alt="身份证照片" />
                </li>
            </ul>
            <ul class="cert-person group">
                <li class="left">&nbsp;</li>
                <li class="right">
                    <a href="javascript:;" class="refuse">拒绝</a>
                    <a href="javascript:;" class="ok">通过</a>
                </li>
            </ul>
        </li>
    </ul>
    <nav>
        <ul class="pager">
            <li><a href="javascript:;" id="PrePage">&larr; 上一页</a></li>
            <li><a href="javascript:;" id="NextPage">下一页&rarr;</a></li>
        </ul>
    </nav>
</div>
{% end %}