{% extends 'base.html' %}
{% block title%}店铺管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-shop.css')}}"/>{% end %}

{% block content %}
{% import dal.models as models %}
{% set count=context["count"]%}
{% set subpage = context["subpage"] %}
{% set apply_active = "" %}
{% set all_active = "" %}
{% set comment_active = "" %}
{% set auth_active = "" %}
{% if subpage == "apply" %}
	{% set apply_active = "active" %}
{% elif subpage == "all" %}
	{% set all_active = "active" %}
{% elif subpage == "comment" %}
	{% set comment_active = "active" %}
{% else %}
	{% set auth_active = "active" %}
{% end %}
<div class="admin-left text-right pull-left" data-info="{{context['subpage']}}">
    <ul class="nav nav-stacked shop-manage-nav" role="tablist">
        <!--  修改时间：2015.6.8 by cm -->
         <li class="{{apply_active}}"><a href="/super/shopManage?action=all_temp&search&shop_auth=4&shop_status=5&shop_sort_key=4&if_reverse=1&&page=1&flag=1">入驻申请({{count['all_temp']}})</a></li>
        <li class="{{all_active}}"><a href="{{reverse_url('superShopManage')}}?action=all&search&shop_auth=4&shop_status=5&shop_sort_key=4&if_reverse=1&&page=1&flag=1">所有店铺({{count['all']}})</a></li>
        <li class="{{comment_active}}"><a href="{{reverse_url('supercommentInfo')}}">店铺评论({{count['comment']}})</a></li>
        <li class="{{auth_active}}"><a href="{{reverse_url('superShopAuth')}}?page=0">店铺认证申请({{count['auth_apply']}})</a></li>
    </ul>
</div>
{% block shop %}
{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/superadmin-shop-manage.js')}}"></script>
{% end %}