{% extends 'base.html' %}
{% block title%}店铺管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-shop.css')}}"/>{% end %}

{% block content %}
{% import dal.models as models %}
{% set count=context["count"]%}

<div class="admin-left text-right pull-left">
    <ul class="nav nav-stacked shop-manage-nav" role="tablist">
        <li class="active"><a href="{{reverse_url('superShopManage')}}?action=all_temp&&page=1">入驻申请({{count['all_temp']}})</a></li>
        <li class=""><a href="{{reverse_url('superShopManage')}}?action=all&&page=1">所有店铺({{count['all']}})</a></li>
        <li class=""><a href="{{reverse_url('supercomment')}}">删除评论申请(100)</a></li>
        <li class=""><a href="{{reverse_url('supercert')}}">店铺认证申请(100)</a></li>
    </ul>
</div>
{% block shop %}
{% end %}
{% end %}
{% block bottom %}
<script src="{{static_url('js/superadmin-shop-manage.js')}}"></script>
{% end %}