{% extends 'base.html' %}
{% block title%}用户管理{% end %}
{% block head %}<link rel="stylesheet" href="{{static_url('css/superadmin-user.css')}}"/>{% end %}
{% block content %}
<div class="row">
    <div class="admin-shop-left  admin-left col-lg-3 col-md-4">
        <ul class="nav nav-stacked shop-manage-nav text-right" role="tablist">
            <li class="all nav_item active">
                <a href="javascript:;">
                    所有用户
                    (<span class="count">{{sum["all"]}}</span>)
                </a>
            </li>
            <li class="admin nav_item">
                <a href="javascript:;">
                    卖家
                    (<span class="count">{{sum["admin"]}}</span>)
                </a>
            </li>
            <li class="customer nav_item">
                <a href="javascript:;">
                    商城用户
                    (<span class="count">{{sum["customer"]}}</span>)
                </a>
            </li>
            <li class="phone nav_item">
                <a href="javascript:;">
                    已绑定手机号
                    (<span class="count">{{sum["phone"]}}</span>)
                </a>
            </li>
        </ul>
    </div>
    <div class="admin-shop-right  col-lg-9 col-md-8">
        <ul class="user-list  item-list list-group">

        </ul>
        <nav>
            <ul class="pager">
                <li><a href="javascript:;" id="PrePage">&larr; 上一页</a></li>
                <li><a href="javascript:;" id="NextPage">下一页&rarr;</a></li>
            </ul>
        </nav>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/superadmin-user.js')}}"></script>
{% end %}
