<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8"/>
    <meta name="keywords" content="森果,水果商城,水果O2O,微信卖水果,员工管理，水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <title>森果O2O平台员工后台管理系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{static_url('css/staff-global.css')}}" type="text/css" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/'images/favicon.ico" type="image/x-icon">
    {% block head %}{% end %}
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?935e8ca3a37798305258305ac7a9f24f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="footer">
        {% set home_active='' %}
        {% set now_active='' %}
        {% set time_active='' %}
        {% set history_active='' %}
        {% if page and page== 'home' %}
        {% set home_active='active' %}
        {% elif page == 'now' %}
        {% set now_active='active' %}
        {% elif page == 'on_time' %}
        {% set time_active='active' %}
        {% elif page == 'history' %}
        {% set history_active='active' %}
        {% end %}
        <ul class="bottom-nav row font14 bg-white navbar-fixed-bottom">
            <li id="header-home-btn" class="col-xs-3 col-sm-3 {{home_active}}">
                <a href="{{reverse_url('staffHome')}}" class="text-grey3">首页</a>
            </li>
            <li id="header-orders-btn" class="col-xs-3 col-sm-3 {{now_active}}">
                <a href="{{reverse_url('staffOrder')}}?order_type=now" class="text-grey3">立即送<span class="now_num num_box bg-pink text-white text-center hidden"></span></a>
            </li>
            <li id="header-orders-btn" class="col-xs-3 col-sm-3 {{time_active}}">
                <a href="{{reverse_url('staffOrder')}}?order_type=on_time" class="text-grey3">按时达<span class="on_num num_box bg-pink text-white text-center hidden"></span></a>
            </li>
            <li id="header-history-btn" class="col-xs-3 col-sm-3 {{history_active}}">
                <a href="{{reverse_url('staffOrder')}}?order_type=history" class="text-grey3">记录</a>
            </li>
        </ul>
    </div>
    <div class="main-container container bg-white" >
        <button class="header text-center  font16 shop_change btn text-grey3">
            {{handler.shop_name}}
            <span class="caret"></span>
        </button>
        {% block content %}{% end %}
    </div>
    <div class="modal fade shop-list-box" id="shopList">
        <div class="modal-dialog">
            <div class="modal-content">
                <ul class="list-group well mb-0 shop-list">
                    {% for shop in current_user.shops%}
                    <li data-id="{{shop.id}}" class="list-group-item font14">
                        <a tabindex="-1" href="javascript:;" class="text-green">{{shop.shop_name}}</a>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
        window.dataObj = {
                _xsrf: "{{handler.xsrf_token}}"};
</script>
<script src="/static/js/zepto&&fastclick&&lazyload.min.js"></script>
<script src="{{static_url('js/staff-public.js')}}"></script>
{% block bottom %}{% end %}
</html>
