<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>水果帮后台系统</title>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/admin-style.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/staff-global.css')}}" type="text/css" />
    <script src="{{static_url('js/jquery.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    {% block head %}{% end %}

</head>
<body>
		<div class="main-container container" >
			<div class="navbar main-header">
				<div class="navbar-inner">
					<div class="container">
						<div class="nav-collapse">
							<p class="navbar-text pull-right">
								<a href="/staff/settings" class="user-icon" ><i class="icon-user"></i>我</a>
							</p>
							<ul class="nav">
								<li id="header-home-btn"><a href="/staff/home">首页</a></li>
								<li id="header-orders-btn"><a href="/staff/orders">订单</a></li>
								<li id="header-history-btn"><a href="/staff/history">记录</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% block content %}{% end %}
		</div>
</body>
<script>
        window.dataObj = {
                _xsrf: "{{handler.xsrf_token}}"};
        var True = true;
        var False = false;
        var None = null;
        var page = "{{page}}";
        switch(page){
                case "home" :
                $("#header-home-btn").addClass("active");
                break;
                case "orders" :
                $("#header-orders-btn").addClass("active");
                break;
                case "history" :
                $("#header-history-btn").addClass("active");
                case "settings" :
                $("#header-settings-btn").addClass("active");
                break;
        }
</script>
</html>
