{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/staff-order.css" type="text/css"/>
{% end %}
{% block content %}
<section data-id="content-wrapper" >
	<div id="update-hint"  class="hint update-hint" style="display:none;">
		<a>有新的订单，点这里或者按刷新按钮刷新</a>
	</div>
</section>
<ul>
    {% for order in orders %}
    {% set left=''%}
    {% set width=''%}
    {% if order.status ==4 %}
        {% set left='left50' %}
        {% set width='width50'%}
    {% elif order.status == 5%}
        {% set left='left100' %}
        {% set width='width100' %}
    {% end %}
    <li class="order-list-item">
        <div class="content-wrapper" >
            <strong>总金额：<span>{{order.totalPrice}}</span>元</strong>
            {% if order.message %}
            <span>用户留言：{{order.message}}</span>
            {% end %}
            <br />
            <span data-id="deliveryTime">配送时间：{{order.start_time}}~{{order.end_time}}</span>
            <p>
                收货人信息：
                <span>{{order.receiver}}</span>
                <span>{{order.address_text}}</span>
                <span>{{order.phone}}</span>
            </p>
            <p data-id="goods" ></p>
            <div class="button-box" >
                <button class="btn clear-btn text-white bg-green order_finish" data-id="{{order.id}}">完成</button>
            </div>
        </div>
        <div class="toggle content-wrapper">
            <hr/>
            {% if order.remark %}
            <p>订单备注：<span data-id="remark">{{order.remark}}</span></p>
            {% end %}
            <p>员工留言：<br />
                <input type="text" id="staff-msg"  placeholder="在这写下想让管理员看到的消息"/>
            </p>
            <p><button id="staff-msg-accept" class="btn text-white bg-green">提交员工备注</button></p>
            <div class="status-bar-box" data-id="status-bar-box" >
                <div class="status-bar" data-id="status-bar" >
                    <div class="inner {{width}}"></div>
                    <div class="circle-icon {{left}}"></div>
                    <div class="status-box {{left}}">
                        <span class="status">
                            {% if order.status ==1 %}
                            已下单
                            {% elif order.status == 4%}
                            配送中
                            {% else %}
                            已送达
                            {% end %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{% end %}
{% end %}
{% block bottom %}<script src="{{static_url('js/staff-order.js')}}"></script>{% end %}
