{% extends 'base.html'%}
{% block title%}信息墙{% end %}
{% block head%}<link rel="stylesheet" href="{{static_url('css/infowall-home.css')}}"/>{% end %}

{% block content %}
{% set action=context['action'] %}
{% set supply_active=""%}
{% set demand_active=""%}
{% set other_active=""%}

{% if action=="supply"%}
    {% set supply_active="active"%}
{% elif action=="demand"%}
    {% set demand_active="active"%}
{% else %}
    {% set other_active="active"%}
{% end %}

<header class="title-box">
    <ul class="infowall-nav select-list">
        <li class="bg-white {{supply_active}}"><a href="{{reverse_url('infowallHomeSupply')}}">供应</a></li>
        <li class="bg-white {{demand_active}}"><a href="{{reverse_url('infowallHomeDemand')}}">求购</a></li>
        <li class="bg-white {{other_active}}"><a href="{{reverse_url('infowallHomeOther')}}">其他</a></li>
    </ul>
</header>

<div class="info-content">
    <ul class="infowall-list">
        {% for info in context['infos']%}
        <li class="infowall-list-item bg-white" data-id="{{info.id}}">
            <div class="row info-box">
                <span class="col-xs-2">
                    <img src="{{info.admin.accountinfo.headimgurl}}" class="head-img"/>
                </span>
                <span class="nickname">{{info.admin.accountinfo.nickname}}</span>
                 <span class="row address">
                    <span class="col-xs-6">{{info.address}}</span>
                    <span class="col-xs-4 col-sm-6 text-right padding-right-none pull-right text-grey3 time">{{info.create_date_timestamp}}</span>
                </span>
            </div>
            <div class="info-text">
                {{info.text}}
                <a class="text-green" href="{{reverse_url('infowallInfoDetail',info.id)}}">查看全文</a>
            </div>
            <div class="home-fruit-list">
                {% for fruittype in info.fruit_type%}
                    <span>{{fruittype.name}}</span>
                {% end %}
            </div>
            <div class="img-list">
                {% for fruitimg in info.fruit_img%}
                     <img src="{{fruitimg.img_url}}"/>
                {% end %}
                <span class="img-count"><span class="number"></span>张</span>
            </div>
            <ul class="funciont-btn-box pull-right">
                {% if current_user in info.collected_admins %}
                <li class="collection-notice">
                    <a href="javascript:;">
                        收藏<span class="number">{{len(info.collected_admins)}}</span>
                    </a>
                </li>
                {% else %}
                <li class="collection-btn">
                    <a href="javascript:;">
                        收藏
                        <span class="number">{{len(info.collected_admins)}}</span>
                    </a>
                </li>
                {% end %}
                <li><a href="javascript:;" class="shareTo">分享</a></li>
                <li><a href="{{reverse_url('infowallInfoDetail',info.id)}}">评论<span class="number">{{len(info.comment)}}</span></a></li>
            </ul>
        </li>
        {% end %}
    </ul>
</div>

<div class="right-function-btn">
    <a href="{{reverse_url('infowallInfoIssue')}}">+</a>
    <a href="javascript:;" id="backToTop">^</a>
</div>
<nav class="bottom-nav white-color navbar-fixed-bottom bg-white">
    <ul class="row select-list">
        <li class="col-xs-3"><a href="{{reverse_url('fruitzoneHome')}}">同行圈子</a></li>
        <li class="col-xs-3"><a href="{{reverse_url('fruitzoneCommunity')}}">社区</a></li>
        <li class="col-xs-3 active"><a href="{{reverse_url('infowallHomeSupply')}}">信息墙</a></li>
        <li class="col-xs-3"><a href="{{reverse_url('fruitzoneAdminHome')}}">个人中心</a></li>
    </ul>
</nav>

{% end %}
{% block bottom %}
<script src="{{static_url('js/infowall-home.js')}}"></script>
{% end %}

