.img-border{display: inline-block;border: 2px solid #76ccc0;border-radius: 50%;line-height: 1;}
/*店铺中心*/
.more{color: #999;padding-right: 12px;background: url('/static/images/arr-right.png') no-repeat;background-size:8px 12px;background-position: right center;}
.developing .more{color:#ccc;background: url('/static/images/arr-right2.png') no-repeat;background-size:8px 12px;background-position: right center;}

/*店铺设置*/
.list-title{padding-left: 10px;color: #666;font-size: 14px;line-height: 28px;}
.data-list{background-color: #fff;padding-left: 10px;}
.data-list>li{border-bottom:1px solid #e7e7e7;padding-right: 10px;height: 40px;line-height: 40px;font-size: 14px;color: #333;}
.data-list>li>a{display: block;height: 40px;color: #333;}
.data-list>li:last-child{border-bottom: none;}
.item-left{display: inline-block;padding-left: 26px;background-repeat: no-repeat;background-size: 20px;background-position: left center;}
/*店铺信息*/
.data-list .text-left{color: #333;}
.data-list .img-border{width: 40px;height: 40px;}
.data-list .img-border>img{width: 40px;height: 40px;border-radius: 50%;}
.data-list .logo-li{height: 58px;line-height: 58px;}
.data-list .logo-li a{height: 58px;}
.data-list .info-li{height: auto;position: relative;vertical-align: middle;}
.data-list .info-li a{height: 100%;}
.code2{width: 20px;height: 20px;}
.data-list .text-clip{line-height:18px;padding:8px 10px 8px 100px;}
.data-list .info-left{position: absolute;min-height:40px;top: 50%;left: 0;-webkit-transform:translate(0,-50%);}
.big-code2{width: 150px;height: 150px;margin:30px auto 0 auto;}
.wp-ipt>input{width: 100%;border: none;border-bottom: 2px solid #48B6A4;font-size: 14px;color: #333;padding-bottom: 5px;height: 20px;}
.wp-ipt>textarea{width: 100%;border: none;border-bottom: 2px solid #48B6A4;font-size: 14px;line-height: 18px;height: 56px;overflow: auto;}
.wrap-bbtns{text-align: right;margin-top: 30px;}
.wrap-bbtns>a{margin-left: 20px;width: 50px;height: 24px;font-size: 14px;text-align: center;line-height: 24px;display: inline-block;}
.status-list{margin-top: 36px;}
.status-list>li{height: 28px;color: #333;line-height: 28px;text-align: center;}
.status-list .active{color: #48B6A4;}
.code2-logo{width: 40px;position: absolute;top: 50%;left: 50%;-webkit-transform:translate(-50%,-50%);border-radius: 4px;margin-top: 5px;}
.b-close{width: 40px;height: 40px;background: url('/static/m-admin/img/close_2.png') no-repeat center center;position: absolute;right: 10px;top: 10px;}







