{% extends 'base.html' %}
{% block title %}订单搜索{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="javascript:;" class="back goback">返回</a>
    <div class="wrap-order-tab">
        <ul class="group order-type-list">
            <div class="wrap-ipt"><input type="tel" class="search-ipt" placeholder="请输入商品名称" id="search-ipt"/></div>
        </ul>
    </div>
    <a href="javascript:;" class="head-right search" id="search-goods"><em></em></a>
</div>
{% end %}
{% block setcontent %}
<div class="container">
<div class="order-list-box">
    <ul class="search-lst" id="goods-lists">
        <li>
            <a href="javascript:;">
                <span class="c666">商品名称：</span>
                <span class="dgreen">大苹果</span>
            </a>
        </li>
    </ul>
    <p class="no-result mt30 hide">没有搜索到任何商品！</p>
</div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('m-admin/js/goods-search.js')}}"></script>
{% end %}