{% extends 'base.html' %}
{% block title %}订单搜索{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="javascript:;" class="back goback">返回</a>
    <div class="wrap-order-tab">
        <ul class="group order-type-list">
            <div class="wrap-ipt"><input type="search" class="search-ipt" placeholder="请输入订单号搜索" id="search-ipt"/></div>
        </ul>
    </div>
    <a href="javascript:;" class="head-right search" id="search-order"><em></em></a>
</div>
{% end %}
{% block setcontent %}
<div class="container">
<div class="order-list-box">
    <ul class="order-lists pt10" id="order-lists">

    </ul>
    <p class="no-result mt30 hide">没有搜索到任何数据！</p>
</div>
</div>
<ul id="order-item">

</ul>
<div class="pop-win pop-staff hide">
    <div class="pop-content">
        <div class="pop-staff-box">
            <p class="title">分配员工</p>
            <ul class="staff-list">

            </ul>
            <p class="btn-box sure-staff" id="sure-staff">
                确认并设为处理中
            </p>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="/static/js/template.js"></script>
<script src="{{static_url('m-admin/js/order-search.js')}}"></script>
{% end %}