{% extends 'base.html' %}
{% block title %}店家个人中心{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header head_tab">
    <a href="{{reverse_url('MadminSet')}}" class="back shop-set"></a>
    <span>{{shop.shop_name}}</span>
    <a href="{{reverse_url('customerProfile')}}" class="head-right profile-center"><em></em></a>
</div>
<div class="header head_tab hide">
    <a href="javascript:;" class="back bbs-menu" id="bbs-menu">所有版块</a>
    <span>森果社区</span>
    <a href="{{reverse_url('BbsSearch')}}" class="head-right search"><em></em></a>
    <div class="wrap-menu-list h0">
        <ul class="menu-list">
            <li data-id="0">官方公告</li>
            <li data-id="1">产品更新</li>
            <li data-id="2">运营干货</li>
            <li data-id="3">水果百科</li>
            <li data-id="4">使用教程</li>
            <li data-id="5">水果供求</li>
            <li data-id="6">森果前沿</li>
        </ul>
    </div>
</div>
{% end %}
{% block content %}
{% set shop_status="" %}
{% set shop_auth="" %}
{% if shop.status == 0 %}
{% set shop_status="关闭" %}
{% elif shop.status == 1 %}
{% set shop_status="营业中" %}
{% elif shop.status == 2 %}
{% set shop_status="筹备中" %}
{% elif shop.status == 3 %}
{% set shop_status="休息中" %}
{% end %}
{% if shop.shop_auth in[1,4] %}
{% set shop_auth="个人认证" %}
{% elif shop.shop_auth in[2,3] %}
{% set shop_auth="企业认证" %}
{% else %}
{% set shop_auth="未认证" %}
{% end %}
<div class="shop-profile pb45 main_tab">
    <div class="profile-top white-box" id="shop_info">
        <div class="sw-tip" id="shop_status" data-status="{{shop.status}}"></div>
        <span class="sw-tip-txt">{{shop_status}}</span>
        <dl class="dl ptm6">
            <dt>
                <img src="{{shop.shop_trademark_url or '/static/images/TDSG.png'}}" alt="店铺logo"/>
            </dt>
            <dd>
                <p class="title c333 mt4">{{shop.shop_name}}<span class="shop-auth" data-auth="{{shop_auth}}">{{shop_auth}}</span></p>
                <p class="c333 mt15 clip">{% if shop.shop_code %}店铺链接 : <a href="http://senguo.cc/{{shop.shop_code}}" class="shop-link">http://senguo.cc/{{shop.shop_code}}</a>{% else %}未设置店铺号 {% end %}</p>
            </dd>
        </dl>
    </div>
    <div class="white-box pm8">
        <p class="box-title developing">
            <a href="javascript:;" class="more fr">更多</a>
            <span class="box-icon data-stat">数据统计</span>
        </p>
        <ul class="group stat-list">
            <li>
                <p class="name">新增用户</p>
                <p class="num">{{new_follower_sum}}</p>
            </li>
            <li>
                <p class="name">新增订单</p>
                <p class="num">{{new_order_sum}}</p>
            </li>
            <li>
                <p class="name">总订单数</p>
                <p class="num">{{order_sum}}</p>
            </li>
            <li>
                <p class="name">总营业额</p>
                <p class="num">{{total_money}}</p>
            </li>
        </ul>
    </div>
    <div class="white-box">
        <p class="box-title">
            <a href="{{reverse_url('MadminOrder')}}?type=0" class="more fr">更多</a>
            <span class="box-icon data-order">订单管理</span>
        </p>
        <ul class="group stat-order-list pm8">
            <a href="{{reverse_url('MadminOrder')}}?type=0">
                <li>
                    <p class="name">立即送</p>
                    <p class="num"><span class="tip-num">{{intime_count}}</span></p>
                </li>
            </a>
             <a href="{{reverse_url('MadminOrder')}}?type=1">
                <li>
                    <p class="name">按时达</p>
                    <p class="num"><span class="tip-num">{{ontime_count}}</span></p>
                </li>
            </a>
            <a href="{{reverse_url('MadminOrder')}}?type=2">
                <li>
                    <p class="name">自提</p>
                    <p class="num"><span class="tip-num">{{self_count}}</span></p>
                </li>
            </a>
        </ul>
        <a href="/madmin/goods">
            <p class="box-title btf5">
                <span class="more fr">&nbsp;</span>
                <span class="fr c000">{{goods_count}}</span>
                <span class="box-icon data-goods">商品管理</span>
            </p>
        </a>
        <a href="javascript:;"  class="developing">
            <p class="box-title btf5">
                <span class="more fr">&nbsp;</span>
                <span class="fr c000">{{staff_count}}</span>
                <span class="box-icon data-staff">员工管理</span>
            </p>
        </a>
        <a href="javascript:;"  class="developing">
            <p class="box-title btf5">
                <span class="more fr">&nbsp;</span>
                <span class="fr c000">{{shop.fans_count}}</span>
                <span class="box-icon data-user">用户管理</span>
            </p>
        </a>
    </div>
    <div class="white-box">
        <a href="{{reverse_url('MadminComment')}}">
            <p class="box-title">
                <span class="more fr">&nbsp;</span>
                <span class="fr tip-num mt12">{{comment_count}}</span>
                <span class="box-icon data-msg">消息与评价</span>
            </p>
        </a>
        <a href="javascript:;" class="shop-balance">
            <p class="box-title btf5">
                <!-- <span class="fr c000">{{shop.shop_balance}}</span> -->
                <span class="box-icon data-account">账户余额</span>
            </p>
        </a>
    </div>
</div>
<div class="wrap-main pm80 main_tab hide">
    <ul class="atical-list">

    </ul>
    <p class="loading txt-center c999 mt10"></p>
</div>
<div class="bm-tab header">
    <ul class="tab-bm-list group">
        <li class="active"><a href="javascript:;"><i class="box-icon ic-shop ic-shop-active"></i><span>店铺</span></a></li>
        <li class=""><a href="javascript:;"><i class="box-icon ic-bbs"></i><span>社区</span></a></li>
    </ul>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="/static/js/template.js"></script>
<script type="text/javascript" src="{{static_url('m-admin/js/profile.js')}}"></script>
<script type="text/javascript" src="{{static_url('bbs/js/main.js')}}"></script>
{% end %}