{% extends 'base.html' %}
{% block title %}店家个人中心{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="{{reverse_url('MadminOrder')}}" class="back goback">返回</a>
    <span>设置</span>
</div>
{% end %}
{% block content %}
<div class="wrap-shop-set">
    <p class="list-title pt10">店铺设置</p>
    <ul class="data-list">
        <li>
            <a href="javascript:;">
                <span class="fr more"></span>
                <span class="item-left i-cert">店铺认证</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="fr more"></span>
                <span class="item-left i-">店铺认证</span>
            </a>
        </li>
    </ul>
</div>
{% end %}
{% block fix %}
<div class="pop-bwin hide">
    <ul class="shop-qalist">
        <li class="title">说明</li>
        <li>
            <span class="roll-left"></span>每个管理员拥有一个唯一的属于自己的店铺列表和店铺列表链接
        </li>
        <li>
            <span class="roll-left"></span>不论是您创建的店铺还是受其他店铺创建者邀请加入成 为管理员的店铺都会显示在这个列表中
        </li>
    </ul>
    <a href="javascript:;" class="close-pop" id="close-pop">X</a>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{static_url('m-admin/js/shop-set.js')}}"></script>
{% end %}