{% extends 'base.html' %}
{% block title %}店家个人中心{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="{{reverse_url('MadminOrder')}}" class="back goback">返回</a>
    <span>店铺列表</span>
    <a href="javascrpt:;" class="head-right spread-list">推广店铺列表</a>
</div>
{% end %}
{% block content %}
<div class="wrap-shop-list">
    <ul class="shop-list">
        <li>
            <a href="javascript:;">
                <dl class="shop-dl">
                    <dd>
                        <img src="/static/images/TDSG.png" alt="店铺logo"/>
                    </dd>
                    <dt>
                        <i class="arr-item"></i>
                        <p class="name">森果体验店 <span class="shop-cert">个人认证</span></p>
                        <p class="addre mt6">武汉市华中科技大学</p>
                        <ul class="shop-prop group mt10">
                            <li>商品<span>10</span>件</li>
                            <li>评价<span>10</span>条</li>
                            <li>满意度<span>10</span>%</li>
                            <li>粉丝<span>10</span>个</li>
                            <li>订单<span>10000</span>个</li>
                            <li>营业额<span>10222</span>元</li>
                        </ul>
                    </dt>
                </dl>
            </a>
        </li>
    </ul>
    <a href="/apply" class="create-shop">+创建店铺</a>
</div>
{% end %}
{% block fix %}
<div class="qa-btn" id="qa">?</div>
<div class="pop-bwin hide">
    <ul class="shop-qalist">
        <li class="title">说明</li>
        <li>
            <span class="roll-left"></span>每个管理员拥有一个唯一的属于自己的店铺列表和店铺列表链接
        </li>
        <li>
            <span class="roll-left"></span>不论是您创建的店铺还是受其他店铺创建者邀请加入成 为管理员的店铺都会显示在这个列表中
        </li>
    </ul>
    <a href="javascript:;" class="close-pop" id="close-pop">X</a>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{static_url('m-admin/js/shop-list.js')}}"></script>
{% end %}