{% extends 'base.html' %}
{% block title %}店铺设置{% end %}
{% block head %}
{% end %}
{% block header %}
<div class="header">
    <a href="{{reverse_url('MadminShop')}}" class="back">返回</a>
    <span>设置</span>
</div>
{% end %}
{% block content %}
<div class="wrap-shop-set">
    <p class="list-title pt10">店铺设置</p>
    <ul class="data-list">
        <li>
            <a href="{{reverse_url('MadminInfo')}}">
                <span class="fr more"></span>
                <span class="item-left i-info">店铺信息</span>
            </a>
        </li>
        <li class="hide">
            <a href="javascript:;">
                <span class="fr more"></span>
                <span class="item-left i-cert">店铺认证</span>
            </a>
        </li>
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=receipt">
                <span class="fr more"></span>
                <span class="item-left i-piao">小票设置</span>
            </a>
        </li>
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=verify">
                <span class="fr more"></span>
                <span class="item-left i-fmsg">首单短信验证</span>
            </a>
        </li>
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=admin">
                <span class="fr more"></span>
                <span class="item-left i-gset">管理员设置</span>
            </a>
        </li>
    </ul>
    <p class="list-title">商城设置</p>
    <ul class="data-list">
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=template">
                <span class="fr more"></span>
                <span class="item-left i-tpl">商城模版</span>
            </a>
        </li>
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=notice">
                <span class="fr more"></span>
                <span class="item-left i-report">商城公告</span>
            </a>
        </li>
        <li>
            <a href="{{reverse_url('MadminSetAttr')}}?action=pay">
                <span class="fr more"></span>
                <span class="item-left i-pay">支付方式</span>
            </a>
        </li>
    </ul>
</div>
{% end %}
{% block fix %}
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{static_url('m-admin/js/shop-set.js')}}"></script>
{% end %}