{% extends 'm_base.html' %}
{% block title%}登录{%end %}
{% block head%}<link rel="stylesheet" href="{{static_url('css/mlogin.css')}}"/>{%end %}
{% block header %}登录森果{% end %}
{% block content %}
<p class="title text-center text-grayb1">第三方账号登录</p>
<div class="other_way clearfix bg-white">
	<ul class="box center-block clearfix">
		<li><a href="{{reverse_url('customerWeixin')}}" class="weixin_login login_btn"></a></li>
		<li><a href="/customer/qq" class="qq_login login_btn will-open"></a></li>
		<li><a href="#" class="alipay_login login_btn will-open"></a></li>
		<li><a href="#" class="weibo_login login_btn will-open"></a></li>
	</ul>
</div>
<p class="title text-center text-grayb1">使用手机号登录</p>
<div class="phone_login bg-white">
	<input type="text" placeholder="请输入手机号" class="phone input_sty border0 text-grayca border-bf8" id="phone"/>
	<input type="password" placeholder="请输入密码" class="password input_sty border0 text-grayca" id="password"/>
</div>
<div class="login_check center-block">
	<button class="btn bg-green text-white login font14" id="phoneLogin" data-next="{{context['next_url']}}">登录</button>
	<div class="other clearfix">
		<!--<a href="{{reverse_url('customerRegister')}}" class="text-grayb1 pull-left">手机号快速注册</a>-->
		<a href="{{reverse_url('customerPassword')}}" class="text-grayb1 pull-right">忘记密码？</a>
	</div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/sha256.js')}}"></script>
<script src="{{static_url('js/m_login.js')}}"></script>
{% end %}