{% extends 'm_base.html' %}
{% block title%}登录{%end %}
{% block head%}<link rel="stylesheet" href="{{static_url('css/mlogin.css')}}"/>{%end %}
{% block header %}登录森果{% end %}
{% block content %}
<p class="title text-center text_grayb1">第三方账号登录</p>
<div class="other_way clearfix bg_white">
	<ul class="box center-block clearfix">
		<li><a href="#" class="weixin_login login_btn"></a></li>
		<li><a href="#" class="qq_login login_btn"></a></li>
		<li><a href="#" class="alipay_login login_btn"></a></li>
		<li><a href="#" class="weibo_login login_btn"></a></li>
	</ul>
</div>
<p class="title text-center text_grayb1">使用手机号登录</p>
<div class="phone_login bg_white">
	<input type="text" placeholder="请输入手机号" class="phone input_sty border0 text_grayca border_bf8"/>
	<input type="text" placeholder="请输入密码" class="password input_sty border0 text_grayca"/>
</div>
<div class="login_check center-block">
	<button class="btn bg_green text_white login font14">登录</button>
	<div class="other clearfix">
		<a href="#" class="text_grayb1 pull-left">手机号快速注册</a>
		<a href="#" class="text_grayb1 pull-right">忘记密码?</a>
	</div>
</div>
{% end %}
{% block bottom %}<script src="{{static_url('js/m_login.js')}}"></script>{% end %}