{% extends 'm_base.html' %}
{% block title%}注册森果账号{%end %}
{% block header %}注册森果账号{% end %}
{% block content %}
<ul class="progress_box center-block text-grayb1">
	<li class="active progress1 progress">输入手机号></li>
	<li class="progress2 progress">验证码验证></li>
	<li class="progress3 progress">设置密码></li>
</ul>
<div class="step1 step-box">
	<input class="input_sty border0 text_grayca" type="text" placeholder="请输入手机号，将作为登录账号" id="enterPhone"/>
	<div class="text-grayb1 mt10 pl10 clearfix rule_box">
		<a href="javascript:;" class="check_btn pull-left" id="accept_rule"></a>
		<span class="pull-left">我已阅读并同意</span>
		<a href="javascript:;" class="check_rule text-green  pull-left">《森果网用户协议》</a>
	</div>
	<div class="login_check center-block text-center">
		<button class="btn bg-grey text-white login font14" id="getVrify" data-go="2" disabled="true">获取验证码</button>
		<a href="{{reverse_url('customerLogin')}}" class="text-grayb1">←返回上一步</a>
	</div>
</div>
<div class="step2 step-box" style="display:none">
	<input class="input_sty border0 text-grayca" type="text" placeholder="请输入收到的短信验证码" id="enterVrify"/>
	<div class="login_check center-block text-center">
		<button class="btn bg-green text-white login font14" data-go="3" id="checkCode">下一步</button>
		<a href="javascript:;" class="text-grayb1 backBtn" data-back="1">←返回上一步</a>
	</div>
</div>
<div class="step3 step-box" style="display:none">
	<input class="input_sty border0 text-grayca border_bf8" type="password" placeholder="请输入6位以上的字母和数字组合" id="password"/>
	<input class="input_sty border0 text-grayca" type="password" placeholder="请重复您输入的密码" id="repassword"/>
	<div class="login_check center-block text-center">
		<button class="btn bg-green text-white login font14" id="subRegist">提交注册</button>
		<a href="javascript:;" class="text-grayb1 backBtn" data-back="2">←返回上一步</a>
	</div>
</div>
<div class="regist_bottom">
	<hr/>
	<p class="text-grayb1 text-center tit">其它登录方式</p>
	<ul class="regist_login center-block clearfix mt10">
		<li><a href="#" class="weixin_login login_btn"></a></li>
		<li><a href="#" class="qq_login login_btn"></a></li>
		<li><a href="#" class="alipay_login login_btn"></a></li>
		<li><a href="#" class="weibo_login login_btn"></a></li>
	</ul>
</div>
{% end %}
{% block bottom %}<script src="{{static_url('js/m_regist.js')}}"></script>{% end %}