{% extends 'base.html' %}
{% block head %}
<div class="header">
    <a href="javascript:;" class="back">返回</a>
    <span>我的优惠券</span>
</div>
{% end %}
{% block content %}
<div class="container">
    <div class="coupon-box">
        <div class="wrap-coupon-ipt">
            <input type="text" class="coupon-ipt" placeholder="输入代金券/优惠券码"/>
            <a href="javascrpipt:;" class="convert-btn" id="convert-btn">兑换</a>
        </div>
        <ul class="coupon-list" id="coupon-list">
            {#{% for coupon in output_data %}
            <li>
                <a href="/coupon/detail?action=detail&coupon_key={{coupon['coupon_key']}}">
                    <div class="gap gap-right"></div>
                    <div class="gap gap-left"></div>
                    <div class="coupon-item {% if coupon['if_used']==1 %}coupon-acitve{% end %}">
                        <p class="shop-info">
                            <span class="shop-name">{{coupon['shop_name']}}</span>
                            <a class="ml5 shop-url" href="http://senguo.cc/{{coupon['shop_code']}}">http://senguo.cc/{{coupon['shop_code']}}</a>
                        </p>
                        <dl class="group">
                            <dt class="fl"><span class="rmb">￥</span><span class="coupon-money">{{coupon['coupon_money']}}</span></dt>
                            <dd class="fl">
                                <p class="f16">满{{coupon['use_rule']}}元使用</p>
                                <p class="f12">{{coupon['effective_time']}}</p>
                                <p class="f32">优惠券</p>
                            </dd>
                        </dl>
                        <div class="coupon-text">
                            <span class="text">{% if coupon['coupon_status']==0 %}未消费{% elif coupon['coupon_status']==1 %}已消费{% else %}已过期{% end %}</span>
                        </div>
                    </div>
                </a>
            </li>
            {% end %}#}
        </ul>
    </div>
</div>
<ul class="hide" id="coupon-item">
    <li>
        <a href="" class="coupon-link">
            <div class="gap gap-right"></div>
            <div class="gap gap-left"></div>
            <div class="coupon-item">
                <p class="shop-info">
                    <span class="shop-name"></span>
                    <a class="ml5 shop-url" href=""></a>
                </p>
                <dl class="group">
                    <dt class="fl"><span class="rmb">￥</span><span class="coupon-money"></span></dt>
                    <dd class="fl">
                        <p class="f16">满<span class="used-rule"></span>元使用</p>
                        <p class="f12 use-time"></p>
                        <p class="f32">优惠券</p>
                    </dd>
                </dl>
                <div class="coupon-text">
                    <span class="text is_used"></span>
                </div>
            </div>
        </a>
    </li>
</ul>
{% end %}
{% block bottom %}

{% end %}