{% extends 'base.html' %}
{% block head %}
<div class="header">
    <a href="javascript:;" class="back"></a>
    <span>我的优惠券</span>
</div>
{% end %}
{% block content %}
<div class="wrap-user-coupon">
    <div class="coupon-bg-box">
        <img class="coupon-bg" src="/static/images/coupon_bg.png" alt=""/>
        <div class="wrap-coupon-ubg">
            <div class="coupon-ubg">
                <i class="cou-status cou-status-no"></i>
                <div class="logo-box">
                    <div class="wrap-shoplogo">
                        <img src="/static/images/TDSG.png" alt="店铺logo"/>
                    </div>
                </div>
                <p class="c333 txt-center mt6">森果体验店</p>
                <div class="price-box use-no">
                    <p class="txt-center"><span class="f22">￥</span><span class="f42">10.00</span></p>
                    <div class="use-rule">
                        <p class="rule-line"></p>
                        <p class="rule-text">订单满49.00（含运费）即可使用</p>
                    </div>
                </div>
                <p class="coupon-date f12">有效日期 : 2015.7.10-2015.7.10</p>
                <div class="go-link" data-url="">
                    <i class="gap gap-top"></i>
                    <span>立即使用</span>
                </div>
            </div>
            <div class="coupon-im">
                <p class="f14">使用说明 : </p>
                <p class="point-left">此券限时限量领取，仅发行100张</p>
                <p class="point-left">仅限在店铺名称内使用</p>
                <p class="point-left">每笔订单仅限使用一张优惠券，不可找零</p>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/coupon-user.js')}}"></script>
{% end %}