{% extends 'base.html' %}
{% block head %}
<div class="header">
    <a href="javascript:;" class="back"></a>
    <span>优惠券</span>
</div>
{% end %}
{% block content %}
<div class="wrap-mycoupon">
    <div class="coupon-status">
        <i class="gap gap-bm"></i>
        <div class="wrap-chbox txt-center hide">
            <img class="chbox-img" src="/static/images/coupon_charge.png" alt="充值获取优惠券"/>
            <p class="status-txt mt18">充值即可获得买水果送优惠券机会<br>充多送更多！</p>
        </div>
        <div class="wrap-nobox txt-center ">
            <img class="no-img" src="/static/images/coupon_no.png" alt="充值获取优惠券"/>
            <p class="status-txt mt15">您来晚啦<br>该优惠券已抢光了哦！</p>
        </div>
        <a href="javasccript:;" class="go-next mt10">前往充值</a>
    </div>
</div>
{% end %}
{% block bottom %}
<script src="{{static_url('js/coupon-profile.js')}}"></script>
{% end %}