{% extends 'base.html' %}
{% block head %}
{% end %}

{% block content %}
<div class="container">
    <div class="coupon-box">
        <div class="wrap-coupon-ipt">
            <input type="text" class="coupon-ipt" placeholder="输入代金券/优惠券码"/>
            <a href="javascrpipt:;" class="convert-btn">兑换</a>
        </div>
        <ul class="coupon-list">
            <li>
                <div class="coupon-item coupon-acitve">
                    <dl class="group">
                        <dt class="fl"><span class="rmb">￥</span><span class="coupon-money">20</span></dt>
                        <dd class="fl">
                            <p class="f16">满12元使用</p>
                            <p class="f12">2015.5.27-9.30</p>
                            <p class="f32">优惠券</p>
                        </dd>
                    </dl>
                    <div class="coupon-text">
                        <span class="text">已消费</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="coupon-item">
                    <dl class="group">
                        <dt class="fl"><span class="rmb">￥</span><span class="coupon-money">20</span></dt>
                        <dd class="fl">
                            <p class="f16">满12元使用</p>
                            <p class="f12">2015.5.27-9.30</p>
                            <p class="f32">优惠券</p>
                        </dd>
                    </dl>
                    <div class="coupon-text">
                        <span class="text">未消费</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% end %}
{% block bottom %}
{% end %}