{% extends 'base.html' %}
{% block head %}
{% end %}

{% block content %}
<div class="container">
    <ul class="get-coupon-list">
        <li>
            <div class="bor-left"></div>
            <div class="bor-right"></div>
            <div class="get-top">
                <a href="javascript:;" class="get-coupon">领取</a>
                <a href="javascript:;" class="use-coupon">使用</a>
            </div>
            <p class="get-money">5元优惠券</p>
            <div class="coupon-info">
                <p>使用限制 : 订单满12元使用（含运费）</p>
                <p>有效日期 : 2015.5.27-9.30</p>
                <p>领取日期 :  2015.5.27-9.30 12:00</p>
            </div>
        </li>
    </ul>
</div>
{% end %}
{% block bottom %}
{% end %}