.shop-set-nav{width:100%;}
.shop-set-nav li{float:left;width:100px;height:40px;text-align:center;line-height:42px;border-width:2px 1px 1px;border-color:#f2f2f2;border-style:solid ;}
.shop-set-nav li a{color:#333;font-size:14px;display:block;}
.shop-set-nav .active{background:#f2f2f2;border-width:2px 1px 1px;border-style:solid ;}
.shop-set-nav .active a{font-weight:bold;display:block;}

.set-description{width:100%;background:#f2f2f2;padding:20px;clear:both;}
.set-description p{margin-bottom:0px;}

.set-list{width:100%;margin-top:10px;}
.set-list .set-list-item p{clear:both;margin:0;}
.set-list .set-list-item .addres1-box{padding:1px 3px;margin:0 5px 5px 0;border-radius:1px;}
.set-list .set-list-item .address-list li{float:left;padding:1px 3px;margin:0 5px 5px 0;border-radius:1px;}
.set-list .set-list-item .address-list li:hover{cursor:pointer;}

.add-btn-sty{padding:5px 10px;margin:10px 0;}

.add-address-box{width:100%;float:left;background:#e5e5e5;}
.add-address-box td{background:#fff;}
.add-address-box .address-btn{display:inline-block;width:24px;color:#fff;height:24px;line-height:24px;margin-left:5px;}
.add-address-box .address-input-box{width:70%;height:24px;line-height:24px;}
.add-address-box .add-address2-list{width:100%;}
.add-address-box .add-address2-list li{width:100%;float:left;margin-top:5px;}

.new-notice-title{width:60%;margin-bottom:10px;}
.new-notice-detail{width:60%;height:100px;}

.info-set-list{padding:0 15px;}
.info-set-list .item{border-bottom:1px solid #ccc;padding:15px 5px;}
.info-set-list .w1{width:20%;}
.info-set-list p{max-width:610px;}
.logo-box{width:80px;height:80px;display:inline-block;text-align:center;position:relative;overflow:hidden;}
.logo-box #logoImg{width:100%;margin-bottom:5px;}
.logo-box .title{width:100%;height:20px;background:rgba(0,0,0,0.3);position:absolute;bottom:0;left:0;line-height:20px;}
.logo-box .upload-img{position:absolute;width:80px;height:80px;top:0;left:0;overflow:hidden;}
.logo-box .upload-file{position:absolute;width:80px;height:80px;top:0;left:0;z-index:999;}
.logo-box .upload-btn{position:absolute;width:80px;height:80px;top:0;left:0;z-index:2;text-align:center;font-size:4em;}
.logo-box .uploadifive-button{width:80px !important;height:80px !important;cursor: pointer;}
.logo-box .uploadifive-button input[type=file]{width:80px !important;height:80px !important;cursor: pointer;}
.dropdown-menu li{width:60px;border-bottom:1px solid #ddd;}
.dropdown-menu li:hover{background-color:#3071a9;color:#fff;}
.info-set-list textarea{width:610px;height:100px;}

.address-list .active{background:#00D681;color:#fff;}
.address-list li:hover{background:#00D681;color:#fff;cursor:pointer;}

input{height:30px;width:400px;-ms-line-height:30px;color:#666;}
.receipt-img img{height:40px;}
.receipt-msg{width:80%;overflow:hidden;height:80px;}

.notice_summary{width:60%;margin-bottom:10px;overflow:hidden;}
.notice_detail{width:80%;overflow:hidden;}

.download_img{line-height:100px;}

.address-list>ul>li{line-height: 28px;border-top:1px solid #f0f4f0;}
.address-list>ul>li:last-child{border-bottom: 1px solid #f0f4f0;}
.address-list>ul>li:hover{background-color: #efefef;}
.address-list>ul>li:hover span{color: #666;}
/*店铺认证*/
.hide{display: none!important;}
.shop-link{color: #66b5f2;font-size:14px;display: inline-block;height: 24px;line-height: 24px;}
.mt15{margin-top: 15px;}
.red-txt{color: #ff6666!important;}
.grey-txt{color:#999!important;}
.wrap-top{padding-left: 40px;padding-bottom: 10px;}
.cert-title{margin-top: 20px;}
.cert-title>p{font-size: 12px;line-height: 18px;color: #333;}
.cert-type{margin-top: 30px;}
.cert-type .type{float: left;cursor:pointer;padding: 6px 10px;width:200px;margin-right:30px;border: 2px solid #888;border-radius: 3px;position: relative;}
.cert-type .type>h3{font-size: 12px;line-height: 16px;color: #222;font-weight:bold;}
.cert-type .type>p{font-size: 12px;line-height: 16px;color: #666;}
.cert-type .active{border-color: #78c469;}
.wrap-bm{background-color: #f6f6f6;padding:15px 0 40px 50px;}
.per-tb{width: 100%;table-layout: fixed;}
.per-tb td{padding: 5px 0;}
.per-tb .left{font-weight: bold;text-align: right;font-size: 14px;}
.per-tb input{width:200px;border: none;background-color: #fff;margin-left: 8px;height: 30px;font-size: 12px;line-height: 30px;color: #222;}
.per-tip{font-size: 12px;color: #858585;line-height: 14px;margin-left: 8px;}
.per-btn{height: 28px;line-height: 28px;width: 160px;margin-left: 8px;text-align: center;color: #fff;border-radius: 3px;background-color: #52b43f;display: block;}
.get-code{width: 130px;display: inline-block;margin-left: 15px;}
.mt10{margin-top: 10px!important;}
.per-commit{margin-top: 50px;}
.upload-btn{margin-top: 10px;margin-bottom: 10px;}
.cert-tip{text-align: center;padding: 80px 0;}
.cert-tip>p{display: inline-block;color: #222;font-size:14px;font-weight: 500;padding-left: 60px;background: url(../images/cert_ok.png) no-repeat left center;height: 40px;line-height: 40px;}
.ib{display: inline-block;margin-right: 10px;}
.bg85{background-color: #858585;}
.cert-upload-img{width:260px;height: 150px;border: 2px solid #999;margin-left: 8px;}
.cert-img{position: absolute;right: 8px;top: 10px;width:25px;}
.change-notice{padding-left:40px;}
.bind-btn{color: #0081c2;font-size: 14px;}
.wrap-img{position: relative;}
/*支付方式*/
.edit-box{background-color: #f5f5f5;padding: 15px 20px;margin-top: 30px;}
.edit-box .mode a{width:120px;height:32px; border-radius:30px;line-height:30px;position:relative;font-size:14px;}
.edit-box .mode .circle{position:absolute;display:inline-block;width:28px;height:28px;top:2px;background:#fff;border-radius:50%;}
.edit-box .work-mode{text-indent:28px;}
.edit-box .work-mode .circle{right:2px;}
.edit-box .stop-mode{text-indent:44px;}
.edit-box .stop-mode .circle{left:2px;}
.pay-type-txt{color: #111;font-size: 14px;line-height: 20px;}
.green-txt{color: #53b540;}
.wrap-pay-tpye{border: 1px solid #f2f2f2;border-top:none;padding: 20px;}
.f14{font-size: 14px;}
.f12{font-size: 12px;}
/*loading*/
.img-cover{position: absolute;z-index: 90;top:0;left:0;background-color: #ddd;width:268px;height:150px;}
.img-cover .loader {display: block;position: absolute;width: 30px;height: 30px;vertical-align: middle;left: 50%;top: 50%;-webkit-transform:translate(-50%,-50%);}
.img-cover .loader-quart {border-radius: 50%; border: 4px solid rgba(255, 255, 255, 0.4);}
.loader-quart:after {content: '';position: absolute;top: -4px;right: -4px;bottom: -4px;left: -4px;border-radius: 50%;border: 4px solid transparent; border-top-color: #fff;-webkit-animation: spin .8s linear infinite;animation: spin .8s linear infinite;}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
@keyframes spin {0% { -webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
.mt20{margin-top:20px;}












