.mode{display:inline-block;border-radius:30px;width:120px;height:32px;position:relative;line-height:32px;font-size:14px;top:8px;}
.mode .circle{display:inline-block;width:28px;height:28px;background:#fff;border-radius:50%;position:absolute;top:2px;}
.work-mode{text-indent:14px;}
.work-mode .circle{right:2px;}
.stop-mode{text-indent:34px;}
.stop-mode .circle{left:2px;}

.top-box{line-height:20px;margin-bottom:20px;position:relative;padding:15px;background:#FBFBFB;}
.top-box .action-btn{position:absolute;right:10px;top:18px;}


table{width:100%;border-collapse:collapse;overflow:hidden;}
tr{border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.set-box td{padding:10px;border-top:solid 1px #eee;}
.set-box textarea{width:100%;height:60px;padding:2px;}