.mode{display:inline-block;border-radius:30px;width:120px;height:32px;position:relative;line-height:30px;font-size:14px;top:8px;}
.mode .circle{display:inline-block;width:28px;height:28px;background:#fff;border-radius:50%;position:absolute;top:2px;}
.work-mode{text-indent:28px;}
.work-mode .circle{right:2px;}
.stop-mode{text-indent:44px;}
.stop-mode .circle{left:2px;}

.top-box{line-height:20px;margin-bottom:20px;position:relative;padding:15px;background:#f4f5f9;}
.top-box .action-btn{position:absolute;right:10px;top:18px;}


table{width:100%;border-collapse:collapse;overflow:hidden;}
tr{border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.set-box td{padding:10px;border-top:solid 1px #eee;}
.set-box textarea{width:100%;height:60px;padding:2px;}


/*为优惠券功能添加新的css样式*/
.cmbtn{background:#44b549 !important;margin-left: 20px;font-size: 15px}
.div0{font-size: 18px;margin-top:20px;text-align: center;}
.div1{font-size: 15px;margin-top: 20px;border-color: #0000ff}
.text-red{color: #ff0000;}
.tit1{margin-left: 25px;}
.tit2{font-size: 12px;text-align: center;}
.tit3{font-size: 18px;margin-left: 0px;text-align: center;}
.tit4{font-size: 13px;}
.tit5{font-size: 13px}
.tit6{font-size: 15px;color: #0000ff}
.tit7{font-size: 15px;color: #ff7700;margin-left: 20px}
.back{background-color: #00ff00;margin-left: 20px;font-size: 20px}
.mytitle{font-size: 18px;margin-left: 40px}
.div2{line-height:20px;margin-bottom:20px;margin-top:60px;position:relative;padding:15px;background:#f4f5f9;}
.button{background-color: #52b43f;margin-left: 20px;font-size: 15px}
.configbtn{margin-left: 300px;margin-top: 40px}
.configcancel{margin-left: 30px;margin-top: 40px}
.editconfigbtn{margin-left: 300px;font-size: 20px;margin-top: 40px}
.cmw10{width: 40px;height: 40px}
.cmw5{width: 20px;height: 20px;margin-left: 20px;margin-top: 5px;}
.back_text{font-size: 15px;text-align: center;margin-top: 5px;color: #222233;}
.cmradio{margin-top: 20px}
.cmhref{color: #77ff00}
.all-position{top: 100%;right: 0;left:auto;margin-top: 10px;border-color: #eee;}
.sw-er-tip{cursor: default;}
.er-img{width: 80px;height: 80px;margin-left: 30px;}
.fl{float: left;}
.top-arr{position: absolute;width: 28px;height: 26px;background-color: #fff;top: -26px;right: 30%;}
.top-arr>span{width: 20px;height: 0;border-top: 1px solid #eee;display: inline-block;position: absolute;right: -3px;}
.top-arr .line1{-webkit-transform:rotate(-45deg);top: auto;left: -2px;right: auto;bottom: 7px;}
.top-arr .line2{-webkit-transform:rotate(45deg);top: 18px;}
.text-center{text-align: center;}
.category-list>li{float: left;}
.cate-title{font-size: 14px;color: #999;height: 28px;line-height: 28px;float: left;margin-right: 5px;margin-left: 50px}
.slide-down-select{display:inline-block;background:#fff;color:#000;border:1px solid #ddd;margin-left:0;}
.slide-down-select .slide-btn{height: 24px;line-height: 24px;display: block;border: none;outline: none;width: 100%;}
.slide-down-select em{font-style:normal;display:inline-block;width:110px;font-size:14px;overflow:hidden;padding-left: 10px;text-align: left;}
.dropdown-toggle{padding:0 4px;}
.dropdown-menu{width:100%;}
.dropdown-menu li{width:100%;padding:0;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
.caret{position: absolute;right:5px;top: 10px;}
.dropdown-menu li a{padding-left: 13px;}
.header_back{background-color: #33CC66;width:400px;display: inline-block;}
.cmtop-box{line-height:20px;margin-bottom:5px;position:relative;padding:8px;background:#f4f5f9;text-align: center;}
.table_height1{height: 40px;padding-top: 10px;width: 14%;}
.table_heigth2{height: 30px;padding-top:8px;width: 14%;}
.table_heigth3{height: 30px;padding-top:8px;}