/*全局样式*/
body{font-family:"Microsoft YaHei","arial black",sans-serif;color:#333;font-size:12px;background:#e7e8ec;}
.w1200{width:1200px;height:auto;margin:0 auto;}
.w1165{width:1165px;height:auto;overflow:hidden;margin:0 auto;}
ol,ul,li{list-style:none;}
.container{width:1165px;background:#fff;border:1px solid #d1d1d1;padding:0px !important;margin-bottom:80px;margin-top:85px;}
ul{padding-left:0px;margin-bottom:0px;}
a:hover{text-decoration:none;cursor:pointer;}
a:focus{text-decoration:none;outline:none;}
.form-control{font-size:12px;padding:0;}
.dropdown-toggle{border-radius:2px;background:#fff;color:#666;border:1px solid #ccc;padding:4px 10px;}
.dropdown-menu{min-width:0px;border-radius:1px;margin-left:-1px;padding:0px;}
.dropdown-menu li a{display:block;}
.dropdown-menu li a:hover{}
.row{margin:0;}
textarea:focus{border-color:#29aae1;}
.panel{border-radius:0px !important;box-shadow:none;}
img{border:none;}
.border-none{border:none !important;}
.padding-none{padding:0px !important;}


/*头部样式*/
.backstage-header .line50{line-height:50px;}
.backstage-header .height50{height:50px;}
.backstage-header .height25{height:25px;}
.backstage-header .line25{line-height:25px;}
.backstage-header{padding-top:10px;padding-bottom:10px;background:#fff;box-shadow:1px 1px 5px #818181;width:100%;margin-bottom:10px;position:fixed;top:0;z-index:999;}
.backstage-header .logo-con{overflow:hidden;}
.backstage-header .logo-con .logo{margin-right:20px;margin-left:10px;}
.backstage-header .logo-con span{display:inline-block;float:left;}
.backstage-header .logo-con .title{border-left:1px solid #9a9a9a;height:46px;line-height:46px;font-size:28px;padding:0 8px;margin-top:2px;}
.backstage-header .logo-con .beta{width:54px;height:24px;background:#999;color:#fff;line-height:24px;text-align:center;border:1px solid #ccc;}
.backstage-header .header-nav{}
.backstage-header .header-nav li{float:left;padding:0 15px;}
.backstage-header .header-nav li a{color:#666;display:block;}
.backstage-header .header-nav li i{margin-right:5px;}
.backstage-header .header-nav li span{font-weight:bold;margin-left:5px;font-size:14px;}
.backstage-header .header-nav li .now{color:#ff6563;}
.backstage-header .header-nav li i{display:inline-block;background:url("../images/header-nav-img.gif") no-repeat;}
.backstage-header .header-nav li .notice-img{width:24px;background-position:0px 15px;}
.backstage-header .header-nav li .send-img{width:24px;background-position:-52px 15px;}
.backstage-header .header-nav li .message-img{width:26px;background-position:-98px 15px;}
.backstage-header .header-nav .active .notice-img{background-position:0px -22px;}
.backstage-header .header-nav .active .send-img{background-position:-52px -22px;}
.backstage-header .header-nav .active .message-img{background-position:-98px -22px;}
.backstage-header .header-nav .active span{color:#ff6666;}
.backstage-header .header-nav .send-now{border-left:2px solid #ccc;border-right:2px solid #ccc;}
.backstage-header .header-nav .admin-img{width:50px;margin-right:5px;}
.backstage-header .header-nav .admin-info{width:90px;text-align:center;}
.backstage-header .header-nav .admin-info .area{display:inline-block;width:100%;background:#ff6563;color:#fff;margin-left:0px;}
.backstage-header .header-nav .admin-info .area em{font-style:normal;display:inline-block;width:72px;font-size:12px;overflow:hidden;}
.backstage-header .header-nav .admin-info p{font-size:16px;color:#000;line-height:25px;display:inline-block;width:100%;}
.backstage-header .header-nav .dropdown-toggle{padding:4px;}
.backstage-header .header-nav .dropdown-menu li{width:100%;padding:0px;}
.backstage-header .header-nav .dropdown-menu li a:hover{color:#ff6563;}
.backstage-header .header-nav .caret{margin-top:6px;}
/*底部样式*/
.backstage-footer{position:fixed;bottom:0;height:60px;z-index:999;background:#999;width:100%;margin-top:20px;}

/*左侧导航栏样式*/
.container-left{width:210px;overflow:hidden;height:auto;}
.container-left .nav{margin-top:-1px;}
.container-left .nav li{border-top:1px solid #b2b2b2;}
.container-left .nav li span{font-size:16px;color:#666;padding-top:20px;display:block;text-indent:40px;}
.container-left .nav li span i{display:inline-block;width:18px;height:17px;background:url("../images/left-nav-icon.gif") no-repeat;margin-right:10px;}
.container-left .nav li .count i{background-position:0px 0px}
.container-left .nav li .server i{background-position:-43px 1px}
.container-left .nav li .manage i{background-position:-84px 1px}
.container-left .nav li .set i{background-position:-127px 1px}
.container-left .nav li a{color:#333;text-indent:70px;font-size:14px;padding:10px 0;}
.container-left .nav li a:focus{background:#44b549;color:#fff;}
.container-left .nav .active{background:#44b549;color:#fff;}

/*右侧公共样式*/
.container-right{width:953px;padding:20px;border-left:1px solid #999;min-height:700px;}
.container-right .right-title{font-size:20px;text-indent:20px;display:block;margin-bottom:20px;}

/*部分按钮样式*/
.btn-style{display:inline-block;width:74px;height:24px;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;line-height:24px;text-align:center;}
.edit-btn{display:inline-block;background:url("../images/edit-icon.gif") no-repeat;width:25px;height:25px;}
.edit-btn2{background:url("../images/container-icon.gif") no-repeat 10px -41px;color:#666;display:inline-block;width:74px;height:28px;line-height:28px;text-indent:30px;border:1px solid #ccc;border-radius:2px;}
.edit-btn3{display:inline-block;background:url("../images/container-icon.gif") no-repeat 10px -40px;height:26px;line-height:26px;padding:0 15px;}
.blak-set-btn{float:left;display:inline-block;height:20px;text-align:center;line-height:20px;color:#666;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;margin-left:15px;padding:0 3px;}
.group-send-btn{display:inline-block;width:84px;height:26px;border:1px solid #b2b2b2;border-radius:2px;line-height:26px;text-indent:30px;background:url("../images/container-icon.gif") no-repeat 3px -292px;color:#666;margin-right:20px;margin-top:2px;}
.send-message-btn{display:inline-block;width:84px;height:28px;border:1px solid #b2b2b2;border-radius:2px;line-height:28px;text-indent:30px;background:url("../images/container-icon.gif") no-repeat 8px -238px;color:#666;}
.add-btn-sty{display:inline-block;padding:0 10px;background:#44b549;color:#fff;border-radius:1px;}
.add-btn-sty:hover{background:#70d674;color:#fff;}
.add-btn2{display:inline-block;border:1px solid #ccc;background:#fff;color:#44B549;height:30px;line-height:30px;padding:0 8px;}
.delete-btn{display:inline-block;border:1px solid #ccc;background:#fff;color:#CB2F36;height:30px;line-height:30px;padding:0 8px;}
.delete-btn2{display:inline-block;background:url("../images/container-icon.gif") no-repeat 0 3px;height:26px;line-height:26px;padding:0 10px;}
.btn-style2{display:inline-block;width:100% !important;height:24px;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;line-height:24px;text-align:center;margin-top:5px;}
.btn-style3{display:inline-block;width:100%;height:24px;border:1px solid #ccc;border-radius:1px;line-height:24px;text-align:center;margin-top:5px;}



/*搜索框样式*/
.search-input{}
.search-input input{float:left;}
.search-input .search-con{width:266px;height:28px;border:1px solid #d9d9d9;color:#999;line-height:28px;text-indent:30px;background:url("../images/search-icon.gif") no-repeat 8px center;}
.search-input .search-btn{width:70px;height:28px;border:1px solid #d9d9d9;border-left:none;border-top-right-radius:2px;border-bottom-right-radius:2px;background:#f2f2f2;color:#666;}

/*模式开启、停用、设置样式*/
.mode-set{margin-top:20px;}
.mode-set .btn-style{display:inline-block;width:70px;height:30px;border-radius:2px;color:#fff;text-align:center;line-height:30px;float:left;margin-right:20px;}
.mode-set .set-btn{background:#999;}
.mode-set .stop-btn{background:#ff6666;}

.mode-content{padding-left:105px;margin-top:5px;}
.unlock-mode{background:url("../images/un-lock.gif") no-repeat 40px center;}
.lock-mode{background:url("../images/lock.gif") no-repeat 40px center;}
.mode-content .lock-unlock{color:#000;margin:5px 0;}
.mode-content .mode-introduce{color:#666;margin:0;}
.mode-content .set-introduce{color:#666;margin:0;}

.work-mode{background:#44b549;display:inline-block;padding:1px 3px;border-radius:1px;color:#fff;}
.work-mode:hover{color:#fff;}
.stop-mode{background:#999;display:inline-block;padding:1px 3px;border-radius:1px;color:#fff;}
.stop-mode:hover{color:#fff;}

/*分页样式*/
.list-pagination{width:100%;float:left;margin-top:20px;margin-bottom:10px;}
.list-pagination ul{float:right;margin-right:20px;}
.list-pagination li{float:left;margin-left:5px;line-height:28px;}
.list-pagination .page-btn{display:inline-block;width:26px;height:26px;border:1px solid #ccc;border-radius:1px;background:url("../images/container-icon.gif") no-repeat;}
.list-pagination .pre-page{background-position:-34px -207px;}
.list-pagination .pre-page:hover{background-color:#f2f2f2;}
.list-pagination .pre-page:foucus{background-color:#f2f2f2;}
.list-pagination .next-page{background-position:-58px -214px;}
.list-pagination .next-page:hover{background-color:#f2f2f2;}
.list-pagination .next-page:foucus{background-color:#f2f2f2;}
.list-pagination .input-page{;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;color:#999;text-align:center;}
.list-pagination .jump-to{display:inline-block;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;text-align:center;color:#666;line-height:26px;}


/*弹出框公共样式*/
.modal-header{background:#f2f2f2;font-size:14px;}
.modal-sure-btn{display:inline-block;width:100px;height:34px;background:#44b549;color:#fff;border:1px solid #44b549;border-radius:1px;text-align:center;line-height:34px;}
.modal-concel-btn{display:inline-block;width:100px;height:34px;background:#fff;color:#666;border:1px solid #ccc;border-radius:1px;text-align:center;line-height:34px;margin-left:10px;}
.modal-footer .btn-box{width:300px;margin:0 auto;}

.text-green{color:#44b549 !important;}
.text-white{color:#fff;}
.text-grey{color:#ccc;}
.text-grey2{color:#666;}
.text-grey3{color:#333;}
.text-grey9{color:#999;}
.text-pink{color:#ff6666 !important;}
.text-red{color:#E01445;}
.text-orange{color:#E07D14;}
.text-black{color:#000;}
.text-center{text-align:center;}

.bg-green{background:#44b549 !important;;}
.bg-pink{background:#ff6563 !important;}
.bg-red{background:#E01445;}
.bg-orange{background:#E07D14;}
.bg-grey{background:#ccc !important;}
.bg-grey2{background:#f2f2f2;}
.bg-grey3{background:#f3f3f3;}
.bg-grey9{background:#999;}
.bg-white{background-color:#fff;}

.set-inl-blo{display:inline-block;}

.no-padding{padding:0px;}
.no-padding-bottom{padding-bottom:0px;}
.no-margin-left{margin-left:0px !important;}

.set-right5{margin-right:5px;}
.set-left5{margin-left:5px;}
.set-right10{margin-right:10px;}
.set-left10{margin-left:10px;}
.set-right20{margin-right:20px;}
.set-left20{margin-left:20px;}

.set-bottom10{margin-bottom:10px;}

.set-width{width:100%;}
.set-width-float{width:100%;float:left;}
input{color:#333;text-indent:5px;}

.font14{font-size:14px;}

