.login-box{width:400px; padding-left:25px;padding-bottom:50px;border:1px solid #ddd;text-align:center;}
.login-box .phone-login-box{margin-top:10px;border:2px solid #ddd;padding:10px;}
.login-box .info{margin-bottom:10px;}
.login-box .w1{width:80px;}




