body{-webkit-user-select: none; }
.orders-mode{width:100%;display:block;height:40px;}
.orders-mode ul{width:420px;border-left:2px solid #f2f2f2;margin-bottom:0px;font-size:14px;}
.orders-mode ul li{height:40px;line-height:40px;border:1px solid #f2f2f2;border-left:none;position:relative;}
.orders-mode ul li a{display:block;}
.orders-mode ul li .number{display:inline-block;width:20px;height:20px;border-radius:50%;line-height:20px;position:absolute;top:5px;right:3px;font-size:10px;}
.orders-mode ul .active{background:#f2f2f2;border-bottom:1px solid #f2f2f2;}
.orders-mode ul .active a{font-weight:bold;}
.orders-mode ul .active .number{color:#fff !important;background:#ff6565;}


.orders-mode-lock{width:100%;height:auto;}
.orders-list-title .orders-recycle{line-height:22px;background:url("../images/container-icon.gif") no-repeat;padding-left:20px;margin-right:20px;margin-top:8px;}
.orders-list-title .orders-recycle:hover{text-decoration:none;}

.order-list-action{margin:10px 0;}
.order-list-action .select-box{border:1px solid #ccc;}
.order-list-action .select-all{margin-top:2px;margin-left:5px;}
.order-list-item{margin-bottom:5px;position:relative;padding-top:10px;border:1px solid #fafafa;}
.order-list-item:hover{background:#f2f2f2;cursor:pointer;border-color:#f2f2f2;}
.order-list-item:hover .custom-order{background:#fff;}

.order-list-item .list-title{height:28px;line-height:28px;padding:0 24px;}
.order-list-item .list-title .select{margin-top:7px;margin-right:5px;}
.order-list-item .list-title label{font-weight:normal;}
.order-list-item .list-title .send{width:300px;}
.order-list-item .list-title .send .send-time{margin-right:5px;}
.order-list-item .list-title .code{width:200px;}
.order-list-item .list-title .money{width:200px;}
.order-list-item .list-title .print-order{padding-left:25px;}
.order-list-item .list-title .delete-order{margin-right:5px;background:url("../images/container-icon.gif") no-repeat 0 5px;padding-left:20px;}
.order-list-item .list-title .printed{background-position:-60px -312px;}

.order-list-item .order-content{padding:0 24px;}
.order-list-item .order-warning{background:url("../images/warning-img.jpg") no-repeat 8px 20px;}
.order-list-item .order-content .order-info{height:auto;overflow:hidden;}
.order-list-item .order-content .order-info .input-group{margin-right:25px;}
.order-list-item .order-content .order-info label{font-weight:bold;}
.order-list-item .order-content .order-info input{border:1px solid #ccc;height:20px;text-indent:5px;}
.order-list-item .order-content .order-info span{float:left;}
.order-list-item .order-content .order-info .address{width:458px;}
.order-list-item .order-content .order-info .name{width:100px;}
.order-list-item .order-content .order-info .phone{width:90px;}
.order-list-item .order-content .fit-active{color:#42b649;}
.order-list-item .order-content .fit-unactive{color:#ff6666;}

.order-list-item .order-message{margin-bottom:5px;}
.order-list-item .order-message .message-img{width:17px;height:15px;background:url("../images/container-icon.gif") no-repeat 0 -199px;}

.order-list-item .order-status{display:inline-block;min-height:50px;}
.order-list-item .order-status .status-bar{width:80%;max-width:650px;height:6px;position:relative;margin-top:10px;border-radius:5px;}
.order-list-item .order-status .status-bar .status-inner{height:6px;position:absolute;top:0;border-radius:5px;}
.order-list-item .order-status .status-circle{width:12px;height:12px;border-radius:50%;position:absolute;top:-3px;margin-left:-5px;}
.order-list-item .order-status .status-info{position:absolute;top:12px;width:150px;margin-left:-5px;}
.order-list-item .order-status-dealing .status-bar .status-inner{background:#45b549;}
.order-list-item .order-status-dealing .status-bar .status-circle{background-position:0 0;}
.order-list-item .order-status-dealing .status-bar .status-info{margin-left:-25px;}
.order-list-item .order-status-warning .status-bar .status-inner{background:#ff6666;}
.order-list-item .order-status-warning .status-bar .status-circle{background-position:0 -30px;}
.order-list-item .order-status-warning .status-bar .status-info{margin-left:-25px;}
.order-list-item .order-status .position{margin-top:-18px;margin-right:250px;}

.order-list-item .custom-order{padding:10px 24px;}
.order-list-item .custom-order .custom-order-title{display:block;clear:both;}
.order-list-item .custom-order .custom-order-title span{display:inline-block;float:left;}


.custom-order .custom-order-title .pay-btn{margin:0;margin-top:10px;}
.custom-order .custom-order-title span i{font-style:normal;}
.custom-order .custom-order-list{display:block;position:relative;}
.custom-order .custom-order-list .goods-list{height:auto;margin-bottom:10px;width:100%;float:left;}
.custom-order .custom-order-list .goods-list li{margin-bottom:5px;width:400px;}
.custom-order .custom-order-list .goods-total{position:absolute;bottom:0;right:360px;}
.custom-order .custom-order-list .goods-total .goods-total-charge{font-size:16px;}
.custom-order .custom-order-list .position{display:inline-block;position:absolute;bottom:10px;right:320px;}
.custom-order .order-notice{padding-bottom:10px;}
.custom-order .order-notice input{width:530px;height:24px;border:1px solid #ccc;line-height:24px;text-indent:25px;color:#666;background:url("../images/container-icon.gif") no-repeat 4px -340px;}
.custom-order .address-adapt .adapt-status{width:100%;float:left;padding:10px 0;}
.custom-order .address-adapt .adapt-status li{float:left;width:74px;height:24px;text-align:center;line-height:24px;border-radius:1px;margin-right:10px;}
.custom-order .address-adapt .adapt-status  .active{background:#41b546;color:#fff;}
.custom-order .address-adapt .collect-person{border:1px solid #999;width:300px;height:28px;line-height:28px;background:#fff;}
.custom-order .address-adapt .collect-person span{margin-right:5px;padding:0 5px;}
.custom-order .address-adapt .collect-person select{border:none;}
.custom-order .address-adapt .send-person{border:1px solid #999;width:380px;height:28px;line-height:28px;margin-bottom:10px;background:#fff;}
.custom-order .address-adapt .send-person span{margin-right:5px;padding:0 5px;}
.custom-order .address-adapt .send-person select{border:none;}
.custom-order .address-adapt .send-person-area-select{border:1px solid #999;width:510px;}
.custom-order .address-adapt .send-person-area{background:#fff;}
.custom-order .address-adapt .send-person-area li{padding:5px 0;}
.custom-order .address-adapt .send-person-area li:hover{cursor:pointer;}
.custom-order .address-adapt .send-person-area li span{margin-right:5px;padding:0 5px;}
.custom-order .address-adapt .send-person-area .active{background:#6599ff;color:#fff;}
.custom-order .address-adapt .select-btn{background:#f2f2f2;padding:15px 0;}
.custom-order .address-adapt .select-btn input{width:70px;height:30px;text-align:center;line-height:30px;border-radius:1px;}
.custom-order .address-adapt .select-btn .sure-btn{background:#44b549;color:#fff;border:1px solid #44b549;margin-left:32%;font-size:12px;}
.custom-order .address-adapt .select-btn .concel-btn{background:#fff;color:#666;border:1px solid #ccc;margin-left:20px;}
.custom-order .address-adapt p{clear:both;margin:5px 0;}

.collapse-btn{position:absolute;bottom:10px;right:20px;}
.collapse-btn a img{width:25px;}

.order-list-item .input-group-btn{display:inline-block;}
.order-list-item .dropdown-toggle{border:1px solid #fafafa;font-size:12px;padding:0;}
.order-list-item .input-group-btn .caret{padding:0 !important;}
.order-list-item .dropdown-menu{font-size:12px;margin-top:-1px;}
.order-list-item .dropdown-menu li a{padding:5px 20px;}

.sendNowBox .modal-body{padding:40px 90px;}
.sendNowBox .modal-body .money{border:1px solid #ccc;}
.sendNowBox .modal-body .send-area .input-group-btn{font-size:12px;float:left;}
.sendNowBox .modal-body .send-area .area1{width:80px;margin-right:10px;}
.sendNowBox .modal-body .send-area .area1 .dropdown-toggle{width:80px;}
.sendNowBox .modal-body .send-area .area2{width:200px;}
.sendNowBox .modal-body .send-time .input-group-btn{width:60px;font-size:12px;float:left;}
.sendNowBox .modal-body .send-time .dropdown-toggle{width:60px;}
.sendNowBox .modal-body .tit{line-height:24px;font-size:14px;}

.sendIntimeBox .modal-body{padding:10px 0;}
.sendIntimeBox .edit{background:url("../images/container-icon.gif") no-repeat 0 -40px;width:16px;height:24px;margin-left:20px;margin-right:20px;}
.sendIntimeBox .modal-body .delete{background:url("../images/container-icon.gif") no-repeat 0 5px;width:17px;height:28px;}
.sendIntimeBox .tit{line-height:24px;font-size:14px}
.sendIntimeBox .to{margin:0 5px;line-height:28px;}
.time-list .time-list-item{padding:5px 0;border-bottom:1px solid #ccc;}
.time-list .time-list-item .action-mode{margin-right:15px;margin-top:5px;}
.time-list .time-list-item .show_item{line-height:28px;margin:0 10px;}

.add-period{padding:8px 0 8px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;clear:both;margin-bottom:10px;}
.add-period .tit{margin-left:0;}
.sure-btn{font-size:12px;width:35px;height:28px;background:#44b549;color:#fff;text-align:center;border:none;margin-right:10px;line-height:28px;}
.concel-btn{display:inline-block;font-size:12px;width:35px;height:28px;color:#fff;background:#999;border:none;line-height:28px;}
.period-name{border:1px solid #ccc;padding:3px 0;margin:0 10px;width:50px;height:28px;ms-line-height:28px;}

.select-btn .concel-btn{font-size:12px;}
.add-period .period-name{width:80px;}

.input-group-btn{width:50px;font-size:12px;float:left;}
.status-change .dropdown-toggle{width:100px;height:30px;}
.status-change .dropdown-menu li{width:98px;text-align:center;height:30px;line-height:30px;}
.status-change .dropdown-menu li:hover{background:#6ba4ef;}
.status-change .caret{margin-top:6px;margin-right:10px;border-width:5px;}

.send_change .dropdown-toggle{width:80%;max-width:650px;padding:0 10px;height:30px;}
.send_change .dropdown-menu li{width:100%;padding:0 10px;height:30px;line-height:30px;}
.send_change .dropdown-menu li:hover{background:#6ba4ef;}
.send_change .dropdown-toggle{text-align:left;}
.send_change .caret{margin-top:6px;margin-right:10px;border-width:5px;}

.choose-list{width:50px;height:100px;overflow-y:scroll;margin-top:-1px;}
.choose-list li{text-align:center;}
.choose-list li:hover{background:#f2f2f2;}

.sendIntimeBox .modal-body .notice{margin-top:5px;}
.w450{width:450px;clear:both;}


#order_ser_val{width:100%;height:30px;-ms-line-height:30px;border:1px solid #ddd;}

.t1{width:20%;}
.w50{width:50px;}
.w120{width:120px;}
.w200{width:200px;}
.w100{width:100px;}
.height30{height:30px;line-height:30px;}

.sender_img{width:14px;height:14px;border-radius:50%;}
.send_person_list{width:80%;max-width:650px;}
.new{display:inline-block;width:20px;height:20px;border:1px solid #7AD218;color:#7AD218;line-height:20px;text-align:center;margin-left:-25px;margin-right:5px;background-color:#fff;}

.add-new-time{margin:10px 0;clear:both;display:inline-block;}
.sendIntimeBox .modal-concel-btn{display:block;margin:0 auto;}
