.set-description{width:100%;background:#f4f5f9;padding:20px;clear:both;}
.set-description p{margin-bottom:0;}

.set-list{width:100%;margin-top:10px;}
.set-list .set-list-item p{clear:both;margin:0;}
.set-list .set-list-item .addres1-box{padding:1px 3px;margin:0 5px 5px 0;border-radius:1px;}
.set-list .set-list-item .address-list li{float:left;padding:1px 3px;margin:0 5px 5px 0;border-radius:1px;}
.set-list .set-list-item .address-list li:hover{cursor:pointer;}

.add-btn-sty{padding:5px 10px;margin:10px 0;}

.add-address-box{width:100%;float:left;background:#e5e5e5;}
.add-address-box td{background:#fff;}
.add-address-box .address-btn{display:inline-block;width:24px;color:#fff;height:24px;line-height:24px;margin-left:5px;}
.add-address-box .address-input-box{width:70%;height:24px;line-height:24px;}
.add-address-box .add-address2-list{width:100%;}
.add-address-box .add-address2-list li{width:100%;float:left;margin-top:5px;}

.new-notice-title{width:470px;margin-bottom:20px;font-size:14px;}
.new-notice-detail{width:470px;height:100px;margin-bottom:20px;font-size:14px;}

.info-set-list{border:1px solid #eee;border-bottom:none;}
.info-set-list .item{border-bottom:1px solid #eee;padding:15px;}
.info-set-list .w1{width:20%; color:#999;}
.info-set-list p{max-width:610px;}
.logo-box{width:80px;height:80px;display:inline-block;text-align:center;position:relative;overflow:hidden;}
.logo-box #logoImg{width:100%;margin-bottom:5px;}
.logo-box .title{width:100%;height:20px;background:rgba(0,0,0,0.3);position:absolute;bottom:0;left:0;line-height:20px;}
.logo-box .upload-img{position:absolute;width:80px;height:80px;top:0;left:0;overflow:hidden;}
.logo-box .upload-file{position:absolute;width:80px;height:80px;top:0;left:0;z-index:999;}
.logo-box .upload-btn{position:absolute;width:80px;height:80px;top:0;left:0;z-index:2;text-align:center;font-size:4em;}
.logo-box .uploadifive-button{width:80px !important;height:80px !important;cursor: pointer;}
.logo-box .uploadifive-button input[type=file]{width:80px !important;height:80px !important;cursor: pointer;}
.info-set-list textarea{width:610px;height:100px;}

.address-list .active{background:#00D681;color:#fff;}
.address-list li:hover{background:#00D681;color:#fff;cursor:pointer;}

.input-box{height:30px;width:320px;-ms-line-height:30px;color:#666;}
.receipt-img img{height:40px;}
.receipt-msg{width:400px;overflow:hidden;}

.notice_summary{width:100%;height:28px;overflow:hidden;}
.notice_detail{width:100%;height:120px;overflow:hidden;}

.download_img{line-height:100px;}

.address-list>ul>li{line-height: 28px;border-top:1px solid #f0f4f0;}
.address-list>ul>li:last-child{border-bottom: 1px solid #f0f4f0;}
.address-list>ul>li:hover{background-color: #efefef;}
.address-list>ul>li:hover span{color: #666;}
.wrap-bmap{width: 732px;height: 500px;border: 1px solid #e7e7eb;}
.wrap-map{width: 700px;height: 500px;border: 1px solid #e7e7eb;position: relative;overflow: hidden;z-index:1;}
.search-lbs{width: 80px;height: 30px;text-align: center;color: #666;margin-left: 10px;text-indent: 0;}
.area-tip-box{width: 360px;height: 50px;line-height: 50px;text-align: center;font-size: 14px;background-color: rgba(255,101,99,.8);border-radius: 6px;position: fixed;top: 100px;left: 50%;margin-left: -180px;z-index: 999;color: #fff;}
.wrap-bmap-box{position: relative;padding-top: 15px;}
.hand-search{position: absolute;cursor:pointer;width: 100px;height: 28px;line-height: 26px;display: block;text-align: center;color: #666;right: 20px;top: 30px;z-index:666;border: 1px solid #ccc;border-radius: 2px;background-color: #f0f4f0;}
.address-sure{width: 60px;height: 30px;line-height: 30px;text-align: center;font-size: 14px;border-radius: 2px;color:#44b549;background-color: #f0f4f0;display: inline-block;border: 1px solid #e7e7eb;}
.pop-bmap{position: fixed;background-color: rgba(0,0,0,0.4);width: 100%;height: 100%;z-index:9999;top: 0;left: 0;}
.pop-content{background-color: #fff;position:absolute;width: 820px;top: 50%;left: 50%;-webkit-transform:translate(-50%,-50%);border-radius: 2px;}
.pop-content .title{font-size: 16px;text-align: center;color: #333;border-top: none;padding: 10px 0;}
.pop-content .name{color: #999;font-size: 14px;line-height: 24px;}
.pop-content .name span{float: left;display: block;width: 100px;}
.pop-content .shop-area-text{height: 24px;border: 1px solid #ddd;width: 400px;color: #333;font-size: 14px;}
.pop-content  .pop-content-box{padding:0 40px;max-height:500px;overflow-y:scroll;overflow-x:hidden;}
.pop-content  .pop-content-box>div{border-top: 1px solid #eee;padding: 10px;}
.map-sharp-list{float: left;}
.map-sharp-list>li{float: left;height:26px;font-size: 14px;margin-right:20px;color: #999;border: 1px solid #999;border-radius: 4px;width: 180px;line-height: 26px;cursor: pointer;text-align: center;}
.map-sharp-list .active{color: #33CC66;border-color: #33CC66;}
.pop-btns{text-align: center;background-color: #f5f5f5;padding: 10px 0;}
.pop-btns>a{display: inline-block;width: 80px;margin: 0 10px;border: 1px solid #eee;border-radius: 2px;text-align: center;height: 28px;line-height: 28px;}
.pop-btns .ok-btn{background-color: #33CC66;color: #fff;display: inline-block !important;}
.pop-btns .cancel-btn{color: #999;background: #fff;}
/*店铺认证*/
.invisible{visibility: hidden;}
.hide{display: none!important;}
.shop-link{font-size:14px;display: inline-block;height: 24px;line-height: 24px;}
.mt15{margin-top: 15px;}
.red-txt{color: #ff6666!important;}
.grey-txt{color:#999!important;}
.wrap-top{padding-left: 10px;padding-bottom: 10px;}
.cert-title{margin-top: 20px;}
.cert-title>p{font-size: 12px;line-height: 18px;color: #333;}
.cert-type{margin-top: 30px;}
.cert-type .type{float: left;cursor:pointer;padding: 6px 10px;width:200px;margin-right:30px;border: 2px solid #888;border-radius: 3px;position: relative;}
.cert-type .type>h3{font-size: 12px;line-height: 16px;color: #222;font-weight:bold;}
.cert-type .type>p{font-size: 12px;line-height: 16px;color: #666;}
.cert-type .active{border-color: #78c469;}
.wrap-bm{background-color: #f6f6f6;padding:15px 0 40px 50px;}
.per-tb{width: 100%;table-layout: fixed;}
.per-tb td{padding: 5px 0;}
.per-tb .left{font-weight: bold;text-align: right;font-size: 14px;}
.per-tb input{width:200px;border: none;background-color: #fff;margin-left: 8px;height: 30px;font-size: 12px;line-height: 30px;color: #222;}
.per-tip{font-size: 12px;color: #858585;line-height: 14px;margin-left: 8px;}
.per-btn{height: 28px;line-height: 28px;width: 160px;margin-left: 8px;text-align: center;color: #fff;border-radius: 3px;background-color: #52b43f;display: block;}
.get-code{width: 130px;display: inline-block;margin-left: 15px;}
.mt10{margin-top: 10px!important;}
.per-commit{margin-top: 50px;}
.upload-btn{margin-top: 10px;margin-bottom: 10px;}
.cert-tip{text-align: center;padding: 80px 0;}
.cert-tip>p{display: inline-block;color: #222;font-size:14px;font-weight: 500;padding-left: 60px;background: url(../images/cert_ok.png) no-repeat left center;height: 40px;line-height: 40px;}
.ib{display: inline-block;margin-right: 10px;}
.bg85{background-color: #858585;}
.cert-upload-img{width:260px;height: 150px;border: 2px solid #999;margin-left: 8px;}
.cert-img{position: absolute;right: 8px;top: 10px;width:25px;}
.change-notice{padding-left:10px;}
.bind-btn{color: #0081c2;font-size: 14px;}
.wrap-img{position: relative;}
/*支付方式*/
.edit-box{background-color: #f4f5f9;padding: 15px 20px;margin-top: 30px;}
.edit-box .mode a{width:120px;height:32px; border-radius:30px;line-height:30px;position:relative;font-size:14px;}
.edit-box .mode .circle{position:absolute;display:inline-block;width:28px;height:28px;top:2px;background:#fff;border-radius:50%;}
.edit-box .work-mode{text-indent:28px;}
.edit-box .work-mode .circle{right:2px;}
.edit-box .stop-mode{text-indent:44px;}
.edit-box .stop-mode .circle{left:2px;}
.pay-type-txt{color: #111;font-size: 14px;line-height: 20px;}
.green-txt{color: #53b540;}
.wrap-pay-type{border: 1px solid #f4f5f9;padding: 20px;}
.f14{font-size: 14px;}
.f12{font-size: 12px;}
/*loading*/
.img-cover{position: absolute;z-index: 90;top:0;left:0;background-color: #ddd;width:268px;height:150px;}
.img-cover .loader {display: block;position: absolute;width: 30px;height: 30px;vertical-align: middle;left: 50%;top: 50%;-webkit-transform:translate(-50%,-50%);}
.img-cover .loader-quart {border-radius: 50%; border: 4px solid rgba(255, 255, 255, 0.4);}
.loader-quart:after {content: '';position: absolute;top: -4px;right: -4px;bottom: -4px;left: -4px;border-radius: 50%;border: 4px solid transparent; border-top-color: #fff;-webkit-animation: spin .8s linear infinite;animation: spin .8s linear infinite;}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
@keyframes spin {0% { -webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
.mt20{margin-top:20px;}

.shop_status-list{width:90px;top:28px;left:0;cursor:pointer;}
.shop_status-list li{width:88px;height:30px;line-height:30px;}
.shop_status-list li:hover{color:#fff;background-color:#6ba4ef;}

.offline_entity-list{width:61px;top:28px;left:0;cursor:pointer;}
.offline_entity-list li{width:59px;height:30px;line-height:30px;}
.offline_entity-list li:hover{color:#fff;background-color:#6ba4ef;}

.admin-set-list{}
.admin-set-list{border:1px solid #eee;border-bottom:none;}
.admin-set-list .item{border-bottom:1px solid #eee;padding:10px;}
.admin-set-list .w1{width:10%;}
.admin-set-list p{max-width:610px;}
.admin-set-list .img{width:40px;height:40px;border-radius:50%;}
.admin-set-list .w2{line-height:40px;}
.admin-set-list .name{display:inline-block;width:150px;}
.search-user{height:33px;width:80%;border:1px solid #e7e7eb;margin-right:10px;}
.set-box .modal-body{min-height:120px;}
.set-box .user-list{margin-top:10px;}
.set-box .user-list .img{width:40px;height:40px;border-radius:50%;}
.set-box .user-list .name{display:inline-block;width:150px;margin-top:10px;margin-left:10px;}
.set-box .user-list .add_admin{margin-top:10px;margin-left:10px;}
.user-search{border-radius:0;}

.admin-set-list .func-mode{top:-1px;}
.add-btn.switch{background-image: url('/static/images/admin_switch_white.png');background-repeat: no-repeat;background-size: 14px;background-position: 18px;width: 200px;}

.tpl-list{border:1px solid #eee;clear:both;}
.tpl-list>li{border-bottom:1px solid #eee;clear:both;padding:15px;height:110px;}
.tpl-list>li:last-child{border-bottom:none;}
.tpl-list>li>img{width:100%;}
.tpl-list .view-box{width:120px;height:80px;background:#eee;overflow:hidden;}
.tpl-list .view-box img{width:100%;}
.tpl-list .choose-btn{display:inline-block;width:20px;height:20px;border:1px solid #ddd;background:#fff;border-radius:50%;}
.tpl-list .choose-btn.active{background:#44b549}

.type-list{border:1px solid #eee;clear:both;}
.type-list>li{border-bottom:1px solid #eee;clear:both;padding:15px;height:50px;}
.type-list>li:last-child{border-bottom:none;}
.type-list>li>img{width:100%;}
.type-list .circle-btn{display:inline-block;width:20px;height:20px;border:1px solid #ddd;background:#fff;border-radius:50%;}
.type-list .circle-btn.active{background:#44b549}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}

.notice_img_box {position:relative;max-height:120px;overflow:hidden;}
.notice_img_box .title{display:inline-block;width:100%;background:rgba(0,0,0,0.5);position:absolute;bottom:0;left:0;height:30px;line-height:30px;}
.notice_img{width:100%;border:1px solid #eee;}
.img_add_box .button{display:inline-block;width:150px;height:30px;line-height:30px;border-radius:2px;cursor:pointer;}
.img_add_box{width:220px;height:140px;overflow:hidden;}
.img_add_box img{width:100%;}

.anchorBL{display: none;}
.wx-edit-box li{padding:10px;}
.wx-edit-box li input{border:1px solid #ddd;width:450px;overflow:hidden;text-overflow:ellipsis;height:30px;text-indent:10px;}

.wireless-receipt{background:#fff !important;}
.type-choose li{float:left;line-height:18px;margin-right:20px;}
.type-choose .active .circle{background:#44b549;}
.type-choose .circle{display:inline-block;width:18px;height:18px;border-radius:50%;border:1px solid #ddd;margin-right:5px;float:left;}
.iti{width:600px;float:left;margin-bottom:10px;}
.iti-last{width:600px;float:left;}