/*----------------------------------admin-goods----------------------------------------*/
.goods-classify{width:100%;clear:both;display:block;height:40px;border-bottom:1px solid #cfcfcf;}
.goods-classify ul{width:420px;border-left:2px solid #f2f2f2;margin-bottom:0px;font-size:14px;}
.goods-classify ul li{float:left;width:100px;height:40px;line-height:40px;text-align:center;border:1px solid #f2f2f2;border-left:none;position:relative;border-bottom:1px solid #cfcfcf;}
.goods-classify ul li a{color:#333;display:block;}
.goods-classify ul .active{background:#f2f2f2;border-right:1px solid #cfcfcf;border-bottom:1px solid #f2f2f2;}
.goods-classify ul .active a{font-weight:bold;}
.goods-classify ul .active .number{color:#fff;background:#ff6565;}

.goods-mode-lock{width:100%;clear:both;background:#f2f2f2;height:80px;}

.admin-goods-list{width:100%;float:left;border:1px solid #ccc;}
.admin-goods-list .goods-list-con{width:700px;font-size:14px;border-right:1px solid #ccc;margin-top:-1px;}
.admin-goods-list .goods-list-con .goods-list-item{width:100%;float:left;padding:20px;margin-bottom:20px;background:#f3f3f3;position:relative;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.goods-list-item .goods-info{padding:5px;background:#fff;margin-left:10px;width:90%;border:1px solid #ccc;}
.goods-list-item .goods-info .goods-img{width:100px;height:100px;overflow:hidden;}
.goods-list-item .goods-info .goods-img img{width:100%;}
.goods-list-item .goods-info .info-box{width:80%;}
.goods-list-item .goods-info .info-box .charge-list{width:100%;}
.goods-list-item .goods-info .info-box .charge-list li{}

.shelve-list{width:210px;overflow:hidden;}
.shelve-list .title{display:inline-block;width:100%;height:34px;background:#f2f2f2;font-size:14px;line-height:34px;padding-left:15px;}
.shelve-list .shelve{width:100%;float:left;margin-bottom:10px;}
.shelve-list .shelve a{display:inline-block;float:left;background:#44b549;color:#fff;width:50px;height:24px;line-height:24px;text-align:center;border-radius:1px;margin-left:15px;margin-top:10px;}
.shelve-list .un-shelve{width:100%;float:left;margin-bottom:10px;}
.shelve-list .un-shelve a{display:inline-block;float:left;background:#999;color:#fff;width:50px;height:24px;line-height:24px;text-align:center;border-radius:1px;margin-left:15px;margin-top:10px;}
.shelve-list .supply-new-item{padding:5px;margin-left:30%;margin-top:10px;}

.fruit-preview-list{background:#f2f2f2;padding:10px;overflow:hidden;}
.fruit-preview-list ul{width:1000px;}
.fruit-preview-list li{width:100px;float:left;text-align:center;margin:15px 12px 0 0;background:#fff;padding:5px;border:1px solid #fff;}
.fruit-preview-list li img{width:100%;}
.fruit-preview-list li a{color:#333;}
.fruit-preview-list li p{margin:3px;font-size:14px;}
.fruit-preview-list li:hover{border-color:#ccc;}