/*全局样式*/
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, font, img, ins,
small, strike, strong, tt, var,
b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; list-style:none;border: none; outline: none; vertical-align: baseline;}
body{font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;color:#222;font-size:12px;background:#e7e8eb;-webkit-font-smoothing:antialiased;}
.w1200{width:1200px;height:auto;margin:0 auto;}
.w1200_m{width:100%;max-width:1200px;}
.w1165{width:1165px;height:auto;overflow:hidden;margin:0 auto;}
ol,ul,li{list-style:none;}
dl,dt,dd{font-weight:normal;}
.container{width:100%;max-width:1200px;background:#fff;border:1px solid #d9dadc;padding:0 !important;margin-bottom:80px;}
ul{padding-left:0;margin-bottom:0;}
a:hover{text-decoration:none;cursor:pointer;}
a:focus{text-decoration:none;outline:none;}
.form-control{font-size:12px;padding:0;}
.dropdown-toggle{border-radius:2px;background:#fff;color:#666;border:1px solid #ccc;padding:4px 10px;transition: 0.2s;-webkit-transition: 0.2s;}
#statusMenu{width:90px;}
.dropdown-menu{min-width:0;border-radius:1px;width:104px;border-color:#ddd;box-shadow:none;-webkit-box-shadow:none;border-top:none;padding:0;top:25px;left:-1px;margin:0;overflow: hidden;}
.dropdown-menu li a{display:block;line-height:20px;}
.dropdown-menu li a:hover{}
.row{margin:0;}
.show{display: block !important;}
textarea{resize:none;}
textarea:focus{border-color:#29aae1;}
.panel{border-radius:0 !important;box-shadow:none;}
img{border:none;}
.border-none{border:none !important;}
.padding-none{padding:0 !important;}
.mt100{margin-top:100px !important;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
.hide{display: none !important;}
.ml20{margin-left: 20px  !important;}
.hand{cursor: pointer;}
.round{border-radius: 50%;}
.brnone{border-right:none !important;}
.fl{float: left;}
/*头部样式*/
.backstage-header .line50{line-height:45px;}
.backstage-header .height50{height:45px;}
.backstage-header .height25{height:20px;}
.backstage-header .line25{line-height:25px;}
.backstage-header{padding-top:7px;padding-bottom:10px;background:#fff;box-shadow:1px 1px 5px #d9dadc;width:100%;margin-bottom:10px;height:65px;border-bottom:1px solid #d9dadc;border-top:4px solid #44b549;}
.header-fix{position:fixed;top:0;z-index:999;left:0;}
.backstage-header .logo-con{overflow:hidden;}
.backstage-header .logo-con .logo{margin:2px 20px 0 10px;}
.backstage-header .logo-con span{display:inline-block;float:left;}
.backstage-header .logo-con .title{border-left:1px solid #d9dadc;height:46px;line-height:46px;font-size:22px;padding:0 8px 0 20px;margin-top:2px;color:#666}
.backstage-header .logo-con .beta{width:54px;height:24px;color:#999;line-height:24px;text-align:center;font-size:12px;}
.backstage-header .header-nav{}
.backstage-header .header-nav li{float:left;padding:0 15px;}
.backstage-header .header-nav li a{color:#222;display:block;font-size: 12px;}
.backstage-header .header-nav li span{font-weight:bold;margin-left:5px;font-size:14px;}
.backstage-header .header-nav li .now{color:#ff6563;}
.backstage-header .header-nav li i{display:inline-block;background:url("../images/admin_top.png") no-repeat;margin-right:5px;height:20px;margin-top:11px;}
.backstage-header .header-nav li .notice-img{width:24px;background-position:0 15px;}
.backstage-header .header-nav li .send-img{width:24px;background-position:-52px 15px;}
.backstage-header .header-nav li .message-img{width:26px;background-position:-98px 15px;}
.backstage-header .header-nav .active .notice-img{background-position:0 -22px;}
.backstage-header .header-nav .active .send-img{background-position:0 0;}
.backstage-header .header-nav .active .message-img{background-position:-98px -22px;}
.backstage-header .header-nav .active span{color:#ff6666;}
.backstage-header .header-nav .admin-img{width:45px;margin-right:10px;}
.backstage-header .header-nav .admin-info{width:104px;text-align:center;}
.backstage-header .header-nav .switch-info{width:104px;text-align:center;border-right:1px solid #d9dadc}
.backstage-header .header-nav .admin-info .area{display:inline-block;width:100%;background:#fff;color:#222;border:1px solid #e7e7eb;margin-left:0;}
.backstage-header .header-nav .admin-info .slide-btn{height: 24px;line-height: 24px;display: block;border: none;outline: none;}
.backstage-header .header-nav .admin-info .area em{font-style:normal;display:inline-block;width:84px;font-size:12px;overflow:hidden;}
.backstage-header .header-nav .admin-info p{font-size:12px;color:#52b43f;display:inline-block;line-height:16px;height:16px;padding:0 10px;border-radius:16px;margin-bottom:3px;overflow:hidden;border:1px solid #52b43f;}
.backstage-header .header-nav .dropdown-toggle{padding:0 4px;}
.backstage-header .header-nav .dropdown-menu li{width:100%;padding:0;}
.backstage-header .header-nav .dropdown-menu li a:hover{color:#fff;background-color: #6ba4ef;}
.backstage-header .header-nav .caret{margin-top:10px;color: #c6c6c6;}
.menu-icona{background-repeat: no-repeat;background-position:  18px center; background-size:14px;padding-right: 0 !important;padding-left: 40px !important;}
.sshop{background-image: url('/static/images/admin_switch.png');}
.swoon{background-image: url('/static/images/admin_center.png');}
.sshop:hover{background-image: url('/static/images/admin_switch_white.png');}
.swoon:hover{background-image: url('/static/images/admin_center_white.png');}
.noauth>a{display: inline-block!important;}
.switch-change-phone{text-align: left !important;margin-top:2px;}
.switch-change-phone .band-tel{font-size: 12px !important;margin-left: 0!important;font-weight:normal !important;float: left;margin-right: 5px;}
/*.switch-area{width: 140px !important;}*/
/*底部样式*/
.backstage-footer{position:fixed;bottom:0;height:60px;z-index:999;background:#999;width:100%;margin-top:20px;}

/*左侧导航栏样式*/
.container-left{width:17.5%;max-width:208px;overflow:hidden;height:auto;}
.container-left .nav{margin-top:-1px;}
.container-left .nav li{border-top:1px solid #e7e7eb;margin-bottom:6px;}
.container-left .nav li span{font-size:14px;color:#8d8d8d;padding:12px 0 6px 0;display:block;text-indent:30px;}
.container-left .nav li span i{display:inline-block;width:18px;height:18px;background:url("../images/left-nav-icon.png") no-repeat;margin-right:10px;vertical-align: -3px;}
.container-left .nav li .count{padding-top:26px;}
.container-left .nav li .count i{background-position:0 0}
.container-left .nav li .server i{background-position:0 -18px}
.container-left .nav .account>i{background-position:0 -36px}
.container-left .nav li .manage i{background-position:0 -54px}
.container-left .nav li .set i{background-position:0 -72px}
.container-left .nav li .market i{background-position:0 -90px}
.container-left .nav li a{color:#222;text-indent:59px;font-size:14px;padding:8px 0;position: relative;transition: background 0.2s;-webkit-transition: background 0.2s;}
.container-left .nav li a:focus{background:#44b549;color:#fff;}
.container-left .nav .active{background:#44b549;color:#fff;}
.red-tip{color: #fff;font-weight:normal;font-size: 12px;background-color: #ff6666;padding: 0 6px;border-radius: 20px;position: absolute;right: 38px;line-height: 20px;height: 20px;text-indent: 0;-webkit-transform:translate(55%,0);min-width: 20px;text-align: center;}
.on_sum{color: #fff !important;font-size:12px !important;font-weight:normal !important;display:inline-block;background-color: #ff6666;padding: 0 6px;border-radius: 20px;right: 20px;line-height: 20px;height: 20px;min-width: 20px;}
.red-toll{position: absolute;width: 6px;height: 6px;border-radius: 6px;background-color: #ff6666;right: 34px;top:15px;}
/*右侧公共样式*/
.container-right{width:82.5%;max-width:990px;padding:26px 20px 20px;border-left:1px solid #e7e7eb;min-height:800px;}
.container-right .right-title{font-size:16px;display:block;margin-bottom:10px;}
.mode-lock{background:#f4f5f9;width:100%;float:left;padding:10px 0;height:77px;}

.subnav-box{position:relative;height:40px;border-bottom:1px solid #e7e7eb;width:100%;overflow:hidden;}
.subnav li{float:left;width:90px;height:40px;text-align:center;line-height:42px;}
.subnav li a{color:#333;font-size:14px;display:block;}
.subnav li:hover{border-bottom:3px solid #a0a3ab;margin-top:-1px;}
.subnav .active{border-bottom:3px solid #52b43f;margin-top:-1px;}
.subnav .active:hover{border-bottom:3px solid #52b43f;margin-top:-1px;}
.subnav .active a{display:block;}
.subnav-box .search-input{top:5px;background:#fff;}

/*部分按钮样式*/
.btn-style{display:inline-block;width:74px;height:24px;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;line-height:24px;text-align:center;}
.edit-btn{display:inline-block;background:url("../images/edit-icon.gif") no-repeat;width:25px;height:25px;}
.edit-btn2{background:url("../images/container-icon.gif") no-repeat 10px -41px;color:#666;display:inline-block;width:74px;height:28px;line-height:28px;text-indent:30px;border:1px solid #ccc;border-radius:2px;}
.edit-btn3{display:inline-block;background:url("../images/container-icon.gif") no-repeat 10px -40px;height:26px;line-height:26px;padding:0 15px;}
.blak-set-btn{float:left;display:inline-block;height:20px;text-align:center;line-height:20px;color:#666;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;margin-left:15px;padding:0 3px;}
.group-send-btn{display:inline-block;width:84px;height:26px;border:1px solid #b2b2b2;border-radius:2px;line-height:26px;text-indent:30px;background:url("../images/container-icon.gif") no-repeat 3px -292px;color:#666;margin-right:20px;margin-top:2px;}
.send-message-btn{display:inline-block;width:84px;height:28px;border:1px solid #b2b2b2;border-radius:2px;line-height:28px;text-indent:30px;background:url("../images/container-icon.gif") no-repeat 8px -238px;color:#666;}
.add-btn-sty{display:inline-block;padding:0 10px;background:#44b549;color:#fff;border-radius:1px;}
.add-btn-sty:hover{background:#70d674;color:#fff;}
.add-btn{width: 116px;display:inline-block;margin-left:20px;font-size: 14px;color: #fff;text-align: center;height: 28px;line-height: 28px;background-color: #52b43f;border-radius: 2px;}
.add-btn2{display:inline-block;border:1px solid #ccc;background:#fff;color:#44B549;height:30px;line-height:30px;padding:0 8px;}
.delete-btn{display:inline-block;border:1px solid #ccc;background:#fff;color:#CB2F36;height:30px;line-height:30px;padding:0 8px;}
.delete-btn2{display:inline-block;background:url("../images/container-icon.gif") no-repeat 0 3px;height:26px;line-height:26px;padding:0 10px;}
.btn-style2{display:inline-block;width:100% !important;height:24px;border:1px solid #ccc;border-top-left-radius:2px;border-top-right-radius:2px;line-height:24px;text-align:center;margin-top:5px;}
.btn-style3{display:inline-block;width:100%;height:24px;border:1px solid #ccc;border-radius:1px;line-height:24px;text-align:center;margin-top:5px;}
.check-btn{width:25px;height:25px;border-radius:50%;background:#44b549;display:inline-block;line-height:25px;font-size:16px;}

/*搜索框样式*/
.search-input input{float:left;}
.search-input .search-con{width:200px;height:28px;text-align:left;border:1px solid #d9d9d9;color:#999;-ms-line-height:28px;text-indent:30px;background:url("../images/admin_search.png") no-repeat 8px center;transition:width 0.3s;-moz-transition:width 0.3s;-webkit-transition:width 0.3s;-o-transition:width 0.3s;}
.search-input .search-con:focus{width:266px;}
.search-input .search-btn{width:70px;height:28px;border:1px solid #d9d9d9;border-left:none;border-top-right-radius:2px;border-bottom-right-radius:2px;background:#f4f5f9;color:#666;text-indent:0;}

/*模式开启、停用、设置样式*/
.mode-set{margin-top:13px;}
.mode-set .btn-style{display:inline-block;width:70px;height:30px;border-radius:2px;color:#fff;text-align:center;line-height:30px;float:left;margin-right:20px;}
.mode-set .set-btn{background:#999;}
.mode-set .stop-btn{background:#ff6666;}

.mode-content{padding-left:75px;}
.unlock-mode{background:url("../images/un-lock.gif") no-repeat 22px center;}
.lock-mode{background:url("../images/lock.gif") no-repeat 22px center;}
.mode-content .lock-unlock{color:#000;margin:5px 0;}
.mode-content .mode-introduce{color:#666;margin:0;}
.mode-content .set-introduce{color:#666;margin:0;}

.work-mode{background:#44b549;display:inline-block;padding:1px 3px;border-radius:1px;color:#fff;}
.work-mode:hover{color:#fff;}
.stop-mode{background:#999;display:inline-block;padding:1px 3px;border-radius:1px;color:#fff;}
.stop-mode:hover{color:#fff;}

/*分页样式*/
.list-pagination{margin-top:20px;margin-bottom:10px;}
.list-pagination ul{float:right;margin-right:20px;}
.list-pagination li{float:left;margin-left:5px;line-height:28px;}
.list-pagination .page-btn{display:inline-block;width:26px;height:26px;border:1px solid #ccc;border-radius:1px;background:url("../images/container-icon.gif") no-repeat;}
.list-pagination .pre-page{background-position:-34px -207px;}
.list-pagination .pre-page:hover{background-color:#f4f5f9;}
.list-pagination .pre-page:focus{background-color:#f4f5f9;}
.list-pagination .next-page{background-position:-58px -214px;}
.list-pagination .next-page:hover{background-color:#f4f5f9;}
.list-pagination .next-page:focus{background-color:#f4f5f9;}
.list-pagination .input-page{;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;color:#999;text-align:center;text-indent:0;}
.list-pagination .jump-to{display:inline-block;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;text-align:center;color:#666;line-height:26px;}

/*弹出框公共样式*/
.modal-header{background:#f2f2f2;font-size:14px;}
.modal-sure-btn{display:inline-block;width:100px;height:34px;background:#44b549;color:#fff;border:1px solid #44b549;border-radius:1px;text-align:center;line-height:34px;font-size:14px;padding:0;}
.modal-concel-btn{display:inline-block;width:100px;height:34px;background:#fff;color:#666;border:1px solid #ccc;border-radius:1px;text-align:center;line-height:34px;margin-left:10px;font-size:14px;padding:0;}
.modal-footer .btn-box{width:300px;margin:0 auto;}

.text-green{color:#44b549 !important;}
.text-white{color:#fff;}
.text-grey{color:#ccc !important;}
.text-grey2{color:#666;}
.text-grey3{color:#333;}
.text-grey9{color:#999;}
.text-pink{color:#ff6666 !important;}
.text-red{color:#E01445;}
.text-orange{color:#E07D14;}
.text-orange2{color:#ec6b10}
.text-black{color:#222;}
.text-center{text-align:center;}
.text-link{color: #6ba4ef!important;}

.bg-green{background:#44b549 !important;;}
.bg-pink{background:#ff6563 !important;}
.bg-red{background:#E01445;}
.bg-orange{background:#E07D14;}
.bg-grey{background:#ccc !important;}
.bg-grey2{background:#f4f5f9 !important;}
.bg-grey3{background:#f3f3f3;}
.bg-grey5{background:#f5f5f5;}
.bg-grey9{background:#999;}
.bg-greyf9{background:#f9f9f9;}
.bg-greyf4{background:#f4f4f4;}
.bg-greyd{background:#ddd;}
.bg-blue{background:#6ba4ef;}
.bg-white{background-color:#fff;}

.border-greya{border-color:#fafafa !important;}

.set-inl-blo{display:inline-block;}

.no-padding{padding:0;}
.no-padding-bottom{padding-bottom:0;}
.no-margin-left{margin-left:0 !important;}

.set-right5{margin-right:5px;}
.set-left5{margin-left:5px;}
.set-right10{margin-right:10px;}
.set-left10{margin-left:10px;}
.set-right20{margin-right:20px;}
.set-left20{margin-left:20px;}
.mb-0{margin-bottom:0;}
.mb-15{margin-bottom:15px;}
.mr-10{margin-right:10px;}
.ml10{margin-left:10px;}
.mt5{margin-top:5px;}
.mt40{margin-top:40px;}
.mt30{margin-top: 30px;}
.mt0{margin-top: 0 !important;}
.p0{padding:0 !important;}
.p10{padding:10px !important;}
.ml40{margin-left:55px;}

.set-bottom10{margin-bottom:10px;}
.set-top10{margin-top:10px;}

.set-width{width:100%;}
.set-width-float{width:100%;float:left;}
input{color:#333;text-indent:5px;}

.font12{font-size:12px !important;}
.font14{font-size:14px !important;}
.font16{font-size:16px !important;}
.font18{font-size:18px !important;}

.item-hide{display:none;}
.mt10{margin-top:10px;}
.border-none{border:none !important;}
.mt20{margin-top:20px;}
.rotate0{-webkit-transform:rotateZ(0deg);-webkit-transition:all ease-in-out .4s;}
.rotate180{-webkit-transform:rotateZ(180deg);}
/*切换店铺页面*/
.s-container{min-height:800px;}
.sw-top{padding: 40px 0 10px 30px;position: relative;}
.sw-top>p{font-size: 16px;}
.sw-top>p>a{font-size: 14px;margin-left: 5px;}
.sw-head{padding: 15px 0 15px 30px;background-color: #f4f5f9;}
.sw-bm{padding: 50px;}
.sw-list>li{float: left;margin-right: 30px;margin-bottom:20px;border: 1px solid #ccc;position: relative;width: 518px;padding: 10px;height:100px;}
.sw-list dl>dt{width: 60px;margin-right: 10px;text-align: center;position: relative;}
.sw-list dl>dt>img{width: 60px;height: 60px;}
.sw-list dl>dd{width: calc(100% - 70px);}
.sw-list>li:hover{cursor:pointer;}
.sw-listr .sw-title{font-size: 14px;color: #333;height: 16px;line-height: 16px;}
.sw-listr .auth{display: inline-block;color: #52b43f;line-height:18px;border: 1px solid #52b43f;font-size: 14px;border-radius: 16px;width: 76px;height: 19px;text-align: center;margin-left: 2px;-webkit-transform: scale(0.8);}
.sw-attr{margin-top: 4px;width: 80%;}
.sw-attr>li{font-size: 12px;color: #999;width: 33.3%;white-space: nowrap;float: left;line-height: 20px;}
.sw-addre{line-height: 20px;margin-top: 2px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.sw-tip{position: absolute;width: 0;height: 0;border:30px solid transparent;top:0;right:0;}
.shopping{border-top-color: #52b43f;border-right-color: #52b43f;}
.waiting{border-top-color: #76b8f2;border-right-color: #76b8f2;}
.resting{border-top-color: #f1c864;border-right-color: #f1c864;}
.closed{border-top-color: #999;border-right-color: #999;}
.sw-tip-txt{position:absolute;top:14px;right:2px;display:inline-block;font-size: 12px;color: #fff;-webkit-transform:rotate(45deg);}
.unauth{color: #999;line-height: 20px;width: 200px;margin-top: 6px;}
.add-swshop{height: 66px;line-height: 76px;font-size: 14px;color: #999;text-align: center;display: block;}
.add-swshop:hover{color: #999;}
.sw-er-tip{padding: 15px 15px 30px 20px;border: 1px solid #ccc;position: absolute;background-color: #fff;z-index:55;top:40px;left: 88px;}
.er-text{color: #666;text-align: left;}
.wrap-ipt{white-space: nowrap;font-size: 12px;}
.wrap-ipt>input{margin-top: 10px;border: 1px solid #ccc;height: 30px;color: #666;text-indent: 0;outline: none;}
.sw-link-txt{background-color: #f9f9f9;width: 200px;padding-left: 8px;}
.sw-link-copy{width:80px;text-align: center;background-color: #fff;margin-left: -4px;}
.wrap-er{margin-top: 15px;position: relative;}
.er-logo{position: absolute;width: 20px;height: 20px;background-color: #fff;border-radius: 4px;top: 30px;left: 120px;}
.er-img{width: 80px;height: 80px;margin-left: 30px;}
.lh80{line-height: 80px;}
.left-arr{position: absolute;width: 28px;height: 26px;background-color: #fff;top: 20px;right: 100%;}
.left-arr>span{width: 20px;height: 0;border-top: 1px solid #ccc;display: inline-block;position: absolute;right: -3px;}
.left-arr .line1{-webkit-transform:rotate(-45deg);top: 6px;}
.left-arr .line2{-webkit-transform:rotate(45deg);top: 20px;}
.po-list{top: 18px;left: 216px;}
.top-arr{position: absolute;width: 28px;height: 26px;background-color: #fff;top: -26px;right: 30%;}
.top-arr>span{width: 20px;height: 0;border-top: 1px solid #eee;display: inline-block;position: absolute;right: -3px;}
.top-arr .line1{-webkit-transform:rotate(-45deg);top: auto;left: -2px;right: auto;bottom: 7px;}
.top-arr .line2{-webkit-transform:rotate(45deg);top: 18px;}
/*提示框样式*/
.zb-tip{min-width: 360px;max-width:500px;padding:15px 0;line-height: 28px;text-align: center;font-size: 14px;background-color: rgba(255,101,99,.8);border-radius: 6px;position: fixed;top: 100px;left: 50%;z-index: 9999;color: #fff;-webkit-transform:translate(-50%,0);}
/*animate*/
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
@keyframes spin {0% { -webkit-transform: rotate(0deg);tranform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);tranform: rotate(360deg);}}
@-webkit-keyframes bounce1 {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -20px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}
.bounce{
    -webkit-animation:bounce1 1.2s infinite;
    -webkit-transform-origin: center bottom;
}
@-webkit-keyframes rotate{
    0%{-webkit-transform:rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(0deg);}
}

.func-mode{display:inline-block;border-radius:30px;width:120px;height:32px;position:relative;line-height:30px;font-size:14px;top:8px;}
.func-mode .circle{display:inline-block;width:28px;height:28px;background:#fff;border-radius:50%;position:absolute;top:2px;}
.func-mode.work-mode{text-indent:20px;}
.func-mode.work-mode .circle{right:2px;}
.func-mode.stop-mode{text-indent:42px;}
.func-mode.stop-mode .circle{left:2px;}
.w150{width:150px;}
.invisible{visibility:hidden;}

.foot {padding: 24px 0;color: #f1f1f1;text-align: center;background-color: #b8b9b9;font-size: 12px;}
.links_item {display: inline-block;vertical-align: middle;padding: 0 1em;line-height: 1em;border-left: 1px solid #d9dadc;}
.links_item:first-child {border-left-width: 0;}
.ft .links_item a {color: #f1f1f1;}
/*加载中*/
.wrap-loading-box{width: 100%;height: 100%;position: fixed;width: 100%;background-color: rgba(255,255,255,.4);top: 0;left: 0;z-index:9999;}
.loading-box{position: fixed;z-index:9999;top: 50%;left:50%;-webkit-transform:translate(-50%, -50%);display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;}
.loading-box .loader {-webkit-align-self: center;align-self: center;width: 99px; text-indent: -9999em;}
.loading-box .ball {border-radius: 50%;background-color: #fe6a7c;width: 10px; height: 10px;position: absolute;top: 0;left: 0;-webkit-animation: loading 1.2s linear infinite; animation: loading 1.2s linear infinite;}
.loading-box .ball:nth-of-type(2) {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
.loading-box .ball:nth-of-type(3) {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;}
.loading-box .load-txt{margin-top: 30px;margin-left: -92%;color: #ff6666;font-size: 16px;}
@-webkit-keyframes loading {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    20% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: translate3d(33px, 0, 0);
        transform: translate3d(33px, 0, 0);
    }
    60% {
        -webkit-transform: translate3d(66px, 0, 0);
        transform: translate3d(66px, 0, 0);
    }
    80% {
        -webkit-transform: translate3d(99px, 0, 0);
        transform: translate3d(99px, 0, 0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(99px, 0, 0) scale(0.5);
        transform: translate3d(99px, 0, 0) scale(0.5);
        opacity: 0;
    }
}
.logout{padding: 14px 15px 0 0;color: #6ba4ef;}

.auth-box{width:450px;margin:0 auto;position:relative;background:#fff;padding:10px;border:1px solid #eee;}
.auth-box h1{margin-top:10px;font-size:16px !important;margin-left:-105px;position:absolute;left:50%;top:0;background:#fff;line-height:30px;}
.auth-box iframe{border:none;margin-top:20px;}