body{background-color: #f5f5f5;}
.f16{font-size: 16px;}
.f12{font-size: 12px;}
.f32{font-size: 32px;}
.container{background-color: #fff;margin: 0 auto;max-width: 800px;min-width: 320px;padding-top: 0;overflow-x: hidden;}
.coupon-box{padding: 20px 10px;}
.wrap-coupon-ipt{position: relative;padding-right: 60px;}
.coupon-ipt{width: 100%;font-size: 14px;height: 30px;border: 1px solid #ccc;color: #999;border-radius: 2px;padding: 0 10px;-webkit-box-sizing: border-box;}
.convert-btn{display: inline-block;position: absolute;top: 0;right: 0;width: 55px;height: 30px;line-height: 30px;text-align: center;color: #fff;background-color: #d3eacd;border-radius: 2px;}
.coupon-list{margin-top:10px;}
.coupon-list>li{margin-bottom: 8px;}
.coupon-item{background-color: #c9c7c0;position: relative;padding-right: 56px;color: #fff;}
.coupon-item>dl{padding: 20px 10px 10px 15px;}
.coupon-item dt{padding-right:10px;position: relative;}
.coupon-item .rmb{position: absolute;display: inline-block;font-size: 16px;top: 0;left: 0;}
.coupon-item .coupon-money{font-size: 70px;display: block;text-indent: 16px;}
.coupon-item dd{padding-left: 10px;border-left: 1px solid #fff;}
.coupon-item .coupon-text{position: absolute;right: 0;top: 0;background-color: #aea9a4;border-left:1px dashed #fff;width: 54px;padding-top: 20px;height: 100%;-webkit-box-sizing: border-box;}
.coupon-text .text{font-size: 16px;width: 18px;display: inline-block;margin-left: 16px;}
.coupon-acitve{background-color: #e9c630;}
.coupon-acitve .coupon-text{background-color: #d9a826;}
/*领取优惠卷*/
.get-coupon-list>li{padding-top: 15px;background-color: #94b9d8;color: #fff;position: relative;}
.bor-left{position: absolute;left: 0;top: 0px;width: 0;height: 0;border-top: 134px solid transparent;border-bottom: 78px solid transparent;border-right:10px solid transparent;border-left:10px solid #fff;}
.bor-right{position: absolute;right: 0;top: 0px;width: 0;height: 0;border-top: 134px solid transparent;border-bottom: 78px solid transparent;border-right:10px solid #fff;border-left:10px solid transparent;}
.get-top{text-align: right;padding-right: 20px;}
.get-top>a{color: #fff;margin-left: 20px;}
.get-money{font-size: 34px;text-align: center;padding: 30px 0;}
.coupon-info{border-top:1px dashed #fff;padding: 10px 0 16px 0;}
.coupon-info>p{width: 240px;display: block;margin: 0 auto;}

