html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:12px;line-height: 1.42857143;font-family:"microsoft yahei";color:#333;background:#f0f4f0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0;font-size:2em}mark{color:#000;background:#ff0}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}legend{padding:0;border:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-spacing:0;border-collapse:collapse}td,th{padding:0}a,a:visited{text-decoration:underline}tr,img{page-break-inside:avoid}img{max-width:100%!important;border:0}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important}.table td,.table th{background-color:#fff!important}.btn>.caret,
p{clear: both;width:100%;margin:0px;word-break:break-all;text-align:left;}
ol,ul,li{list-style:none;}
li{display:inline-block;}
ul{padding-left:0;margin:0px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration: none}
a:focus{outline:none;}
input{border:1px solid #eee;outline:none;-webkit-appearance:none;}
input[type=text]:focus{box-shadow:0px;border-color:#f7f7f8 !important;outline:none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0;position:fixed;right:0;left:0;z-index:1030;-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
*:before,:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:after{content:"";box-sizing:border-box;}
*{-webkit-tap-highlight-color:transparent;-webkit-appearance: none;}
.container:before{display:table;content: " ";}
.pull-left{float:left !important;}
.pull-right{float:right !important;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.center-block{display:block !important;margin:0 auto;}
.clearfix{clear:both;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius: 6px;}
.hidden{display:none !important;visibility:hidden !important;}
.show{display: block!important;}
.clearfix:before{display: table;content: " ";}
.clearfix:after{clear:both;}
.modal_bg{background:#000; filter: Alpha(opacity=50); -moz-opacity:.5; opacity:0.5; width:100%;height:100%;position:absolute;z-index:1040;top:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;background-color:rgba(0,0,0,.5);display:none;height:100%;-webkit-overflow-scrolling:touch;outline:0;overflow: auto;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate3d(0,-25%,0);-o-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0)}
.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.modal-dialog{position:relative;margin:10px auto;top:50%;margin-top:-210px;padding:0 19px;width:320px;}
.modal-content{position:relative;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:8px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);margin:0 auto;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);background-color:#F0F4F0 !important;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{font-size:14px;padding:15px;position:relative;overflow:hidden;text-align:center;padding:0px;height:42px;line-height:42px;background-size:20px;z-index:10;width:100%;border-bottom:0px;border-top-left-radius:6px;border-top-right-radius:6px;color:#F97575;top:0;}
.modal-header .close{position:absolute;top:-6px;right:0;color:inherit;font-size:28px !important;margin-right:10px;background:none;border:none;color:#F97575;z-index: 20;}
.modal-header .close:active{boder:none;}
.modal-head{position:absolute;}
.modal-title{margin:0;font-weight:normal;}
.modal-body{position:relative;font-size:1em;padding:0 10px;color:#999;}
.modal-footer{margin-top:30px;clear:both;}
.modal-footer .btn{position:absolute;left:85px;z-index:6666;border-radius: 20px;padding:6px 40px;}
/*.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}*/
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.modal-top{width:100%;}
.modal-top img{width:100%;}
.modal-bottom{width:100%;}
.modal-bottom img{width:100%;}
.line36{line-height:36px !important;}
.line48{line-height:48px !important;}
.modal_sty{height:100%;oveflow:hidden !important;}
.container{padding:0;z-index:2;}
.body-container{position:absolute;width:100%;height:100%;z-index:2;}
.body_bg{width:100%;height:100%;z-index:1;position:fixed;background:#F0F4F0;background-size: 10px;top:0;}
figure{margin:0;}
div{margin:0;}
div:after{display:table;content:"";}
.list-group{padding-left:0;}
.list-group-item{position:relative;display:block;padding:0 15px;margin-bottom:-1px;background-color:#fff;border:1px solid #ddd;display:inline-block;width:100%;float:left;}
.list-group-item:first-child{border-top-left-radius:4px;border-top-right-radius:4px}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}a.list-group-item{color:#555}a.list-group-item .list-group-item-heading{color:#333}a.list-group-item:hover,a.list-group-item:focus{color:#555;text-decoration:none;background-color:#f5f5f5}.list-group-item.disabled,.list-group-item.disabled:hover,.list-group-item.disabled:focus{color:#777;background-color:#eee}.list-group-item.disabled .list-group-item-heading,.list-group-item.disabled:hover .list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca}
.img-circle{border-radius:50%;}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:0;border-top:1px solid #eee}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
a{outline:0;color:#333;}
a:focus{border:none;background-color:none;outline:0;}
.notice_bg{width:100%;height:auto;position:fixed;top:100px;z-index:9999;}
.notice_box{width:280px;background:rgba(0,0,0,0.5);padding:20px 10px;border-radius:4px;margin:0 auto;}
button:focus{outline:0;}
#warn{position:absolute;padding:5px 20px 5px 0;}
.caret{display:inline-block;width:0 !important;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}

.title-box{width:100%;text-align:center;height:40px;line-height:40px;position:relative;position:relative;}
.title-box .title{font-size:16px;}
.title-box .logo{height:4.5em;position:absolute;left:2em;top:1em;}
.title-box .return-btn{display:inline-block;width:2em;height:3em;position:absolute;top:0.8em;left:0.5em;background:url('../images/arrow_left.png') no-repeat center center;}
.title-box .to-some{position:absolute;top:0.8em;right:0.5em;font-size:1.4em;display:inline-block;border:1px solid #fff;height:2em;line-height:2em;color:#fff;padding:0 0.8em;border-radius:2px;}
.title-box h1{margin:0;line-height:3em;}
.title-box .content-title{height:6em;}

.title-box2{width:100%;display:block;background:#80e0a0;text-indent:3em;font-size:1.8em;height:3em;line-height:3em;color:#fff;box-shadow:1px 1px 2px #aaa;position:relative;}
.title-box2 .return-btn{display:inline-block;width:2em;height:3em;position:absolute;top:0;left:0.5em;background:url('../images/arrow_left.png') no-repeat center center;}
.title-box2 .to-some{position:absolute;top:0.5em;right:0.5em;display:inline-block;border:1px solid #fff;height:2em;line-height:2em;color:#fff;padding:0 0.8em;text-indent:0px;border-radius:2px;font-size:0.9em;}

.btn-box{margin-top:1em;}
.btn-box a{display:inline-block;width:45%;color:#fff !important;text-align:center;border-radius:1px;padding:0.3em 0;font-size:1em;}
.btn-box button{display:inline-block;width:45%;color:#fff !important;text-align:center;border-radius:1px;padding:0.3em 0;font-size:1em;}
.concel-btn{background:#999;float:left;color:#fff;}
.sure-btn{background:#00D289;float:right;color:#fff;}

.input-style{border:1px solid #ddd;width:80%;text-indent:5px;margin:0 auto;height:1.6em;height:2.5em;line-height:2.5em;margin-right:0.5em;background:#f2f2f2;}
.input-style2{border:1px solid #ddd;width:100%;text-indent:5px;margin:0 auto;height:1.6em;height:2.5em;line-height:2.5em;margin-right:0.5em;background:#f2f2f2;}
.input-style3{border:1px solid #ddd;width:45%;text-indent:5px;height:1.6em;height:2.5em;line-height:2.5em;margin-right:0.5em;background:#f2f2f2;}
.textstyle{border:1px solid #ddd;width:100%;height:5em;padding:0.5em;}

.bg-white{background:#fff;}
.bg-greyf9{background:#f9f9f9;}
.bg-greyf2{background:#f2f2f2;}
.bg-greye7{background:#E7E7E7;}
.btn-green{background:#80e0a0;}
.bg-green{background:#80e0a0 !important;}
.bg-greyf5{background:#f5f5f5 !important;}

.bg-greyc{background-color:#ccc;}

.text-green{color:#80e0a0;}
.text-red{color:#FF0808;}
.text-grey3{color:#333;}
.text-grey6{color:#666;}
.text-grey9{color:#999;}
.text-white{color:#fff;}
.text-center{text-align:center;}
.text-yellow{color:#FFF76F;}

.border-green{border:1px solid #80e0a0;border-radius:2px;}
.left-none{border-left:none !important;}

.bottom-nav{max-width:640px;margin:0 auto;font-size:1.4em;border-top:1px solid #ddd;padding:15px 10px;}
.bottom-nav li{text-align:center;padding:0 5px;}
.bottom-nav li a{color:#333;display:block;}
.bottom-nav .active a{color:#80e0a0;font-weight:bold;}

.proper-padding {padding: 8px 14px;}

.undone-box{margin-top:20px;padding:20px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}

.well p{font-size:1.4em;}

.font-md{font-size:1.4em;}

.introduce{margin-bottom:0px !important;text-indent:14px;}

.font14{font-size:14px;}
.font16{font-size:16px;}

.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px !important;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt60{margin-top:60px;}
.mtp5{margin-top:8%;}
.mr5{margin-right:5px !important;}
.ml10{margin-left:10px !important;}
.mr10{margin-right:10px !important;}
.mr25{margin-right:25px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
hr{margin:5px 0!important;}

.w100{width:100% !important;}
.w80{width:80% !important;}

.inline_b{display:inline-block;}
.text-pink{color:#fe6666;}
.notice_bg{width:100%;height:100%;position:fixed;top:100px;z-index:9999;;}
.notice_box{width:280px;background:rgba(0,0,0,0.5);padding:20px 10px;border-radius:4px;margin:0 auto;}
button:focus{outline:0;}
.herder{width:100%;min-width:320px;max-width:800px;overflow:hidden;margin:0 auto;height:100%;background:#fff;height:40px;line-height:40px;position:relative;}
.herder .back{position:absolute;left:10px;top:12px;display:inline-block;width:10px;height:16px;background:url('/static/svg/back-white@2x.png');background-size:10px 16px;}
.container{width:100%;min-width:320px;max-width:800px;margin:0 auto;height:100%;min-height:400px;padding-bottom:60px;background:#fff;}
.po_rela{position:relative;}
