
/*-------------------------------admin-shops---------------------------------*/
.shops-list{padding:1em 0;width:110%;float:left;}
.shops-list li{float:left;border:1px solid #ddd;width:120px;height:160px;margin-left:20px;margin-right:15px;margin-bottom:3em;text-align:center;background:#fff;position:relative;overflow:hidden;}
.shops-list li a{display:block;padding:0.5em;overflow:hidden;}
.shops-list li a img{width:100%;}
.shops-list li a p{font-size:1.4em;color:#333;padding-top:0.5em;}
.shops-list .add-shops a{font-size:8em;font-weight:bold;color:#00D289;width:100%;height:160px;display:inline-block;line-height:160px;padding:0;}
.shops-list .status{display:inline-block;position:absolute;z-index:999;top:0;left:0;width:100%;height:160px;line-height:160px;text-align:center;font-size:2.2em;color:#333;background:rgba(255,255,255,0.6);}
.shops-list .edit{position:absolute;z-index:999;top:40px;left:0;width:100%;font-size:14px;color:#333;}
.shop-list li em{font-style:normal;font-size:1em;}


.collection-link{width:100%;float:left;padding:0 1em;}
.collection-link ul{width:100%;float:left;border-bottom:1px solid #ddd;}
.collection-link li{float:left;margin-right:2em;}
.collection-link li a{display:inline-block;color:#333;font-size:1.6em;padding:0.5em 0;}
.collection-link li.active a{color:#00D289;}

.collect-info-list{width:100%;float:left;padding:0 1em;}
.collect-info-list li{height:50px;line-height:50px;overflow:hidden;width:100%;float:left;border-bottom:1px solid #ddd;padding:0.5em 0;background:url('../images/next-black-2px.png') no-repeat 98% center;}
.collect-info-list li a{display:block;}
.collect-info-list .head-img{width:40px;height:40px;}
.collect-info-list li .info-content{display:inline-block;width:70%;color:#00D289;}
.collect-info-list li .nickname{color:#333;margin:0 5px;}