/*其他*/
.TDSG .color{color:#8cbd03}
.TDSG .bg{background-color:#f9ffe8}
.TDSG .bg-color{background-color:#c8e0aa}
.TDSG .icon-bg{border-color:transparent #c8e0aa transparent transparent;}
.shuiguoqita .color{color:#8cbd03}
.shuiguoqita .bg{background-color:#f9ffe8}
.shuiguoqita .bg-color{background-color:#c8e0aa}
.shuiguoqita .icon-bg{border-color:transparent #c8e0aa transparent transparent;}
.ganguoqita.color{color:#8cbd03}
.ganguoqita .bg{background-color:#f9ffe8}
.ganguoqita .bg-color{background-color:#c8e0aa}
.ganguoqita .icon-bg{border-color:transparent #c8e0aa transparent transparent;}
/*水果和干果*/
.Hlg .color{color:#EE6E8C}
.Hlg .bg{background-color:#FCFBFF}
.Hlg .bg-color{background-color:#EE6E8C}
.Hlg .icon-bg{border-color:transparent #EE6E8C transparent transparent;}
.Qpg .color{color:#5CB56C}
.Qpg .bg{background-color:#F7FFFA}
.Qpg .bg-color{background-color:#5CB56C}
.Qpg .icon-bg{border-color:transparent #5CB56C transparent transparent;}
.Xg .color{color:#EE618C}
.Xg .bg{background-color:#FFF6F6}
.Xg .bg-color{background-color:#EE618C}
.Xg .icon-bg{border-color:transparent #EE618C transparent transparent;}
.Yt .color{color:#E23457}
.Yt .bg{background-color:#FFF7F8}
.Yt .bg-color{background-color:#E23457}
.Yt .icon-bg{border-color:transparent #E23457 transparent transparent;}
.Lz .color{color:#F97060}
.Lz .bg{background-color:#FFF9F5}
.Lz .bg-color{background-color:#F97060}
.Lz .icon-bg{border-color:transparent #F97060 transparent transparent;}
.Nm .color{color:#C0CB04}
.Nm .bg{background-color:#F9FAE9}
.Nm .bg-color{background-color:#C0CB04}
.Nm .icon-bg{border-color:transparent #C0CB04 transparent transparent;}
.Pt .color{color:#ED3B94}
.Pt .bg{background-color:#FFFAFB}
.Pt .bg-color{background-color:#ED3B94}
.Pt .icon-bg{border-color:transparent #ED3B94 transparent transparent;}
.Xiangg .color{color:#A6C63C}
.Xiangg .bg{background-color:#FCFFEF}
.Xiangg .bg-color{background-color:#A6C63C}
.Xiangg .icon-bg{border-color:transparent #A6C63C transparent transparent;}
.Li .color{color:#EDB800}
.Li .bg{background-color:#FFFCEF}
.Li .bg-color{background-color:#EDB800}
.Li .icon-bg{border-color:transparent #EDB800 transparent transparent;}
.Xfq .color{color:#f85853}
.Xfq .bg{background-color:#FFF9F9}
.Xfq .bg-color{background-color:#F85853}
.Xfq .icon-bg{border-color:transparent #F85853 transparent transparent;}
.Qli .color{color:#97CA27}
.Qli .bg{background-color:#FAFFF4}
.Qli .bg-color{background-color:#97CA27}
.Qli .icon-bg{border-color:transparent #97CA27 transparent transparent;}
.Jz .color{color:#FBAB2D}
.Jz .bg{background-color:#FFFCF2}
.Jz .bg-color{background-color:#FBAB2D}
.Jz .icon-bg{border-color:transparent #FBAB2D transparent transparent;}
.Pg .color{color:#F25C5C}
.Pg .bg{background-color:#FFF8F8}
.Pg .bg-color{background-color:#F25C5C}
.Pg .icon-bg{border-color:transparent #F25C5C transparent transparent;}
.Xj .color{color:#FBDF12}
.Xj .bg{background-color:#FFFDF3}
.Xj .bg-color{background-color:#FBDF12}
.Xj .icon-bg{border-color:transparent #FBDF12 transparent transparent;}
.Tz .color{color:#b3c802}
.Tz .bg-color{background-color:#e4f45f}
.Tz .bg{background-color:#fdfff0}
.Tz .icon-bg{border-color:transparent #e4f45f transparent transparent;}
.Mg .color{color:#F8BC14}
.Mg .bg{background-color:#FFFDEF}
.Mg .bg-color{background-color:#F8BC14}
.Mg .icon-bg{border-color:transparent #F8BC14 transparent transparent;}
.Mht .color{color:#A3D221}
.Mht .bg{background-color:#FDFFF2}
.Mht .bg-color{background-color:#A3D221}
.Mht .icon-bg{border-color:transparent #A3D221 transparent transparent;}
.Mug .color{color:#FD9242}
.Mug .bg{background-color:#FFFDF4}
.Mug .bg-color{background-color:#FD9242}
.Mug .icon-bg{border-color:transparent #FD9242 transparent transparent;}
.Ll .color{color:#DAB954}
.Ll .bg{background-color:#FFFEF2}
.Ll .bg-color{background-color:#DAB954}
.Ll .icon-bg{border-color:transparent #DAB954 transparent transparent;}
.Yz .color{color:#FFE633}
.Yz .bg{background-color:#FFFFF1}
.Yz .bg-color{background-color:#FFE633}
.Yz .icon-bg{border-color:transparent #FFE633 transparent transparent;}
.Hmg .color{color:#FFA030}
.Hmg .bg{background-color:#FFFBF1}
.Hmg .bg-color{background-color:#FFA030}
.Hmg .icon-bg{border-color:transparent #FFA030 transparent transparent;}
.Dz .color{color:#E95B34}
.Dz .bg{background-color:#FFFAF8}
.Dz .bg-color{background-color:#E95B34}
.Dz .icon-bg{border-color:transparent #E95B34 transparent transparent;}
.Sl .color{color:#E43D40}
.Sl .bg{background-color:#FFF6F5}
.Sl .bg-color{background-color:#E43D40}
.Sl .icon-bg{border-color:transparent #E43D40 transparent transparent;}
.Smt .color{color:#EE6666}
.Smt .bg{background-color:#FFFBFB}
.Smt .bg-color{background-color:#EE6666}
.Smt .icon-bg{border-color:transparent #EE6666 transparent transparent;}
.Yez .color{color:#856458}
.Yez .bg{background-color:#FFFBF8}
.Yez .bg-color{background-color:#856458}
.Yez .icon-bg{border-color:transparent #856458 transparent transparent;}
.Cz .color{color:#FBAB2D}
.Cz .bg{background-color:#FFFCF2}
.Cz .bg-color{background-color:#FBAB2D}
.Cz .icon-bg{border-color:transparent #FBAB2D transparent transparent;}
.Bdg .color{color:#93724C}
.Bdg .bg{background-color:#FFFBF8}
.Bdg .bg-color{background-color:#93724C}
.Bdg .icon-bg{border-color:transparent #93724C transparent transparent;}
.Blm .color{color:#A5A026}
.Blm .bg{background-color:#FFFEF2}
.Blm .bg-color{background-color:#A5A026}
.Blm .icon-bg{border-color:transparent #A5A026 transparent transparent;}
.Sz .color{color:#F78F1E}
.Sz .bg{background-color:#FFF9EF}
.Sz .bg-color{background-color:#F78F1E}
.Sz .icon-bg{border-color:transparent #F78F1E transparent transparent;}
.Gy .color{color:#916231}
.Gy .bg{background-color:#fffaef}
.Gy .bg-color{background-color:#ffebbc}
.Gy .icon-bg{border-color:transparent #ffebbc transparent transparent;}
.Pp .color{color:#F07D06}
.Pp .bg{background-color:#FFF8EE}
.Pp .bg-color{background-color:#F07D06}
.Pp .icon-bg{border-color:transparent #F07D06  transparent transparent;}
.Hz .color{color:#BD2408}
.Hz .bg{background-color:#FFF8F3}
.Hz .bg-color{background-color:#F07D06}
.Hz .icon-bg{border-color:transparent #BD2408 transparent transparent;}
.Bl .color{color:#878F2F}
.Bl .bg{background-color:#FFFFEE}
.Bl .bg-color{background-color:#878F2F}
.Bl .icon-bg{border-color:transparent #878F2F transparent transparent;}
.Shiz .color{color:#f78f1e}
.Shiz .bg-color{background-color:#ffc051}
.Shiz .bg{background-color:#fff9ef}
.Shiz .icon-bg{border-color:transparent #ffc051 transparent transparent;}
.Shanzhu .color{color:#9E1B39}
.Shanzhu .bg{background-color:#FFF8FA}
.Shanzhu .bg-color{background-color:#9E1B39}
.Shanzhu .icon-bg{border-color:transparent #9E1B39 transparent transparent;}
.Hdg .color{color:#e8aa02}
.Hdg .bg-color{background-color:#ffe26d}
.Hdg .bg{background-color:#fffdf6}
.Hdg .icon-bg{border-color:transparent #ffe26d transparent transparent;}
.Cm .color{color:#E61211}
.Cm .bg{background-color:#FFF8F4}
.Cm .bg-color{background-color:#E61211}
.Cm .icon-bg{border-color:transparent #E61211 transparent transparent;}
.Xlg .color{color:#C2642C}
.Xlg .bg{background-color:#FFFBF8}
.Xlg .bg-color{background-color:#C2642C}
.Xlg .icon-bg{border-color:transparent #C2642C transparent transparent;}
.Gz .color{color:#5B212B}
.Gz .bg{background-color:#FFFFF4}
.Gz .bg-color{background-color:#5B212B}
.Gz .icon-bg{border-color:transparent #5B212B transparent transparent;}
.Hbl .color{color:#511539}
.Hbl .bg-color{background-color:#f88ece}
.Hbl .bg{background-color:#fffbfd}
.Hbl .icon-bg{border-color:transparent #f88ece transparent transparent;}
.Yangt .color{color:#DEAA03}
.Yangt .bg{background-color:#FFFDF5}
.Yangt .bg-color{background-color:#DEAA03}
.Yangt .icon-bg{border-color:transparent #DEAA03 transparent transparent;}
.Het .color{color:#D29650}
.Het .bg{background-color:#FEFAF4}
.Het .bg-color{background-color:#D29650}
.Het .icon-bg{border-color:transparent #D29650 transparent transparent;}
.Xjj .color{color:#FBAB2D}
.Xjj .bg{background-color:#FFFCF2}
.Xjj .bg-color{background-color:#FBAB2D}
.Xjj .icon-bg{border-color:transparent #FBAB2D transparent transparent;}
.Ganguo .color{color:#a86d2e}
.Ganguo .bg-color{background-color:#f8b668}
.Ganguo .bg{background-color:#fffcf4}
.Ganguo .icon-bg{border-color:transparent #f8b668 transparent transparent;}
.shijia .color{color:#898D36}
.shijia .bg{background-color:#FEFDF8}
.shijia .bg-color{background-color:#898D36}
.shijia .icon-bg{border-color:transparent #898D36 transparent transparent;}
.wuhuaguo .color{color:#9A536C}
.wuhuaguo .bg{background-color:#FBF5F7}
.wuhuaguo .bg-color{background-color:#9A536C}
.wuhuaguo .icon-bg{border-color:transparent #9A536C transparent transparent;}
.yingtao .color{color:#FF6740}
.yingtao .bg{background-color:#FEF6F6}
.yingtao .bg-color{background-color:#FF6740}
.yingtao .icon-bg{border-color:transparent #FF6740 transparent transparent;}
.baixiangguo .color{color:#C28700}
.baixiangguo .bg{background-color:#FFFBF5}
.baixiangguo .bg-color{background-color:#C28700}
.baixiangguo .icon-bg{border-color:transparent #C28700 transparent transparent;}
.ganlan .color{color:#B5BB41}
.ganlan .bg{background-color:#FBFDF1}
.ganlan .bg-color{background-color:#B5BB41}
.ganlan .icon-bg{border-color:transparent #B5BB41 transparent transparent;}
.hongmaodan .color{color:#CC1A4E}
.hongmaodan .bg{background-color:#FFF9F9}
.hongmaodan .bg-color{background-color:#CC1A4E}
.hongmaodan .icon-bg{border-color:transparent #CC1A4E transparent transparent;}
.lianwu .color{color:#E62129}
.lianwu .bg{background-color:#FFF9F9}
.lianwu .bg-color{background-color:#E62129}
.lianwu .icon-bg{border-color:transparent #E62129 transparent transparent;}
.niuyouguo .color{color:#A98F74}
.niuyouguo .bg{background-color:#FFFBF3}
.niuyouguo .bg-color{background-color:#A98F74}
.niuyouguo .icon-bg{border-color:transparent #A98F74 transparent transparent;}
.xiyou .color{color:#DF5B56}
.xiyou .bg{background-color:#FFF7F7}
.xiyou .bg-color{background-color:#DF5B56}
.xiyou .icon-bg{border-color:transparent #DF5B56 transparent transparent;}
.youtao .color{color:#E23457}
.youtao .bg{background-color:#FFF7F8}
.youtao .bg-color{background-color:#E23457}
.youtao .icon-bg{border-color:transparent #E23457 transparent transparent;}
.sheguo .color{color:#9C4547}
.sheguo .bg{background-color:#FFF7F7}
.sheguo .bg-color{background-color:#9C4547}
.sheguo .icon-bg{border-color:transparent #9C4547 transparent transparent;}
.fengli .color{color:#878F2F}
.fengli .bg{background-color:#FFFFEE}
.fengli .bg-color{background-color:#878F2F}
.fengli .icon-bg{border-color:transparent #878F2F transparent transparent;}
.huangdijiao .color{color:#FBDF12}
.huangdijiao .bg{background-color:#FFFDF3}
.huangdijiao .bg-color{background-color:#FBDF12}
.huangdijiao .icon-bg{border-color:transparent #FBDF12 transparent transparent;}

.hongti .color{color:#9C4547}
.hongti .bg{background-color:#FFF7F7}
.hongti .bg-color{background-color:#FBDF12}
.hongti .icon-bg{border-color:transparent #9C4547 transparent transparent;}
.jialiguo .color{color:#9C4547}
.jialiguo .bg{background-color:#FFF7F7}
.jialiguo .bg-color{background-color:#FBDF12}
.jialiguo .icon-bg{border-color:transparent #9C4547 transparent transparent;}
.longyan .color{color:#916231}
.longyan .bg{background-color:#fffaef}
.longyan .bg-color{background-color:#ffebbc}
.longyan .icon-bg{border-color:transparent #ffebbc transparent transparent;}
.chelizhi .color{color:#E23457}
.chelizhi .bg{background-color:#FFF7F8}
.chelizhi .bg-color{background-color:#E23457}
.chelizhi .icon-bg{border-color:transparent #E23457 transparent transparent;}
.ximei .color{color:#E75716}
.ximei .bg{background-color:#FFF7F8}
.ximei .bg-color{background-color:#E75716}
.ximei .icon-bg{border-color:transparent #E75716 transparent transparent;}
.lanmei .color{color:#632B8C}
.lanmei .bg{background-color:#FFF7F8}
.lanmei .bg-color{background-color:#632B8C}
.lanmei .icon-bg{border-color:transparent #632B8C transparent transparent;}
.huangxigua .color{color:#FFD800}
.huangxigua .bg{background-color:#FFFAF6}
.huangxigua .bg-color{background-color:#FFD800}
.huangxigua .icon-bg{border-color:transparent #FFD800 transparent transparent;}

.huanggua .color{color:#FFD800}
.huanggua .bg{background-color:#FFFAF6}
.huanggua .bg-color{background-color:#FFD800}
.huanggua .icon-bg{border-color:transparent #FFD800 transparent transparent;}
.renshenguo .color{color:#FFD800}
.renshenguo .bg{background-color:#FFFAF6}
.renshenguo .bg-color{background-color:#FFD800}
.renshenguo .icon-bg{border-color:transparent #FFD800 transparent transparent;}
.fanshiliu .color{color:#97CA27}
.fanshiliu .bg{background-color:#FAFFF4}
.fanshiliu .bg-color{background-color:#97CA27}
.fanshiliu .icon-bg{border-color:transparent #97CA27 transparent transparent;}
.sangshen .color{color:#ED3B94}
.sangshen .bg{background-color:#FFFAFB}
.sangshen .bg-color{background-color:#ED3B94}
.sangshen .icon-bg{border-color:transparent #ED3B94 transparent transparent;}
.ugly .color{color:#FBAB2D}
.ugly .bg{background-color:#FFFCF2}
.ugly .bg-color{background-color:#FBAB2D}
.ugly .icon-bg{border-color:transparent #FBAB2D transparent transparent;}
.yangmei .color{color:#FF6740}
.yangmei .bg{background-color:#FEF6F6}
.yangmei .bg-color{background-color:#FF6740}
.yangmei .icon-bg{border-color:transparent #FF6740 transparent transparent;}
.lizi .color{color:#ED3B94}
.lizi .bg{background-color:#FFFAFB}
.lizi .bg-color{background-color:#ED3B94}
.lizi .icon-bg{border-color:transparent #ED3B94 transparent transparent;}
.xingzi .color{color:#FBAB2D}
.xingzi .bg{background-color:#FFFCF2}
.xingzi .bg-color{background-color:#FBAB2D}
.xingzi .icon-bg{border-color:transparent #FBAB2D transparent transparent;}


.GANGUO{}
.yaoguo .color{color:#B87D31}
.yaoguo .bg{background-color:#FEFAF4}
.yaoguo .bg-color{background-color:#B87D31}
.yaoguo .icon-bg{border-color:transparent #B87D31 transparent transparent;}
.xingren .color{color:#E9A039}
.xingren .bg{background-color:#FEFAF4}
.xingren .bg-color{background-color:#E9A039}
.xingren .icon-bg{border-color:transparent #E9A039 transparent transparent;}
.banli .color{color:#C08251}
.banli .bg{background-color:#F8F5F2}
.banli .bg-color{background-color:#C08251}
.banli .icon-bg{border-color:transparent #C08251 transparent transparent;}
.guazi .color{color:#4D4D4D}
.guazi .bg{background-color:#FFFCF7}
.guazi .bg-color{background-color:#4D4D4D}
.guazi .icon-bg{border-color:transparent #4D4D4D transparent transparent;}
.huasheng .color{color:#B4916B}
.huasheng .bg{background-color:#FFFCF7}
.huasheng .bg-color{background-color:#B4916B}
.huasheng .icon-bg{border-color:transparent #B4916B transparent transparent;}
.kaixinguo .color{color:#D4D65B}
.kaixinguo .bg{background-color:#FDFFFB}
.kaixinguo .bg-color{background-color:#D4D65B}
.kaixinguo .icon-bg{border-color:transparent #D4D65B transparent transparent;}
.sognzi .color{color:#D8BB8E}
.sognzi .bg{background-color:#FEFAF4}
.sognzi .bg-color{background-color:#D8BB8E}
.sognzi .icon-bg{border-color:transparent #D8BB8E transparent transparent;}
.hetao .color{color:#D29650}
.hetao .bg{background-color:#FEFAF4}
.hetao .bg-color{background-color:#D29650}
.hetao .icon-bg{border-color:transparent #D29650 transparent transparent;}
.xiaweiyiguo .color{color:#B39B77}
.xiaweiyiguo .bg{background-color:#F8F5F2}
.xiaweiyiguo .bg-color{background-color:#B39B77}
.xiaweiyiguo .icon-bg{border-color:transparent #B39B77 transparent transparent;}
.hongzao .color{color:#BD2408}
.hongzao .bg{background-color:#FFF8F3}
.hongzao .bg-color{background-color:#BD2408}
.hongzao .icon-bg{border-color:transparent #BD2408 transparent transparent;}

.putaogan .color{color:#9C4547}
.putaogan .bg{background-color:#FFF7F7}
.putaogan .bg-color{background-color:#BD2408}
.putaogan .icon-bg{border-color:transparent #9C4547 transparent transparent;}
.badanmu .color{color:#D07610}
.badanmu .bg{background-color:#FFF6EB}
.badanmu .bg-color{background-color:#D07610}
.badanmu .icon-bg{border-color:transparent #D07610 transparent transparent;}
.candou .color{color:#96B937}
.candou .bg{background-color:#F8FFE3}
.candou .bg-color{background-color:#96B937}
.candou .icon-bg{border-color:transparent #96B937 transparent transparent;}
.wandou .color{color:#5B8000}
.wandou .bg{background-color:#F8FFE3}
.wandou .bg-color{background-color:#5B8000}
.wandou .icon-bg{border-color:transparent #5B8000 transparent transparent;}
.shibing .color{color:#C74E18}
.shibing .bg{background-color:#FFF4F0}
.shibing .bg-color{background-color:#C74E18}
.shibing .icon-bg{border-color:transparent #C74E18 transparent transparent;}
.bigenguo .color{color:#AC4B2A}
.bigenguo .bg{background-color:#FFF7EA}
.bigenguo .bg-color{background-color:#FFF7EA}
.bigenguo .icon-bg{border-color:transparent #AC4B2A transparent transparent;}

.xiangjiaopian .color{color:#AC4B2A}
.xiangjiaopian .bg{background-color:#FFF7EA}
.xiangjiaopian .bg-color{background-color:#AC4B2A}
.xiangjiaopian .icon-bg{border-color:transparent #AC4B2A transparent transparent;}
.zhenzi .color{color:#AC4B2A}
.zhenzi .bg{background-color:#FFF7EA}
.zhenzi .bg-color{background-color:#AC4B2A}
.zhenzi .icon-bg{border-color:transparent #AC4B2A transparent transparent;}
.ganguiyuan .color{color:#AC4B2A}
.ganguiyuan .bg{background-color:#FFF7EA}
.ganguiyuan .bg-color{background-color:#AC4B2A}
.ganguiyuan .icon-bg{border-color:transparent #AC4B2A transparent transparent;}
.tianjiao .color{color:#AC4B2A}
.tianjiao .bg{background-color:#FFF7EA}
.tianjiao .bg-color{background-color:#AC4B2A}
.tianjiao .icon-bg{border-color:transparent #AC4B2A transparent transparent;}

.gouqi .color{color:#BD2408}
.gouqi .bg{background-color:#FFF8F3}
.gouqi .bg-color{background-color:#BD2408}
.gouqi .icon-bg{border-color:transparent #BD2408 transparent transparent;}
.xinggan .color{color:#FBAB2D}
.xinggan .bg{background-color:#FFFCF2}
.xinggan .bg-color{background-color:#FBAB2D}
.xinggan .icon-bg{border-color:transparent #FBAB2D transparent transparent;}
.wuhuaguogan .color{color:#9A536C}
.wuhuaguogan .bg{background-color:#FBF5F7}
.wuhuaguogan .bg-color{background-color:#9A536C}
.wuhuaguogan .icon-bg{border-color:transparent #9A536C transparent transparent;}