.container{background:none;}
.filter_search{height:50px;line-height:30px;padding:10px 15px;}
.filter_search  .city_choose{width:20%;min-width:40px;height:30px;overflow:hidden;padding-right:5px;}
.filter_search  .city_choose .city_name{display:inline-block;width:80%;overflow:hidden;}
.filter_search  .city_choose .arrow{margin-top:15px;}
.filter_search .arrow{display:inlne-block;width: 0;height: 0;border-bottom:10px solid #ddd;border-left:10px solid transparent;}
.filter_search  .search-box{width:80%;}
.filter_search .search-input{width:88%;height:30px;border:none;background:#f4f4f4;border-radius:20px;text-indent:10px;}
.filter_search  .btn{padding:0px;background:#fff;width:12%;display:inline-block;line-height:30px;}

.shoplist_box{width:100%;}
.shoplist_box .item{width:100%;margin-top:8px;padding:5px 15px;float:left;}
.shoplist_box .item .logo_box{width:50px;height:50px;border-top-left-radius:999px;border-top-right-radius:999px;border-bottom-left-radius:999px;border-bottom-right-radius:999px;background-clip: padding-box;border-radius: 999px;overflow:hidden;border:5px solid #aeddda;}
.shoplist_box .item .shop_logo{width:40px;height:40px;border-top-left-radius:999px;border-top-right-radius:999px;border-bottom-left-radius:999px;border-bottom-right-radius:999px;border-radius: 999px;}
.shoplist_box .item .info{margin-left:15px;}
.shoplist_box .item .shop_name{line-height:30px;}
.shoplist_box .item .sty1{line-height:20px;}
.area_sty{width:100%;height:100%;background:rgba(0,0,0,0.5);position:absolute;left:0;z-index:999;}
.area_list{position:relative;width:100%;}
.area_list li{width:100%;float:left;overflow:hidden;}
.area_list li .name{display:inline-block;width:80px;height:20px;overflow:hidden;}
.whole_country{display:inline-block;width:100%;height:35px;line-height:28px;padding:10px;}
.whole_country .arrow{margin-top:8px !important;}
.province_list{width:50%;position:absolute;left:0;z-index:10;overflow:hidden;height:350px;overflow-y:scroll;}
.province_list .arrow{display:inline-block;width:7px;height:14px;margin-top:5px;background:url('/static/images/arrow_right.png') no-repeat;background-size:7px;}
.province_list li{height:35px;line-height:20px;padding:8px 10px;}
.province_list li:hover{cursor:pointer;color:#00D289;background:#efefef;}
.province_list li 
.province_list .active{color:#00D289;background:#efefef;}
.city_list{width:50%;position:absolute;right:0;z-index:10;background:#f0f0f0;height:350px;overflow-y:scroll;}
.city_list li{width:100%;height:35px;line-height:20px;padding:8px 10px 8px 30px;}
.city_list li:hover{cursor:pointer;color:#00D289;}
.city_list .active{color:#00D289;}
.all_city{background:url('/static/images/arrow_down.png') no-repeat 8px 20px;background-size:14px;height:35px;line-height:40px;display:inline-block;width:100%;padding:5px 10px 5px 30px;}
.shopList{overflow:hidden;}