body{font-size: 1em;font-family:"microsoft yahei";background:#f2f2f2;}
p{clear: both;width: 100%}
ol,ul,li{list-style:none;}
ul{padding-left:0;}
a:hover{text-decoration:none;}
a:focus{text-decoration: none}
a:focus{outline:none;}
input{border:none;}
.container{padding:0;}
.modal-dialog{margin-top:10%!important;width:100%;max-width:300px;}
.modal-header{padding:10px;}
.modal-body{font-size:1em;padding:10px;}
.modal-footer{clear:both;}

.bg-white{background:#fff !important;}
.bg-green{background:#00D681;}
.bg-grey{background:#f9f9f9;}
.bg-grey2{background:#f2f2f2;}
.bg-grey3{background:#E7E7E7;}
.bg-pink{background:#ff6563 !important;}
.bg-red{background:#E01445;}
.bg-orange{background:#E07D14;}

.text-center{text-align:center;}

.text-shadow{text-shadow:1px 1px #aaa;}

.text-green{color:#44b549;}
.text-white{color:#fff;}
.text-grey{color:#666;}
.text-grey2{color:#ccc;}
.text-pink{color:#ff6666;}
.text-red{color:#E01445;}
.text-orange{color:#E07D14;}

.padding-right-none{padding-right:0px;}
.phone-box{width:100%;min-width:320px;max-width:640px;margin:0 auto;overflow:hidden;background:#F2F2F2;padding-bottom:50px;}

.bottom-nav{max-width:640px;margin:0 auto;font-size:1.4em;height:50px;line-height:50px;overflow:hidden;}
.bottom-nav ul{margin-bottom:0;}
.bottom-nav li{text-align:center;padding:0 5px;}
.bottom-nav li a{display:block;}
.bottom-nav li:hover{background:#07B771;}
.bottom-nav li:hover a{color:#fff;}
.bottom-nav .active{background:#07B771;color:#fff;}

.set-inl-blo{display:inline-block;}
.no-mar-btom{margin-bottom:0px;}
.set-w100-fle{width:100%;float:left;}
.set-padding0{padding:0px  !important;}

.font8{font-size:0.8em;}
.font9{font-size:0.9em;}
.font11{font-size:1.1em;}
.font12{font-size:1.2em;}
.font14{font-size:1.4em;}
.font16{font-size:1.6em;}
.font18{font-size:1.8em;}

.m-b60{margin-bottom:60px;}

.message-box{position:relative;top:30%;overflow:auto;width:95%;max-width:500px;margin:auto;background-color:#fcfcfc;padding:1px;margin-top:-160px;padding-bottom:15px;border-radius:8px;box-shadow:0 0 8px #747474;overflow:hidden}
.message-box h1{font-size:large}
.message-box h1 span{color:#fe6565;margin-right:4px;margin-left:-20px;font-size:40px}
.message-box p{color:#777}
.message-box p span{color:#fe6565;margin:0 6px}
.message-box .content{overflow:auto;max-height:300px;text-align:center;margin:30px 0;margin-top:10px;padding:15px}
.message-box .btn{float:none;margin:5px;width:150px;background:url('../images/btn-bg.jpg') repeat;box-shadow:0 1px 3px #ccc;background-size:auto 100%;color:#fff;border-radius:10px;display:inline-block;text-decoration:none;padding:15px;font-size:large;font-weight:bold}