.list-header{height:15px;margin:100px 10px 0;position:relative;overflow:hidden;}
.list-header .corner-box{padding:0 15px;}
.list-header .corner{display:inline-block;width:100%;height:15px;background-color:#fff;background-size:33px 15px;}
.list-header .left-corner{position:absolute;left:0;width:16px;}
.list-header .right-corner{position:absolute;right:0;width:16px;}
.order-list{margin:0 10px;position:relative;overflow:hidden;}
.order-list-item{color:#444;width:100%;padding:10px 15px;position:relative;border-bottom:2px dashed #eee;float:left;}
.order-list-item header{border-bottom:1px solid #eee;padding:10px 0;}
.order-list-item header .icon{height:20px;width:auto;float:right;}
.order-list-item header p{font-size:16px;margin:0;display:inline-block;}
.order-list-item .cancel{color:#fe6565}
.order-list-item .cancel.disabled{color:#888}
.order-list-item p{margin-bottom:10px !important;font-size:small}
.order-list-item .p2{color:#888}
.order-list-item .price-box{display:inline-block;position:relative;bottom:0;text-shadow:0 1px 1px #ddd;}
.order-list-item .price-box .price{margin-right:3px}
.order-list-item a{color:#444}
.order-list-item .status-bar-box{font-size:15px;margin:0 0 30px 0;}
.order-list-item .status-bar-box .circle-icon{width:14px;height:14px;border-radius:8px;padding:0;background-color:#33cc66;position:absolute;margin-left:-7px;margin-top:-5px;box-shadow:inset 0 -1px 5px #888}
.order-list-item .status-bar-box .status-box{position:absolute;display:inline-block;color:#33cc66;text-shadow:0 1px 1px #ececec;padding:15px 0;overflow:visible;margin-left:-24px;}
.order-list-item .status-bar-box .status-box .status{position:relative;left:0;display:block;width:120px;text-align:center;line-height:20px;}
.order-list-item .status-bar-box .status-bar{position:relative;width:95%;margin:0 auto;height:4px;background-color:#d9d9d9;border-radius:2px;box-shadow:inset 0 1px 2px #c3c3c3}
.order-list-item .status-bar-box .status-bar .inner{height:4px;position:absolute;display:inline-block;background-color:#33cc66;box-shadow:inset 0 -1px 2px #999;border-radius:2px;}
.order-list-item .completed{background-color:#eee;padding-bottom:5px}
.order-list-item .status-bar-box .left0{left:0;}
.order-list-item .status-bar-box .left50{left:50%;}
.order-list-item .status-bar-box .left100{left:100%;}
.order-list-item .status-bar-box .width0{width:0;}
.order-list-item .status-bar-box .width50{width:50%;}
.order-list-item .status-bar-box .width100{width:100%;}
.order-list-item .btn-box .btn{width:100px;}
.comment-input{width:90%;height:120px;border:none;}
.order-nav{position:fixed;z-index:555;width:100%;max-width:800px;border-bottom:1px solid #ddd;height:40px;line-height:40px;margin-top:40px !important;}
.order-nav li{float:left;width:25%;border-bottom:2px solid #fff;height:39px;}
.order-nav li a{display:block;color:#333;}
.order-nav li.active{border-color:#33cc66;}
.order-nav li.active a{color:#33cc66;}
.content{padding:10px 0 0;}
.next{display:inline-block;width:6px;height:10px;background:url('../svg/arrow_right@2x.png');margin-top:5px;margin-left:3px;}
.sender_img{width:20px;height:20px;border-radius:50%;margin-left:-25px;}
.arr-right{background-image: url('../images/arr-right.png');width:8px;display:block;margin-left:6px;height:14px;background-size:contain;background-repeat:no-repeat;position:relative;top:5px;}