.user-info-detail{border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.user-info-detail .img-title{line-height:4.5em;}
.user-info-detail .user-img{width:4.5em;height:4.5em;box-shadow:1px 1px 2px #aaa;}
.user-info-detail .item{width:100%;float:left;font-size:14px;padding:1em 1.5em;border-top:1px solid #ddd;background-color:#fff;}
.user-info-detail .item .box{display:inline-block;width:100%;}
.user-info-detail .w1{margin-top:1.5em;}
.user-info-detail li a{color:#A8A8A8;}
.user-info-detail .s1{color:#A8A8A8;}
.user-info-detail .info-con{width:100%;float:left;}
.user-info-detail .info-edit{width:100%;float:left;margin-top:0.5em;}
.user-info-detail .info-edit .edit-box{width:100%;border:1px solid #ddd;border-radius:2px;background:#f2f2f2;font-size:1em;padding:0.3em 0;text-indent:5px;}

.tie-popbox .tie-info{width:100%;}
.phone-number{width:100%;float:left;}
.phone-number .phone{width:65% !important;}
.phone-number .get-code{width:32%;color:#fff;border-radius:4px;text-align:center;padding:4px 0;}
.tie-popbox  .concel-btn{background:#A0A0A0;color:#fff;width:45%;border-radius:1px;}
.tie-popbox  .tie-btn{;color:#fff;}
.concel-btn{background:#999;float:left;color:#fff;}
.sure-btn{background:#00D289;float:right;color:#fff;}
.btn-box{margin-top:10px;}
.height40{height:40px;line-height:40px;}

.input1{width:100%;border:1px solid #ddd;border-radius:2px;background:#F9F9F9;padding:0.5em 0;text-indent:0.5em;margin-bottom:0.5em;}
.input1:focus{border-color:#00D681;}