.box-style{width:100%;padding:10px;margin-bottom:10px;}
.bg-width{width:100%;padding:10px;}
.w-per6{width:60%;}
.w-per9{width:90%;}
.list-group .active{background:#fff;border-color:#ddd;border-left:2px solid #33CC66;}
.list-group-item:first-child{border-radius:0px;}
.list-group-item:last-child{border-radius:0px;}
.list-group-item{padding:10px 15px;border-left:2px solid #ddd;}
.list-group-item:hover{background:#fff;border-color:#ddd;border-left:2px solid #ddd;}
.list-group-item.active:hover{background:#fff;border-color:#ddd;border-left-color:#33CC66;}

.cart-list{padding:10px;border-radius:3px;}
.cart-list-item{position:relative;border:1px solid #eee;padding:5px;}
.cart-list-item .bg{padding:5px 0;}
.cart-list-item .goods-img{border-radius:2px;}
.cart-list-item .w15{width:50px;}
.cart-list-item .w75{width:75%;}
.cart-list-item .w10{width:10%;}
.cart-list-item .goods-info{height:100%;}
.cart-list-item .charge-type{position:absolute;bottom:5px;left:55px;width:130px;padding-left:12px !important;}
.cart-list-item .action-box{position:absolute;right:5px;top:25%;}
.cart-list-item .charge-item{height:30px;line-height:30px;position:absolute;bottom:0;}
.cart-list-item .number-change{position:relative;width:100px;}
.cart-list-item .minus-plus{display:inline-block;float:left;width:32px;height:32px;line-height:32px;font-weight:bold;border-radius:50%;border:1px solid #E4EBE6;position:absolute;z-index:10;}
.cart-list-item .number-input{width:70px;position:absolute;left:16px;top:1px;height:30px;border:1px solid #E4EBE6;}
.cart-list-item .number-plus{right:0;}
.cart-list-item .number-minus{left:0;}
.cart-list-item .disable{border-color:#ccc;color:#ccc;}
.cart-list-item .delete-btn a{display:inline-block;width:32px;height:32px;line-height:32px;}
.cart-list-item .name{min-width:90px;}

.send_type{border-top-left-radius:2px;border-top-right-radius:2px;overflow:hidden;margin-bottom:0px;}
.send_type li{width:49%;}
.send_type li a{display:block;border-radius:4px;border:1px solid #ccc;}
.send_type li a p{margin-bottom:0px;margin-top:3px;letter-spacing:-1px;}
.send_type li a p:last-child{margin-bottom:3px;}
.send_type li.active a{border-color:#33CC66;}
.send_type li.active .top{color:#33CC66;}

.send_day{overflow:hidden;width:80%;}
.send_day li{width:40%;margin-right:10px;}
.send_day li a{display:block;border-radius:0px;padding:0.2em 0;}
.send_day li.active a{background:#33CC66 !important;border-radius:2px;color:#fff !important;}

.send_period .active .period_name{color:#33CC66 !important;}
.send_period p{margin:0px;}
.period_name{min-width:80px;}

.pay_type .title{width:90px;}
.pay_type .active .title{color:#33CC66 !important;}

.address-box .tit{width:15%;min-width:50px;line-height:2.5em;}
.send-address-choose input{width:84%;height:2.5em;line-height:2.5em;text-indent:14px;margin-bottom:5px;}

.message-input{padding:10px 15px;}
.border-grey{border-color:#ddd;}
.tip-list li{width:32%;margin-right:1%;}
.tip-list li.active{background:#33CC66 !important;color:#fff !important;}

.tit{width:80px;}
.tit2{width:60px;}

