.box-style{width:100%;padding:10px;margin-bottom:10px;}
.bg-width{width:100%;padding:10px;}
.w-per6{width:60%;}
.w-per9{width:90%;}

.cart-list{padding:10px;border-radius:3px;}
.cart-list-item{position:relative;border:1px solid #eee;padding:5px;}
.cart-list-item .bg{padding:5px 0;}
.cart-list-item .goods-img{border-radius:2px;}
.cart-list-item .w15{width:15%;}
.cart-list-item .w75{width:75%;}
.cart-list-item .w10{width:10%;}
.cart-list-item .goods-info{height:100%;}
.cart-list-item .charge-type{position:absolute;bottom:5px;left:15%;width:130px;padding-left:12px !important;}
.cart-list-item .action-box{position:absolute;right:5px;top:25%;}
.cart-list-item .charge-item{height:30px;line-height:30px;position:absolute;bottom:0;}
.cart-list-item .number-change{position:relative;width:100px;}
.cart-list-item .minus-plus{display:inline-block;float:left;width:32px;height:32px;line-height:32px;font-weight:bold;border-radius:50%;border:1px solid #E4EBE6;position:absolute;z-index:10;}
.cart-list-item .number-input{width:70px;position:absolute;left:16px;top:1px;height:30px;border:1px solid #E4EBE6;}
.cart-list-item .number-plus{right:0;}
.cart-list-item .number-minus{left:0;}
.cart-list-item .disable{border-color:#ccc;color:#ccc;}
.cart-list-item .delete-btn a{display:inline-block;width:32px;height:32px;line-height:32px;}
.cart-list-item .name{min-width:90px;}

.send_type{border:1px solid #f2f2f2;border-top-left-radius:2px;border-top-right-radius:2px;overflow:hidden;margin-bottom:0px;}
.send_type li{width:49%;}
.send_type li a{display:block;border-radius:2px;border:1px solid #ccc;}
.send_type li a p{margin-bottom:0px;margin-top:3px;letter-spacing:-1px;}
.send_type li.active .top{color:#00D289;}

.send_day{overflow:hidden;}
.send_day li{width:40%;margin-right:10px;}
.send_day li a{display:block;border-radius:0px;padding:0.2em 0;}
.send_day li.active a{background:#00D681 !important;border-radius:2px;color:#fff !important;}

.send_period .list-group-item{padding:5px 15px;border-left:4px solid #ddd;}
.send_period .list-group-item:hover{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}
.send_period .active{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}
.send_period p{margin:0px;}

.pay_type .list-group-item{padding:5px 15px;border-left:4px solid #ddd;}
.pay_type .list-group-item:hover{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}
.pay_type .active{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}
.pay_type .active span{color:#00D681 !important;}
.pay_type p{margin:0px;}

.address_list .list-group-item{padding:5px 15px;border-left:4px solid #ddd;}
.address_list .list-group-item:hover{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}
.address_list .active{background:#fff;border-color:#ddd;border-left:4px solid #00D681;}


.send-address-choose input{padding:0.5em;margin-bottom:5px;}

.message-input{padding:0.5em 1em;}
.border-grey{border-color:#ddd;}
.tip-list li{width:32%;margin-right:1%;}
.tip-list li.active{background:#00d681 !important;color:#fff !important;}

.tit{width:80px;}
.tit2{width:60px;}