body{font-size: 1em;font-family:"microsoft yahei";}
p{clear: both;width: 100%}
ol,ul,li{list-style:none;}
ul{padding-left:0;}
a:hover{text-decoration:none;}
a:focus{text-decoration: none}
a:focus{outline:none;}
input{border:none;}
.container{padding:0;}
.modal{}
.modal-dialog{margin:0px auto;margin-top:10%!important;max-width:640px;}
.modal-content{position:relative;}
.modal-header{background:url('../images/huabian_green.png') repeat-x;padding:0px;height:40px;line-height:40px;position:absolute;z-index:10;width:100%;border-bottom:0px;border-top-left-radius:6px;border-top-right-radius:6px;color:#fff;}
.modal-title{line-height:40px;text-indent:14px;}
.modal-header .close{font-size:28px !important;margin-right:14px;margin-top:3px;}
.modal-body{font-size:1em;padding:0;padding-top:38px !important;}
.modal-footer{clear:both;}

.bg-white{background-color:#fff !important;}
.bg-green{background-color:#33CC66 !important;}
.bg-green3{background-color:#33CC66 !important;}
.bg-grey{background-color:#f9f9f9 !important;}
.bg-grey2{background-color:#f2f2f2 !important;}
.bg-grey3{background-color:#E7E7E7 !important;}
.bg-greyc{background-color:#ccc !important;}
.bg-pink{background-color:#ff6563 !important;}
.bg-red{background-color:#E01445 !important;}
.bg-orange{background-color:#E07D14 !important;}
.bg-pale-green{background-color:#EAF7E7 !important;}

.text-center{text-align:center;}
.text-shadow{text-shadow:1px 1px #aaa;}
.text-green{color:#33CC66 !important;}
.text-green2{color:#065D05 !important;}
.text-green3{color:#33CC66 !important;}
.text-white{color:#fff !important;}
.text-grey{color:#666 !important;}
.text-grey2{color:#ccc !important;}
.text-grey3{color:#333 !important;}
.text-grey6{color:#666 !important;}
.text-pink{color:#ff6666 !important;}
.text-red{color:#E01445 !important;}
.text-orange{color:#E07D14 !important;}
.text-brown{color:#9E6D48 !important;}

.box-shadow{box-shadow:0px 0px 8px #aaa;}

.padding-right-none{padding-right:0px;}
.phone-box{width:100%;min-width:320px;max-width:800px;margin:0 auto;overflow:hidden;padding-bottom:50px;}

.bottom-nav{max-width:800px;margin:0 auto;height:55px;line-height:92px;overflow:hidden;background:url('../images/huabian_white.png') repeat-x;}
.bottom-nav ul{margin-bottom:0;}
.bottom-nav li{text-align:center;padding:0 5px;}
.bottom-nav li a{display:block;background-size:2em !important;}
.bottom-nav li:hover a{color:#80c26b !important;}
.bottom-nav .active a{color:#80c26b !important;}
.bottom-nav .home{background:url('../svg/home.svg') no-repeat center 7px;}
.bottom-nav .goods{background:url('../svg/goods.svg') no-repeat center 5px;}
.bottom-nav .cart{background:url('../svg/cart.svg') no-repeat center 6px;}
.bottom-nav .my{background:url('../svg/my.svg') no-repeat center 8px;background-size:1.8em !important;}
.bottom-nav li:hover .home{background:url('../svg/home_green.svg') no-repeat center 7px;}
.bottom-nav li:hover .goods{background:url('../svg/goods_green.svg') no-repeat center 5px;}
.bottom-nav li:hover .cart{background:url('../svg/cart_green.svg') no-repeat center 6px;}
.bottom-nav li:hover .my{background:url('../svg/my_green.svg') no-repeat center 8px;}
.bottom-nav .active .home{background:url('../svg/home_green.svg') no-repeat center 7px;}
.bottom-nav .active .goods{background:url('../svg/goods_green.svg') no-repeat center 5px;}
.bottom-nav .active .cart{background:url('../svg/cart_green.svg') no-repeat center 6px;}
.bottom-nav .active .my{background:url('../svg/my_green.svg') no-repeat center 8px;}

.set-inl-blo{display:inline-block;}
.no-mar-btom{margin-bottom:0px;}
.set-w100-fle{width:100%;float:left;}
.set-padding0{padding:0px  !important;}

.font8{font-size:0.8em;}
.font9{font-size:0.9em;}
.font10{font-size:1em;}
.font12{font-size:1.2em;}
.font14{font-size:1.4em;}
.font16{font-size:1.6em;}
.font18{font-size:1.8em;}


.input-sty{border:1px solid #ccc;background:#f2f2f2;border-radius:2px;}

.m-b60{margin-bottom:60px;}
.m-r5{margin-right:5px;}
.m-r10{margin-right:10px;}
.m-b5{margin-bottom:5px;}
.m-b10{margin-bottom:10px;}
.m-b0{margin-bottom:0px !important;}
.mt42{margin-top:36px;}
.radius0{border-radius:0px !important;}

.message-box{position:relative;top:30%;overflow:auto;width:95%;max-width:500px;margin:auto;background-color:#fcfcfc;padding:1px;margin-top:-160px;padding-bottom:15px;border-radius:8px;box-shadow:0 0 8px #747474;overflow:hidden}
.message-box .bg-header{background:url('../images/huabian_hua.png') repeat-x;height:46px;}
.message-box h1{font-size:large}
.message-box h1 span{color:#fe6565;margin-right:4px;margin-left:-20px;font-size:40px}
.message-box p{color:#777}
.message-box p span{color:#fe6565;margin:0 6px}
.message-box .content{overflow:auto;max-height:300px;text-align:center;margin:30px 0;margin-top:10px;padding:15px}
.message-box .btn{float:none;margin:5px;width:150px;background:url('../images/btn-bg.jpg') repeat;box-shadow:0 1px 3px #ccc;background-size:auto 100%;color:#fff;border-radius:10px;display:inline-block;text-decoration:none;padding:15px;font-size:large;font-weight:bold}

.p5{padding:5px !important;}
.p0{padding:0px !important;}
.p05{padding:5px 0px 0px 0px !important;}
.pl10{padding-left:10px !important;}
.pr10{padding-right:10px !important;}
.p010{padding:0px 10px !important;}
.prl0{padding-left:0px !important;padding-right:0px !important;}
.pb0{padding-bottom:0px !important;}
.plr5{padding:0 5px !important;}
.pl5{padding-left:5px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}

.back-to-top{width:30px;height:30px;line-height:30px;position:fixed;right:0;bottom:60px;}

.return-btn{display:inline-block;width:20%;height:3em;position:absolute;left:0;background:url('../images/back-white-2px.png') no-repeat 1em center;}

.detail-header{background:url('../images/huabian_green.png') repeat-x;height:40px;line-height:40px;position:relative;max-width:800px;min-width:320px;}
.detail-header .title{padding-left:2em;}

.border-c{border:1px solid #ccc;}
.rainshed{background:url('../images/huabian_hua.png') repeat-x;height:40px;line-height:40px;position:fixed;top:0;z-index:99;width:100%;max-width:800px;}
.rainshed2{background:url('../svg/huabian_hua2.svg') repeat-x;height:40px;line-height:40px;position:fixed;top:0;z-index:99;width:100%;max-width:800px;}
.rainshed_green{background:url('../images/huabian_green.png') repeat-x;height:40px;line-height:40px;width:100%;max-width:800px;}

.desaturate{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter: url('../svg/saturate.svg#greyscale');filter: grayscale(100%);filter:gray;}

.sale_tag{background:url('../images/sale_tag.png') no-repeat;}

.border-ca{border:1px solid #ddd;}
.border-bd{border-bottom:1px solid #ddd;}
.border-td{border-top:1px solid #ddd;}
.border-rd{border-right:1px solid #ddd;}
.w49{width:49%;}
.w50{width:50%;}