.box-style{padding:0 10px;}
.user-info{position:relative;}
.user-info .bg{width:100%;}
.user-info .user-img{position:absolute;width:100%;height:100%;z-index:10;left:0;top:0;}
.user-info .img{max-width:100px;width:30%;border:2px solid #fff;margin-top:10%;}
.user-info .code{margin-top:6%;}
.user-info .user-sex{display:inline-block;background:url('../images/container-icon2.png') no-repeat;width:12px;height:16px;}
.user-info .female{background-position: -20px -13px;}
.user-info .male{background-position:0 -28px;}

.title{height:50px;line-height:50px;}
.title2{height:30px;line-height:35px;margin:12px 0;}

.center-nav{width:100%;padding:15px 0;border-top:1px solid #ddd;}
.center-nav li{border-left:1px solid #ddd;}
.center-nav li:first-child{border-left:0px;}
 p{margin-bottom:0px !important;}

.edit-btn{background:url("../images/container-icon.gif") no-repeat 10px -41px;display:inline-block;height:28px;line-height:28px;padding:0 15px;}
.delete-btn{display:inline-block;background:url("../images/container-icon.gif") no-repeat 0 3px;height:26px;line-height:26px;padding:0 10px;}

.address-item{padding:5px 10px;border:none;border-top:1px solid #ddd;}
.address-box .modal-body{padding:10px 20px;}
.address-box .modal-body p{margin-bottom:5px;margin-top:5px;}
.address-box .modal-body .w60{width:300px;}
.address-box .modal-body .tit{width:80px;line-height:30px;}
.address-box .modal-body input{background:#f2f2f2;height:30px;line-height:30px;text-indent:14px;}

.collect-icon{width:19px;height:15px;background:url('../svg/icon_list_1.svg') -100px -27px;margin-right:5px;background-size:120px;margin-top:17px;}
.address-icon{width:19px;height:15px;background:url('../svg/icon_list_1.svg') -100px -46px;margin-right:5px;background-size:120px;margin-top:17px;}
.order-icon{width:19px;height:16px;background:url('../svg/icon_list_1.svg') -100px -2px;margin-right:5px;background-size:120px;margin-top:16px;}

hr{margin-top:0px !important;;margin-bottom:0px !important;margin-left:24px;}