.user-info-detail{border-bottom:1px solid #e7e7eb;border-top:1px solid #e7e7eb;}
.user-info-detail .img-title{line-height:42px;}
.user-info-detail .user-img{width:42px;height:42px;border-radius: 50%;}
.user-info-detail .shop-img{width:34px;height:34px;border-radius: 50%;}
.user-info-detail .third-img{width:32px;height:32px;border-radius: 50%;}
.user-info-detail .item{width:100%;float:left;font-size:14px;padding:12px 8px;border-top:1px solid #f1f5f1;line-height:18px;}
.user-info-detail .item .box{display:inline-block;width:100%;}
.user-info-detail .w1{margin-top:1.5em;}
.user-info-detail li a{color:#999;}
.user-info-detail .s1{color:#999;}
.user-info-detail .info-con{width:100%;float:left;}
.user-info-detail .info-edit{width:100%;float:left;margin-top:0.5em;}
.user-info-detail .info-edit .edit-box{width:100%;border:1px solid #e7e7eb;border-radius:2px;background:#f2f2f2;font-size:1em;padding:0.3em 0;text-indent:5px;}
.bm-line{border-bottom:1px solid #f2f2f2;}
.profile-lst{float:left;padding-left: 8px;background-color:#fff;width: 100%;}
.tie-popbox .tie-info{width:100%;}
.phone-number{width:100%;float:left;}
.phone-number .phone{width:65% !important;}
.phone-number .get-code{width:32%;color:#fff;border-radius:4px;text-align:center;padding:4px 0;}
.tie-popbox  .concel-btn{background:#A0A0A0;color:#fff;width:45%;border-radius:1px;}
.tie-popbox  .tie-btn{;color:#fff;}
.concel-btn{background:#999;float:left;color:#fff;}
.sure-btn{background:#00D289;float:right;color:#fff;}
.btn-box{margin-top:10px;}
.height40{height:40px;line-height:40px;}

.input1{width:100%;border:1px solid #e7e7eb;border-radius:2px;background:#F9F9F9;padding:0.5em 0;text-indent:0.5em;margin-bottom:0.5em;}
.input1:focus{border-color:#00D681;}
.ml6{margin-left: 6px;}
.pt2{padding-top: 2px;}
.mt12{margin-top: 12px;}
.mt8{margin-top: 8px;}
.lh50{line-height: 32px!important;}
.bt-none{border-top:none !important;}
.bm-none{border-bottom:none !important;}
.h19{height: 19px;}
.g-txt{color: #52b43f !important;}
.item-title{height: 36px;line-height: 36px;font-size: 14px;color:#999;text-align: center;float: left;width: 100%;background-color: #f0f4f0;}
.arr-right{background-image: url('../images/arr-right.png');width: 8px;display: block;margin-left: 6px;height: 14px;background-size: contain;background-repeat: no-repeat;position: relative;top: 2px;}
.copy-right{font-size: 14px;text-align: center;line-height: 20px;margin-top: 30px;color: #A8A8A8;}
.c999{color:#999 !important;}
.wrap-img{width: 42px;height: 42px;display: block;}
.wrap-img-b{border: 4px solid #aeddda;width: 34px;height: 34px;display: block;border-radius:50%;-webkit-box-sizing: content-box;}
.back-btn{height: 44px;line-height: 44px;font-size: 14px;text-align: center;color: #ff6563;background-color: #fff;display: block;}

.question-icon{width: 20px;height: 20px;background-image: url('../images/circle_question.png');background-size:20px 20px;background-repeat:no-repeat;}








