p{margin-bottom:0px;}
.info1{padding:5px;}
.info2 li{padding:0px;}
.shop-logo img{width:100%;}
.shop-box{padding:8px;margin:5px;box-shadow:1px 1px 5px #aaa;}
.shop-box .title{border-bottom:1px solid #eee;padding-bottom:5px;}
.shop-info{}
.shop-info li{border-bottom:1px solid #eee;padding:5px;}
.staff-img li{margin-right:5px;margin-right:5px;}
.staff-img li img{width:60px;height:60px;}
.user-comment .comment-item{border-bottom:1px solid #ddd;padding-top:5px;}
.user-comment .img-box{}
.user-comment .img{width:100%;}
.foucus-notice{max-width:800px;margin:0 auto;height:40px;line-height:40px;overflow:hidden;z-index:9999;}