.points_box{height:100px;padding:15px;line-height:70px;}
.points_img{width:70px;}
.rules{margin-top:18px;border:1px solid #2bace1;}
.rule_list{width:150px;margin:0 auto;}
.rule_list li{width:100%;}
.points-list{padding:0 20px;}
.points-list li{padding:15px 15px;width:100%;float:left;border:1px solid #eee;border-radius:28px;margin-bottom:5px;background-color: #fff;color: #999;}
.points-list li .type{display:inline-block;width:90px;}
.p-point{color: #666;padding-left: 15px;}