p{margin-bottom:0px;}
.info1{padding:5px;}
.info2{padding:10px;border-top:1px solid #f7f7f7;}
.info2 li{padding:0px;border-right:1px solid #f3f3f3;}
.info2 li:last-child{border-right:0px;}
.shop-logo img{width:80px;height:80px;}
.shop-box{padding:10px;margin:10px;}
.shop-box .title{border-bottom:1px solid #ddd;padding-bottom:5px;}
.shop-info{}
.shop-info li{border-bottom:1px solid #ddd;padding:10px 0;}
.staff-img{margin-top:10px;margin-bottom:5px;}
.staff-img li{margin-right:5px;}
.staff-img li img{width:50px;height:50px;}
.user-comment .comment-item{border-bottom:1px solid #ddd;padding:10px 0;}
.user-comment .img-box{}
.user-comment .img{width:40px;}
.foucus-notice{max-width:800px;margin:0 auto;height:40px;line-height:40px;overflow:hidden;z-index:9999;}
.w8{width:75%;}
.level-box{height:35px;line-height:35px;}
.level-box em{width:12px;height:18px;background:url('../svg/icon_list.svg') -38px -48px;margin-right:5px;font-style:normal;line-height:18px;background-size:120px 180px;}
.sign-box{height:35px;line-height:35px;}
.sign-box em{width:17px;height:20px;background:url('../svg/icon_list.svg') -54px -45px;margin-right:5px;background-size:120px 180px;}
.area-icon{width:14px;height:22px;background:url('../svg/icon_list.svg') 0 -48px;margin-right:5px;background-size:120px 180px;}
.phone-icon{width:18px;height:26px;background:url('../svg/icon_list.svg') -20px -48px;margin-right:5px;background-size:120px 180px;}