html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, font, img, ins,
small, strike, strong, tt, var,
b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; list-style:none;border: none; outline: none; vertical-align: baseline;}
html,body,div,p,textarea,input,select,button,h1,h2,h3,h4,h5,h6{font-size:14px;line-height: 1.25;font-family: 'Microsoft Yahei','Arial','宋体';}
a,a:link,a:visited,a:hover,a:active{text-decoration: none;}
img,input,button,select{vertical-align: middle;border:none;width: 100%;}
img{width: auto;}
div,p,h1,h2,h3,h4,h5,h6{word-break:break-all;}
textarea{width: 100%;overflow: hidden;resize: none;}
li{display: block;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
i{display: inline-block;background-size: contain;background-repeat: no-repeat;}
a{background-repeat: no-repeat;background-size: contain;}
table{width: 100%;border-collapse: collapse;table-layout: fixed;}
.txt-ac{text-align: center;}
.txt-al{text-align: left;}
.txt-ar{text-align: right;}
.ov-center{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top: 50%;left: 50%;}
.o-center{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left: 50%;}
.v-center{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top: 50%;}
.pr{position: relative;}
.pa{position: absolute;}
.pointer{cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.clip{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none!important;}
.show{display: block!important;}
.f12{font-size: 12px !important;}
.header{background:#33CC66;height:40px;text-align:center;line-height:40px;position:fixed;background-size:20px;max-width:800px;min-width:320px;z-index:666;width:100%;top:0;color: #fff;font-size: 16px;}
.btn-commit{height:40px;line-height: 40px;font-size:14px;width: 200px;color: #fff;background-color: #80de9e;border-radius: 40px;display: inline-block;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.ml20{margin-left: 20px;}
.mt2{margin-top: 2px;}
.rotate-img{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.rotate-img2{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.pt5{padding-top: 5px;}
.no-txt{text-align: center;font-size: 16px;line-height: 40px;color: #777;}
.grey-bg{background-color: #ccc !important;}
.r70{right:-70px !important;}
.w90{width: 90px !important;}

.wrap-goods-detail{position: relative;}
.img-list{width: 100%;height: 0;padding-bottom: 60%;position: relative;background-color: #fff;}
.swiper-container{width: 100%;height: 0;padding-bottom: 60%;overflow: hidden;position: relative;}
.swiper-slide>img{width: 100%;}
.pagination{position: absolute;z-index:10;right:12px;bottom: 8px;white-space: nowrap;line-height: 1;}
.swiper-pagination-switch{width:12px;height: 12px;border-radius:50%;-webkit-box-sizing:border-box;display: inline-block;margin:0 5px;-webkit-transition:all .2s ease-in-out;background-color: #fff;}
.swiper-active-switch{background-color: #80c092;}
.roll-bg{width: 34px;height: 34px;border-radius: 50%;background-color: rgba(128,192,146,.6);z-index:999;cursor: pointer;}
.back{position: absolute;left: 10px;top: 10px;}
.back>i{position: absolute;width: 10px;height: 22px;background-image: url('/static/images/arrow_left.png'); top: 8px;left: 10px;}
.share{position: absolute;right: 10px;top: 10px;}
.share>i{position: absolute;width: 16px;height: 18px;background-image: url('/static/images/icon_share.png');top: 8px;left: 8px;}
.shop-area{position: fixed;left: 10px;bottom:10px;min-width: 80px;padding-left: 36px;padding-right:10px;border:1px solid #23ac39;text-align: center;border-radius: 34px;height: 34px;line-height:34px;z-index:990;color: #333;font-size: 14px;background-color: #fff;}
.shop-area .shop-in{position: absolute;left: 0;top: 0;}
.shop-area .shop-in>i{background-image:url('/static/images/icon_shop.png');width: 20px;height: 20px;top: 7px;left: 7px;position: absolute;}
.cart-bg{position: fixed;right: 10px;bottom:10px;}
.cart-bg>i{position: absolute;background-image:url('/static/images/icon_cart.png');width: 20px;height: 20px;top: 7px;left: 7px;}
.cart-bg>span{font-size: 12px;color: #fff;background-color: #ce6c5a;border-radius: 50%;display:block;position: absolute;top: -4px;right: -4px;height: 16px;padding: 0 4px;opacity: 1;-webkit-transition:all .3s ease-out;}
.cart-bg .move-cart{width: 30px;height: 30px;top: -110px;right:100px;line-height: 30px;text-align: center;opacity: 0;-webkit-transition:none;}
.wrap-goods-info{padding: 10px;}
.goods-title{font-size: 14px;color: #221814;margin-bottom: 5px;}
.goods-info{font-size: 14px;color: #989898;line-height: 18px;}
.goods-num{font-size: 14px;margin-top: 8px;text-align: right;color: #989898;}
.goods-num .zan{display: inline-block;cursor:pointer;padding-left: 16px;height: 16px;background-image: url('/static/images/icon_love.png');background-repeat: no-repeat;background-size: 14px;background-position: 0 2px;}
.goods-num .zaned{background-image: url('/static/svg/heart@2x.png');background-size: 24px;background-position: -12px 2px;}
.wrap-choose-goods{background-color: #ebf0ef;padding:10px 0 10px 10px;}
.wrap-choose-goods>li{position: relative;height: 30px;margin-bottom: 10px;line-height: 30px;}
.wrap-choose-goods>li:last-child{margin-bottom: 0;}
.now-price{font-size: 16px;color: #80c092;margin-right: 5px;}
.old-price{font-size: 12px;color: #989898;}
.now-buy{width: 90px;height: 30px;line-height: 30px;cursor:pointer;background-color:#7ebf91;padding-left: 10px;text-align: center;color: #fff;font-size: 14px;border-top-left-radius: 30px;border-bottom-left-radius: 30px;position: absolute;right: 0;top: 0;-webkit-transition:all .6s ease-in-out;}
.want-num{width: 30px;height: 30px;position: absolute;right: 66px;top: 0;overflow: hidden;-webkit-transition:all .6s ease-in-out;display: none;}
.want-num>span{width: 30px;height: 30px;display: inline-block;background-color:#fff;position: absolute;line-height: 26px;font-size: 22px;color: #91d95c;text-align: center;cursor: pointer;border-radius: 50%;border: 1px solid #e7e7eb;}
.want-num>input{border-top: 1px solid #eee;border-bottom: 1px solid #eee;height: 30px;text-align: center;color: #91d95c;border-radius: 30px;background-color: #fff;}
.want-num>input:focus{border-top: 1px solid #cecece;border-bottom: 1px solid #cecece;}
.want-num .minus{left: 0;top: 0;}
.want-num .add{top: 0;right: 0;}
.goods-choose-lst{margin-top: 12px;}
.goods-choose-lst>li{width:100%;float:left;-webkit-box-sizing: border-box;border: 1px solid #e4e4e4;height: 36px;line-height: 36px;text-align: center;color: #989898;font-size: 14px;cursor: pointer;}
.goods-choose-lst>li:last-child{border-left:none;}
.goods-choose-lst .active{border-top:2px solid #7ebf91;color: #80c092;}
.goods-info-lst>li{display: none;line-height:26px;padding:10px;}
.goods-info-lst .active{display: block;}
.goods-intro,.goods-intro>*{font-size: 14px !important;color: #989898 !important;}
.goods-intro>img{border: none !important;display: block;margin: 0 auto;}
.comment-lst>li{border-bottom: 1px solid #e4e4e4;padding: 10px;}
.comment-lst .com-top{height: 20px;line-height: 20px;font-size: 12px;color: #989898;}
.comment-lst .com-top>img{width: 20px;height: 20px;border-radius: 50%;margin-right: 2px;margin-top: -2px;}
.comment-lst .name{color: #333;font-size: 14px;}
.comment-lst .com-txt{font-size: 14px;line-height: 18px;color: #989898;}

.market-price{text-decoration:line-through;}
.goods-info-lst{padding-bottom:50px;}















