.goods-list{width:100%;float:left;margin:0px;}
.goods-list-item{width:100%;float:left;position:relative;overflow:hidden;margin-bottom:2px;}
.goods-list-item .goods-img{position:relative;overflow:hidden;max-height:102px;max-width:120px;}
.goods-list-item .goods-img .tag{display:inline-block;position:absolute;width:30px;}
.goods-list-item .goods-img a{width:100%;overflow:hidden;padding:2px;}
.goods-list-item .goods-img img{width:100%;max-width:100px !important;max-height:100px;border:4px solid #fff;}
.goods-list-item .great-number{margin-bottom:0;}
.goods-list-item .charge-style{clear:both;}
.goods-list-item .charge-style span,a{display:inline-block;}
.goods-list-item .charge-first{width:100%;float:left;}
.goods-list-item .charge-list{}
.goods-list-item .charge-list li{border-top:1px solid #fff;padding:2px 0;}
.goods-list-item .number-change{position:relative;width:120px;}
.goods-list-item .minus-plus{display:inline-block;float:left;width:36px;font-weight:bold;font-size:20px;text-align:center;border-radius:50%;border:1px solid #E4EBE6;position:absolute;z-index:10;}
.goods-list-item .number-input{width:28%;width:90px;position:absolute;left:16px;}
.goods-list-item .number-plus{right:0;}
.goods-list-item .number-minus{left:0;}
.goods-list-item .disable{border-color:#ccc;color:#ccc;}
.arrow{background:url('../images/arrow.png') no-repeat right bottom;}

.large-img-box .close{font-size:12px;opacity:1;padding:8px;}
.large-img-box img{width:100%;margin-bottom:10px;}
.large-img-box .click-great{display:inline-block;width:100%;padding:10px;}
.large-img-box .modal-footer{padding:0px;}

.classify-title{text-indent:14px;padding:5px;border-radius:5px;margin-bottom:5px;}
.modal-dialog{width:100%;max-width:300px;}

.notice-board{border:5px solid #fff;min-height:120px;position:relative;}
.notice-board .swipe{overflow:hidden;visibility: hidden;position:relative;}
.notice-board .swipe .wrap{margin-top:10px;min-height:120px;float:left;width:100%;}
.notice-board .swipe-wrap {overflow:hidden;position:relative;min-height:120px;}
.notice-board .swipe-wrap > figure {float:left;width:100%;position:relative;}
.notice-board .circle{position:absolute;bottom:10px;width:100%;}
.notice-board #position{text-align:center;list-style:none;margin:0;padding:0}
.notice-board #position li{display:inline-block;width:10px;height:10px;border-radius:10px;border:1px solid #fff;margin:0 2px;cursor:pointer}
.notice-board #position li.on{background:#fff;}

.right-nav{position:fixed;bottom:80px;width:40px;}
.right-nav li{width:40px;height:40px;float:left;line-height:40px;margin-bottom:2px;}

.classify .modal-dialog{margin-top:0px;max-width:800px !important;}
.classify a{display:block;}

.line34{line-height:34px;}
.width34{width:34px;}
.w3{width:25%;}
.w7{width:75%;}