.box-style{border:1px solid #ddd;padding:10px 0;}
.user-info{position:relative;}
.user-info .img{max-width:100px;}
.user-info .code{margin-top:6%;}
.user-info .user-sex{display:inline-block;background:url('../images/container-icon2.png') no-repeat;width:12px;height:20px;}
.user-info .female{background-position: -20px -13px;}
.user-info .male{background-position:0 -28px;}

.title{text-indent:20px;}
.center-nav{}
.center-nav li{border-left:1px solid #ddd;border-top:1px solid #ddd;}
.center-nav li p{margin-bottom:5px !important;}