.staff-list{padding:5px;}
.staff-item{box-shadow:1px 1px 5px #aaa;padding:5px;margin-bottom:5px;}
.staff-item p{margin-bottom:5px;}
.staff-item .staff-info{padding:5px;}
.staff-item .staff-info li{border-bottom:1px solid #f2f2f2;padding:3px;}
.collect-btn{border:1px solid #00D681;padding:3px 15px;border-radius:2px;}