.points_box{height:90px;padding:10px 15px;line-height:70px;}
.points_img{width:70px;}
.rules{margin-top:18px;border:1px solid #2bace1;}
.rule_list{width:100%;}
.rule_list li{width:100%;text-indent:60px;}
