.title{padding:10px 0 3px 0;}
.other_way{padding:15px 40px;}
.other_way .box{padding-left:10px;}
.other_way li{width:25%;float:left;font-size:0;text-align:center;}
.other_way .login_btn{display:inline-block;width:50px;height:50px;border-radius:50%;margin:0 auto;margin-right:10px;background-size:50px !important;}
.other_way .weixin_login{background:url('/static/images/wx.png') no-repeat;}
.other_way .qq_login{background:url('/static/images/qq.png') no-repeat;}
.other_way .alipay_login{background:url('/static/images/alipay.png') no-repeat;}
.other_way .weibo_login{background:url('/static/images/wb.png') no-repeat;}

 .input_sty{width:100%;height:40px;text-indent:10px;}
 .border_bf8{border-bottom:1px solid #f8f8f8;}
.phone_login{padding:0 10px;}

.login_check{width:60%;min-width:186px;max-width:280px;margin-top:20px;}
.login_check .login{width:100%;border-radius:30px;padding:9px 0px;margin-bottom:8px;}
/*register*/
.progress_box{padding:10px 0;}
.progress_box li{}
.progress_box .active{color:#80de9e;}
.rule_box{line-height:14px;}
.rule_box .check_btn{display:inline-block;width:13px;height:13px;background-size:13px !important;margin-right:3px;border:1px solid #ddd;background:#fff;}
.rule_box .checked{background:url('/static/images/ck_active.png') no-repeat;}

.regist_bottom{padding:20px;position:fixed;bottom:20px;width:100%;min-width:320px;max-width:800px;}
.regist_bottom .tit{margin-top:-6px !important;}
.regist_login li{width:25%;float:left;font-size:0;text-align:center;}
.regist_login .login_btn{display:inline-block;width:52px;height:52px;border-radius:50%;margin:0 auto;margin-right:10px;background-size:52px !important;}
.regist_login .weixin_login{background:url('/static/images/wx2.png') no-repeat;}
.regist_login .qq_login{background:url('/static/images/qq2.png') no-repeat;}
.regist_login .alipay_login{background:url('/static/images/alipay2.png') no-repeat;}
.regist_login .weibo_login{background:url('/static/images/wb2.png') no-repeat;}