html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, font, img, ins,
small, strike, strong, tt, var,
b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; list-style:none;border: none; outline: none; vertical-align: baseline;}
html,body,div,p,textarea,input,select,button,h1,h2,h3,h4,h5,h6{font-size:14px;line-height: 1.25;font-family: 'Microsoft Yahei','Arial','宋体';}
a,a:link,a:visited,a:hover,a:active{text-decoration: none;}
img,input,button,select{vertical-align: middle;border:none;width: 100%;}
div,p,h1,h2,h3,h4,h5,h6{word-break:break-all;}
textarea{width: 100%;overflow: hidden;resize: none;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
i{display: inline-block;background-size: contain;background-repeat: no-repeat;}
a{background-repeat: no-repeat;background-size: contain;display: inline-block;}
table{width: 100%;border-collapse: collapse;table-layout: fixed;}
.txt-ac{text-align: center;}
.txt-al{text-align: left;}
.txt-ar{text-align: right;}
.ov-center{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top: 50%;left: 50%;}
.o-center{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left: 50%;}
.v-center{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top: 50%;}
.pr{position: relative;}
.pa{position: absolute;}
.pointer{cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.clip{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none!important;}
.show{display: block!important;}
.f12{font-size: 12px !important;}
/*账户余额*/
.balance-top{margin-top: 40px;background-color: #f98080;padding:15px 20px;}
.bal-top>dd{width: 70px;height: 70px;}
.bal-top>dd>img{width: 70px;height: 70px;border-radius: 50%;}
.bal-top>dt{width: calc(100% - 70px);padding-left:10px;-webkit-box-sizing: border-box;padding-top: 16px;}
.bal-shop{font-size: 14px;color: #fff;line-height: 140%;width: calc(100% - 65px);-webkit-box-sizing: border-box;padding-right: 10px;}
.bal-shop>p{margin-bottom: 4px;}
.bal-cz{width: 65px;}
.bal-cz>a{display: block;height: 34px;line-height: 34px;text-align: center;margin-top:4px;color: #f98080;background-color:#fff;font-size: 14px;border-radius: 5px;box-shadow:0 0 1px 4px #FF7BAC;}
.wrap-bal-ma{padding: 15px 20px 40px 20px;}
.bal-balbox{border-radius: 5px;border: 2px solid #e6e6e6;padding: 10px;background-color: #fff;color: #999;line-height: 140%;}
.bal-balbox>h3{font-size: 16px;font-weight: normal;}
.bal-balbox>p{font-size: 14px;}
.bal-balbm>h3{color: #666;font-size: 18px;margin-top: 10px;font-weight: normal;}
.bal-bm-lst>li{display:block;margin-top: 10px;border: 2px solid #f0f0f0;border-radius: 28px;-webkit-box-sizing: border-box;padding: 8px 15px;background-color: #fff;}
.bal-bm-lst .item-left{width: calc(100% - 60px);padding-left: 10px;-webkit-box-sizing: border-box;}
.bal-bm-lst .item-right{width: 60px;color: #f78c8c;font-size: 16px;line-height: 38px;}
.bal-bm-lst .item-left>h4{font-size: 16px;color: #999;line-height: 140%;font-weight: normal;}
.bal-bm-lst .item-left>p{font-size: 14px;color: #999;line-height: 140%;}
/*账户充值*/
.wrap-rec-ipt{margin-top: 60px;background-color: #fff;height: 40px;padding: 0 20px;}
.wrap-rec-ipt>span{display: block;float:left;}
.wrap-rec-ipt .left{width: 90px;font-size:16px;color: #999;height: 40px;line-height: 40px;text-align: right;}
.wrap-rec-ipt .right{width: calc(100% - 90px);font-size: 16px;height: 40px;line-height: 40px;color: #999;}
.rec-ipt{width: calc(100% - 38px);height:40px;font-size:14px;color: #999;margin-top: -3px;}
.rec-bm-lst{padding: 0 10px;background-color: #fff;margin-top: 10px;}
.rec-bm-lst>li{padding: 5px 15px;border-bottom: 1px solid #f5f5f5;display: block;}
.rec-bm-lst>li:last-child{border-bottom: none;}
.wrap-rec-item>dd{width: 60px;height: 60px;}
.wrap-rec-item>dd>img{width: 60px;border-radius: 50%;}
.wrap-rec-item>dt{width: calc(100% - 60px);-webkit-box-sizing: border-box;padding-left: 10px;margin-top: 10px;}
.rec-left{width: calc(100% - 30px);}
.rec-left>p{color: #666;line-height: 20px;font-size: 14px;}
.rec-right{width: 30px;padding-top: 10px;text-align: center;}
.rec-right>input{width: 20px;height: 20px;border: none;background: url(../images/uncheck.png) no-repeat;}
.rec-right .checked{background: url(../images/checked.png) no-repeat;}
.wrap-commit{margin-top: 20px;text-align: center;}
.wrap-commit>a{display: inline-block;width: 80%;height: 40px;line-height: 40px;text-align: center;color: #fff;background-color: #80de9e;border-radius: 20px;max-width: 200px;font-size: 16px;}