.slide_box{width:100%;overflow: hidden;position:relative;height:500px;overflow:hidden;text-align: center;}
.slide_box .slide-ul{position: absolute;height: 500px;overflow: hidden;top: 0;}
.slide-ul .item{width:100%;position:relative;}
.slide_box .bg{width:1200px;height: 500px;}
.slide-ul .item .item_box{width:1200px;margin:0 auto;position:relative;margin-top:5px;}
.slide-ul .item .img{left:0;opacity:0;}
.slide-ul .item .word{font-size:24px;top:160px;position:absolute;right:-9999px;}
.slide-ul .item .word p{line-height: 34px;}
.slide-ul .item .word .small-txt{margin-bottom: 0;line-height: 20px;}
.slide-ul .item .btn{font-size:22px;border:1px solid #fff;padding:5px 20px;}
.slide-ul .item .btn:hover{text-decoration:none;background:rgba(255,255,255,0.2);}
.slide-ul .item .img2{width:1100px;}
.slide-ul .item .word2{margin-right:20px;top:180px;}
.slide-ul .item .word3{margin-right:50px;top:110px;}
.slide_box .num{position:absolute;left:50%;bottom:5px;z-index:999;-webkit-transform:translate(-50%,0);}
.slide_box .num li{width:15px;height:15px;border-radius:50%;border:1px solid #fff;}
.slide_box .num .on{background:#fff;}
.mt10{margin-top: 10px !important;}
.announcement{width:100%;background:url('/static/official_img/line.png') no-repeat center bottom;}
.announcement .box{width:300px;margin:0 auto;}
.announcement .item{width:100%;height:50px;line-height:50px;background:url('/static/official_img/horn.png') no-repeat left 10px;background-size:34px;padding-left:34px;}
.announcement .item .con{display:inline-block;width:160px;overflow:hidden;}

.intro_list{margin-top:30px;}
.intro_list li{width:33.333333%}
.intro_list li .img{width:210px;}
.intro_list li  .intro{width:180px;margin:0 auto;}
.intro_list li  .intro p{margin-bottom:10px;}
.mt-3{margin-top: -3px!important;}
.intro-top{margin-bottom: 30px;text-align: center;font-size: 22px;}
.bg-bg{position: absolute;width: 1200px;height: 500px;top: 0;left: 50%;-webkit-transform:translate(-50%,0);background-color: rgba(0,0,0,.5);z-index:100;}
.bg-text{width: 1000px;position: absolute;top: 150px;left: 50%;color: #fff;-webkit-transform:translate(-50%,0);z-index:200;}
.bg-text>h1{font-weight:normal;font-size: 50px;text-align: center;}
.bg-text>p{font-size: 20px;line-height: 28px;text-align: center;}
.bg-text>a{color: #fff;display: block;width: 140px;font-size: 16px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #fff;border-radius: 2px;margin: 50px auto;-webkit-transition:all .2s ease-in-out;}
.bg-text>a:hover{text-decoration: none;background-color: #fff;color: #333;}
.swiper-container{width: 1000px;height: 500px;margin: 0 auto;}
.swiper-slide{position: relative;}
.pagination{position: absolute;z-index:10;left: 50%;-webkit-transform:translate(-50%,0);bottom: 10px;white-space: nowrap;line-height: 1;}
.swiper-pagination-switch{width:14px;height: 14px;border-radius:50%;-webkit-box-sizing:border-box;display: inline-block;margin:0 5px;-webkit-transition:all .2s ease;background-color: #fff;cursor: pointer;}
.swiper-active-switch{background-color: #6CCA86;}