.slide_box{width:100%;overflow: hidden;position:relative;height:470px;text-align: center;}
.slide_box .bg{width:1000px;height: 470px;}
.mt10{margin-top: 10px !important;}
.announcement{width:100%;background:url('/static/official_img/line.png') no-repeat center bottom;}
.announcement .box{width:300px;margin:0 auto;}
.announcement .item{width:100%;height:50px;line-height:50px;background:url('/static/official_img/horn.png') no-repeat left 10px;background-size:34px;padding-left:34px;}
.announcement .item .con{display:inline-block;width:160px;overflow:hidden;}

.intro_list{margin-top:10px;padding-bottom: 30px;}
.intro_list li{width:33.333333%}
.intro_list li .img{width:210px;}
.intro_list li  .intro{width:180px;margin:0 auto;}
.intro_list li  .intro p{margin-bottom:10px;}
.mt-3{margin-top: -3px!important;}
.intro-top{margin-bottom: 30px;text-align: center;font-size: 22px;}
.bg-text{width: 1000px;position: absolute;bottom:80px;left: 50%;z-index:200;margin-left: -500px;}
.bg-text>a{color: #fff;display: block;width: 140px;font-size: 16px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #fff;border-radius: 2px;margin: 0 auto;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;}
.bg-text>a:hover{text-decoration: none;background-color: #fff;color: #333;}
.swiper-container{width: 1000px;height: 470px;margin: 0 auto;position: relative;}
.swiper-slide{position: relative;}
.swiper-wrapper{width: 3000px;height: 470px;left: -1000px;position: relative;}
.swiper-wrapper>li{float:left;width: 1000px;height: 470px;}
.wrap-arrows>a{position:absolute; display:block;width:1000px; height:470px; background:#fff; top:0px; z-index:99; opacity:0.75;filter:alpha(opacity=75);}
.wrap-arrows .prev{ right: 100%;}
.wrap-arrows .next{ left: 100%;}
.wrap-arrows>a>i{ display:  none; position: absolute;width: 42px;height:135px;top: 167px;}
.wrap-arrows .arrows-left{right: 20px;background:url('/static/official_img/prev.png') no-repeat;}
.wrap-arrows .arrows-right{left: 20px;background:url('/static/official_img/next.png') no-repeat;}
.wrap-arrows>a:hover .icon-arrows{display: block;}