html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
body{margin:0;font-size:12px;line-height:14px;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;color:#333;background:#fff;-webkit-font-smoothing:antialiased;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0;font-size:2em}mark{color:#000;background:#ff0}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}legend{padding:0;border:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-spacing:0;border-collapse:collapse}td,th{padding:0}a,a:visited{text-decoration:underline}tr,img{page-break-inside:avoid}img{max-width:100%!important;border:0}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important}.table td,.table th{background-color:#fff!important}.btn>.caret,
p{margin:0;word-break:break-all;text-align:left;line-height: 21px;}
ol,ul,li{list-style:none;}
ul{padding-left:0;margin:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration: none}
a:focus{outline:none;}
.mt30{margin-top: 30px!important;}
.mt42{margin-top: 42px!important;}
li{display: inline-block;}
input{border:1px solid #eee;outline:none;-webkit-appearance:none;}
input[type=text]:focus{box-shadow:0;border-color:#f7f7f8 !important;outline:none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0;position:fixed;right:0;left:0;z-index:1030;-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
*:before,:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:after{content:"";box-sizing:border-box;}
*{-webkit-tap-highlight-color:transparent;-webkit-appearance: none;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
.container:before{display:table;content: " ";}
.pull-left{float:left !important;}
.pull-right{float:right !important;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.center-block{display:block !important;margin:0 auto;}
.clearfix{clear:both;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius: 6px;}
.hidden{display:none !important;visibility:hidden !important;}
.show{display: block!important;}
.clearfix:before{display: table;content: " ";}
.clearfix:after{clear:both;}
.modal_bg{background:#000; filter: Alpha(opacity=50); -moz-opacity:.5; opacity:0.5; width:100%;height:100%;position:absolute;z-index:1040;top:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate3d(0,-25%,0);-o-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0)}
.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.modal-dialog{position:relative;margin:10px auto;margin-top:10% !important;padding:0 20px;width:320px;}
.modal-content{position:relative;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:8px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);margin:0 auto;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);background-color:#F0F4F0 !important;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.43px;padding:15px;position:relative;overflow:hidden;text-align:center;padding:0;height:42px;background-size:20px;position:absolute;z-index:10;width:100%;border-bottom:0;border-top-left-radius:6px;border-top-right-radius:6px;color:#F97575;top:0;}
.modal-header .close{position:absolute;top:-6px;right:0;color:inherit;font-size:28px !important;margin-right:10px;margin-top:10px;background:none;border:none;color:#F97575;z-index: 20;}
.modal-header .close:active{boder:none;}
.modal-head{position:absolute;}
.modal-title{margin:0;font-weight:normal;}
.modal-body{position:relative;font-size:1em;padding:0 10px;color:#999;}
.modal-footer{margin-top:25px;clear:both;}
.modal-footer .btn{position:absolute;left:85px;z-index:6666;border-radius: 20px;padding:6px 40px;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.modal-top{width:100%;}
.modal-top img{width:100%;}
.modal-bottom{width:100%;}
.modal-bottom img{width:100%;}
.line36{line-height:36px !important;}
.line48{line-height:48px !important;}
.modal_sty{height:100%;oveflow:hidden !important;}
.container{padding:0;z-index:2;}
.body-container{position:absolute;width:100%;height:100%;z-index:2;}
.body_bg{width:100%;height:100%;z-index:1;position:fixed;background:#F0F4F0;background-size: 10px;top:0;}
figure{margin:0;}
div{margin:0;}
div:after{display:table;content:"";}
.list-group{padding-left:0;}
.list-group-item{position:relative;display:block;padding:0 15px;margin-bottom:-1px;background-color:#fff;border:1px solid #e7e7eb;display:inline-block;width:100%;float:left;}
.list-group-item:first-child{border-top-left-radius:4px;border-top-right-radius:4px}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}a.list-group-item{color:#555}a.list-group-item .list-group-item-heading{color:#333}a.list-group-item:hover,a.list-group-item:focus{color:#555;text-decoration:none;background-color:#f5f5f5}.list-group-item.disabled,.list-group-item.disabled:hover,.list-group-item.disabled:focus{color:#777;background-color:#eee}.list-group-item.disabled .list-group-item-heading,.list-group-item.disabled:hover .list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca}
.img-circle{border-radius:50%;}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:0;border-top:1px solid #eee}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
a{outline:0;color:#000;}
a:focus{border:none;background-color:none;outline:0;}
a:hover{text-decoration:underline;}
.notice_bg{width:100%;height:auto;position:fixed;top:100px;z-index:9999;}
.notice_box{width:280px;background:rgba(0,0,0,0.5);padding:20px 10px;border-radius:4px;margin:0 auto;}
button:focus{outline:0;}
#warn{position:absolute;padding:5px 20px 5px 0;}
body{padding-top: 80px;}
/*---public----*/
.new-font-color{color:#58d0a6;}
.text-green{color:#6CCA86;}
.text-green2{color:#89CEC9;}
.bg-white{background-color:#fff;}
.bg-red{background-color:#F88081;}
.bg-green2{background-color:#89CEC9;}
.text-grey{color:#999;}
.text-red{color:#F88081;}
.text-white{color:#fff;}
.text-black{color:#222 !important;}
.font12{font-size:12px !important;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font24{font-size:24px;}
.font36{font-size:36px;}
.mt2{margin-top:2px !important;}
.mt5{margin-top:5px !important;}
.mb5{margin-bottom:5px !important;}
.ml5{margin-left:5px !important;}
.mr5{margin-right:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.ml10{margin-left:10px !important;}
.ml50{margin-left: 50px !important;}
.mr10{margin-right:10px !important;}
.ml20{margin-left:20px !important;}
.mr20{margin-right:20px !important;}
.mt40{margin-top:40px !important;}
.mt30{margin-top:30px !important;}
.ml40{margin-left:40px !important;}
.mr40{margin-right:40px !important;}
/*-------------------head-fix------------------*/
a,input,button{ outline:none; }
::-moz-focus-inner{border:0;}
.w1000{max-width:1000px;margin:0 auto;overflow:hidden;}
.w1200{max-width:1200px;margin:0 auto;}
.head{height:76px;position: fixed;left: 0;top: 0;width: 100%;z-index:999;background-color: #fff;border-bottom: 1px solid #eee;}
.head li a{color:#666;font-size: 18px;}

.login-box{height:14px;margin-right:-5px;}
.login-box  .open{border:1px solid #fff;}
.login-box  .headertop-area{width:60px;float:left;}
.login-box li{width:80px;text-align:center;border:1px solid #58d0a6;border-radius: 3px;}

.logo_box p{margin-bottom:0;}
.logo_box .logo{width:151px;margin-top: 9px;}
.box_sty{width:100%;float:left;}

.nav-box{clear:both;width:100%;height:76px;position: relative;}
.nav-box .senguo-nav{position: absolute;left:200px;width: 795px;}
.nav-box .senguo-nav>ul>li{width:94px;height:76px;text-align:center;float: left;}
.nav-box .senguo-nav>ul>li>a{line-height:76px;display:block;-webkit-transition:all .3s ease-in-out;}
.nav-box .senguo-nav>ul>li:hover{}
.nav-box .senguo-nav>ul>li>a:hover{text-decoration:none;background-color:#58d0a6 !important;color:#fff !important;}
.nav-box .senguo-nav>ul>li.active a{display:block;background-color:#58d0a6 !important;color:#fff !important;}
.container{min-width:1000px;}
.footer{position:relative;bottom:0;left:0;width:100%;min-width:1000px;overflow:hidden;border-top:1px solid #e7e7eb;line-height:50px;}
.admin-box{float: right;margin-top: 24px;}

/*新版官网*/
.apply-in{display: inline-block;width: 150px;height: 50px;border-radius: 3px;background-color: #58d0a6;position: absolute;left: 425px;top:340px;text-decoration: none;font-size: 22px;padding-left: 1px;line-height: 50px;color: #fff}
.apply-in:hover{text-decoration: none;}
.head-btn{display: block;text-align: center;height: 30px;line-height: 30px;border: 1px solid #adadad;border-radius: 2px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.header-top{height: 30px;line-height: 28px;}
.header-top li a{font-size: 16px;color: #58d0a6;}
.header-top li:hover{background-color: #58d0a6;}
.header-top li:hover a{color: #fff;text-decoration: none;}
.border-none{border: none;}
.head-btn:hover{color: #333;border-color: #333;text-decoration:none;}
.border-none:hover{text-decoration:underline;}
.news-bg{width: 100%;background-color: #f0f4f0;}
.bar-list{padding: 20px 0;}
.bar-list>li{background-color: #fff;width: 329px;margin-right: 6px;padding: 15px 30px;font-size: 14px;color: #999;float: left;}
.bar-list>li:last-child{margin-right: 0!important;}
.text-list>li{line-height: 24px;position: relative;display: block;}
.text-list>li .date{position: absolute;width: 60px;text-align: right;display: inline-block;right: 0;top: 0;color:#9f9f9f;}
.text-list>li>a{display: block;font-size: 16px;color: #9f9f9f;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 60px;}
.text-list .title{font-size: 20px;color: #58d0a6;height: 20px;line-height: 20px;margin-bottom: 10px;}
.text-list .title>a{color: #9f9f9f;}
.box-title{font-size: 36px;text-align: center;color: #fff;font-weight: bold;}
.black-bg{background-color: #1b1b1b;}
.cyan-bg{background-color: #99cae8;}
.purple-bg{background-color: #ac95c2;}
.wrap-step{padding: 42px 0;}
.step-list{padding-top: 58px;}
.step-list>li{float: left;width: 30%;}
.step-list .roll-step{width: 100px;height:100px;border-radius:50%;border:1px solid #fff;text-align: center;margin: 0 auto;color: #fff;font-size: 34px;padding-top: 38px;line-height: 16px;}
.step-list .first-title{font-size: 24px;font-weight: bold;text-align: center;color: #fff;margin-top: 30px;}
.step-list .second-title{font-size: 16px;text-align: center;color: #fff;margin-top: 10px;}
.step-list .wp5{width: 5%;height:98px;background: url("/static/images/for-right.png") center center no-repeat;}
.business-bg{width: 100%;background:-webkit-gradient(linear, 0 0, 100% 100%, from(#58d0a6), to(#65cec5));}
.yellow-bg{background-color: #e69519;}
.blue-bg{background-color: #1c8ce4;}
.dgreen-bg{background-color: #80a977;}
.qa-list{padding:42px 0;}
.qa-list .qus{font-size: 20px;color: #58d0a6;margin-bottom: 10px;}
.qa-list>li{width: 326px;height: 200px;margin-bottom: 10px;margin-right: 10px;padding: 20px;border-right:1px solid #eee;float: left;background-color: #fff;}
.qa-list>li:nth-last-child(1),.qa-list>li:nth-last-child(4){margin-right: 0;}
.wrap-type{padding: 42px 0;}
.type-list{margin-top: 60px;}
.type-list>li{float: left;width: 25%;padding: 0 10px;}
.type-img{text-align: center;}
.type-img>img{border-radius: 50%;}
.type-list .first-title{color: #fff;font-size: 24px;text-align: center;font-weight: bold;}
.type-list .second-title{color: #fff;font-size: 16px;margin-top: 20px;line-height: 21px;text-align: center;letter-spacing: 1px;}
.more-list{color: #fff;position:absolute;top:310px;left: 50%;-webkit-transform:translate(-50%,0);display: block;width: 140px;font-size: 16px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #fff;border-radius: 2px;-webkit-transition:all .2s ease-in-out;z-index:990;}
.more-list:hover{text-decoration: none;background-color: #fff;color: #333;}
/*右下角*/
.scrollUpf{position: fixed; z-index: 9999; display: block;width: 48px;bottom:90px;right: 50px;display: none;}
.scrollUpf a{display: block;width:48px;height: 48px;margin:5px auto;position:relative;}
.scrollUpf .r-wx{height: 40px;}
.scrollUp {height: 48px;width: 48px;background: url('../official_img/top1.png') no-repeat left top;transition: top 0.9s ease 0s;}
.scrollUp:hover {background: url('../official_img/top2.png') no-repeat left top;}
.scrollUpf .iopa{ top:0;background:url('../official_img/code1.png') no-repeat left top; position:absolute; z-index:10; width:100%;height:100%; }
.scrollUpf .iopa:hover{background-image:url('../official_img/code2.png');}
.scrollUpf .iokf{ top:0;background:url('../official_img/kf1.png') no-repeat left top; position:absolute; z-index:10; width:100%;height:100%; }
.scrollUpf .iokf:hover{background-image:url('../official_img/kf2.png');}
.fi-wx-show{border:2px solid #33CC66; background:#fff; position:absolute;bottom: -14px;left: -220px;display: none;}
.r-wx:hover .fi-wx-show{display: block;}
.fi-kf-show{border:2px solid #33CC66; background:#fff; position:absolute;bottom: 0;left: -194px;padding: 6px;display: none;}
.r-kf:hover .fi-kf-show{display: block;}
.fi-kf-show p{font-size: 14px;line-height: 20px;color: #666;}
.wx-show-txt{width:200px; height:200px; padding:20px; font-size:18px; line-height:33px;background:url("../official_img/server.jpg") no-repeat;background-size: 200px;}
.wx-threeRs{width:0;height:0;right:-26px; bottom:20px;z-index:200;border-width:13px; border-style:solid; border-color:transparent transparent transparent #fff; display:block; position:absolute;}
.wx-threeR{width: 0;height: 0;right: -32px;bottom: 17px;z-index:100;border-width: 16px;border-style: solid;border-color: transparent transparent transparent #33CC66;display: block;position: absolute;}
.fi-kf-show .wx-threeR{bottom:5px;}
.fi-kf-show .wx-threeRs{bottom:8px;}
.online-bg{width: 100%;background-color: #f0f4f0;}
.online-title-color{color: #000;}
.o2o-title-color{color: #000;font-weight: bold;padding-top: 42px;padding-bottom: 40px;}
.new-users{width: 100%;background:-webkit-gradient(linear, 0 0, 100% 100%, from(#58d0a6), to(#65cec5));}
.aq-bg{width: 100%;background-color: #f0f4f0;}
.wrap-qa{padding-top: 42px;}
.wrap-qa>p{color: #000;}

.o2o-lists{
	position: relative;
	width: 100%;
	padding: 0;
}
.o2o-lists .right-triangle,
.o2o-lists .left-triangle{
	position: absolute;
	top:37px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.o2o-lists .right-triangle{
	left: 485px;
	border-right: 15px solid #fff;
}
.o2o-lists .left-triangle{
	left: 500px;
	border-left: 15px solid #58d0a6;
}
.intro_list .item{
	width: 500px;
	height: 234px;
	background-color: #fff;
}
.intro_list .item .intro{
	position: relative;
}
.intro_list .item .intro .o2o-right-title,
.intro_list .item .intro .o2o-left-title{
	position: absolute;
	top:-49px;
	font-size: 30px;
	font-weight: bold;
}
.intro_list .item .intro .o2o-right-title{
	left: -111px;
	color: #58d0a6;
}
.intro_list .item .intro .o2o-left-title{
	right: -110px;
	color: #fff;
}
.intro_list .item .intro .o2o-item-title{
	margin-top: 90px;
}
.o2o-lists .o2o-left-bg{
	background-color: #58d0a6;
}
.o2o-lists .o2o-left-bg p{
	color: #fff;
}
.online-bg .online-business{
	width: 100%;
	height: 520px;
}
.online-bg .online-business .trend,
.online-bg .online-business .professional,
.online-bg .online-business .experience,
.online-bg .online-business .peer,
.online-bg .online-business .chains{
	position: relative;
}

/*线上买水果，森果更懂你*/
.online-bg .online-business .online-trend,
.online-bg .online-business .online-professional,
.online-bg .online-business .online-experience,
.online-bg .online-business .online-peer,
.online-bg .online-business .online-chains{
	position: absolute;
	display: inline-block;
	font-size: 30px;
	line-height: 235px;
	text-align: center;
	font-weight: bold;
	color: #58d0a6;
}
.online-bg .online-business .trend:hover .online-trend,
.online-bg .online-business .professional:hover .online-professional,
.online-bg .online-business .experience:hover .online-experience,
.online-bg .online-business .peer:hover .online-peer,
.online-bg .online-business .chains:hover .online-chains{
	opacity: .6;
}
.online-bg .online-business .trend:hover .online-trend-content,
.online-bg .online-business .professional:hover .online-professional-content,
.online-bg .online-business .experience:hover .online-experience-content,
.online-bg .online-business .peer:hover .online-peer-content,
.online-bg .online-business .chains:hover .online-chains-content{
	opacity: 1;
}
/**/
.online-bg .online-business .online-trend-content,
.online-bg .online-business .online-professional-content,
.online-bg .online-business .online-experience-content,
.online-bg .online-business .online-peer-content,
.online-bg .online-business .online-chains-content{
	position: absolute;
	display: inline-block;
	opacity: 0;
}
/*潮流*/
.online-bg .online-business .online-trend,
.online-bg .online-business .online-trend-content{
	left:284px;
	top:77px;
	width: 204px;
	height: 235px;
}
.online-bg .online-business .online-trend{
	background:url("../official_img/trend.png");
}
.online-bg .online-business .online-trend-content{
	background:url("../official_img/trend-content.png");
}
/*专业*/
.online-bg .online-business .online-professional,
.online-bg .online-business .online-professional-content{
	left:494px;
	top:77px;
	width: 204px;
	height: 235px;
}
.online-bg .online-business .online-professional{
	background:url("../official_img/professional.png");
}
.online-bg .online-business .online-professional-content{
	background:url("../official_img/professional-content.png");
}
/*经验*/
.online-bg .online-business .online-experience,
.online-bg .online-business .online-experience-content{
	left:170px;
	top:260px;
	width: 204px;
	height: 235px;
}
.online-bg .online-business .online-experience{
	background:url("../official_img/experience.png");
}
.online-bg .online-business .online-experience-content{
	background:url("../official_img/experience-content.png");
}
/*同行*/
.online-bg .online-business .online-peer,
.online-bg .online-business .online-peer-content{
	left:380px;
	top:260px;
	width: 204px;
	height: 235px;
}
.online-bg .online-business .online-peer{
	background:url("../official_img/peer.png");
}
.online-bg .online-business .online-peer-content{
	background:url("../official_img/peer-content.png");
}
/*供应链*/
.online-bg .online-business .online-chains,
.online-bg .online-business .online-chains-content{
	left:590px;
	top:260px;
	width: 204px;
	height: 235px;
}
.online-bg .online-business .online-chains{
	background:url("../official_img/chains.png");
}
.online-bg .online-business .online-chains-content{
	background:url("../official_img/chains-content.png");
}