.about-bg{width: 100%;height: 270px;margin-top: -76px;background:-webkit-gradient(linear, 0 0, 100% 100%, from(#58d0a6), to(#65cec5));FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#58d0a6,endColorStr=#65cec5);}
.about-box{width: 100%;margin:0 auto;}
.about-box>h1{font-size: 44px;color: #fff;font-weight: bold;margin-top: 75px;margin-bottom: 50px;}
.about-box .about-text>p{font-size: 18px;text-align: center;color: #fff;line-height: 30px;}
.people-bg{width: 100%;position: relative;height: 502px;}
.people-bg>img {width: 100%;height: 502px;position: relative;}
.about-width .list{position: absolute;top: 0px;text-align: center;width: 1000px;}
.list li{width:90%;margin-top: 47px;}
.list li .img{width:180px;}
.list li .word{margin-top:62px;}
.list li .word>p{font-size: 20px;color: #666;}
.list li .word .people-name{font-size: 24px;font-weight: bold;color: #000;}
.video-bg{width: 100%;height: 460px;background-color: #58d0a6;position: relative;}
.video-width{position: relative;height: 460px;}
.video-text{position: absolute;left: 0;color: #fff;height: 460px;margin-left: 90px;}
.video-text>h1{margin-top: 150px;font-size: 36px;font-weight: bold;}
.video-text>p{text-align: left;font-size: 20px;line-height: 28px;}
.video-img{width: 958px;height: 460px;position: absolute;left: 50%;top:0;}
.video-img>img {height: 460px;cursor: pointer;}
.video-img .play-icon,.video-img .play-hover-icon{opacity: 0.8;height: 86px;width: 86px;position: absolute;left: 50%;top: 50%;margin: -43px;cursor: pointer;transition: opacity 0.5s;}
.video-img .play-hover-icon{opacity: 0;}
.video-img:hover .play-icon{opacity: 0;}
.video-img:hover .play-hover-icon{opacity: 1;}
.video{position: fixed;left: 30%;top: 30%;display: none;}
.video embed{height: 546px;width: 900px;}
.triangle{display: inline-block;position: absolute;left: -1px;top:0;width: 0;height: 0;border-top: 460px solid #58d0a6;border-right: 100px solid transparent;}
.news-bg{width: 100%;height: 400px;background-color: #f0f4f0;}
.new_list{padding-top: 30px;}
.new_list>p{text-align: center;font-size: 30px;font-weight: bold;height: 40px;margin-bottom: 30px;}
.new_list .item{width: 220px;margin-left: 24px;}
.new_list .item a{font-size: 16px;display: inline-block;padding: 15px 10px;line-height: 23px;width:220px;height: 96px;text-align: center;color: #fff;background-color: #58d0a6;}



.new_list2 .box{width:48%;}
.new_list2 .box a{display:inline-block;width:100%;line-height:20px;word-break:break-all;color: #777;}
.footer{background:#7B7C7C;}
.bottom{width: 900px;margin: 0 auto;}
.bottom ul{height: 144px;}
.bottom li{padding-left:40px;line-height:14px;padding-top:10px !important;-webkit-box-sizing: border-box;display: block;width: 33.3%;}
.bottom li h5{margin-top:5px;margin-bottom:10px;}
.bottom li .img{width:134px;margin-left:15px;}
.bottom li h4{line-height: 28px;}
.bottom li p{line-height: 20px;}
.join_us{position:fixed;z-index:10;right:-5px;width:170px;bottom:100px;}
.w800{width:800px;margin:0 auto;}
.more{margin-top: 20px;font-size: 16px;margin-bottom: 10px;}
.footer{margin-top:20px;}
.bottom a{font-size: 12px;color: #fff;}
.bottom>p{line-height: 24px;padding-bottom: 10px;margin-top: 10px;text-align: center;color: #ccc;}
.new_list{margin-top: 15px;}