.wrap-content{width: 100%;}
.w1000{width: 1000px;}
.w1024{width: 1070px;margin: 0 auto;overflow: hidden;position: relative;top: -500px;}
.f16{font-size: 16px !important;}
.s-roll{position: absolute;border-radius: 50%;-webkit-box-sizing:content-box;box-sizing:content-box;-ms-box-sizing:content-box;width: 240px;height: 240px;background-color: #d4d8d8;top: 50%;left: 50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);border: 30px solid #e9ebe7;}
@-webkit-keyframes border{
    0%{border-width: 0px;}
    100%{border-width: 30px;}
}
@keyframes border{
    0%{border-width: 0px;}
    100%{border-width: 30px;}
}
@-ms-keyframes border{
    0%{border-width: 0px;}
    100%{border-width: 30px;}
}
.ani-border{
    -webkit-animation:border 2s ease-in-out infinite;
    animation:border 2s ease-in-out infinite;
    -ms-animation:border 2s ease-in-out infinite;
}
/*产品介绍*/
.mall-bg{width: 100%;height: 500px;position: relative;overflow: hidden;}
.mall-bg>img {width: 100%;height: 500px;position: relative;z-index: 0;}
.wrap-slide{width: 100%;height: 500px;overflow: hidden;}
.slide-text{width: 436px;height: 500px;float: left;margin-left: 35px;}
.mall {position: relative;float: right;width: 564px;height: 500px;margin-right: 13px;}
.mall-one{position: absolute;left: 137px;top: 73px;z-index: 3;}
.mall-one .bg-shadow-one{display: inline-block;width: 250px;height: 351px;position: absolute;left: 0;top: 75px;z-index: 1;box-shadow: 0px 50px 80px #666;}
.mall-two .bg-shadow-two{display: inline-block;width: 250px;height: 400px;position: absolute;left: 0;top: 2px;box-shadow: 0px 50px 40px #757575;}
.mall-three .bg-shadow-three{display: inline-block;width: 250px;height: 420px;position: absolute;left: -4px;top: -10px;box-shadow: 0px 50px 30px #757575;}
.mall-two{opacity: 0.3;position: absolute;left: 80px;top: 110px;z-index: 2;}
.mall-three{opacity: 0.3;position: absolute;right: 120px;top: 124px;z-index: 2;}
.mall-title{font-size: 44px;font-weight: bold;margin-top: 220px;}
.mall-content{font-size: 20px;margin-top: 30px;line-height: 24px;}
.data-bg{width: 100%;background-color: #58d0a6;height: 446px;}
.data-width{height: 446px;position: relative;overflow: visible;}
.wrap-cimg{position: relative;top: 0;right:397px;height: 446px;width: 100%;overflow: hidden;}
.wrap-data-text{position: absolute;left: 50%;margin-right: 113px;top: 0;width: 613px;height: 446px;}
.data-text-box{position: absolute;left: -113px;}
.wrap-data-text .data-title{font-size: 44px;font-weight: bold;color: #fff;margin-left: 120px;margin-top: 50px;}
.wrap-data-text .data-content{font-size: 20px;margin-top: 30px;margin-left: 120px;line-height: 24px;color: #fff;}
.wrap-data-text>img{position: absolute;left: -113px;bottom: 0;}
.login-bg{width: 100%;position: relative;height: 552px;}
.login-bg >img{position: absolute;left: 0;width: 100%;height: 552px;}
.login-width{height: 552px;margin: 0 auto;position: relative;}
.login-text{position: absolute;left: 0;}
.login-title{font-size: 44px;font-weight: bold;margin-top: 220px;}
.login-content{font-size: 20px;margin-top: 30px;line-height: 24px;}
.wrap-paytype{position: relative;padding: 60px 0 40px 0;}
.roll-box{position: absolute;z-index:5;top: 100px;left: 180px;width: 300px;height: 300px;}
.roll-box>i{display: block;width: 121px;height: 121px;position: absolute;background-size: contain;top: 105px;}
.roll-box .alipay{background: url('/static/official_img/alipay_logo.png') no-repeat;left: 540px;}
.roll-box .wechat{background: url('/static/official_img/wechat_logo.png') no-repeat;top: 105px;left: 260px;}
.roll-box .sina{background: url('/static/official_img/sina_logo.png') no-repeat;left: 680px;}
.roll-box .qq{background: url('/static/official_img/qq_logo.png') no-repeat;left: 400px;}
.phone-bg>img{position: absolute;top: -197px;right: 70px;}
.marketing-bg{width: 100%;height: 520px;background:-webkit-gradient(linear, 0 0, 100% 100%, from(#58d0a6), to(#65cec5));FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#58d0a6,endColorStr=#65cec5);}
.marketing-width{margin: 0 auto;height: 520px;overflow: visible;}
.marketing-box{position: relative;padding-top: 20px;}
.marketing-box>img{position: absolute;top:305px;z-index: 3;width: 1137px;height: 397px;}
.marketing-title{height: 80px;padding-top: 30px;font-size: 44px;font-weight: bold;text-align: center;color: #fff;}
.marketing-content{font-size: 20px;color: #fff;text-align: center;}
.market-icons{position:relative;top:0;width: 100%;height: 100%;}
.market-icons>i{display: block;width: 121px;height: 121px;position: absolute;z-index: 4}
.market-icons .market-one{top:240px;left:105px;background:url('/static/official_img/market_1.png') no-repeat;}
.market-icons .market-two{top:55px;left:305px;background:url('/static/official_img/market_2.png') no-repeat;}
.market-icons .market-three{top:220px;left:425px;background:url('/static/official_img/market_3.png') no-repeat;}
.market-icons .market-four{top:155px;left:560px;background:url('/static/official_img/market_4.png') no-repeat;}
.market-icons .market-five{top:250px;left:660px;background:url('/static/official_img/market_5.png') no-repeat;}
.market-icons .market-six{top:180px;left:770px;background:url('/static/official_img/market_6.png') no-repeat;}
.store-bg{position: relative;height: 500px;max-width: 1920px;margin: 0 auto;}
.store-bg>img{min-height: 500px;min-width: 1024px;}
.wrap-feature{position: absolute;top:120px;width: 1000px;height: 364px;}
.feature-list>li{width: 50%;float: left;}
.feature-item>img{float: left;margin-right: 30px;}
.feature-item{padding-left: 60px;padding-top:32px;margin-bottom: 40px;height: 134px;background-repeat: no-repeat;background-position: left top;}
.store-title{font-size: 28px;font-weight: bold;color: #fff;margin-bottom: 10px;margin-top: 30px;}
.feature-item .store-content{font-size: 18px;color: #fff;line-height: 24px;}
.graph-line{display: inline-block;width: 600px;height: 290px;position: absolute;bottom: 0;left: -113px;background-color: #58d0a6;}
.graph-up{display: inline-block;width: 5px;height: 0px;background-color: #fff;opacity: 0.6;position: absolute;bottom: 0;left: 181px;}
.graph-circle{width: 26px;height: 25px;opacity: 0;position: absolute;bottom: 260px;left: 170px;background:url('/static/official_img/circle.png') no-repeat;}