body{font-size: 1em;font-family:"Microsoft YaHei","Helvetica Neue","Arial";background:#f2f2f2;-webkit-font-smoothing:antialiased;}
p{clear: both;width: 100%}
ol,ul,li{list-style:none;}
ul{padding-left:0;}
a:hover{text-decoration:none;}
a:focus{text-decoration: none}
a:focus{outline:none;}
input{border:none;}
div,p,ul,li,span{-webkit-user-select:none;}
.container{padding-left:0;padding-right:0;}

.bg-white{background:#fff !important;}
.bg-green{background:#00D681 !important;}
.bg-green2{background:#33CC66 !important;}
.bg-pale-green{background:#F3FFF1 !important;}
.bg-grey{background:#f9f9f9 !important;}
.bg-grey2{background:#f2f2f2 !important;}
.bg-grey3{background:#E7E7E7 !important;}
.bg-greyc{background:#ccc !important;}
.bg-pink{background:#ff6563 !important;}
.bg-red{background:#E01445 !important;}
.bg-orange{background:#E07D14 !important;}

.text-center{text-align:center;}
.paddr-none{padding-right:0;}

.text-green{color:#00D681 !important;}
.text-white{color:#fff !important;}
.text-grey{color:#666 !important;}
.text-grey9{color:#999 !important;}
.text-grey2{color:#ccc !important;}
.text-grey3{color:#333 !important;}
.text-pink{color:#ff6666 !important;}
.text-red{color:red !important;}
.text-orange{color:#E07D14 !important;}

.font11{font-size:1.1em;}
.font12{font-size:1.2em;}
.font14{font-size:1.4em;}
.font16{font-size:1.6em;}

.header{width:100%;height:45px;line-height:42px;margin-bottom:10px;padding:0;background:url('../svg/rainshed2@2x.png') repeat-x;background-size:40px;border:0;}

.bottom-nav{border-top:1px solid #ccc;max-width:800px;margin:0 auto;height:40px;line-height:40px;overflow:hidden;}
.bottom-nav ul{margin-bottom:0;}
.bottom-nav li{text-align:center;padding:0 5px;position:relative;}
.bottom-nav li a{display:block;padding:0 !important;}
.bottom-nav li:hover{color:#33CC66;}
.bottom-nav li:hover a{color:#33CC66;}
.bottom-nav li.active a{color:#33CC66 !important;}

animate {-webkit-transition: 0.2s linear;-o-transition: 0.2s linear;-ms-transition: 0.2s linear;transition: 0.2s linear;}

.main-container {text-align: center;width: 99%;max-width: 800px;margin: auto;padding-bottom:60px;}
.main-container .main-header {position: fixed;z-index: 9999;top: 0;left: 0;width: 100%;}
.main-container .main-header .user-icon {position: absolute;right: 5px;margin-left: -1000px;}
.main-container .navbar-inner {padding: 0 5px;border-radius: 0;}

.mb-0{margin-bottom:0 !important;}
.mb-10{margin-bottom:10px !important;}
.mr-5{margin-right:5px !important;}
.btn{border-radius:2px !important;}
.pl-10{padding-left:10px;}
.p-10{padding:10px;}
.p0_10{padding:0 10px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.shop_change:focus{border:none;outline:none;}
.modal_bg{background:#000; filter: Alpha(opacity=50); -moz-opacity:.5; opacity:0.5; width:100%;height:100%;position:absolute;z-index:1040;top:0;}
.notice_bg{width:100%;height:100%;position:fixed;top:100px;z-index:9999;;}
.notice_box{width:280px;background:rgba(0,0,0,0.5);padding:20px 10px;border-radius:4px;margin:0 auto;}
button:focus{outline:0;}
#warn{position:absolute;}
.num_box{display:inline-block;width:18px;height:18px;border-radius:50%;line-height:18px;position:absolute;right:5px;top:5px;}
.modal_bg{background:#000; filter: Alpha(opacity=50); -moz-opacity:.5; opacity:0.5; width:100%;height:100%;position:absolute;z-index:1040;top:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;background-color:rgba(0,0,0,.5);display:none;height:100%;-webkit-overflow-scrolling:touch;outline:0;overflow: auto;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate3d(0,-25%,0);-o-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0)}
.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.modal-dialog{position:relative;margin:10px auto;top:50%;margin-top:-210px;padding:0 19px;width:320px;}
.modal-content{position:relative;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:8px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);margin:0 auto;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);background-color:#F0F4F0 !important;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.43px;padding:15px;position:relative;overflow:hidden;text-align:center;padding:0;height:42px;background-size:20px;z-index:10;width:100%;border-bottom:0;border-top-left-radius:6px;border-top-right-radius:6px;color:#F97575;top:0;}
.modal-header .close{position:absolute;top:-6px;right:0;color:inherit;font-size:28px !important;margin-right:10px;margin-top:10px;background:none;border:none;color:#F97575;z-index: 20;}
.modal-header .close:active{boder:none;}
.modal-head{position:absolute;}
.modal-title{margin:0;font-weight:normal;line-height:42px;}
.modal-body{position:relative;font-size:1em;padding:0 10px;color:#999;}
.modal-footer{margin-top:30px;clear:both;}
.modal-footer .btn{left:85px;z-index:6666;border-radius: 20px;padding:6px 40px;}
/*.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}*/
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.modal-top{width:100%;}
.modal-top img{width:100%;}
.modal-bottom{width:100%;}
.modal-bottom img{width:100%;}