li{list-style:none;}
ul{padding-left:0px;}
.recruit-apply-list{width:100%;max-width:800px;margin:0 auto;background:#f2f2f2;padding:5px !important;border:2px solid #ccc;font-size:14px;}
.recruit-apply-list .title{font-weight:bold;}
.recruit-apply-list .tit2{border-top:2px solid #ccc;padding-top:15px;}
.recruit-apply-list .recruit-content{padding-bottom:10px;}
.recruit-apply-list .apply-list{width:100%;float:left;border-bottom:1px solid #ccc;padding-bottom:20px;}
.recruit-apply-list .staff-img{width:90px;height:90px;margin-bottom:10px;margin-right:10px;}
.recruit-apply-list .staff-img img{width:100%;max-width:90px;}
.recruit-apply-list .staff-img .change-photo{display:inline-block;width:100%;height:30px;line-height:30px;background:#595959;color:#fff;text-align:center;border-radius:1px;margin-top:10px;position:relative;}
.recruit-apply-list .staff-img .change-photo .uploadImg{opacity:0;position:absolute;z-index:9999;top:0}
.recruit-apply-list .staff-img .change-photo p{position:absolute;z-index:1;top:0;text-align:center;width:100%;}
.recruit-apply-list .info-detail{width:90%;max-width:680px;}
.recruit-apply-list .info-detail li{width:100%;float:left;margin-bottom:10px;}
.recruit-apply-list .info-detail li .dropdown-toggle{font-size:12px;}
.recruit-apply-list .info-detail li .info-title{display:inline-block;letter-spacing:2px;line-height:24px;}
.recruit-apply-list .info-detail li .dropdown-menu{margin-top:-2px;}
.recruit-apply-list .info-detail li input{float:left;width:110px;height:26px;border:1px solid #e3e3e3;color:#666;line-height:22px;text-indent:5px;}
.recruit-apply-list .info-detail li .notice{float:left;color:#ccc;margin-left:10px;line-height:24px;}
.recruit-apply-list .info-detail li .job-select{margin-right:100px;}
.recruit-apply-list .info-detail li .job-select .dropdown-toggle{width:110px;}
.recruit-apply-list .info-detail li .area-select{margin-left:20px;width:230px;}
.recruit-apply-list .info-detail li .area-select .dropdown-toggle{width:230px;}
.recruit-apply-list .info-detail .introduce{width:100%;height:80px;border:1px solid #ccc;}
.recruit-apply-list .info-detail .advantage{width:100%;height:130px;border:1px solid #ccc;}
.recruit-apply-list .action-btn{width:300px;clear:both;margin:0 auto;padding-top:10px;}
.recruit-apply-list .action-btn .sure-btn{background:#44b549;border:1px solid #44b549;color:#fff;display:inline-block;width:100px;height:34px;text-align:center;line-height:34px;border-radius:1px;padding:0;}
.recruit-apply-list .action-btn .concel-btn{background:#fff;border:1px solid #ccc;color:#666;display:inline-block;width:100px;height:34px;text-align:center;line-height:34px;border-radius:1px;padding:0;}