ul,li,ol{list-style:none;}
ul{padding-left:0;}
.center-style{text-align:center;}

.text-grey{color:#333 !important;}
.text-grey a{color:#333 !important;}
.bg-grey2{background:#f2f2f2;}

.width1{width:100%;}

.border-style2{border:1px solid #333;}
.border-style1{border:1px solid #999;}
.border-left1{border-left:1px solid #333;}
.border-right1{border-right:1px solid #333;}
.border-bottom1{border-bottom:1px solid #333;}

.btn-red{background:#FF0000;}
.btn-green{background:#009933;}

.top_head{width:100%;box-shadow:0px 0px 5px #ccc;height:60px;margin-bottom:50px;}
.header-nav{height:60px;line-height:60px;}
.header-nav .nav{}
.header-nav a{font-weight:bold;color:#333;}
.header-nav li{\width:20%;text-align:center;float:left;}
.header-nav li.active a{background:#ddd;}

.btn-style{display:inline-block;width:80px;height:30px;text-align:center;color:#fff;border:1px solid #ddd;}
.admin-title{width:100%;margin:0 auto;padding:30px 0 15px 0;}
.pager{clear:both;padding-top:20px;}

.concel-btn{background:#999;float:left;color:#fff;}
.sure-btn{background:#00D289;float:right;color:#fff;}

.admin-left{width:230px;}
.admin-left li{border-bottom:1px solid #ddd;}
.admin-left li.active a{background:#fff;color:#009933 !important;}
.admin-left a{color:#333;}

.admin-right{width:900px;}

.count-badge{margin-left:10px;text-indent:0;}
p{word-break:break-all;}
.p0{padding:0px !important;}
.mt5{margin-top:5px;}
a{color:#44b549;}

/*分页样式*/
.list-pagination{width:100%;margin-top:20px;margin-bottom:10px;}
.list-pagination ul{float:right;margin-right:20px;}
.list-pagination li{float:left;margin-left:5px;line-height:28px;}
.list-pagination .page-btn{display:inline-block;width:26px;height:26px;border:1px solid #ccc;border-radius:1px;background:url("../images/container-icon.gif") no-repeat;}
.list-pagination .pre-page{background-position:-34px -207px;}
.list-pagination .pre-page:hover{background-color:#f2f2f2;}
.list-pagination .pre-page:foucus{background-color:#f2f2f2;}
.list-pagination .next-page{background-position:-58px -214px;}
.list-pagination .next-page:hover{background-color:#f2f2f2;}
.list-pagination .next-page:foucus{background-color:#f2f2f2;}
.list-pagination .input-page{;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;color:#999;text-align:center;}
.list-pagination .jump-to{display:inline-block;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;text-align:center;color:#666;line-height:26px;}

.set-inl-blo{display:inline-block;}
a:focus{text-decoration:none;}

.w60{width:60px;}
.w100{width:100%;}