ul,li,ol{list-style:none;}
.center-style{text-align:center;}

.text-grey{color:#333 !important;}
.text-grey a{color:#333 !important;}

.width1{width:100%;}

.border-style2{border:1px solid #333;}
.border-style1{border:1px solid #999;}

.border-left1{border-left:1px solid #333;}

.border-right1{border-right:1px solid #333;}

.border-bottom1{border-bottom:1px solid #333;}

.btn-red{background:#FF0000;}
.btn-green{background:#009933;}

.header-nav{}
.header-nav .nav{}
.header-nav a{font-weight:bold;color:#333;}
.header-nav li{\width:33%;text-align:center;}

.admin-left{width:250px;margin-top:20px;overflow:hidden;}
.admin-right{width:850px;margin-top:20px;overflow:hidden;}


.btn-style{display:inline-block;width:80px;height:30px;text-align:center;color:#fff;border:1px solid #ddd;}