.login-box{text-align:center;width:560px;margin:0 auto;margin-top:50px;background:url('../images/logo.png') no-repeat center 0;background-size:200px;padding-top:60px;}
.login-box .login-info{width:280px;margin:0 auto;clear:both;}
.login-box .login-info .w1{width:60px;margin-bottom:20px;}
.login-box .login-info input{border:1px solid #ddd;background-color:#fff !important;}
.login-box .login-hint{text-align:center;width:100%;float:left;}
.login-box .login-btn{clear:both;margin:0 auto;}

#area-add-btn {margin-top: 20px;}
.area-list-item {width: 98%;padding: 8px;border-bottom: 1px solid #ddd;}
.area-list-item span {display: inline-block;min-width: 45px;}
.area-list-item label {font-weight: bold;}
.area-list-item label.ib { margin-right: 10px;}
.area-list-item .label {display: inline-block;min-width: 0;margin: auto 10px;}
.area-list-item .label-wrapper {display: inline-block;width: 90px;}
.area-list-item .button-box {float: right;}
.area-list-item .remove-btn:hover {color: darkred;}
.area-list-item:hover{background-color: #eee;}
.area-list-item .toggle {position: relative;padding-bottom: 30px;}
.area-list-item .toggle .btn-link {margin-right: 20px;}
.area-list-item .toggle #show-orders {margin-right: 20px;}
.area-list-item .toggle .toggle-content {margin: 20px;border-radius: 5px;}
.area-list-item .toggle .btn-box {position: absolute;right: 10px;bottom: 5px;}
.area-list-item .toggle .btn-box a {float: right;margin: 8px;display: inline-block;}

/*-----------------------------------------admin-manage----------------------------------------------*/
.admin-manage-left{}
.admin-manage-left .nav{border-bottom:0px;}
.admin-manage-left .nav li{text-indent:15px;}
.admin-manage-left .nav li a{color:#333;}
.admin-manage-left .nav .active a{color:#fff;}

.admin-manage-right .user-list{padding-left:20px;}
.admin-manage-right .user-list li{margin-left:0;margin-right:0;}
.admin-manage-right .user-list li .user-img{display:inine-block;}
.admin-manage-right .user-list li .user-img img{width:60px;height:60px;}
.admin-manage-right .user-list li a{color:#333;line-height:60px;}


/*---------------------------------------------shop-manage--------------------------------------------------*/
.admin-shop-right .shop-list{padding-left:20px;}
.admin-shop-right .shop-list li{border:1px solid #ddd;margin-left:0;margin-right:0;margin-bottom:20px;padding:10px 0;}
.admin-shop-right .shop-list li .shop-img{display:inine-block;}
.admin-shop-right .shop-list li .shop-img img{width:60px;height:60px;}
.admin-shop-right .shop-list li a{color:#333;}
.admin-shop-right .shop-list .show-info{border-bottom:1px solid #ddd;width:100%;float:left;padding-bottom:10px;}
.admin-shop-right .shop-list .hide-info{width:100%;float:left;padding:10px;}
.admin-shop-right .shop-list .hide-info.have-entity{display:inline-block;}

.reject-box textarea{width:100%;height:200px;}
.reject-box .send-btn{margin:0 auto;}


/*--------------------------------------------amin-profile----------------------------------------------------------*/
.admin-profile-detail{width:100%;margin:0 auto;height:auto;display:block;border-top:1px solid #ddd;marign-top:20px;}
.admin-profile-detail ul{width:100%;}
.admin-profile-detail li{width:100%;float:left;padding:10px 0;border-bottom:1px solid #ddd;}
.admin-profile-detail li .title{font-weight:bold;}
.admin-profile-detail li .user-img{width:80px;height:80px;}






