.pl20{padding-left: 20px !important;}
.pr20{padding-right: 20px !important;}
.txt-ar{text-align: right !important;}
.orange-txt{color: #f37651 !important;}
.green-txt{color: #52b43f !important;}
.c999{color: #999 !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.mt20{margin-top: 20px !important;}
.mb10{margin-bottom: 10px !important;}
.ml20{margin-left: 20px;}
.ml50{margin-left: 50px;}
.p{margin: 0;}
.ov-center{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top: 50%;left: 50%;}
/*账户余额*/
.account-top>span{display: inline-block!important;}
.small-txt{font-size: 14px;color: #666;}
.acc-money{font-size: 18px;color: #52b43f;margin-left: 40px;}
.get-money{font-size: 14px;margin-left: 20px;}
.acc-report{}
.acc-report>li{line-height: 20px;font-size: 14px;color: #9d9b9c;}
.wrap-bm{padding-bottom: 20px;}
.tab-lst{border-bottom: 2px solid #f6f6f6;-webkit-box-sizing: border-box;height:28px;}
.tab-lst>li{font-size: 14px;color: #666;line-height: 28px;float:left;height:28px;width:70px;margin-right: 20px;cursor: pointer;text-align: center;}
.tab-lst .active{border-bottom: 2px solid #52b43f;color: #52b43f;}
.acc-con-lst{margin-top: 20px;}
.acc-con-lst>li{display: none;}
.acc-con-lst .active{display: block;}
.tb-account{width: 100%;table-layout: fixed;border:1px solid #f6f6f6;}
.tb-account td{height: 30px;line-height: 30px;color: #666;font-size: 14px;}
.tb-account tr:nth-child(2n+1){background-color: #f1f1f1;}
.tb-account tr:hover{background-color:#f6f6f6;}
.account-num{display: inline-block;font-size: 14px;margin-right:20px;}
.money-ipt{width: 200px;height: 30px;font-size: 14px;color: #333;border-radius: 2px;border: 1px solid #cecece;}
.wrap-balance{width: 900px;float: right;}
.apply-lst{padding: 10px;}
.apply-lst>li{float: left;padding-left:5px;width: 33.3%;cursor: pointer;}
.apply-lst .active{border-left:2px solid #52b43f;}
.apply-lst .title{font-size: 14px;color: #000;line-height: 16px;}
.apply-lst .cont{font-size: 12px;color: #212121;line-height: 16px;margin-top: 8px;}
.apply-lst .active .title{color: #52b43f;}
.apply-cont-lst>li{border: 1px solid #999;border-radius: 2px;padding: 8px 10px;margin-bottom: 20px;}
.shop-attr-lst>li{float: left;margin: 0 40px 15px 0;white-space: nowrap;font-size: 14px;color: #000;line-height: 20px;}
.apply-btn-group>a{display: inline-block;margin-right: 20px;font-size: 14px;padding: 4px 26px;border-radius: 2px;border: 1px solid #ccc;}
.apply-btn-group .ok-btn{color: #fff;background-color: #52b43f;}
.apply-btn-group .refuse-btn{color: #000;}
.btn-group{margin-top: 10px;display: block;}
.btn-group>a{font-size: 14px;line-height: 30px;height: 30px;padding: 0 14px;margin: 0 10px;color: #fff;display: inline-block;}
.btn-group .blue-btn{background-color: #4a90e2;}
.btn-group .grey-btn{background-color:#9b9b9b;}
.green-txt{color: #44b549!important;}
.red-txt{color: #d3121e!important;}
.wrap-com-pop{background-color: rgba(0,0,0,.6);width: 100%;height: 100%;position: fixed;z-index:999;top: 0;left: 0;}
.com-pop{width: 400px;padding: 20px;background-color: #fff;position: absolute;z-index: 1000;}
.pop-title{font-size: 12px;color: #858585;line-height: 20px;}
.wrap-area>textarea{width: 100%;height: 80px;background-color: #f5f5f5;font-size: 12px;color: #333;line-height: 20px;}


/*add by jyj 2015-6-16*/
.align-center{padding:2px;}
.div-fl{float:left;}
.text-gray{color:#C8C8C8;}
.top-margin2{margin-top:10px;}
/**/

/*add by jyj 2015-6-17*/
.tit0{display:inline-block;width: 65px !important;}
.tit1{display:inline-block;width: 80px !important;}
.tit2{display:inline-block;width: 170px !important;}
.tit3{display:inline-block;width: 135px !important;}
.tit4{display:inline-block;width: 145px !important;}
.hide-now{display:none;}
.gray-divbk{background-color:#E8E8E8;}
.mlf15{margin-left:30px;}
.mtp15{margin-top:15px;}
.mtp100{margin-top:100px;}
.div-solid{border: 1px solid #E8E8E8;padding:10px;}
.ttr{text-align:right;}
.btn-check{background-color: #4a90e2 ;color:white;border:none;width:60px;height: 35px;}
.btn-checked{background-color: #FFF ;color:#52b43f;border:none;width:60px;height: 35px;}
.ipt-with100{width: 100px;}
.mlf15-2{margin-left: 15px;}
.btn-green{background:#009933;border:none;width: 100px;height:35px;color:white;}
.btn-white{background:#FFF;border:1px solid #E8E8E8;width:100px;height:35px;color:black;}
.mlf170{margin-left: 170px;}
/**/

/*add by jyj 2015-6-18*/
.tiny-txt{font-size: 12px;}
/**/

/*add by jyj 2015-6-19*/
.mbt50{margin-bottom: 50px;}
.mlf200{margin-left: 250px;}
.text-blue{color:#1E90FF;}
/**/

/*add by jyj 2015-6-21*/
.wrap-checkitem{width: 800px;float:right;}
.mlf10{margin-left: 10px;}
/**/

/*add by jyj 2015-7-4*/
.tb-account-shoplist{width: 100%;table-layout: fixed;border:1px solid #f6f6f6;}
.tb-account-shoplist td{height: 30px;line-height: 30px;color: #666;font-size: 14px;}
.tb-account-shoplist tr:nth-child(2n+1){background-color: #f1f1f1;}
.tb-account-shoplist tr:hover{background-color:#f6f6f6;}
/*.list-head{height: 30px;}*/
/**/




