html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, font, img, ins,
small, strike, strong, tt, var,
b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; list-style:none;border: none; outline: none; vertical-align: baseline;font-weight:normal;}
a,a:link,a:visited,a:hover,a:active{text-decoration: none;}
img,input,button,select{vertical-align: middle;border:none;width: 100%;}
div,p,h1,h2,h3,h4,h5,h6{word-break:break-all;}
textarea{width: 100%;overflow: hidden;resize: none;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
.page{width: 100%;height: 100%;margin: 0 auto;max-width: 750px;position: relative;z-index:1;background-color: #fff;}
i{display: inline-block;background-size: contain;background-repeat: no-repeat;}
a{background-repeat: no-repeat;background-size: contain;display: inline-block;}
table{width: 100%;border-collapse: collapse;table-layout: fixed;}
.txt-ac{text-align: center;}
.txt-al{text-align: left;}
.txt-ar{text-align: right;}
.ov-center{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top: 50%;left: 50%;}
.o-center{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left: 50%;}
.v-center{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top: 50%;}
.pr{position: relative;}
.pa{position: absolute;}
.pointer{cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.clip{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none!important;}
.show{display: block!important;}
.img-box{font-size: 0;text-align: center;}
.img-devide{display: inline-block;height: 100%;width: 0;vertical-align: middle;*zoom: 1;*display:inline;}

.admin-shop-right .shop-list{padding-left:20px;}
.list-group-item{border:1px solid #e7e7eb;margin-left:0;margin-right:0;margin-bottom:20px;padding:10px;}
.admin-shop-right .shop-list li .shop-img{display:inine-block;}
.admin-shop-right .shop-list li .shop-img img{width:60px;height:60px;}
.admin-shop-right .shop-list li a{color:#333;}
.admin-shop-right .shop-list .hide-info{width:100%;float:left;padding:10px;}
.admin-shop-right .shop-list .hide-info.have-entity{display:inline-block;}

.reject-box textarea{width:100%;height:200px;}
.reject-box .send-btn{margin:0 auto;}
.apply-nav a{color:#333 !important;}
.apply-nav li.active a{color:#44b549 !important;}
.tit2{display:inline-block;width:200px;}
.tit1{display:inline-block;width:250px;}
.tit3{display:inline-block;width:330px;}
.bottom-d{border-bottom:1px solid #e7e7eb;}
.boder-rd{border-right:1px solid #e7e7eb;}
.show-info{width:100%;padding:10px;}
.action-box{width:400px;height:40px;}
.action-box .btn{height:30px;line-height:30px;width:40%;padding:0;}
.w80{width:80px;height:80px;}
/*认证-删除评论*/
.cert-shop>li{width:33.3%;font-size:14px;height: 24px;line-height:24px;color: #333;float:left;}
.cert-person{margin-top:15px;padding-bottom: 20px;}
.cert-person>li{float: left;}
.cert-person>li>img{width:260px;height: 150px;margin-right: 15px;}
.cert-person .left{width: 10%;}
.cert-person .right{width: 90%;}
.cert-person .right>a{font-size:14px;color: #fff;width:80px;height: 24px;line-height: 24px;display: inline-block;margin-right: 30px;text-align: center;-webkit-transtion:all .2s ease-in-out;border-radius: 5px;}
.cert-person .right .refuse{background-color: #999;}
.cert-person .right .refuse:hover{background-color: #888;}
.cert-person .right .ok{background-color: #5d9be5;}
.cert-person .right .ok:hover{background-color: #4a90e2;}
.wrap-comment{padding: 10px 0 0 30px;float:left;}
.com-list>li{padding: 10px;-webkit-box-sizing: border-box;background-color: #fff;border: 1px solid #f0f0f0;margin-bottom: 10px;}
.com-attr>li{width:33.3%;float: left;height: 24px;line-height: 24px;color: #222;font-size: 14px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.del-com{height: 24px;line-height: 24px;color: #222;font-size: 14px;margin-top: 5px;}
.per-img{width:60px;height: 60px;}
.com-item{margin-top: 10px;background-color: #f1f1f1;-webkit-box-sizing: border-box;padding: 8px;}
.com-item>dd{float: left;width: 60px;}
.com-item>dt{float: left;margin-left: 10px;width: 700px;}
.com-cont{line-height: 22px;margin-top: 8px;color: #999;}
.btn-group{margin-top: 10px;display: block;}
.btn-group>a{font-size: 14px;line-height: 30px;height: 30px;padding: 0 14px;margin: 0 10px;color: #fff;display: inline-block;}
.btn-group .blue-btn{background-color: #4a90e2;}
.btn-group .grey-btn{background-color:#9b9b9b;}
.green-txt{color: #44b549!important;}
.red-txt{color: #d3121e!important;}
.wrap-com-pop{background-color: rgba(0,0,0,.6);width: 100%;height: 100%;position: fixed;z-index:999;top: 0;left: 0;}
.com-pop{width: 400px;padding: 20px;background-color: #fff;position: absolute;z-index: 1000;}
.pop-title{font-size: 12px;color: #858585;line-height: 20px;}
.wrap-area>textarea{width: 100%;height: 80px;background-color: #f5f5f5;font-size: 12px;color: #333;line-height: 20px;}

/*add by jyj 2015-7-5*/
.wrap-comment2{float:right;width: 900px;padding-bottom: 20px;}
.head-choose{border-bottom: 2px solid #f6f6f6;-webkit-box-sizing: border-box;height:28px;color:#222;}
.head-choose>li{font-size: 16px;color: #666;line-height: 28px;float:left;height:28px;width:70px;margin-right: 20px;cursor: pointer;text-align: center;}
.head-choose .active{border-bottom: 2px solid #52b43f;color: #52b43f;}
.head-div{margin-bottom: 20px;}
.w60{width:60px;height:60px;}
.tit4{display:inline-block;width:150px;}
.tit5{display:inline-block;width:80px;}
.tit6{display:inline-block;width:170px;}
.tit7{display:inline-block;width:130px;}
/*分页样式*/
.list-pagination{width:100%;margin-top:5px;margin-bottom:40px;}
.list-pagination ul{float:right;margin-right:0px;}
.list-pagination li{float:left;margin-left:5px;line-height:28px;}
.list-pagination .page-btn{display:inline-block;width:26px;height:26px;border:1px solid #ccc;border-radius:1px;background:url("../images/container-icon.gif") no-repeat;}
.list-pagination .pre-page{background-position:-34px -207px;}
.list-pagination .pre-page:hover{background-color:#f2f2f2;}
.list-pagination .pre-page:foucus{background-color:#f2f2f2;}
.list-pagination .next-page{background-position:-58px -214px;}
.list-pagination .next-page:hover{background-color:#f2f2f2;}
.list-pagination .next-page:foucus{background-color:#f2f2f2;}
.list-pagination .input-page{width:84px;height:26px;border:1px solid #ccc;border-radius:1px;color:#999;text-align:center;}
.list-pagination .jump-to{display:inline-block;width:60px;height:26px;border:1px solid #ccc;border-radius:1px;text-align:center;color:#666;line-height:26px;}

/**/

/*add by jyj 2015-7-6*/
.w80{width:80px;height:80px;}
.mt5{margin-top: 5px;}
.mb5{margin-bottom: 30px !important;}
.grey-txt{color:#999!important;}
.talc{text-align: center;}
/**/




